Repository apache/mxnet, pull requests merged in 2018-12, with the labels that each got.

#13418 [MXNET-1185] Support large array in several operators (part 1)
  src/operator/elemwise_op_common.h
  src/operator/mxnet_op.h
  src/operator/random/sampler.h
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
  src/operator/tensor/init_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/nightly/test_large_array.py
Labels: NDArray, pr-awaiting-review

#13497 [v1.4.x] Apply deconv FIx
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/python/gpu/test_operator_gpu.py
Labels: Operator, pr-awaiting-review

#13325 [MXNET-1210 ] Gluon Audio - Example
  example/gluon/audio/transforms.py
  example/gluon/audio/urban_sounds/README.md
  example/gluon/audio/urban_sounds/datasets.py
  example/gluon/audio/urban_sounds/model.py
  example/gluon/audio/urban_sounds/predict.py
  example/gluon/audio/urban_sounds/requirements.txt
  example/gluon/audio/urban_sounds/train.py
Labels: pr-awaiting-merge

#12920 ONNX export: Instance normalization, Shape
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/backend_rep.py
  tests/python-pytest/onnx/export/backend.py
  tests/python-pytest/onnx/export/onnx_backend_test.py
  tests/python-pytest/onnx/import/mxnet_backend.py
  tests/python-pytest/onnx/import/mxnet_backend_rep.py
Labels: ONNX, pr-awaiting-merge

#13495 [MXAPPS-1048] Clarify dependency on OpenCV in CNN Visualization tutorial.
  docs/tutorials/vision/cnn_visualization.md
Labels: Doc, pr-awaiting-review

#13492 clarify ops faq regarding docs strings
  docs/faq/add_op_in_backend.md
Labels: Doc, pr-awaiting-review

#13436 add graph_compact.
  docs/api/python/ndarray/contrib.md
  docs/api/python/symbol/contrib.md
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_dgl_graph.py
Labels: Operator, pr-awaiting-review

#13474 Deprecate Jenkinsfile
  Jenkinsfile
Labels: Build, pr-awaiting-merge

#13499 [MXNET-13453] [Clojure] - Add Spec Validations to the Optimizer namespace
  contrib/clojure-package/src/org/apache/clojure_mxnet/optimizer.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/optimizer_test.clj
Labels: Clojure, pr-awaiting-merge

#12852 [MXNET-879] ONNX export: Logical operators
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
  tests/python-pytest/onnx/import/test_cases.py
Labels: ONNX, pr-awaiting-merge

#13458 Add Python3 GPU+MKLDNN unittests to dev menu, fix CMake options parsing
  cmake/cmake_options.yml
  dev_menu.py
Labels: Test, pr-awaiting-review

#13510 [v1.4.x] Updated license file for clojure, onnx-tensorrt, gtest, R-pa…
  LICENSE
Labels: Licenses, pr-awaiting-review

#13501 Revert "Manually track num_max_thread (#12380)"
  src/engine/openmp.cc
Labels: pr-awaiting-review

#13503 Feature/mkldnn static 2
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  mkldnn.mk
  tests/cpp/unittest.mk
  tests/python/mkl/test_mkldnn.py
  tests/python/mkl/test_mkldnn_install.py
Labels: MKLDNN, pr-awaiting-review

#13527 [Flaky test] Disable test_gluon_data.test_recordimage_dataset_with_dat…
  tests/python/unittest/test_gluon_data.py
Labels: Flaky, pr-awaiting-review

#13409 [MXNET-1234] Fix shape inference problems in Activation backward
  src/operator/elemwise_op_common.h
  src/operator/nn/activation-inl.h
  src/operator/nn/activation.cc
  src/operator/nn/activation.cu
  tests/cpp/operator/activation_perf.cc
  tests/python/unittest/test_gluon.py
Labels: pr-awaiting-review

#13487 [v1.4.x][MXNET-1234] Port of #13409 to the release branch
  src/operator/elemwise_op_common.h
  src/operator/nn/activation-inl.h
  src/operator/nn/activation.cc
  src/operator/nn/activation.cu
  tests/cpp/operator/activation_perf.cc
  tests/python/unittest/test_gluon.py
Labels: Operator, pr-awaiting-review

#13488 Docs & website sphinx errors squished 🌦
  docs/api/scala/index.md
  docs/api/scala/kvstore.md
  docs/api/scala/ndarray.md
  docs/api/scala/symbol.md
  docs/gluon/index.md
  docs/install/ubuntu_setup.md
  docs/tutorials/r/fiveMinutesNeuralNetwork.md
  python/mxnet/gluon/parameter.py
Labels: Doc, Website

#13467 [MXNET-1235] Add a test for AdaMax optimizer
  tests/python/unittest/test_optimizer.py
Labels: pr-awaiting-merge

#13443 Adadelta optimizer test
  python/mxnet/optimizer/optimizer.py
  tests/python/unittest/test_optimizer.py
Labels: Test, pr-awaiting-review

#13465 LBSGD documentation fix
  python/mxnet/optimizer/optimizer.py
Labels: Doc, pr-awaiting-merge

#13062 [MXNET-1110] Add header files required by horovod
  ci/build_windows.py
  include/dlpack
  include/dmlc
  include/mshadow
  include/nnvm
  tests/nightly/apache_rat_license_check/rat-excludes
Labels: pr-awaiting-merge

#13094 Simplifications and some fun stuff for the MNIST Gluon tutorial
  docs/tutorials/gluon/mnist.md
Labels: Gluon, pr-work-in-progress

#13523 #13441 [Clojure] Add Spec Validations for the Random namespace
  contrib/clojure-package/examples/neural-style/src/neural_style/core.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/optimizer.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/random.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/random_test.clj
Labels: Clojure

#13116 onnx softmaxoutput fix
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
Labels: pr-awaiting-testing, pr-work-in-progress

#13498 Fix flaky test test_random:test_randint_generator
  python/mxnet/test_utils.py
  tests/python/unittest/test_random.py
Labels: Flaky, pr-awaiting-review

#13566 Update version to v1.5.0 including clojure package
  R-package/DESCRIPTION
  contrib/clojure-package/README.md
  contrib/clojure-package/examples/cnn-text-classification/project.clj
  contrib/clojure-package/examples/gan/project.clj
  contrib/clojure-package/examples/imclassification/project.clj
  contrib/clojure-package/examples/module/project.clj
  contrib/clojure-package/examples/multi-label/project.clj
  contrib/clojure-package/examples/neural-style/project.clj
  contrib/clojure-package/examples/pre-trained-models/project.clj
  contrib/clojure-package/examples/profiler/project.clj
  contrib/clojure-package/examples/rnn/project.clj
  contrib/clojure-package/examples/visualization/project.clj
  contrib/clojure-package/project.clj
  contrib/clojure-package/scripts/update_versions.sh
  docs/tutorials/scala/mxnet_scala_on_intellij.md
  include/mxnet/base.h
  python/mxnet/libinfo.py
  scala-package/assembly/linux-x86_64-cpu/pom.xml
  scala-package/assembly/linux-x86_64-gpu/pom.xml
  scala-package/assembly/osx-x86_64-cpu/pom.xml
  scala-package/assembly/pom.xml
  scala-package/core/pom.xml
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/init-native/linux-x86_64/pom.xml
  scala-package/init-native/osx-x86_64/pom.xml
  scala-package/init-native/pom.xml
  scala-package/init/pom.xml
  scala-package/macros/pom.xml
  scala-package/native/linux-x86_64-cpu/pom.xml
  scala-package/native/linux-x86_64-gpu/pom.xml
  scala-package/native/osx-x86_64-cpu/pom.xml
  scala-package/native/pom.xml
  scala-package/pom.xml
  scala-package/spark/pom.xml
  snapcraft.yaml
Labels: pr-awaiting-merge

#13565 License update
  LICENSE
Labels: pr-awaiting-review

#13511 Fix use-before-assignment in convert_dot
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
Labels: ONNX, pr-awaiting-review

#13550 Fixes infinite loop using imagedetiter
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  tests/python/unittest/test_image.py
Labels: pr-awaiting-testing

#13112 [MXNET-897] ONNX import/export: Size
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_import_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/export/onnx_backend_test.py
  tests/python-pytest/onnx/import/test_cases.py
Labels: ONNX, pr-awaiting-review

#13519 Fix exception handling api doc
  python/mxnet/ndarray/ndarray.py
Labels: Doc, Unclear Error/Doc, pr-awaiting-response

#13534 add cpp example inception to nightly test
  cpp-package/example/mlp.cpp
  cpp-package/tests/ci_test.sh
Labels: pr-awaiting-merge

#13533 Add notes about debug with libstdc++ symbols
  ci/README.md
Labels: pr-awaiting-review

#13357 Add imresize and copyMakeBorder to mx.image
  docs/api/python/image/image.md
  python/mxnet/image/image.py
  tests/python/unittest/test_image.py
Labels: pr-awaiting-review

#13555 [MXNET-1253] fix control_flow_op
  src/operator/tensor/control_flow_op.h
  tests/nightly/test_large_array.py
Labels: Operator, pr-awaiting-merge

#13046 [MXNET-1155] Add scala packageTest utility
  Makefile
  scala-package/.gitignore
  scala-package/examples/pom.xml
  scala-package/packageTest/Makefile
  scala-package/packageTest/README.md
  scala-package/packageTest/core/pom.xml
  scala-package/packageTest/core/scripts
  scala-package/packageTest/examples/pom.xml
  scala-package/packageTest/examples/scripts
  scala-package/packageTest/infer/pom.xml
  scala-package/packageTest/pom.xml
Labels: Scala, pr-awaiting-review

#13493 [MXNET-1224]: improve scala maven jni build.
  scala-package/assembly/linux-x86_64-cpu/pom.xml
  scala-package/assembly/linux-x86_64-cpu/src/main/assembly/assembly.xml
  scala-package/assembly/linux-x86_64-gpu/pom.xml
  scala-package/assembly/linux-x86_64-gpu/src/main/assembly/assembly.xml
  scala-package/assembly/osx-x86_64-cpu/main/assembly/assembly.xml
  scala-package/assembly/osx-x86_64-cpu/pom.xml
  scala-package/assembly/osx-x86_64-cpu/src/main/assembly/assembly.xml
  scala-package/core/pom.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/init-native/linux-x86_64/pom.xml
  scala-package/init-native/osx-x86_64/pom.xml
  scala-package/native/README.md
  scala-package/native/linux-x86_64-cpu/pom.xml
  scala-package/native/linux-x86_64-gpu/pom.xml
  scala-package/native/osx-x86_64-cpu/pom.xml
  scala-package/pom.xml
Labels: Scala, pr-work-in-progress

#13364 [MXNET-1225] Always use config.mk in make install instructions
  docs/install/build_from_source.md
  docs/install/c_plus_plus.md
  docs/install/java_setup.md
  docs/install/osx_setup.md
  docs/install/scala_setup.md
  docs/install/ubuntu_setup.md
Labels: Build, Doc, Installation, pr-awaiting-review

#13618 Fix warning in waitall doc
  python/mxnet/ndarray/ndarray.py
Labels: Website, pr-awaiting-review

#13596 Fix quantize pass error when excluding a quantization supported op
  src/operator/quantization/quantize_graph_pass.cc
  tests/python/quantization/test_quantization.py
Labels: Operator, pr-awaiting-review

#13282 Scripts for building dependency libraries of MXNet
  tools/dependencies/README.md
  tools/dependencies/cityhash.sh
  tools/dependencies/curl.sh
  tools/dependencies/eigen.sh
  tools/dependencies/libpng.sh
  tools/dependencies/libtiff.sh
  tools/dependencies/libturbojpeg.sh
  tools/dependencies/libz.sh
  tools/dependencies/lz4.sh
  tools/dependencies/openblas.sh
  tools/dependencies/opencv.sh
  tools/dependencies/openssl.sh
  tools/dependencies/protobuf.sh
  tools/dependencies/zmq.sh
Labels: pr-awaiting-merge

#13629 Set install path for libmxnet.so dynamic lib on Mac OS
  Makefile
Labels: pr-awaiting-merge

#13575 Fix the bug of BidirectionalCell
  CONTRIBUTORS.md
  python/mxnet/gluon/rnn/rnn_cell.py
  tests/python/unittest/test_gluon_rnn.py
Labels: pr-awaiting-review

#13556 build config for maven and pip
  make/config/libmxnet.sym
  make/config/libmxnet.ver
  make/maven/maven_darwin_cpu.mk
  make/maven/maven_linux_cpu.mk
  make/maven/maven_linux_cu90.mk
  make/pip/pip_darwin_cpu.mk
  make/pip/pip_darwin_mkl.mk
  make/pip/pip_linux_cpu.mk
  make/pip/pip_linux_cu100.mk
  make/pip/pip_linux_cu100mkl.mk
  make/pip/pip_linux_cu75.mk
  make/pip/pip_linux_cu75mkl.mk
  make/pip/pip_linux_cu80.mk
  make/pip/pip_linux_cu80mkl.mk
  make/pip/pip_linux_cu90.mk
  make/pip/pip_linux_cu90mkl.mk
  make/pip/pip_linux_cu91.mk
  make/pip/pip_linux_cu91mkl.mk
  make/pip/pip_linux_cu92.mk
  make/pip/pip_linux_cu92mkl.mk
  make/pip/pip_linux_mkl.mk
Labels: pr-awaiting-review

#13602 Fix for import mxnet taking long time if multiple process launched
  docs/faq/env_var.md
  src/operator/operator_tune-inl.h
Labels: Environment Variables, Operator

#12980 Add reshape op supported by MKL-DNN
  src/operator/tensor/matrix_op.cc
  tests/python/mkl/test_mkldnn.py
Labels: MKLDNN, pr-awaiting-review

#13529 Improve dev_menu usability, local build and virtualenv
  .gitignore
  cmake/cmake_options.yml
  dev_menu.py
  tests/requirements.txt
Labels: pr-awaiting-review

#13507 [Clojure] Correct the versions in the README so they correspond to the latest maven.org release
  contrib/clojure-package/README.md
Labels: Clojure, pr-awaiting-review

#13471 Optimization of metric evaluation
  python/mxnet/callback.py
  python/mxnet/metric.py
  python/mxnet/module/base_module.py
  tests/python/unittest/test_metric.py
Labels: Metric, pr-awaiting-review

#13150 support mkl log when dtype is fp32 or fp64
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cc
Labels: MKL, pr-awaiting-review

#13208 [MXNET-1209] Tutorial transpose reshape
  docs/tutorials/basic/reshape_transpose.md
  docs/tutorials/index.md
  tests/tutorials/test_tutorials.py
Labels: pr-awaiting-review

#13606 Complimentary gluon DataLoader improvements
  docs/faq/env_var.md
  python/mxnet/gluon/data/dataloader.py
  src/initialize.cc
  tests/python/unittest/test_gluon_data.py
Labels: Data-loading, pr-awaiting-review

#13456 Improve CCache handling
  .gitignore
  Makefile
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/ubuntu_adduser.sh
  ci/docker/runtime_functions.sh
Labels: CI, pr-awaiting-review

#13376 Fix incorrect delete in MXExecutorReshape exception handling
  src/c_api/c_api_executor.cc
Labels: C API, pr-awaiting-merge, pr-awaiting-review

#13582 [MXNET-1195] Cleanup Scala README file
  scala-package/README.md
Labels: Doc, Java, Scala

#13648 scripts for building libmxnet binary and wheel
  tools/build/build_lib.sh
  tools/build/build_wheel.sh
  tools/dependencies/make_shared_dependencies.sh
  tools/dependencies/opencv.sh
  tools/dependencies/patch/opencv_lapack.h
  tools/dependencies/protobuf.sh
  tools/pip/MANIFEST.in
  tools/pip/sanity_test.py
  tools/pip/setup.py
  tools/pip_package/README.md
  tools/pip_package/make_pip_package.sh
  tools/pip_package/setup.py
Labels: Build, pr-awaiting-review

#12922 Support Quantized Fully Connected by INT8 GEMM
  src/operator/quantization/quantized_fully_connected.cc
  tests/python/quantization/test_quantization.py
Labels: pr-awaiting-merge

#13532 [MXNET-43] Fix Jetson compilation
  ci/docker/Dockerfile.build.jetson
  ci/jenkins/Jenkinsfile_edge
  make/crosscompile.jetson.mk
Labels: pr-awaiting-review

#13622 Fix omp bug in multibox_detection to avoid accuracy variance in ssd
  src/operator/contrib/multibox_detection.cc
Labels: Backend, pr-awaiting-review

#13544 turn on Sphinx warnings as errors
  ci/docker/runtime_functions.sh
  docs/README.md
  docs/build_version_doc/build_all_version.sh
  python/mxnet/image/image.py
Labels: Build, Doc, pr-awaiting-review

#13579 Update CODEOWNERS, add Pedro Larroy.
  CODEOWNERS
Labels: pr-awaiting-review

#13588 Accelerate DGL csr neighbor sampling
  src/operator/contrib/dgl_graph.cc
  tests/python/unittest/test_dgl_graph.py
Labels: Operator, pr-awaiting-review

#13659 [MXNET-1252][1 of 2] Decouple NNVM to ONNX from NNVM to TenosrRT conv…
  src/executor/tensorrt_pass.cc
  src/operator/contrib/nnvm_to_onnx-inl.h
  src/operator/contrib/nnvm_to_onnx.cc
  src/operator/contrib/tensorrt-inl.h
  src/operator/contrib/tensorrt.cc
  src/operator/contrib/tensorrt.cu
Labels: pr-awaiting-testing

#13657 update with release notes for 1.4.0 release
  NEWS.md
Labels: Doc, pr-awaiting-response

#13662 Move MKLDNN debug message under MXNET_MKLDNN_DEBUG
  src/operator/nn/mkldnn/mkldnn_base.cc
Labels: Environment Variables, MKLDNN

#13599 fallback to dense version for grad(reshape), grad(expand_dims)
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_sparse_operator.py
Labels: Bug, Sparse

#13356 ONNX export: Add Flatten before Gemm
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
Labels: ONNX, pr-awaiting-merge

#12977 [MXNET-1164] Generate the document for cpp-package using Doxygen
  cpp-package/scripts/OpWrapperGenerator.py
  docs/Doxyfile
  docs/api/c++/index.md
Labels: pr-awaiting-testing

#13573 Add timeout/retry logic to docker cache download
  ci/docker_cache.py
Labels: CI, pr-awaiting-merge

#13711 Added javadocs and improved example instructions
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/README.md
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/ObjectDetectorOutput.scala
Labels: Scala, pr-awaiting-merge

#13514 Rearrange tests written only for update_on_kvstore = True
  tests/python/unittest/test_gluon_trainer.py
Labels: KVStore, Test, pr-awaiting-review

#13700 Fix the quantization script to support Python2
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/quantization/imagenet_inference.py
Labels: Python, pr-awaiting-review

#13553 ONNX test code cleanup
  ci/docker/runtime_functions.sh
  tests/python-pytest/onnx/README.md
  tests/python-pytest/onnx/backend.py
  tests/python-pytest/onnx/backend_rep.py
  tests/python-pytest/onnx/backend_test.py
  tests/python-pytest/onnx/export/mxnet_export_test.py
  tests/python-pytest/onnx/export/onnx_backend_test.py
  tests/python-pytest/onnx/gluon_backend_test.py
  tests/python-pytest/onnx/import/gluon_backend.py
  tests/python-pytest/onnx/import/gluon_backend_rep.py
  tests/python-pytest/onnx/import/mxnet_backend.py
  tests/python-pytest/onnx/import/onnx_import_test.py
  tests/python-pytest/onnx/import/test_cases.py
  tests/python-pytest/onnx/mxnet_backend_test.py
  tests/python-pytest/onnx/mxnet_export_test.py
  tests/python-pytest/onnx/test_cases.py
  tests/python-pytest/onnx/test_models.py
  tests/python-pytest/onnx/test_node.py
Labels: ONNX, pr-awaiting-review

#13705 update social media section
  docs/community/contribute.md
Labels: Website

#13646 script for installing gpu libraries and build tools
  tools/setup_gpu_build_tools.sh
Labels: Build, pr-awaiting-review

#13728 AdamW operator (Fixing Weight Decay Regularization in Adam)
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  tests/python/unittest/test_optimizer.py
Labels: Optimizer, pr-awaiting-review

#13654 ONNX import/export: Add missing tests, ONNX export: LogSoftMax
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
  tests/python-pytest/onnx/backend_rep.py
  tests/python-pytest/onnx/test_cases.py
Labels: ONNX, pr-awaiting-merge

#13738 ONNX test code cleanup - part 2
  ci/docker/runtime_functions.sh
  tests/python-pytest/onnx/backend_test.py
  tests/python-pytest/onnx/gluon_backend_test.py
  tests/python-pytest/onnx/mxnet_backend_test.py
Labels: ONNX, pr-awaiting-review

#13717 ONNX import: Hardmax
  python/mxnet/contrib/onnx/onnx2mx/_import_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
Labels: ONNX, pr-awaiting-review

#13631 gluon docfix
  python/mxnet/gluon/data/vision/transforms.py
Labels: Doc, pr-awaiting-review

#13721 Fixes for trainer with update_on_kvstore=False
  python/mxnet/gluon/trainer.py
  python/mxnet/model.py
  python/mxnet/optimizer/optimizer.py
  tests/nightly/dist_async_kvstore.py
  tests/nightly/dist_sync_kvstore.py
  tests/python/unittest/test_gluon_trainer.py
Labels: Gluon, pr-awaiting-review

#13339 CMake: Enable installation of cpp-package headers
  CMakeLists.txt
  cpp-package/CMakeLists.txt
Labels: pr-awaiting-merge
