Repository apache/mxnet, pull requests merged in 2018-08, with the labels that each got.

#12076 Add GetName function in Symbol class for cpp package
  cpp-package/include/mxnet-cpp/symbol.h
  cpp-package/include/mxnet-cpp/symbol.hpp
Labels: C++, pr-awaiting-review

#12077 Add unique number of parameters to summary output in Gluon Block
  python/mxnet/gluon/block.py
Labels: Gluon, pr-awaiting-review

#12097 Update fully_connected.cc documentation
  src/operator/nn/fully_connected.cc
Labels: Doc, pr-awaiting-review

#12078 [MXNET-749] Correct usages of `CutSubgraph` in 3 control flow operators
  python/mxnet/symbol/contrib.py
  src/c_api/c_api_symbolic.cc
  src/operator/control_flow.cc
  tests/python/unittest/test_contrib_control_flow.py
Labels: Bug, pr-awaiting-review

#12092 Decrease success rate to make test more stable
  tests/python/unittest/test_random.py
Labels: Test, pr-awaiting-merge

#12075 Add Clojure to website nav
  docs/_static/js/sidebar.js
  docs/_static/mxnet-theme/navbar.html
Labels: Website, pr-awaiting-merge

#12040 Fix flaky tests for quantize and requantize
  tests/python/quantization/test_quantization.py
Labels: Flaky, Quantization, pr-awaiting-merge

#12124 [MXNET-703] Use relative path for symbol import
  python/mxnet/contrib/tensorrt.py
Labels: pr-awaiting-merge

#11908 Fix shared memory with gluon dataloader, add option pin_memory
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  python/mxnet/gluon/data/dataloader.py
  tests/python/unittest/test_gluon_data.py
Labels: Data-loading, Gluon, pr-awaiting-merge

#12039 Reduce a copy for rowsparse parameter during parameter.save
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/trainer.py
  tests/python/unittest/test_gluon_trainer.py
Labels: Gluon, Performance, Sparse, pr-awaiting-review

#12083 GPU Memory Query to C API
  include/mxnet/base.h
  include/mxnet/c_api.h
  src/c_api/c_api.cc
Labels: C API, CUDA, pr-awaiting-merge

#12093 take custom dataset into consideration for multi worker data loader
  python/mxnet/gluon/data/dataloader.py
  tests/python/unittest/test_gluon_data.py
Labels: Data-loading, pr-awaiting-testing

#12117 [MXNET-782] Fix Custom Metric Creation in R tutorial
  docs/tutorials/r/fiveMinutesNeuralNetwork.md
Labels: R, pr-awaiting-merge

#12068 [MXAPPS-805] Notebook execution failures in CI.
  tests/nightly/straight_dope/test_notebooks_multi_gpu.py
  tests/nightly/straight_dope/test_notebooks_single_gpu.py
  tests/utils/notebook_test/__init__.py
Labels: Test, pr-awaiting-review

#12098 [MXNET-794] Remove Wrong InferType for AdaptiveAvgPool and BilinearReisze2D
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/bilinear_resize.cc
Labels: Bug, Operator, pr-awaiting-review

#11928 Generalized reshape_like operator
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/unittest/test_operator.py
Labels: Backend, Operator, pr-awaiting-review

#12113 zipfian random sampler without replacement
  src/operator/random/unique_sample_op.cc
  src/operator/random/unique_sample_op.h
  tests/python/unittest/test_random.py
Labels: Operator, pr-work-in-progress

#11937 Fix quantized graphpass bug
  src/operator/quantization/quantize_graph_pass.cc
  tests/python/quantization/test_quantization.py
Labels: Backend, Quantization, pr-awaiting-review

#12070 Fix flaky test - test_deformable_convolution and psroipooling with_type
  tests/python/gpu/test_operator_gpu.py
Labels: Test, pr-awaiting-review

#11963 [MXNET-767] Fix flaky test for kl_loss
  tests/python/unittest/test_loss.py
Labels: Flaky, pr-awaiting-response

#12067 [MXNET-788] Fix for issue #11733
  CONTRIBUTORS.md
  python/mxnet/test_utils.py
  src/operator/nn/pooling.cc
  tests/python/gpu/test_operator_gpu.py
Labels: Operator, Test, pr-awaiting-merge

#12147 [MXNET-703] Remove unused TensorRT code
  python/mxnet/base.py
  tests/python/tensorrt/common.py
Labels: pr-awaiting-merge

#12148 Fix RAT license checker which is broken in trunk
  Jenkinsfile
  Makefile
  ci/docker/install/ubuntu_rat.sh
  ci/docker/runtime_functions.sh
  ci/other/ci_deploy_doc.sh
  ci/other/pylintrc
  tests/ci_build/pip_tests/Dockerfile.in.pip_cpu
  tests/ci_build/pip_tests/Dockerfile.in.pip_cu75
  tests/ci_build/pip_tests/Dockerfile.in.pip_cu80
  tests/ci_build/pip_tests/Dockerfile.pip_dependencies
Labels: pr-awaiting-response

#11493 Fix MXPredReshape in the c_predict_api
  amalgamation/python/mxnet_predict.py
  src/c_api/c_predict_api.cc
  tests/python/unittest/test_predictor.py
Labels: C API, pr-awaiting-testing

#12015 update ndarray stack Doc for #11925
  python/mxnet/ndarray_doc.py
Labels: Operator, Unclear Error/Doc, pr-awaiting-response

#12027 [MXNET-768] Partially enable flaky test for norm operator
  tests/python/unittest/test_operator.py
Labels: Flaky, pr-awaiting-review

#11918 Improve gather_nd and scatter_nd doc
  src/operator/tensor/indexing_op.cc
Labels: Doc, Operator, pr-awaiting-merge

#12166 Module predict API can accept NDArray as input
  python/mxnet/module/base_module.py
  tests/python/unittest/test_module.py
Labels: Module, pr-awaiting-merge

#11990 [MXNET-744] Docs build tools update
  ci/docker/runtime_functions.sh
  docs/Jenkinsfile
  docs/Makefile
  docs/build_version_doc/artifacts/mxnet.css
  docs/build_version_doc/build_all_version.sh
  docs/build_version_doc/update_all_version.sh
  docs/conf.py
  docs/mxdoc.py
  docs/settings.ini
Labels: Build, Doc, pr-awaiting-review

#11983 Add handling for grad req type other than kNullOp for indices
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_operator.py
Labels: Autograd, Bug, pr-awaiting-response

#12060 Fix a minor bug in deformable_im2col.cuh
  src/operator/contrib/nn/deformable_im2col.cuh
Labels: Bug, Operator, pr-awaiting-review

#12080 Fix MKLDNNSum cpp test failure
  tests/cpp/operator/mkldnn.cc
Labels: MKLDNN, Test, pr-awaiting-review

#12199 bump timeout on Jenkins for docs/website to 120 min
  docs/Jenkinsfile
  docs/Jenkinsfile-dev
  docs/settings.ini
Labels: pr-awaiting-merge

#12204 Disable flaky test: test_operator_gpu.test_depthwise_convolution
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#12178 fix flasky unittest for deformable psroi pooling
  tests/python/unittest/test_operator.py
Labels: Flaky, pr-awaiting-merge

#12223 Revert "CI scripts refinements. Separate Py2 and Py3 installs cripts.…
  ci/build.py
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.centos7_cpu
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.jetson
  ci/docker/Dockerfile.build.ubuntu_base_cpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_blc
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  ci/docker/Dockerfile.build.ubuntu_nightly_cpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/Dockerfile.build.ubuntu_rat
  ci/docker/install/ubuntu_python.sh
  ci/docker/install/ubuntu_python2.sh
  ci/docker/runtime_functions.sh
  ci/test_docker_cache.py
Labels: pr-awaiting-merge

#12090 [MXNET-791] Pick with negative indices
  CONTRIBUTORS.md
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_index.cc
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-response

#12167 Add test to check that binded is not set when exception thrown
  tests/python/unittest/test_module.py
Labels: Test, pr-awaiting-testing

#12231 Revert "[MXNET-696] Define cmp() in Python 3 for line 222 (#12191)"
  tests/nightly/model_backwards_compatibility_check/common.py
Labels: pr-awaiting-merge

#12225 [MXNET-703] Remove race condition in onnx build
  ci/docker/runtime_functions.sh
Labels: pr-awaiting-merge

#12249 Disabled flaky test: test_operator_gpu.test_bilinear_sampler
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#12035 Pad Operator Type Support
  src/operator/pad-inl.h
  tests/python/unittest/test_operator.py
Labels: Feature, Operator, pr-awaiting-response

#12214 Python fixes for PyLint test "consider-using-in"
  python/mxnet/autograd.py
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/quantization.py
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/operator.py
  python/mxnet/test_utils.py
  python/mxnet/visualization.py
  tools/caffe_converter/convert_model.py
Labels: Python, pr-awaiting-merge

#11836 Support kAddTo for softmax backward
  src/operator/contrib/ctc_loss-inl.h
  src/operator/nn/softmax-inl.h
  tests/python/unittest/test_operator.py
Labels: Backend, Operator, pr-work-in-progress

#11831 [MXNET-484] MKLDNN C++ test for LRN operator
  src/operator/nn/lrn-inl.h
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
  tests/cpp/operator/mkldnn.cc
Labels: MKLDNN, Test, pr-awaiting-review

#12198 Add Codeowner for Clojure Package
  CODEOWNERS
Labels: Clojure

#11753 [MXNET-836] RNN Example for Scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/BucketIo.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/Lstm.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/LstmBucketing.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/README.md
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TestCharRnn.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TrainCharRnn.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/Utils.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/rnn/ExampleRNNSuite.scala
Labels: Scala, pr-awaiting-response

#11885 Fix JNI custom op code from deregistering the operator fixes #10438
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Labels: Scala, pr-awaiting-review

#12165 [MXAPPS-581] Enable remaining tests in CI.
  ci/docker/install/ubuntu_nightly_tests.sh
  tests/nightly/straight_dope/straight_dope_test_utils.py
  tests/nightly/straight_dope/test_notebooks_multi_gpu.py
  tests/nightly/straight_dope/test_notebooks_single_gpu.py
Labels: CI, Test, pr-awaiting-merge

#11268 A binary RBM example
  example/README.md
  example/restricted-boltzmann-machine/README.md
  example/restricted-boltzmann-machine/binary_rbm.py
  example/restricted-boltzmann-machine/binary_rbm_gluon.py
  example/restricted-boltzmann-machine/binary_rbm_module.py
  example/restricted-boltzmann-machine/samples.png
Labels: Example, pr-awaiting-review

#11984 Generalized broadcast_like operator
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_symbol.py
Labels: Feature, Operator, pr-awaiting-review

#12295 [MXNET-696] Define cmp() in Python 3 again
  tests/nightly/model_backwards_compatibility_check/common.py
Labels: pr-awaiting-testing

#12297 MXNet to ONNX export tutorial
  docs/api/python/contrib/onnx.md
  docs/tutorials/onnx/export_mxnet_to_onnx.md
  tests/tutorials/test_tutorials.py
Labels: Doc, ONNX, pr-awaiting-merge

#12196 Adding Clojure Tests to Increase Coverage
  contrib/clojure-package/examples/tutorial/src/tutorial/symbol.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/profiler.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/initializer_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/lr_scheduler_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/profiler_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/symbol_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/visualization_test.clj
Labels: Clojure

#12064 Allow stop of arange to be inferred from dims.
  contrib/clojure-package/README.md
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/symbol.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/test_util.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/util_test.clj
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  src/operator/tensor/init_op.h
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-merge

#11664 Fall back when sparse arrays are passed to MKLDNN-enabled operators
  src/operator/nn/activation.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/lrn.cc
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/pooling.cc
  src/operator/nn/softmax.cc
  tests/python/mkl/test_mkldnn.py
Labels: Backend, MKLDNN, Sparse, pr-awaiting-review

#12335 MXNET-858 Add Codecov report for Clojure Package
  contrib/clojure-package/ci-test.sh
Labels: Clojure, pr-awaiting-testing

#12311 Disable flaky test: test_ndarray.test_order
  tests/python/unittest/test_ndarray.py
Labels: pr-awaiting-merge

#11611 MKLDNN Forward FullyConnected op cache
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Labels: Backend, MKLDNN, pr-awaiting-review

#11875 fix flaky test: test_broadcast_binary_op
  tests/python/unittest/test_operator.py
Labels: Flaky, Test, pr-awaiting-response

#12042 Make check_isfinite, check_scale optional in clip_global_norm
  python/mxnet/gluon/utils.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
Labels: Gluon, Python, pr-awaiting-review

#12296 Separate refactoring from #12276 in a prior PR
  ci/build.py
  ci/docker/runtime_functions.sh
  ci/docker_cache.py
  ci/util.py
Labels: Build, pr-awaiting-review

#12340 Add a tutorial for control flow operators.
  docs/tutorials/control_flow/ControlFlowTutorial.md
  docs/tutorials/index.md
  tests/tutorials/test_tutorials.py
Labels: Doc, Python, pr-awaiting-review

#12367 Documentation update related to sparse support
  docs/api/python/ndarray/sparse.md
  docs/api/python/symbol/sparse.md
  docs/tutorials/sparse/csr.md
  docs/tutorials/sparse/row_sparse.md
  docs/tutorials/sparse/train.md
Labels: Doc

#11773 Update PyPI version number
  tools/coreml/pip_package/setup.py
Labels: pr-awaiting-testing

#12007 Add tutorial Gotchas using NumPy
  docs/tutorials/gluon/gotchas_numpy_in_mxnet.md
  docs/tutorials/index.md
  tests/tutorials/test_tutorials.py
Labels: Doc, Feature, NDArray, pr-awaiting-response

#12291 [MXNET-817] Fixes to speech recognition example
  example/speech_recognition/README.md
  example/speech_recognition/deepspeech.cfg
  example/speech_recognition/default.cfg
  example/speech_recognition/singleton.py
  example/speech_recognition/stt_metric.py
  example/speech_recognition/train.py
Labels: Example, Python, pr-awaiting-review

#12019 [MXNET-753] Fallback when using non-MKLDNN supported operators
  src/executor/attach_op_execs_pass.cc
  src/executor/exec_pass.h
  src/operator/nn/activation.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/concat.cc
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/lrn.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/pooling.cc
  src/operator/nn/softmax.cc
  src/operator/tensor/elemwise_sum.cc
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/mkl/test_mkldnn.py
Labels: MKLDNN, Operator, pr-awaiting-review
