Repository apache/mxnet, pull requests merged in 2019-04, with the labels that each got.

#14561 example/ssd/evaluate/eval_metric.py
  example/ssd/evaluate/eval_metric.py
Labels: Example, pr-awaiting-review

#14542 Support SyncBatchNorm5D
  src/operator/contrib/sync_batch_norm-inl.h
  src/operator/nn/batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-review

#14540 Disable Flaky Test test_poisson_generator
  tests/python/unittest/test_random.py
Labels: Flaky, Test, pr-awaiting-review

#14441 [MXNET-1357] Fix the cpp-examples to add exception handling
  cpp-package/example/alexnet.cpp
  cpp-package/example/charRNN.cpp
  cpp-package/example/googlenet.cpp
  cpp-package/example/inception_bn.cpp
  cpp-package/example/lenet.cpp
  cpp-package/example/lenet_with_mxdataiter.cpp
  cpp-package/example/mlp.cpp
  cpp-package/example/mlp_cpu.cpp
  cpp-package/example/mlp_csv.cpp
  cpp-package/example/mlp_gpu.cpp
  cpp-package/example/resnet.cpp
  cpp-package/example/test_score.cpp
  cpp-package/example/utils.h
Labels: C++, Example, Exception Handling, pr-awaiting-response

#14595 Fix CUDNN GPU tests
  ci/docker/runtime_functions.sh
Labels: CI, pr-awaiting-merge

#14562 [trival fix] fix cmake build cpp examples option
  cpp-package/CMakeLists.txt
Labels: Build, CMake, pr-awaiting-merge, pr-awaiting-review

#14571 Fix flaky test poisson generator & test_negative_binomial_generator
  python/mxnet/test_utils.py
  tests/python/unittest/test_random.py
Labels: CI, Flaky, pr-awaiting-review

#14438 Fixing unintentional variable overloading
  CONTRIBUTORS.md
  example/recommenders/matrix_fact.py
Labels: Bug, Example, Python, pr-awaiting-testing

#14536 [numpy] Fix R package errors after using numpy-compatible shape definition
  R-package/src/ndarray.cc
  R-package/src/symbol.cc
Labels: Numpy, R, pr-awaiting-review

#14600 [MXNET-1379] update reshape operator
  scala-package/core/src/main/scala/org/apache/mxnet/LibInfo.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.h
Labels: Java, Scala

#14493 Updated documentation about nightly tests
  tests/nightly/README.md
Labels: CI, Test, pr-awaiting-review

#14593 Set _scale in Trainer using Optimizer rescale_grad
  python/mxnet/gluon/trainer.py
Labels: Gluon, pr-awaiting-review

#14554 [numpy] Fix cpp-package build after using new shape definition
  cpp-package/include/mxnet-cpp/ndarray.hpp
  cpp-package/include/mxnet-cpp/symbol.hpp
  include/mxnet/tensor_blob.h
  include/mxnet/tuple.h
Labels: Numpy

#14494 [MXNet-1340][Fit API]Update train stats
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  python/mxnet/gluon/trainer.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: Gluon, pr-awaiting-review

#14547 [MXNet-1375][Fit API]Added RNN integration test for fit() API
  ci/docker/runtime_functions.sh
  tests/nightly/Jenkinsfile
  tests/nightly/estimator/test_sentiment_rnn.py
Labels: Gluon, Test

#14405 [MXNet-1343][Fit API]Add CNN integration test for fit() API
  ci/docker/runtime_functions.sh
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/estimator/test_estimator_cnn.py
Labels: Gluon, Test, pr-awaiting-merge

#14259 Add Gluon Transformer Crop
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/image/image.py
  src/operator/image/crop-inl.h
  src/operator/image/crop.cc
  tests/python/unittest/test_gluon_data_vision.py
Labels: pr-awaiting-merge

#14605 [Quantization] Fix quantize graph pass
  src/operator/quantization/quantize_graph_pass.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Labels: Quantization

#14577 Fix pooling_v1 and deformable_convolution param initialization
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/pooling_v1-inl.h
Labels: Numpy, Operator

#14612 [Numpy] Misc fix
  include/mxnet/ndarray.h
  src/c_api/c_predict_api.cc
  src/imperative/imperative_utils.h
  src/kvstore/gradient_compression.cc
  src/ndarray/ndarray.cc
  src/ndarray/ndarray_function.h
Labels: Numpy, pr-awaiting-review

#14557 [Numpy] fix test_operator_gpu.test_upsampling_bilinear_with_type
  src/operator/nn/deconvolution-inl.h
Labels: Numpy

#14449 GELU Operator
  python/mxnet/gluon/nn/activations.py
  src/operator/leaky_relu-inl.h
  src/operator/mshadow_op.h
  src/operator/operator_tune.cc
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_operator.py
Labels: Feature request, Operator, pr-awaiting-review

#14140 Doc Fix: added note about cuda9.2 requirement to Java example
  scala-package/mxnet-demo/java-demo/README.md
Labels: pr-awaiting-response

#14592 Add BERT QA Scala/Java example
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Layout.scala
  scala-package/examples/pom.xml
  scala-package/examples/scripts/infer/bert/get_bert_data.sh
  scala-package/examples/scripts/infer/bert/run_bert_qa_example.sh
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/bert/BertDataParser.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/bert/BertQA.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/bert/README.md
  scala-package/examples/src/test/java/org/apache/mxnetexamples/javaapi/infer/predictor/BertExampleTest.java
Labels: Example, Java

#14625 [Numpy] Java/Scala modification
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/LibInfo.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NumpyScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NumpyScopeSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.h
  src/operator/tensor/matrix_op-inl.h
Labels: Numpy, Scala

#14587 [MXNET-1344, 1346][FIT API] Retrieve Batch size and Logging verbose support for Gluon fit() API
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: Gluon, pr-awaiting-review

#14586 [v1.4.x][Cherry-Pick] Memory fixes. Resolves #10867, and resolves #14080 (#14372)
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Optimizer.scala
  scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/DataParallelExecutorGroup.scala
  scala-package/core/src/main/scala/org/apache/mxnet/optimizer/Adam.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ResourceScopeSuite.scala
Labels: Java, Scala, pr-awaiting-merge

#14603 [Minor] Fix dockerized GPU builds in dev_menu
  dev_menu.py
Labels: Build, pr-awaiting-review

#14523 [FIX] replace shuffle method
  src/io/image_aug_default.cc
Labels: Bug, pr-awaiting-merge

#14397 Add exception handling support for waitall
  cpp-package/example/resnet.cpp
  cpp-package/include/mxnet-cpp/ndarray.hpp
  docs/architecture/exception_handling.md
  python/mxnet/ndarray/ndarray.py
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/resource.cc
  tests/python/unittest/test_exc_handling.py
  tests/python/unittest/test_operator.py
Labels: Exception Handling, pr-awaiting-merge, pr-awaiting-review

#14607 split_and_load can now handle num_ctx > num_data. Github Issue #13909
  python/mxnet/gluon/utils.py
Labels: Gluon, pr-awaiting-review

#14642 Disable Python3: TensorRT GPU Temporarily
  ci/jenkins/Jenkinsfile_unix_gpu
Labels: CI, pr-awaiting-merge

#14573 Fixing example README to keep it consistent with the changes that went in
  example/README.md
Labels: Doc, Example

#14585 Fix aspect ratio sampling for RandomResizedCrop
  python/mxnet/image/image.py
  tests/python/unittest/test_image.py
Labels: pr-awaiting-merge

#14639 [numpy] Fix numpy branch failing tests in CI
  include/mxnet/tuple.h
  perl-package/AI-MXNetCAPI/mxnet.i
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/ndarray/__init__.py
  python/mxnet/ndarray/numpy.py
  python/mxnet/numpy/__init__.py
  python/mxnet/symbol/__init__.py
  python/mxnet/symbol/numpy.py
  python/mxnet/symbol/symbol.py
  src/c_api/c_api_common.h
  src/common/utils.h
  src/imperative/imperative_utils.h
  src/ndarray/ndarray.cc
  src/operator/channel_op_common.h
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/index_copy-inl.h
  src/operator/mxnet_op.h
  src/operator/nn/concat.cc
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  src/operator/nn/cudnn/cudnn_deconvolution-inl.h
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/mkldnn/mkldnn_slice.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/pad-inl.h
  src/operator/pooling_v1-inl.h
  src/operator/quantization/dequantize-inl.h
  src/operator/quantization/mkldnn/mkldnn_requantize-inl.h
  src/operator/quantization/quantize-inl.h
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantized_concat.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize-inl.h
  src/operator/swapaxis-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/histogram-inl.h
  src/operator/tensor/init_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/cpp/include/test_mkldnn.h
  tests/cpp/include/test_util.h
  tests/cpp/misc/serialization.cc
  tests/cpp/operator/batchnorm_test.cc
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_infer_shape.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Labels: Numpy

#10792 [MXNET-400] support string type for kvstore key in cpp-package
  cpp-package/example/test_kvstore.cpp
  cpp-package/include/mxnet-cpp/kvstore.h
  cpp-package/include/mxnet-cpp/kvstore.hpp
  cpp-package/tests/ci_test.sh
Labels: KVStore, pr-awaiting-merge

#14598 Fix warning on macro expansion using nested defined.
  src/operator/nn/dropout-inl.h
Labels: Backend, pr-awaiting-review

#14461 [MXNET-1359] Adds a multiclass-MCC metric derived from Pearson
  python/mxnet/metric.py
  tests/python/unittest/test_metric.py
Labels: pr-awaiting-review

#14657 [Numpy] fix invalid ndarray dispose
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  src/common/utils.h
Labels: Numpy, Scala

#14623 [WIP][Dependency Update] Upgrade the libtiff to 4.0.10
  tools/dependencies/libtiff.sh
Labels: Build, pr-awaiting-merge

#14556 Fix nightly build of 1.4.x
  docs/tutorials/gluon/mnist.md
Labels: Build, pr-awaiting-review

#14658 [MXNET-1287] Miscellaneous Scala warning fixes
  scala-package/core/src/test/scala/org/apache/mxnet/ImageSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/KVStoreSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ModelParallelSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/OperatorSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/SymbolSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/javaapi/JavaNDArrayMacro.scala
  scala-package/spark/src/main/scala/org/apache/mxnet/spark/MXNDArray.scala
  scala-package/spark/src/main/scala/org/apache/mxnet/spark/MXNetModel.scala
Labels: Maven, Scala, pr-awaiting-review

#14545 Optimize transpose operator with MKL-DNN
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_transpose.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/mkl/test_mkldnn.py
Labels: Backend, MKLDNN, pr-awaiting-review

#14669 [MXNET-1287] Fix scalastyle
  scala-package/core/src/main/scala/org/apache/mxnet/FeedForward.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/BucketingModule.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/Module.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/SequentialModule.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/BucketIo.scala
  scala-package/spark/src/main/scala/org/apache/mxnet/spark/utils/Network.scala
  scala-package/spark/src/test/scala/org/apache/mxnet/spark/SharedSparkContext.scala
Labels: Scala, pr-awaiting-review

#14647 Avoid secondary deployment of package to local
  scala-package/deploy/pom.xml
Labels: Maven, Scala

#14667 [MXNET-1287] Up scala comp
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/assembly/src/main/assembly/javadoc.xml
  scala-package/assembly/src/main/assembly/source.xml
  scala-package/core/pom.xml
  scala-package/deploy/src/main/deploy/deploy.xml
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/macros/pom.xml
  scala-package/pom.xml
  scala-package/spark/pom.xml
Labels: Maven, Scala, pr-awaiting-review

#14606 Add nd.power and sym.pow
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-review

#14671 [MXNET-1385] Fix scaladoc scalastyle violations in Infer package
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Classifier.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ImageClassifier.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/MXNetHandler.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ObjectDetector.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Predictor.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/ObjectDetector.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/Predictor.scala
Labels: Scala, pr-awaiting-review

#14567 [Clojure] enhance draw bounding box
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/objectdetector/src/infer/draw.clj
  contrib/clojure-package/examples/infer/objectdetector/src/infer/objectdetector_example.clj
  contrib/clojure-package/examples/infer/objectdetector/test/infer/objectdetector_example_test.clj
  contrib/clojure-package/integration-tests.sh
  contrib/clojure-package/src/org/apache/clojure_mxnet/image.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/image_test.clj
Labels: Clojure, pr-awaiting-review

#14615 Add MXEnginePushAsync and MXEnginePushSync C APIs
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  tests/cpp/engine/threaded_engine_test.cc
Labels: Backend, pr-awaiting-merge

#14476 Change RNN OP to stateful
  src/operator/cudnn_rnn-inl.h
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/operator/rnn.cu
Labels: pr-awaiting-review

#14492 use mkl sparse matrix to improve performance
  3rdparty/sparse-matrix/Makefile
  3rdparty/sparse-matrix/sparse_matrix.cc
  3rdparty/sparse-matrix/sparse_matrix.h
  Makefile
  ci/jenkins/Jenkins_steps.groovy
  src/operator/tensor/dot-inl.h
Labels: MKL, Sparse, pr-awaiting-response

#14195 [Clojure] Add methods based on NDArrayAPI/SymbolAPI
  contrib/clojure-package/.gitignore
  contrib/clojure-package/src/dev/generator.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray_api.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/symbol_api.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/util.clj
  contrib/clojure-package/test/dev/generator_test.clj
  contrib/clojure-package/test/good-test-ndarray-api.clj
  contrib/clojure-package/test/good-test-symbol-api.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/conv_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/ndarray_api_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/symbol_api_test.clj
Labels: Clojure, pr-work-in-progress

#14691 [Clojure] Clojure BERT QA example
  contrib/clojure-package/examples/bert-qa/.gitignore
  contrib/clojure-package/examples/bert-qa/README.md
  contrib/clojure-package/examples/bert-qa/get_bert_data.sh
  contrib/clojure-package/examples/bert-qa/project.clj
  contrib/clojure-package/examples/bert-qa/squad-samples.edn
  contrib/clojure-package/examples/bert-qa/src/bert_qa/infer.clj
  contrib/clojure-package/examples/bert-qa/test/bert_qa/infer_test.clj
Labels: Clojure

#14616 Safer norm
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_operator.py
Labels: Backend, Operator

#14678 [minor] Use ubuntu_rat container for rat check
  dev_menu.py
Labels: Build, CI, pr-awaiting-merge

#14665 [performance] Avoid uneccesary vector copies in imperative_utils.cc
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
Labels: Backend, Memory, Performance, pr-awaiting-merge

#14693 Properly handling custom op exception by modify engine
  docs/faq/env_var.md
  include/mxnet/engine.h
  src/engine/naive_engine.cc
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/operator/custom/custom-inl.h
  tests/python/unittest/test_operator.py
Labels: Exception Handling, pr-work-in-progress

#14705 [Clojure] [docstring] improve docstring and indentation in `module.clj`
  contrib/clojure-package/src/org/apache/clojure_mxnet/module.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/util.clj
Labels: Clojure

#14269 Updated docs for R-package installation
  docs/install/index.md
Labels: pr-awaiting-review

#14674 fix a bug in inception_inference.cpp
  cpp-package/example/inference/inception_inference.cpp
Labels: pr-awaiting-review

#14632 Add vim-nox to ci/docker/install/ubuntu_core.sh
  ci/docker/install/ubuntu_core.sh
Labels: CI, pr-awaiting-review

#14711 Disable USE_GPERFTOOLS by default
  CMakeLists.txt
  make/config.mk
  make/crosscompile.jetson.mk
Labels: CMake, pr-awaiting-review

#14591 Reference engine from chunk via weak pointer
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  tests/cpp/engine/engine_shutdown_test.cc
Labels: NDArray, pr-awaiting-review

#14709 Fix spelling in threaded_engine_test
  tests/cpp/engine/threaded_engine_test.cc
Labels: pr-awaiting-review

#14035 Fix documentation for bilinear upsampling and add unit test
  src/operator/nn/upsampling-inl.h
  src/operator/nn/upsampling.cc
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#14641 [MKLDNN]Improve quantizeV2 and dequantize latency
  src/operator/quantization/dequantize-inl.h
  src/operator/quantization/dequantize.cc
  src/operator/quantization/dequantize.cu
  src/operator/quantization/mkldnn/mkldnn_dequantize-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantize_v2.cu
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
Labels: Quantization, pr-work-in-progress

#14604 [MKLDNN]Add quantized relu
  src/operator/nn/mkldnn/mkldnn_act-inl.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_act.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_activation.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN, Quantization, pr-awaiting-review

#14637 Add publish test of PyPi cu100mkl
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
Labels: CI, Test, pr-awaiting-review

#13763 [contrib][op] fix MultiBoxPrior confusing results if first ratio is not 1.0
  src/operator/contrib/multibox_prior.cc
  src/operator/contrib/multibox_prior.cu
  tests/python/unittest/test_contrib_operator.py
Labels: Operator, pr-awaiting-review

#14685 [Fit API] improve event handlers
  ci/docker/runtime_functions.sh
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/nightly/Jenkinsfile
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: Gluon, pr-awaiting-review

#14703 Set idx2name for Optimizer object
  python/mxnet/model.py
  python/mxnet/module/module.py
  tests/python/unittest/test_module.py
Labels: pr-awaiting-merge

#14668 [MXNET-1287] Feat dep
  scala-package/core/src/main/scala/org/apache/mxnet/ExecutorManager.scala
  scala-package/core/src/main/scala/org/apache/mxnet/FeedForward.scala
  scala-package/core/src/main/scala/org/apache/mxnet/IO.scala
  scala-package/core/src/main/scala/org/apache/mxnet/MX_PRIMITIVES.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/main/scala/org/apache/mxnet/io/MXDataIter.scala
  scala-package/core/src/main/scala/org/apache/mxnet/io/NDArrayIter.scala
  scala-package/core/src/main/scala/org/apache/mxnet/io/PrefetchingIter.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/BaseModule.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/BucketingModule.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/Module.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/SequentialModule.scala
  scala-package/core/src/main/scala/org/apache/mxnet/util/OptionConversion.scala
  scala-package/core/src/test/scala/org/apache/mxnet/IOSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ModuleSuite.scala
  scala-package/core/src/test/scala/org/apache/mxnet/train/ConvSuite.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/cnntextclassification/CNNTextClassification.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/customop/ExampleCustomOp.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/customop/ExampleCustomOpWithRtc.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/imclassification/datasets/SyntheticDataIter.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/module/MnistMlp.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/module/SequentialModuleEx.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/multitask/ExampleMultiTask.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyle.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/DataProcessing.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/BucketIo.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TrainCharRnn.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/benchmark/ScalaInferenceBenchmarkSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/cnntextclassification/CNNClassifierExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/customop/CustomOpExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/gan/GanExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/imclassification/IMClassificationExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/infer/objectdetector/ObjectDetectorExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/rnn/ExampleRNNSuite.scala
  scala-package/infer/src/test/scala/org/apache/mxnet/infer/ClassifierSuite.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/pom.xml
  scala-package/spark/src/main/scala/org/apache/mxnet/spark/io/LabeledPointIter.scala
  scala-package/spark/src/main/scala/org/apache/mxnet/spark/io/LongLivingDataBatch.scala
  scala-package/spark/src/main/scala/org/apache/mxnet/spark/io/PointIter.scala
  scala-package/spark/src/test/scala/org/apache/mxnet/spark/MXNetGeneralSuite.scala
Labels: Maven, Scala, pr-awaiting-review

#14656 [MXNET-1385] Improved Scala Init and Macros warning messages
  scala-package/core/src/main/scala/org/apache/mxnet/Image.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Image.scala
  scala-package/init/src/main/scala/org/apache/mxnet/init/Base.scala
  scala-package/init/src/main/scala/org/apache/mxnet/init/LibInfo.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/GeneratorBase.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/NDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/SymbolMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/javaapi/JavaNDArrayMacro.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/OperatorBuildUtils.scala
Labels: Scala

#14654 Reenable TensorRT step
  ci/jenkins/Jenkinsfile_unix_gpu
Labels: pr-awaiting-review

#14746 fix Raspberry Pi install instructions
  docs/install/index.md
Labels: Doc

#14740 Change size_t to int within for loop to fix windows build error
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Labels: pr-awaiting-review

#14673 [BUGFIX] fix ELU function will appear nan when calculating the gradient
  python/mxnet/gluon/nn/activations.py
  tests/python/unittest/test_gluon.py
Labels: pr-awaiting-response

#14745 fix min max on zero-sized ndarray
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-review

#14534 [DOC] Update ubuntu install instructions from source
  docs/install/ubuntu_setup.md
Labels: Doc, Installation, pr-awaiting-review

#14776 julia/ndarray: fix flaky test cases for `clamp`
  julia/test/unittest/ndarray.jl
Labels: Flaky, Julia, Test

#14767 Use DEFAULT macro in C APIs
  include/mxnet/c_api.h
Labels: pr-awaiting-review

#14757 Improve CMake handling of sse2 and sse3 and fix compile error
  CMakeLists.txt
Labels: Bug, Build, CMake, pr-awaiting-review

#14743 change mxnet_option behavior
  CMakeLists.txt
  cmake/Utils.cmake
Labels: pr-awaiting-review

#14809 Fix int64 nightly tests
  tests/nightly/JenkinsfileForBinaries
Labels: pr-awaiting-merge

#14781 data preparation file moved in example
  example/gluon/data.py
Labels: pr-awaiting-review

#14645 [MXNET-1383] Java new use of ParamObject
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/NDArrayTest.java
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/bert/BertQA.java
  scala-package/macros/src/main/scala/org/apache/mxnet/APIDocGenerator.scala
  scala-package/mxnet-demo/java-demo/src/main/java/mxnet/NDArrayCreation.java
  scala-package/mxnet-demo/java-demo/src/main/java/mxnet/NDArrayOperation.java
Labels: Java, pr-awaiting-review

#14608 [MKLDNN]Refactor requantize to speed up execution
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_conv.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_requantize-inl.h
  src/operator/quantization/quantization_utils.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantized_conv.cu
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/quantized_fully_connected.cu
  src/operator/quantization/requantize-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN, Quantization, pr-work-in-progress

#14733 [MXNET-1398] Enable zero-copy from numpy to MXNet NDArray
  include/mxnet/c_api.h
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  tests/python/unittest/test_ndarray.py
Labels: pr-awaiting-merge

#14627 Speed up SequenceReverse
  src/operator/sequence_reverse-inl.h
Labels: Operator, pr-awaiting-review

#13886 Fixes for wine detection tutorial
  docs/tutorials/embedded/wine_detector.md
Labels: Example, pr-awaiting-review

#14599 Use USE_SIGNAL_HANDLER by default set to ON in CMakeLists.txt
  CMakeLists.txt
  src/initialize.cc
Labels: CMake, pr-awaiting-review

#14716 Add unpooled gpu memory type
  docs/faq/env_var.md
  src/storage/storage.cc
Labels: pr-awaiting-review

#14806 Revert "use mkl sparse matrix to improve performance (#14492)"
  3rdparty/sparse-matrix/Makefile
  3rdparty/sparse-matrix/sparse_matrix.cc
  3rdparty/sparse-matrix/sparse_matrix.h
  Makefile
  ci/jenkins/Jenkins_steps.groovy
  src/operator/tensor/dot-inl.h
Labels: pr-awaiting-review

#14501 added extraction/generation of diagonal/triangonal matrices to linalg
  docs/api/python/ndarray/linalg.md
  docs/api/python/symbol/linalg.md
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.cu
  src/operator/tensor/la_op.h
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#14814 add clojure tutorials to index
  docs/tutorials/index.md
Labels: Clojure, Doc

#14597 Fix iterator over symbol when multiple children have the same name
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_symbol.py
Labels: Backend, Symbol, pr-awaiting-review

#14614 [MKLDNN] add quantized sum
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantization_utils.h
  src/operator/quantization/quantized_elemwise_add-inl.h
  src/operator/quantization/quantized_elemwise_add.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  src/operator/tensor/elemwise_binary_op_basic.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN, Quantization

#14823 [int8] Add MobileNetV2_1.0 & ResNet18 Quantization
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym_mkldnn.py
  src/operator/nn/mkldnn/mkldnn_base.cc
Labels: Example, Quantization
