Repository apache/mxnet, pull requests merged in 2019-06, with the labels that each got.

#15090 Enable serializing/deserializing ndarrays in np_shape semantics
  src/ndarray/ndarray.cc
  tests/python/unittest/test_ndarray.py
Labels: NDArray

#15048 [MXNET-1408] Adding test to verify Large Tensor Support for ravel and unravel
  python/mxnet/test_utils.py
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#15089 Fix mkldnn backend when using naive engine
  src/engine/naive_engine.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_conv.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
Labels: MKLDNN

#15010 Numpy Unary Ops
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15039 Add gluonCV to fix AMP Tutorial
  ci/docker/install/ubuntu_tutorials.sh
Labels: Gluon, Installation, pr-awaiting-testing

#15097 [BUGFIX] fix unknown parameter shapes when np_shape is turned on.
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/utils.py
  python/mxnet/util.py
  tests/python/unittest/test_gluon.py
Labels: Gluon

#15059 [MXNET-1410]Adding Large Tensor Support for tensor transpose
  src/operator/tensor/matrix_op-inl.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review, pr-work-in-progress

#15042 [MXNET-1405] tests for large tensor support for Softmax operator
  tests/nightly/test_large_array.py
Labels: pr-awaiting-merge, pr-awaiting-review

#15149 Fix Misspell in Profiler
  python/mxnet/profiler.py
Labels: pr-awaiting-merge

#15104 Numpy-compatible Concatenate
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/quantization/quantized_concat.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15139 [WIP][numpy] Fix for D2L Chapters 2/3/4
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
  src/operator/nn/activation.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/pooling.cc
  src/operator/random/shuffle_op.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_gluon.py
Labels: Numpy

#15156 fix kvstore nightly failure
  docs/tutorials/python/kvstore.md
Labels: KVStore, pr-awaiting-review

#15128 update LICENSE
  cpp-package/example/get_data.sh
  example/cnn_text_classification/README.md
  example/cnn_text_classification/data_helpers.py
  example/gluon/embedding_learning/README.md
  example/gluon/embedding_learning/get_cub200_data.sh
  example/gluon/style_transfer/README.md
  example/gluon/style_transfer/dataset/download_dataset.py
  example/gluon/super_resolution/README.md
  example/gluon/super_resolution/super_resolution.py
  example/model-parallel/matrix_factorization/get_data.py
  example/recommenders/README.md
  example/recommenders/movielens_data.py
  example/sparse/matrix_factorization/data.py
  tests/nightly/estimator/test_sentiment_rnn.py
Labels: Licenses, pr-awaiting-review

#15155 Fix Scala release
  scala-package/deploy/pom.xml
  scala-package/externalPom/pom.xml
  scala-package/externalPom/src/main/deploy/deploy.xml
  scala-package/pom.xml
Labels: Maven, Scala

#15173 [numpy] Fix d2l performance regression
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15147 Python test failures under windows now report the exit code
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Labels: Test, pr-awaiting-review

#15116 [Flaky Test] Reenable two flaky test on Windows
  tests/python/unittest/test_operator.py
Labels: Test, Windows, pr-awaiting-review

#15179 [MXNET-1416] Fix inception inference example for potential index out of range error.
  cpp-package/example/inference/inception_inference.cpp
  cpp-package/include/mxnet-cpp/ndarray.h
  cpp-package/include/mxnet-cpp/ndarray.hpp
Labels: C++, pr-awaiting-review

#15184 [BUGFIX] Fix a bug in Auto Function.
  python/mxnet/autograd.py
  tests/python/unittest/test_autograd.py
Labels: Autograd, pr-awaiting-review

#14560 min fix of 'storage_type' index mismatch
  src/executor/graph_executor.cc
Labels: Backend, pr-awaiting-response

#14987 Fix installation dependencies
  ci/docker/install/ubuntu_tutorials.sh
  docs/install/build_from_source.md
  docs/install/c_plus_plus.md
  docs/install/index.md
  docs/install/java_setup.md
  docs/install/osx_setup.md
  docs/install/raspbian_setup.md
  docs/install/scala_setup.md
  docs/install/tx2_setup.md
  docs/install/ubuntu_setup.md
  docs/install/windows_setup.md
Labels: CI, Doc, pr-awaiting-merge

#14901 don't check for nullptr before deleting; closes #14580
  cpp-package/example/inference/inception_inference.cpp
  src/io/iter_mnist.cc
  src/kvstore/kvstore_dist.h
Labels: pr-awaiting-merge, pr-awaiting-review

#15175 [MXNET-1414]fix gradient bug of boolean mask
  src/operator/contrib/boolean_mask-inl.h
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/boolean_mask.cu
  tests/python/unittest/test_operator.py
Labels: Bug, Operator, pr-awaiting-review

#14794 Fix wrong description of output range of ToTensor
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/image/image_random.cc
  tests/python/gpu/test_gluon_transforms.py
  tests/python/unittest/test_gluon_data_vision.py
Labels: Gluon, pr-awaiting-merge

#15188 [numpy] Notebook np semantics
  example/numpy/numpy_semantics.ipynb
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/util.py
Labels: Numpy

#14613 [MXNET-978] Second order gradient support for some unary operators
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Backend, Operator, pr-awaiting-review

#15163 Fix MKLDNNDataReorderAsync
  src/engine/naive_engine.cc
  src/ndarray/ndarray.cc
  tests/python/mkl/test_mkldnn.py
Labels: MKLDNN, pr-awaiting-review

#15111 fix the cmake cmd with wrong path
  docs/install/build_from_source.md
  docs/install/c_plus_plus.md
Labels: Doc, pr-awaiting-review

#15205 Broken link fixes for the website
  docs/_static/mxnet-theme/index.html
  docs/_static/tutorials/tensorrt/wavenet_optimized.png
  docs/_static/tutorials/tensorrt/wavenet_unoptimized.png
  docs/community/contribute.md
  docs/community/ecosystem.md
  docs/faq/env_var.md
  docs/faq/index.md
  docs/install/build_from_source.md
  docs/install/java_setup.md
  docs/install/scala_setup.md
  docs/tutorials/c++/basics.md
  docs/tutorials/embedded/wine_detector.md
  docs/tutorials/java/ssd_inference.md
  docs/tutorials/sparse/train.md
  docs/tutorials/tensorrt/inference_with_trt.md
  python/mxnet/contrib/onnx/onnx2mx/import_model.py
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/contrib/rnn/rnn_cell.py
Labels: Website, pr-awaiting-review

#15209 [MKLDNN] Fix quantized act and concat
  src/operator/quantization/quantized_activation.cc
  src/operator/quantization/quantized_concat.cc
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN, Quantization

#15217 Readd Java HelloWorld example for intellij tutorial
  docs/tutorials/java/mxnet_java_on_intellij.md
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/java-demo/src/main/java/mxnet/HelloWorld.java
Labels: Doc, Java

#15216 Add missing file to Maven clean
  scala-package/core/pom.xml
Labels: Maven, Scala

#15195 Fixed a bug in Gluon DataLoader.
  python/mxnet/gluon/data/dataloader.py
  tests/python/unittest/test_gluon_data.py
Labels: Data-loading, Gluon, pr-awaiting-review

#15185 Docs fixes (NDabs, Proposal, MultiProposal)
  docs/api/python/optimization/optimization.md
  src/operator/contrib/multi_proposal-inl.h
  src/operator/contrib/proposal-inl.h
Labels: Doc, pr-awaiting-review

#15066 fix imresize interp docs
  python/mxnet/image/image.py
Labels: Doc, pr-awaiting-review

#14977 Add an utility for operator benchmarks
  benchmark/__init__.py
  benchmark/opperf/README.md
  benchmark/opperf/__init__.py
  benchmark/opperf/custom_operations/__init__.py
  benchmark/opperf/custom_operations/custom_operations.py
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/__init__.py
  benchmark/opperf/nd_operations/binary_operators.py
  benchmark/opperf/nd_operations/gemm_operators.py
  benchmark/opperf/nd_operations/nn_activation_operators.py
  benchmark/opperf/nd_operations/nn_basic_operators.py
  benchmark/opperf/nd_operations/nn_conv_operators.py
  benchmark/opperf/nd_operations/random_sampling_operators.py
  benchmark/opperf/nd_operations/reduction_operators.py
  benchmark/opperf/nd_operations/unary_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/results/mxnet_operator_benchmark_results_cpu.md
  benchmark/opperf/rules/__init__.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/__init__.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/common_utils.py
  benchmark/opperf/utils/ndarray_utils.py
  benchmark/opperf/utils/op_registry_utils.py
  benchmark/opperf/utils/profiler_utils.py
Labels: Benchmark, Operator, Profiler, pr-awaiting-review

#15224 Fix for d2l ch6 np version
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy/multiarray.py
Labels: Numpy

#15107 Update float16 tutorial
  docs/faq/float16.md
Labels: Doc

#15227 Make MXNDArrayFromDLPack backward compatible
  include/mxnet/c_api.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api.cc
  tests/python/unittest/test_dlpack.py
Labels: pr-awaiting-merge

#15187 Improve static cached_op optimization
  src/imperative/cached_op.cc
  src/imperative/imperative_utils.h
Labels: Backend, Operator, pr-awaiting-review

#15197 Updated Image Augmentation tutorial to use Gluon Transforms.
  docs/tutorials/gluon/data_augmentation.md
Labels: Doc, pr-awaiting-review

#15228 Cleaned up profiling tutorial
  docs/tutorials/python/profiler.md
  docs/tutorials/python/profiler_nvprof.png
  docs/tutorials/python/profiler_nvprof_zoomed.png
  docs/tutorials/python/profiler_winograd.png
Labels: Doc, pr-awaiting-review

#15237 [numpy] Fix d2l chapter8
  python/mxnet/_numpy_op_doc.py
  python/mxnet/base.py
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/ndarray/ndarray.cc
  src/operator/nn/concat.cc
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/rnn.cc
  src/operator/sequence_mask.cc
  src/operator/swapaxis-inl.h
  src/operator/swapaxis.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15158 [TUTORIAL] Add multiple GPUs training tutorial
  docs/tutorials/gluon/multi_gpu.md
  docs/tutorials/index.md
  tests/tutorials/test_tutorials.py
Labels: Doc, pr-awaiting-review

#15177 [MXNET-1415]Add MXEnginePushAsyncND and MXEnginePushSyncND C APIs
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  tests/cpp/engine/threaded_engine_test.cc
Labels: pr-awaiting-review

#15244 Fix for D2L chapter 11
  python/mxnet/gluon/parameter.py
  python/mxnet/numpy_extension/__init__.py
Labels: Numpy

#15132 Profiler API Enhancements
  include/mxnet/c_api.h
  python/mxnet/profiler.py
  src/c_api/c_api_profile.cc
  src/profiler/aggregate_stats.cc
  src/profiler/aggregate_stats.h
  tests/python/unittest/test_profiler.py
Labels: Profiler, pr-work-in-progress

#15249 Sort benchmark output per op name, add some validation to CLI
  benchmark/opperf/opperf.py
  benchmark/opperf/utils/common_utils.py
Labels: Performance, pr-awaiting-review

#15248 Fix nightly build warning
  docs/tutorials/gluon/multi_gpu.md
Labels: Doc, pr-awaiting-merge

#15142 [Dependency Update] Bump up cuDNN & NCCL version
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  tools/setup_gpu_build_tools.sh
Labels: Backend, pr-awaiting-review

#15213 Fix horovod build failure when mxnet is built from source
  .gitignore
  Makefile
  include/mkldnn
  include/mkldnn/mkldnn.h
  include/mkldnn/mkldnn_types.h
  mkldnn.mk
  tools/license_header.py
Labels: Distributed, pr-awaiting-merge

#15049 Numpy-compatible split
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15246 [numpy] [DO NOT MERGE] Fix d2l chapters 9 and 13
  python/mxnet/_numpy_op_doc.py
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/dropout.cc
  src/operator/nn/layer_norm.cc
  src/operator/nn/softmax.cc
  src/operator/tensor/broadcast_reduce_op_index.cc
  src/operator/tensor/dot.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/operator/tensor/ordering_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, pr-work-in-progress

#15171 Upgrade archive utility and add back FC improvement
  Makefile
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/install/ubuntu_ar.sh
  docs/install/build_from_source.md
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_operator.py
Labels: Backend, pr-awaiting-review

#15264 [numpy] Fix d2l chapter 5
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  python/mxnet/initializer.py
  python/mxnet/ndarray/utils.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#15250 Fix java install docs
  docs/install/java_setup.md
  docs/tutorials/java/mxnet_java_on_intellij.md
Labels: Doc, Java

#15161 Numpy compatible max
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, Operator, pr-awaiting-review

#15114 Added transform tutorial
  docs/tutorials/gluon/transforms.md
  docs/tutorials/index.md
  tests/tutorials/test_tutorials.py
Labels: Doc, Gluon

#15230 Updating SymbolBlock.imports to support different dtypes
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_gluon.py
Labels: Gluon, pr-awaiting-review

#15120 [bug] fix higher grad log
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Operator, pr-awaiting-review

#15219 Numpy compatible multinomial
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  src/operator/numpy/random/np_multinomial_op.cc
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Operator, pr-awaiting-review

#15256 Numpy compatible linspace
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/init_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15242 Showing proper error when csr array is not 2D in shape.
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_sparse_ndarray.py
Labels: Python, pr-awaiting-review

#15240 Fixing duplication in operator profiling
  src/profiler/aggregate_stats.cc
  src/profiler/profiler.h
  tests/python/unittest/test_profiler.py
Labels: Profiler, pr-awaiting-merge

#15170 [MXNET-1413] Adding Large Tensor support for sort operators
  src/operator/tensor/init_op.h
  src/operator/tensor/ordering_op-inl.h
  tests/nightly/test_large_array.py
  tests/python/unittest/test_ndarray.py
Labels: pr-awaiting-merge, pr-awaiting-review

#15311 Efficient MXNet sampling in the multinomial distribution
  src/operator/random/sample_multinomial_op.h
Labels: pr-awaiting-merge

#15023 Extend Clojure BERT example
  contrib/clojure-package/examples/bert/fine-tune-bert.ipynb
  contrib/clojure-package/examples/bert/src/bert/bert_sentence_classification.clj
  contrib/clojure-package/examples/bert/test/bert/bert_sentence_classification_test.clj
  contrib/clojure-package/examples/infer/predictor/src/infer/predictor_example.clj
Labels: Clojure, pr-work-in-progress

#15309 Numpy-compatible cumsum
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#14631 Fix build_ccache_wrappers:
  ci/docker/runtime_functions.sh
Labels: CI, pr-awaiting-merge

#15164 [C++] Improve inference script to support benchmark on Imagenet
  cpp-package/example/inference/README.md
  cpp-package/example/inference/imagenet_inference.cpp
  cpp-package/example/inference/inception_inference.cpp
  cpp-package/example/inference/unit_test_imagenet_inference.sh
  cpp-package/example/inference/unit_test_inception_inference.sh
  cpp-package/example/mlp_csv.cpp
  cpp-package/include/mxnet-cpp/initializer.h
  cpp-package/include/mxnet-cpp/io.h
  cpp-package/tests/ci_test.sh
  example/quantization/README.md
Labels: C++, Quantization, pr-awaiting-review

#15269 [DOC] Clarify that global pooling is going to reset padding
  src/operator/nn/pooling.cc
Labels: Doc, pr-awaiting-merge

#15298 Fix Cached_op with static_shape=true
  src/imperative/cached_op.cc
  src/nnvm/legacy_op_util.cc
Labels: pr-awaiting-review

#15186 Add 'asnumpy' dtype option to check_symbolic_backward
  python/mxnet/test_utils.py
Labels: Test, pr-awaiting-merge

#15398 [numpy] Fix several places in numpy
  include/mxnet/base.h
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/image.py
Labels: Numpy

#15210 Custom Operator Profiling Enhancement
  src/engine/naive_engine.cc
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/operator/custom/custom-inl.h
  src/operator/custom/custom.cc
  src/profiler/custom_op_profiler.h
  src/profiler/profiler.h
  tests/python/unittest/test_profiler.py
Labels: Operator, pr-work-in-progress

#15226 [Opperf] Make module/namespace of the operator parameterized
  benchmark/opperf/README.md
  benchmark/opperf/nd_operations/binary_operators.py
  benchmark/opperf/nd_operations/gemm_operators.py
  benchmark/opperf/nd_operations/nn_activation_operators.py
  benchmark/opperf/nd_operations/nn_basic_operators.py
  benchmark/opperf/nd_operations/nn_conv_operators.py
  benchmark/opperf/nd_operations/random_sampling_operators.py
  benchmark/opperf/nd_operations/reduction_operators.py
  benchmark/opperf/nd_operations/unary_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/results/mxnet_operator_benchmark_results_gpu.md
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/common_utils.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: Benchmark, Operator, pr-awaiting-review

#15394 Update sparse_retain Documentation
  src/operator/tensor/sparse_retain.cc
Labels: pr-awaiting-merge

#15342 [AMP] Move topk from FP16_FP32_FUNCS to FP32_FUNCS
  python/mxnet/contrib/amp/lists/symbol.py
Labels: pr-awaiting-merge

#15118 Conversion from FP32 model to Mixed Precision model
  docs/tutorials/amp/amp_tutorial.md
  example/automatic-mixed-precision/README.md
  example/automatic-mixed-precision/amp_model_conversion.py
  example/automatic-mixed-precision/common
  include/mxnet/c_api.h
  python/mxnet/contrib/amp/amp.py
  python/mxnet/gluon/parameter.py
  python/mxnet/module/executor_group.py
  python/mxnet/test_utils.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/amp_infer_unknown.cc
  src/nnvm/low_precision_pass.cc
  tests/python/gpu/test_contrib_amp.py
  tests/python/tensorrt/test_tensorrt_lenet5.py
  tests/python/unittest/test_contrib_amp.py
Labels: FP16, pr-awaiting-review

#15300 point fix the vector declaration in MultiBoxDetection
  src/operator/contrib/multibox_detection.cc
Labels: pr-awaiting-review

#15340 [Clojure] Add fastText example
  contrib/clojure-package/examples/cnn-text-classification/README.md
  contrib/clojure-package/examples/cnn-text-classification/get_fasttext_data.sh
  contrib/clojure-package/examples/cnn-text-classification/src/cnn_text_classification/data_helper.clj
Labels: Clojure
