Repository apache/mxnet, pull requests merged in 2019-10, with the labels that each got.

#16259 [mkldnn-v1.0] Add MKL-DNN deconv
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
Labels: MKLDNN

#16222 [mkldnn-v1.0] Add MKL-DNN softmax_output
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax_output.cc
  src/operator/softmax_output.cc
Labels: MKLDNN

#16348 Julia: add API docs back
  julia/docs/src/api/ndarray.md
  julia/docs/src/api/symbolic-node.md
Labels: Backport 1.5, Doc, Julia

#16362 Fix nightly scala pipeline
  ci/docker/Dockerfile.publish.ubuntu1604_cpu
  ci/docker/Dockerfile.publish.ubuntu1604_gpu
Labels: CI, Scala

#16361 npi.boolean_mask_assign_(scalar, tensor) operator for future boolean indexing
  src/operator/numpy/np_boolean_mask_assign.cc
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16272 [mkldnn-v1.0] Add MKL-DNN Pooling
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling.cc
Labels: MKLDNN

#16324 [MXNET-1430] julia: implement context.gpu_memory_info
  julia/NEWS.md
  julia/src/MXNet.jl
  julia/src/context.jl
  python/mxnet/context.py
Labels: Julia

#16335 [Numpy] Global numpy shape flag
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  src/c_api/c_api_ndarray.cc
  src/imperative/imperative.cc
  tests/python/unittest/test_thread_local.py
Labels: Numpy

#16411 Beta build
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_website_beta
Labels: CI, Website

#16258 [mkldnn-v1.0] Add MKL-DNN reshape&flatten&expand_dims
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_expand_dims.cc
  src/operator/nn/mkldnn/mkldnn_flatten-inl.h
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Labels: MKLDNN

#16425 [mkldnn-v1.0] Add MKL-DNN int8 activation&pooling&flatten
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_act.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
  src/operator/quantization/quantized_activation.cc
  src/operator/quantization/quantized_pooling.cc
Labels: MKLDNN

#16283 [mkldnn-1.0] int8 conv quantize dequantize requantize
  include/mxnet/ndarray.h
  src/executor/graph_executor.cc
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/quantization/dequantize.cc
  src/operator/quantization/mkldnn/mkldnn_dequantize-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantize-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_conv.cc
  src/operator/quantization/mkldnn/mkldnn_requantize-inl.h
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/requantize.cc
  src/operator/subgraph/mkldnn/mkldnn_conv-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
Labels: MKLDNN

#16266 Numpy-compatible histogram
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/histogram.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15871 [Numpy] Numpy compatible dstack
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16132 [Numpy] Numpy eye
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16263 [mkldnn-v1.0] Add MKL-DNN sum concat
  src/operator/nn/mkldnn/mkldnn_concat-inl.h
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/nn/mkldnn/mkldnn_copy.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_sum.cc
  src/operator/tensor/elemwise_binary_op_basic.cc
  tests/python/mkl/test_mkldnn.py
Labels: MKLDNN

#16455 Fix mkldnn reshape
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_flatten-inl.h
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/tensor/matrix_op.cc
Labels: MKLDNN

#16454 [mkldnn-1.0] mkldnn int8 elemwise_add
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
Labels: MKLDNN

#16458 [mkldnn-v1.0] add quantized bn
  src/operator/quantization/mkldnn/mkldnn_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#15825 Numpy . add numpy op logspace
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16420 [mkldnn-v1.0] Fused RNN Op
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/nn/mkldnn/mkldnn_rnn_impl.h
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/operator/rnn_impl.h
  tests/python/unittest/test_operator.py
Labels: MKLDNN

#16457 [mkldnn-v1.0] Add MKL-DNN int8 fc
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_ops-inl.h
  src/operator/quantization/quantized_fully_connected.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#16433 [mkldnn-v1.0] Update enabling flag for MKL dropout
  src/operator/nn/dropout-inl.h
Labels: MKLDNN

#16328 Fix large array tests
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/index_copy.cc
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/unittest/common.py
Labels: pr-work-in-progress

#16414 Comparison ops implemented using mshadow
  CMakeLists.txt
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  src/common/utils.h
  src/ndarray/ndarray_function.cc
  src/ndarray/ndarray_function.cu
  src/operator/leaky_relu-inl.h
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/nn/dropout-inl.h
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16466 [mkldnn-1.0] upgrade int8 concat to MKLDNN1.0
  src/operator/quantization/mkldnn/mkldnn_quantized_concat.cc
Labels: MKLDNN

#16484 [mkldnn-v1.0] Add MKL-DNN slice
  src/operator/nn/mkldnn/mkldnn_slice-inl.h
  src/operator/nn/mkldnn/mkldnn_slice.cc
Labels: MKLDNN

#14443 Mxnet allclose
  python/mxnet/test_utils.py
  src/operator/contrib/allclose_op-inl.h
  src/operator/contrib/allclose_op.cc
  src/operator/contrib/allclose_op.cu
  tests/python-pytest/onnx/mxnet_export_test.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/gpu/test_gluon_model_zoo_gpu.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/mkl/test_mkldnn.py
  tests/python/unittest/test_gluon_contrib.py
  tests/python/unittest/test_loss.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_random.py
  tests/python/unittest/test_sparse_operator.py
  tests/python/unittest/test_subgraph.py
Labels: Operator, Test, pr-awaiting-review

#16494 Proper handling of "allow_np_array" attribute in optimizer
  python/mxnet/optimizer/optimizer.py
  tests/python/unittest/test_numpy_gluon.py
Labels: Numpy

#16469 Tests of NumPy interoperability
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#16468 [mkldnn-1.0] add mkldnn subgraph fc
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/subgraph/mkldnn/mkldnn_fc-inl.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
Labels: MKLDNN

#16507 [mkldnn-v1.0]enable mkldnn concat
  src/operator/nn/concat.cc
Labels: MKLDNN

#16503 [mkldnn-v1.0] Enable mkldnn cpp-test, copy op, concat op
  src/operator/nn/concat.cc
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/cpp/include/test_core_op.h
  tests/cpp/include/test_mkldnn.h
  tests/cpp/include/test_op.h
  tests/cpp/kvstore/gpu_topology_test.cc
  tests/cpp/operator/batchnorm_test.cc
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/operator/mkldnn_test.cc
Labels: MKLDNN

#16477 added more tests to verify support for large vector
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-merge, pr-awaiting-review

#16500 Fixing broken links
  docs/python_docs/python/tutorials/deploy/export/onnx.md
  docs/python_docs/python/tutorials/deploy/run-on-aws/cloud.md
  docs/python_docs/python/tutorials/deploy/run-on-aws/cloud.rst
  docs/python_docs/python/tutorials/deploy/run-on-aws/index.rst
  docs/python_docs/python/tutorials/getting-started/gluon_from_experiment_to_deployment.md
  docs/python_docs/python/tutorials/getting-started/to-mxnet/index.rst
  docs/python_docs/python/tutorials/packages/autograd/index.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/custom_layer_beginners.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/hybridize.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/init.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/nn.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/parameters.md
  docs/python_docs/python/tutorials/packages/gluon/image/image-augmentation.md
  docs/python_docs/python/tutorials/packages/gluon/image/pretrained_models.md
  docs/python_docs/python/tutorials/packages/gluon/index.rst
  docs/python_docs/python/tutorials/packages/gluon/loss/custom-loss.md
  docs/python_docs/python/tutorials/packages/gluon/loss/loss.md
  docs/python_docs/python/tutorials/packages/gluon/training/fit_api_tutorial.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_finder.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_schedules_advanced.md
  docs/python_docs/python/tutorials/packages/gluon/training/trainer.md
  docs/python_docs/python/tutorials/packages/kvstore/index.rst
  docs/python_docs/python/tutorials/packages/kvstore/kvstore.md
  docs/python_docs/python/tutorials/packages/ndarray/01-ndarray-intro.md
  docs/python_docs/python/tutorials/packages/ndarray/02-ndarray-operations.md
  docs/python_docs/python/tutorials/packages/ndarray/03-ndarray-contexts.md
  docs/python_docs/python/tutorials/packages/ndarray/gotchas_numpy_in_mxnet.md
  docs/python_docs/python/tutorials/packages/ndarray/sparse/row_sparse.md
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/packages/onnx/inference_on_onnx_model.md
  docs/python_docs/python/tutorials/packages/onnx/super_resolution.md
  docs/static_site/src/pages/api/faq/distributed_training.md
  docs/static_site/src/pages/api/r/docs/tutorials/five_minutes_neural_network.md
Labels: Doc

#16514 add binary and docs build command options to devmenu
  dev_menu.py
Labels: Doc

#16523 [MKLDNN] Fix uint quantized fc when not fusing with requantize
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Labels: MKLDNN

#16423 Improve unary and binary ufuncs' compatibility with NumPy and refactor unit tests
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/util.py
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/tensor/elemwise_binary_broadcast_op-inl.cuh
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16409 added support for large tensors for Dropout operator and tests to verify support for more operators
  src/operator/nn/dropout-inl.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-merge, pr-awaiting-review

#16504 [DOC] Fix numpy op doc
  python/mxnet/_numpy_op_doc.py
Labels: Numpy

#16426 [Numpy] More numpy dispatch tests
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#16487 Fix learning rate scheduler being unexpectedly overwritten by optimizer's default value
  python/mxnet/optimizer/optimizer.py
  tests/python/unittest/test_optimizer.py
Labels: Bug, Python

#16476 added large tensor support for add_n and tests for more ops
  src/operator/tensor/elemwise_sum.h
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-merge

#16525 add option to remove indexes
  docs/static_site/src/.htaccess
Labels: Website

#15126 [MXNET-1407] Added test to verify Large Tensor Support for pad operator
  src/operator/pad.cc
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#15911 [Numpy] einsum
  benchmark/python/einsum/benchmark_einsum.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mxnet_op.h
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_op.cu
  src/operator/numpy/np_einsum_path_op-inl.h
  src/operator/numpy/np_tensordot_op-inl.h
  src/operator/numpy/np_tensordot_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16470 [mkldnn-1.0] add skipped case for mkldnn_v1.0
  src/operator/tensor/elemwise_sum.cc
Labels: MKLDNN

#16520 [mkldnn-v1.0] Enable more checks for MXNET_USE_MKLDNN
  src/c_api/c_api.cc
  src/common/utils.h
  src/ndarray/ndarray.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/storage/cpu_device_storage.h
Labels: MKLDNN

#16519 [mkldnn-v1.0]Minor fix for leakyrelu compile flag
  src/operator/leaky_relu.cc
Labels: MKLDNN

#16422 Numpy dispatch test of ......
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#16546 typo fix in r doc lstm tutorial
  docs/static_site/src/pages/api/r/docs/tutorials/multi_dim_lstm.md
Labels: Doc

#16493 Tests of interoperability of numpy dispatch
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#16436 Add sum for boolean type when not built with TVM
  3rdparty/mshadow/mshadow/base.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16530 [Numpy] SVD outputs tuple
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_gesvd.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16537 Fix numpy bugs
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/util.py
  src/c_api/c_api_symbolic.cc
  src/common/utils.h
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/numpy/np_true_divide.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_symbol.py
Labels: Numpy

#16501 [Doc] Use mirror link in the download page
  docs/static_site/src/pages/get_started/download.md
Labels: Doc, pr-awaiting-merge

#16538 checking broken link fixes work
  docs/python_docs/python/tutorials/deploy/export/onnx.md
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_readme.md
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/static_site/src/_includes/get_started/linux/cpp/cpp.md
  docs/static_site/src/_includes/get_started/macos/cpp/cpp.md
  docs/static_site/src/_includes/get_started/macos/scala/cpu.md
  docs/static_site/src/_includes/get_started/windows/cpp/cpp.md
  docs/static_site/src/pages/api/faq/env_var.md
  docs/static_site/src/pages/features.html
  docs/static_site/src/pages/get_started/windows_setup.md
  example/gluon/word_language_model/README.md
  python/mxnet/gluon/block.py
  python/mxnet/gluon/contrib/data/text.py
  python/mxnet/gluon/trainer.py
Labels: Doc, pr-awaiting-response

#16561 Pickler override for np ndarrays
  python/mxnet/gluon/data/dataloader.py
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#16371 Added large tensor support and test for gather_nd
  python/mxnet/ndarray/ndarray.py
  src/operator/tensor/indexing_op.h
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-review, pr-work-in-progress

#16565 [mkldnn-v1.0] Re-enable unit tests
  tests/python/mkl/test_mkldnn_install.py
  tests/python/mkl/test_quantization_mkldnn.py
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN

#16556 [numpy]op test in new pattern
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/test_utils.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#16575 Enforce adding documentation for builtin numpy operators
  src/operator/numpy/np_elemwise_broadcast_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16512 detect number of procs during sphinx build
  docs/python_docs/python/Makefile_sphinx
Labels: Doc, pr-awaiting-testing

#16496 fix missing docs due to git add issues
  docs/python_docs/python/api/gluon/data/index.rst
  docs/python_docs/python/api/gluon/data/vision/datasets/index.rst
  docs/python_docs/python/api/gluon/data/vision/index.rst
  docs/python_docs/python/api/gluon/data/vision/transforms/index.rst
  docs/python_docs/python/api/mxnet/log/index.rst
  docs/python_docs/python/api/mxnet/model/index.rst
Labels: Doc, pr-awaiting-testing

#16545 [mkldnn-v1.0] Skip flaky test for unidirectional rnn_relu
  tests/python/unittest/test_operator.py
Labels: MKLDNN

#16597 [Numpy] Loading numpy-incompatible NDArray in numpy-compatible mode
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
  src/c_api/c_api_ndarray.cc
  src/ndarray/ndarray.cc
Labels: Numpy

#16606 Fix dequantize memory corruption
  src/operator/quantization/dequantize.cc
Labels: MKLDNN

#16602 [MKLDNN]Fix reorder2default
  src/ndarray/ndarray.cc
Labels: MKLDNN

#16550 Python Docstring Convetion
  python/mxnet/kvstore.py
  python/mxnet/metric.py
  python/mxnet/profiler.py
  python/mxnet/rtc.py
  python/mxnet/runtime.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
Labels: Doc

#16396 julia/docs: more DRY on page rendering
  julia/docs/Project.toml
  julia/docs/make.jl
  julia/docs/mkdocs.yml
  julia/docs/src/api.md
  julia/docs/src/api/ndarray.md
  julia/docs/src/api/symbolic-node.md
  julia/docs/src/index.md
  julia/src/executor.jl
  julia/src/symbolic-node/show.jl
Labels: Doc, Julia

#16609 [mkldnn-v1.0] Add some annotations and log messages, rename memory_descriptor variables
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base.cc
Labels: MKLDNN

#16593 [mkldnn-v1.0]set fc weight layout as mkldnn v0.2x did
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Labels: MKLDNN

#16589 Fix index overflow bug in einsum
  benchmark/python/einsum/benchmark_einsum.py
  src/operator/mxnet_op.h
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_path_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16622 Move some subgraph verbose to MXNET_SUBGRAPH_VERBOSE=2
  src/operator/subgraph/build_subgraph.cc
Labels: MKLDNN

#16543 [Numpy] Fix random.choice() type error
  src/operator/numpy/random/np_choice_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16637 numpy doc enhancement
  python/mxnet/_numpy_op_doc.py
  python/mxnet/base.py
  python/mxnet/gluon/parameter.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/numpy/utils.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/numpy_extension/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
  python/mxnet/util.py
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/boolean_mask.cu
  src/operator/numpy/np_broadcast_reduce_op_index.cc
  src/operator/numpy/np_broadcast_reduce_op_index.cu
  src/operator/numpy/np_nonzero_op.cc
  src/operator/numpy/np_nonzero_op.cu
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, R1.6.0

#16618 Fix GetMKLDNNData for delay alloc
  src/ndarray/ndarray.cc
Labels: MKLDNN

#16644 [mkldnn-v1.0] Minor fix of mkldnn-v1.0 transition
  mkldnn.mk
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_act-inl.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Labels: MKLDNN

#16623 [mkldnn-v1.0]rm int8 sum workaround
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
Labels: MKLDNN

#16652 [mkldnn-v1.0]make MKLDNN macro simple for imperative_utils.h
  src/imperative/imperative_utils.h
Labels: MKLDNN

#16533 [NumPy][Operator] NumPy operator `may_share_memory` and `shares_memory`
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_memory_op.cc
  src/operator/numpy/np_memory_op.cu
  src/operator/numpy/np_memory_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16659 [mkldnn-v1.0]fix ci jenkins step groovy
  ci/jenkins/Jenkins_steps.groovy
Labels: MKLDNN

#16570 Showing proper error message when an attempt is made to create large tensor but MXNet is not built with it
  include/mxnet/c_api.h
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  src/c_api/c_api.cc
  src/c_api/c_api_ndarray.cc
  src/ndarray/ndarray.cc
  src/ndarray/ndarray_function.cc
  src/operator/tensor/init_op.h
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-review, pr-work-in-progress

#16657 [mkldnn-v1.0] Adopt autograd.record() context to RNNOp
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/rnn-inl.h
Labels: MKLDNN

#16663 [mkldnn-v1.0] Use memcpy instead of set_handle with unidirectional 1-layer RNN
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Labels: MKLDNN

#16610 no such method => modified function args
  julia/deps/build.jl
  julia/src/metric.jl
Labels: Julia

#16672 [mkldnn-v1.0]fallback mkldnn fc bwd in imperative mode
  src/operator/nn/fully_connected.cc
Labels: MKLDNN

#15906 [Numpy] Numpy operator diff
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_diff-inl.h
  src/operator/numpy/np_diff.cc
  src/operator/numpy/np_diff.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16664 Miscellaneous fix for several numpy issues
  python/mxnet/numpy/multiarray.py
  src/ndarray/ndarray_function.cu
  src/operator/mxnet_op.h
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_init_op.h
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16682 [mkldnn-v1.0] Must reorder and emplace weights for rnn inference primitives
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Labels: MKLDNN
