Repository apache/mxnet, pull requests merged in 2019-11, with the labels that each got.

#15167 Pointwise fusion for GPU
  docs/static_site/src/pages/api/faq/env_var.md
  src/common/exec_utils.cc
  src/common/exec_utils.h
  src/executor/exec_pass.h
  src/executor/graph_executor.cc
  src/executor/infer_graph_attr_pass.cc
  src/executor/pointwise_fusion_pass.cc
  src/executor/simple_partition_pass.h
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative.cc
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cc
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
  src/operator/mshadow_op.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/storage/pooled_storage_manager.h
  tests/python/gpu/test_fusion.py
  tests/python/unittest/test_gluon.py
Labels: Operator, pr-awaiting-review

#16690 Fix MKL-DNN installation on different platforms
  mkldnn.mk
Labels: MKLDNN

#16564 [numpy] add numpy operator : append
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16693 Fix binary dependencies in CD and nightly
  cd/mxnet_lib/dynamic/Jenkins_pipeline.groovy
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
  tests/nightly/JenkinsfileForBinaries
Labels: MKLDNN

#16688 [MKL-DNN] Add mxnet mkldnn cmake tutorial
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_readme.md
Labels: MKLDNN

#16697 Revert "[MKLDNN]Fix reorder2default (#16602)"
  src/ndarray/ndarray.cc
Labels: MKLDNN

#15657 Eliminate common expressions
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/op_attr_types.h
  python/mxnet/executor.py
  src/executor/eliminate_common_expr_pass.cc
  src/executor/exec_pass.h
  src/executor/graph_executor.cc
  src/imperative/cached_op.cc
  src/operator/contrib/boolean_mask.cu
  src/operator/contrib/bounding_box.cc
  src/operator/contrib/hawkes_ll.cc
  src/operator/contrib/index_array.cc
  src/operator/loss_binary_op.cc
  src/operator/nn/concat.cc
  src/operator/nn/convolution.cc
  src/operator/nn/ctc_loss.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/group_norm.cc
  src/operator/nn/layer_norm.cc
  src/operator/nn/moments.cc
  src/operator/nn/softmax_activation.cc
  src/operator/nn/upsampling.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_tensordot_op.cc
  src/operator/tensor/broadcast_reduce_minmax_value.cc
  src/operator/tensor/broadcast_reduce_norm_value.cc
  src/operator/tensor/broadcast_reduce_prod_value.cc
  src/operator/tensor/broadcast_reduce_sum_value.cc
  src/operator/tensor/cast_storage.cc
  src/operator/tensor/dot.cc
  src/operator/tensor/elemwise_binary_op_basic.cc
  src/operator/tensor/elemwise_scatter_op.cc
  src/operator/tensor/elemwise_sum.cc
  src/operator/tensor/histogram.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/la_op.cc
  src/operator/tensor/matrix_op.cc
  src/operator/tensor/ordering_op.cc
  src/operator/tensor/ravel.cc
  src/operator/tensor/square_sum.cc
  tests/python/unittest/test_symbol.py
Labels: Backend, pr-awaiting-review

#16667 [NumPy] Add NumPy support for Cholesky decomposition
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_potrf-inl.h
  src/operator/numpy/linalg/np_potrf.cc
  src/operator/numpy/linalg/np_potrf.cu
  src/operator/tensor/la_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16698 Fallback to official NumPy operators
  python/mxnet/__init__.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/numpy_op_fallback.py
  python/mxnet/operator.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/custom/custom.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16692 MKLDNN FC : Add error info when mkldnn fc bias dimension is wrong
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Labels: MKLDNN

#16711 Support mixed-precision true_divide
  src/common/utils.h
  src/operator/leaky_relu-inl.h
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/nn/dropout-inl.h
  src/operator/nn/softmax-inl.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/numpy/np_true_divide.cu
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16695 [Quantization] Enhance gluon quantization API
  python/mxnet/contrib/quantization.py
Labels: MKLDNN

#16710 [MKLDNN] support mkldnn gelu
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN

#16709 Fix requantize flaky test
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#16699 Mixed data type binary ops
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/common/utils.h
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/elemwise_binary_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16734 [MKLDNN] Fix int8 convolution/fc bias overflow
  src/operator/quantization/quantization_utils.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN

#16737 [MKLDNN] use dim_t instead of int in slice/transpose operators
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/mkldnn/mkldnn_slice.cc
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Labels: MKLDNN

#16730 [NumPy] NumPy support for linalg.inv
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/linalg_impl.h
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16769 Fix rtrue_divide grad
  src/operator/numpy/np_true_divide.cc
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, R1.6.0

#16717 [Numpy] add op nan_to_num
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16728 Support boolean elemwise/broadcast binary add, multiply and true_divide
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/operator_tune-inl.h
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16292 [Done] BilinearResize2D optimized
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/contrib/bilinear_resize-inl.cuh
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/bilinear_resize.cc
  src/operator/contrib/bilinear_resize.cu
  src/operator/image/resize-inl.h
  src/operator/image/resize.cu
  tests/python/gpu/test_gluon_transforms.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#16022 [MXNET-1421] Added (CuDNN)BatchNorm operator to the list of mirrored operators
  src/executor/graph_executor.cc
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
Labels: CUDA, Operator, pr-awaiting-review

#16792 Fix numpy-compatible mean output type for integer inputs
  src/ndarray/ndarray_function-inl.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, R1.6.0

#16790 migrate cudaMemcpy to cudaMemcpyAsync+cudaStreamSynchronize
  src/kvstore/kvstore_utils.cu
  src/ndarray/ndarray_function.cu
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  src/operator/contrib/boolean_mask.cu
  src/operator/contrib/index_array.cu
  src/operator/contrib/multi_proposal.cu
  src/operator/contrib/proposal.cu
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_nonzero_op.cu
  src/operator/numpy/np_unique_op.cu
  src/operator/numpy/random/dist_common.cc
  src/operator/numpy/random/dist_common.cu
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_bernoulli_op.h
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  src/operator/numpy/random/np_normal_op.h
  src/operator/tensor/cast_storage-inl.cuh
  src/operator/tensor/dot-inl.cuh
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/matrix_op.cu
  src/operator/tensor/square_sum.cu
Labels: CUDA

#16731 Static link MKL-DNN library
  CMakeLists.txt
  Makefile
  cd/mxnet_lib/dynamic/Jenkins_pipeline.groovy
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  mkldnn.mk
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  tests/nightly/JenkinsfileForBinaries
  tests/python/mkl/test_mkldnn.py
  tests/python/mkl/test_mkldnn_install.py
  tools/pip/setup.py
  tools/staticbuild/build_lib.sh
Labels: MKLDNN

#16773 Fix nightly build
  python/mxnet/tvmop.py
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/model_backwards_compatibility_check/JenkinsfileForMBCC
Labels: CI

#16827 Refactor NumPy-compatible elemwise broadcast operators
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/elemwise_op_common.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cu
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16689 [Model] Implement Neural Collaborative Filtering with MXNet
  example/neural_collaborative_filtering/README.md
  example/neural_collaborative_filtering/ci.py
  example/neural_collaborative_filtering/convert.py
  example/neural_collaborative_filtering/core/dataset.py
  example/neural_collaborative_filtering/core/evaluate.py
  example/neural_collaborative_filtering/core/load.py
  example/neural_collaborative_filtering/core/model.py
  example/neural_collaborative_filtering/ncf.py
  example/neural_collaborative_filtering/train.py
Labels: Example

#16837 [MKLDNN] Fix expand_dims fall back
  src/operator/nn/mkldnn/mkldnn_reshape.cc
Labels: MKLDNN

#16810 [Gluon] Improve estimator usability and fix logging logic
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/common.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: API change

#16829 [Numpy][Operator] 'where' Implementation in MXNet
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_where_op-inl.h
  src/operator/numpy/np_where_op.cc
  src/operator/numpy/np_where_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16330 [Numpy] Random.normal() with backward
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_normal_op.cc
  src/operator/numpy/random/np_normal_op.cu
  src/operator/numpy/random/np_normal_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16786 Add OP diag [numpy]
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16184 Add large tensor nightly tests for MKL-DNN operators
  tests/nightly/test_large_array.py
Labels: MKLDNN

#16846 Backport #16810
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/common.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: R1.6.0

#15331 [fix] missing input log higher order.
  src/nnvm/node_op_util.h
  src/operator/tensor/elemwise_unary_op_logexp.cc
Labels: Backend, Operator, pr-awaiting-review

#16856 Fix zero-size problem in expand_dims MKLDNN
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16849 Fix a few np issues
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/util.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, R1.6.0

#16798 Add unoptimized symbol to executor for sharing
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  tests/python/gpu/test_fusion.py
Labels: R1.6.0

#16838 USE_NVRTC -> ENABLE_CUDA_RTC to fix maven build. Add compile-guard to fusion.
  CMakeLists.txt
  appveyor.yml
  ci/build_windows.py
  make/maven/maven_darwin_mkl.mk
  make/maven/maven_linux_cu90mkl.mk
  make/maven/maven_linux_cu92mkl.mk
  make/maven/maven_linux_mkl.mk
  src/executor/exec_pass.h
  src/executor/graph_executor.cc
  src/executor/pointwise_fusion_pass.cc
  src/imperative/cached_op.cc
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cc
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
Labels: R1.6.0

#16836 Fix InferAttr/InferShapeAttr not calling inference for all nodes in a graph
  src/executor/infer_graph_attr_pass.cc
  src/operator/control_flow.cc
  src/operator/tensor/matrix_op-inl.h
  tests/python/gpu/test_fusion.py
  tests/python/unittest/test_symbol.py
Labels: R1.6.0

#16873 Fix flakiness of test_np_mixed_precision_binary_funcs
  tests/python/unittest/test_numpy_op.py
Labels: Flaky, R1.6.0, Test

#16813 add numpy op diagflat [numpy]
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16801 add op bitwise_or [numpy]
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16847 [v1.6.x] Backport #16837 into v1.6.x
  src/operator/nn/mkldnn/mkldnn_reshape.cc
Labels: MKLDNN, R1.6.0

#16874 Backport #16798, #16836 and #16838 to 1.6
  CMakeLists.txt
  appveyor.yml
  ci/build_windows.py
  make/maven/maven_darwin_mkl.mk
  make/maven/maven_linux_cu90mkl.mk
  make/maven/maven_linux_cu92mkl.mk
  make/maven/maven_linux_mkl.mk
  src/executor/exec_pass.h
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/executor/infer_graph_attr_pass.cc
  src/executor/pointwise_fusion_pass.cc
  src/imperative/cached_op.cc
  src/operator/control_flow.cc
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cc
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/gpu/test_fusion.py
  tests/python/unittest/test_symbol.py
Labels: R1.6.0

#16796 Add support for boolean inputs to FusedOp
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
  tests/python/gpu/test_fusion.py
Labels: R1.6.0

#16892 Backport #16796 to 1.6
  src/operator/fusion/fused_op.cu
  src/operator/fusion/fused_op.h
  tests/python/gpu/test_fusion.py
Labels: R1.6.0

#16872 Backport #16856 to 1.6
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: R1.6.0

#16884 [Backport][v1.6.x] Fix the wrong result of sum, mean, argmin, argmax when inputs contain inf or nan
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/extension/reduce_with_axis.h
  3rdparty/mshadow/mshadow/half.h
  julia/src/ndarray/reduction.jl
  julia/test/unittest/ndarray.jl
  python/mxnet/ndarray/ndarray.py
  src/operator/contrib/allclose_op-inl.h
  src/operator/mshadow_op.h
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Labels: R1.6.0

#15303 Fix amalgamation failure.
  src/imperative/cached_op.cc
  src/imperative/imperative_utils.h
  src/nnvm/graph_algorithm.h
  src/nnvm/plan_memory.cc
Labels: pr-awaiting-review

#16876 [Numpy] Implementation npx.{sample}_n
  python/mxnet/ndarray/numpy_extension/random.py
  python/mxnet/numpy_extension/random.py
  python/mxnet/symbol/numpy_extension/random.py
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_normal_op.cc
  src/operator/numpy/random/np_normal_op.cu
  src/operator/numpy/random/np_uniform_op.cc
  src/operator/numpy/random/np_uniform_op.cu
  tests/nightly/test_np_random.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16883 Add arange_like to npx
  src/operator/tensor/init_op.cc
Labels: Numpy

#16715 Lamb optimizer update
  python/mxnet/optimizer/optimizer.py
  src/operator/optimizer_op-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  tests/python/unittest/test_optimizer.py
Labels: pr-awaiting-review

#16800 [Numpy] Add NumPy support for np.linalg.det and np.linalg.slogdet
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16890 Mkldnn fullyConnect bwd bug fix
  src/operator/nn/fully_connected.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Labels: MKLDNN

#16888 Add evaluation_loss to the estimator base class.
  python/mxnet/gluon/contrib/estimator/estimator.py
  tests/python/unittest/test_gluon_estimator.py
Labels: R1.6.0

#16862 Op Unravel_index PR [Numpy]
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/numpy_op_fallback.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15686 Fix the problem in printing feature in c++ API examples : feature_extract
  cpp-package/example/feature_extract/feature_extract.cpp
Labels: C++, pr-awaiting-review

#16912 Port shape op to 1.6.x
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16906 Bumping MXNet version to 1.6.0 in base.h for C APIs
  include/mxnet/base.h
Labels: pr-awaiting-merge

#15516 Fix memory leak reported by ASAN in NNVM to ONNX conversion
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
Labels: pr-awaiting-review

#16902 [Numpy] Fix imperative basic indexing in numpy
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy, R1.6.0

#16621 [Numpy] Basic indexing in symbolic interface of DeepNumpy
  python/mxnet/__init__.py
  python/mxnet/_ctypes/ndarray.py
  python/mxnet/_ctypes/symbol.py
  python/mxnet/base.py
  python/mxnet/cython/base.pyi
  python/mxnet/cython/ndarray.pyx
  python/mxnet/cython/symbol.pyx
  python/mxnet/gluon/block.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/test_utils.py
  src/operator/numpy/np_matrix_op.cc
  tests/python/unittest/test_numpy_gluon.py
Labels: Numpy

#16919 Backport #16902 to 1.6
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: R1.6.0

#14860 Update TensorRT tutorial to build-from-source.
  docs/python_docs/python/tutorials/performance/backend/tensorrt/tensorrt.md
Labels: pr-awaiting-review

#16894 Adding user guidelines for using MXNet built with Large Tensor Support
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Labels: pr-awaiting-merge, pr-awaiting-review

#16772 [MKLDNN] Use MKLDNNRun
  src/ndarray/ndarray.cc
  src/operator/leaky_relu.cc
  src/operator/nn/activation.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/concat.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/lrn.cc
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_copy.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_slice-inl.h
  src/operator/nn/mkldnn/mkldnn_slice.cc
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/mkldnn/mkldnn_sum.cc
  src/operator/nn/softmax.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/softmax_output.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/tensor/elemwise_binary_op_basic.cc
  src/operator/tensor/elemwise_sum.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op.cc
Labels: MKLDNN
