Repository apache/mxnet, pull requests merged in 2019-07, with the labels that each got.

#15360 Revert default return type for indices in argsort() and topk() to fp32
  src/operator/tensor/ordering_op-inl.h
  tests/python/unittest/test_ndarray.py
Labels: pr-awaiting-merge, pr-awaiting-review

#15361 Exclude external dependencies from MXNet JAR.
  CONTRIBUTORS.md
  contrib/clojure-package/project.clj
  scala-package/assembly/linux-x86_64-cpu/pom.xml
  scala-package/assembly/linux-x86_64-cpu/src/main/assembly/assembly.xml
  scala-package/assembly/linux-x86_64-gpu/pom.xml
  scala-package/assembly/linux-x86_64-gpu/src/main/assembly/assembly.xml
  scala-package/assembly/osx-x86_64-cpu/pom.xml
  scala-package/assembly/osx-x86_64-cpu/src/main/assembly/assembly.xml
  scala-package/assembly/pom.xml
  scala-package/core/pom.xml
  scala-package/macros/pom.xml
  scala-package/pom.xml
Labels: Java, Scala

#15117 nano instructions
  docs/install/index.md
  docs/install/install-jetson.md
Labels: Doc, Edge devices, Installation, pr-awaiting-review

#15379 Use omp threads for cpu data loader
  src/io/iter_image_recordio_2.cc
Labels: pr-awaiting-review

#15418 [numpy] fix cython
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  python/mxnet/cython/ndarray.pyx
  python/mxnet/cython/symbol.pyx
Labels: Numpy, pr-awaiting-review

#15382 [numpy][doc-fix] sum, copy, tile, argmax, sign, log, degrees
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Labels: Doc, Numpy

#15288 [MXNET-978] Higher order gradient for sigmoid
  src/common/exec_utils.h
  src/imperative/imperative.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: pr-awaiting-review

#15370 [numpy][doc-fix] mean, transpose, stack, split, log2, rint and radians
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Labels: Doc, Numpy

#15403 Updating profiler tutorial to include new custom operator profiling
  docs/tutorials/python/profiler.md
Labels: Doc, pr-awaiting-review

#15433 remove comments from nano instructions
  docs/install/install-jetson.md
Labels: Doc, Website

#15335 enable TensorRT integration with cpp api
  cpp-package/example/inference/README.md
  cpp-package/example/inference/imagenet_inference.cpp
  cpp-package/include/mxnet-cpp/MxNetCpp.h
  cpp-package/include/mxnet-cpp/contrib.h
  cpp-package/include/mxnet-cpp/symbol.h
  cpp-package/include/mxnet-cpp/symbol.hpp
Labels: pr-awaiting-review

#15405 Fix memory leak in NaiveEngine
  src/engine/naive_engine.cc
Labels: Backend, Bug, Memory, pr-awaiting-merge

#15396 [TUTORIAL] Gluon and Sparse NDArray
  docs/tutorials/index.md
  docs/tutorials/sparse/train_gluon.md
  tests/tutorials/test_tutorials.py
Labels: pr-awaiting-review

#15377 [numpy][doc-fix] zeros_like, linspace, reciprocal, square, and arcsin
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
Labels: Doc, Numpy

#15364 Expose get_all_registered_operators and get_operator_arguments in the…
  benchmark/opperf/utils/op_registry_utils.py
  python/mxnet/operator.py
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#15366 Update Horovod docs links in README
  example/distributed_training-horovod/README.md
Labels: pr-awaiting-merge

#15365 [TUTORIAL] Revise Naming tutorial
  docs/tutorials/gluon/naming.md
Labels: pr-awaiting-review

#15343 Revise Symbol tutorial
  docs/tutorials/basic/symbol.md
Labels: pr-awaiting-review

#15400 Add a new arange_like operator to contrib
  src/operator/tensor/init_op.cc
  src/operator/tensor/init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-review

#15413 [MXNET-978] Higher Order Gradient Support `reciprocal`, `abs`.
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: pr-awaiting-review

#15351 fix fp32 flatten issue
  docs/tutorials/mkldnn/operator_list.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/mkl/test_mkldnn.py
Labels: pr-awaiting-review

#15317 fix doc for the op sort() and argsort()
  src/operator/tensor/ordering_op.cc
Labels: Doc, pr-awaiting-merge, pr-awaiting-review

#15481 [doc] fix comment
  src/operator/tensor/elemwise_binary_op_extended.cu
Labels: Doc, pr-awaiting-merge

#15258 Numpy Trace
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_trace_op-inl.h
  src/operator/numpy/np_trace_op.cc
  src/operator/numpy/np_trace_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15395 [Perl] - simplify aliasing strategy
  perl-package/AI-MXNet/lib/AI/MXNet.pm
  perl-package/AI-MXNet/lib/AI/MXNet/AutoGrad.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Base.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Callback.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Context.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Contrib.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Contrib/NDArray.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Contrib/Symbol.pm
  perl-package/AI-MXNet/lib/AI/MXNet/CudaModule.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Engine.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Block.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Data.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Data/Vision.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Loss.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/NN.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/NN/Activation.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/NN/BasicLayers.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/NN/ConvLayers.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Parameter.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/RNN.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Trainer.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Utils.pm
  perl-package/AI-MXNet/lib/AI/MXNet/IO.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Image.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Initializer.pm
  perl-package/AI-MXNet/lib/AI/MXNet/KVStore.pm
  perl-package/AI-MXNet/lib/AI/MXNet/LinAlg.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Metric.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Module.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Monitor.pm
  perl-package/AI-MXNet/lib/AI/MXNet/NDArray.pm
  perl-package/AI-MXNet/lib/AI/MXNet/NS.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Optimizer.pm
  perl-package/AI-MXNet/lib/AI/MXNet/RNN.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Random.pm
  perl-package/AI-MXNet/lib/AI/MXNet/RecordIO.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Symbol.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Symbol/AttrScope.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Symbol/NameManager.pm
  perl-package/AI-MXNet/lib/AI/MXNet/TestUtils.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Visualization.pm
  perl-package/AI-MXNet/t/AI-MXNet.t
  perl-package/AI-MXNet/t/test_multi_device_exec.t
Labels: pr-awaiting-merge

#15323 Two fixes for info_gan.md example Code
  docs/tutorials/gluon/info_gan.md
Labels: pr-awaiting-review

#15501 [Numpy] Numpy compatible argsort
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/ordering_op-inl.h
  src/operator/tensor/ordering_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15455 Improve docs for AMP
  docs/tutorials/amp/amp_tutorial.md
Labels: Doc, pr-awaiting-review

#15491 [Doc] Add MKL install method apt/yum into tutorial
  docs/install/build_from_source.md
  docs/tutorials/mkldnn/MKLDNN_README.md
Labels: Doc, MKLDNN

#15454 Julia docs
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_website
  docs/api/julia/index.md
  docs/install/ubuntu_setup.md
  docs/install/windows_setup.md
  docs/mxdoc.py
  docs/settings.ini
Labels: Doc, Julia

#15502 CI: upgrade Julia version from 1.0.3 to 1.0.4
  ci/docker/install/ubuntu_julia.sh
Labels: Julia

#15189 Rebase #13757 to master
  example/image-classification/common/fit.py
  example/image-classification/train_imagenet.py
Labels: pr-awaiting-merge, pr-awaiting-review

#15397 fix memory overwrite bug in numpy multinomial
  src/operator/numpy/random/np_multinomial_op.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy, pr-awaiting-review

#15282 Numpy compatible eye
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, Operator, pr-awaiting-review

#15449 cuda/cuDNN lib version checking. Force cuDNN v7 usage.
  docs/faq/env_var.md
  include/mxnet/resource.h
  src/common/cuda_utils.cc
  src/common/cuda_utils.h
  src/resource.cc
Labels: CUDA

#15302 [Numpy] Numpy hstack
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, Operator, pr-awaiting-review

#15426 Add -R option to ci/build.py to avoid rebuilding containers
  ci/build.py
Labels: CI

#15452 fix nightly CI failure
  ci/docker/runtime_functions.sh
  docs/tutorials/amp/amp_tutorial.md
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
Labels: CI, Test

#14894 Accelerate ROIPooling layer
  src/operator/roi_pooling-inl.h
  src/operator/roi_pooling.cc
  src/operator/roi_pooling.cu
Labels: Operator, pr-awaiting-review

#15505 Docs: Fix misprints
  NEWS.md
  R-package/R/viz.graph.R
  contrib/clojure-package/README.md
  docs/api/python/gluon/gluon.md
  docs/install/windows_setup.md
  docs/tutorials/mkldnn/MKLDNN_README.md
  example/gan/CGAN_mnist_R/README.md
  include/mxnet/ndarray.h
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Module/Base.pm
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/module/base_module.py
  python/mxnet/module/python_module.py
  scala-package/core/src/main/scala/org/apache/mxnet/module/BaseModule.scala
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/README.md
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/predictor/README.md
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/objectdetector/README.md
  src/operator/tensor/diag_op-inl.h
  src/operator/tensor/matrix_op.cc
  tools/staticbuild/README.md
Labels: pr-awaiting-merge

#15417 update ratcheck for apache-rat 0.13 release
  Makefile
  python/minpy/README.md
Labels: Makefile, pr-awaiting-review

#15503 fix heap-use-after-free in scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
Labels: Scala

#15521 Avoid memory copy for dropout inference
  src/operator/nn/dropout-inl.h
Labels: pr-awaiting-merge

#15523 add julia env settings
  docs/build_version_doc/build_all_version.sh
Labels: Doc, Website

#15497 [MKLDNN] Independent gradients requests check with respect to weights and bias of convolution
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  tests/python/unittest/test_operator.py
Labels: MKLDNN, pr-awaiting-review

#15554 website build for julia: fix path to be static
  ci/docker/runtime_functions.sh
  docs/build_version_doc/build_all_version.sh
Labels: Build, Website

#15538 some minor typos/clarifications
  scala-package/README.md
Labels: Doc, Scala

#15546 [Doc] broadcast axis is alias to broadcast axes
  src/operator/tensor/broadcast_reduce_op_value.cc
Labels: Doc

#15349 Numpy Tensordot Operator
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_tensordot_op-inl.h
  src/operator/numpy/np_tensordot_op.cc
  src/operator/numpy/np_tensordot_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15475 Add transpose_conv, sorting and searching operator benchmarks to Opperf
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/nn_conv_operators.py
  benchmark/opperf/nd_operations/sorting_searching_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: Benchmark, Operator, pr-work-in-progress

#15551 Bypass cuda/cudnn checks if no driver.
  docs/faq/env_var.md
  include/mxnet/base.h
  src/base.cc
  src/common/cuda_utils.cc
Labels: CUDA, pr-awaiting-response

#15490 Utility to help developers debug operators: Tensor Inspector
  src/common/tensor_inspector.h
Labels: NDArray, Operator, Visualization

#15579 Make Clojure API Generator Tests Less Brittle
  contrib/clojure-package/test/dev/generator_test.clj
Labels: Clojure

#15524 refine Nano setup directions
  docs/install/install-jetson.md
Labels: Doc, Edge devices

#13400 [MXNET-1229] use OpenBLAS, lapack & OpenCV from conan
  CMakeLists.txt
  cmake/Modules/FindOpenBLAS.cmake
  conanfile.py
Labels: pr-awaiting-review

#15526 Fix AMP Tutorial warnings and failures
  docs/tutorials/amp/amp_tutorial.md
Labels: Doc, Python, pr-awaiting-review

#15424 fixed config.mk and Makefile bugs for installing mkl
  Makefile
Labels: Installation, MKL

#14617 PDF operators for the random samplers, and also the Dirichlet
  python/mxnet/contrib/amp/lists/symbol.py
  src/operator/random/pdf_op.cc
  src/operator/random/pdf_op.cu
  src/operator/random/pdf_op.h
  tests/python/unittest/test_random.py
Labels: Operator, pr-awaiting-review

#14959 Group Normalization
  python/mxnet/contrib/amp/lists/symbol.py
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/nn/group_norm-inl.h
  src/operator/nn/group_norm.cc
  src/operator/nn/group_norm.cu
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_operator.py
Labels: Feature request, Operator

#15169 Softmax with length
  src/operator/mxnet_op.h
  src/operator/nn/softmax-inl.h
  src/operator/nn/softmax.cc
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-merge

#15270 Fix warnings in CLang.
  src/engine/naive_engine.cc
  src/engine/threaded_engine.h
  src/kvstore/kvstore_local.h
  src/profiler/profiler.h
Labels: Build, pr-awaiting-review

#15150 Fix dumps for Constant initializer
  python/mxnet/initializer.py
  tests/python/unittest/test_init.py
Labels: NDArray, pr-awaiting-review

#15590 Update CODEOWNER
  CODEOWNERS
Labels: pr-awaiting-review

#15477 Update profiler.md
  docs/tutorials/python/profiler.md
Labels: Doc

#15517 Tensor Inspector Tutorial
  docs/faq/add_op_in_backend.md
  docs/faq/develop_and_hack.md
  docs/faq/tensor_inspector_tutorial.md
Labels: NDArray, Operator, Visualization, pr-work-in-progress

#15608 julia: bump Windows prebult binary version to v1.5.0
  julia/REQUIRE
  julia/deps/build.jl
Labels: Backport 1.5, Julia, Windows

#15539 fix normalize mean error bug
  src/operator/image/image_random-inl.h
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-merge

#15616 julia: remove Travis CI related files
  julia/.travis.yml
  julia/test/travis/run_coverage.sh
  julia/test/travis/run_test.sh
  julia/test/travis/setup_env.sh
Labels: Julia

#15601 changed constructor args for TShape
  plugin/warpctc/warpctc-inl.h
Labels: Build, pr-awaiting-merge

#15614 [fix] print `self` in warning.
  python/mxnet/gluon/block.py
Labels: Gluon, pr-awaiting-merge

#15607 julia: bump binding version to v1.6.0
  julia/Project.toml
Labels: Julia

#15113 [MXNET-1411] solve pylint error issue#14851
  python/mxnet/contrib/onnx/mx2onnx/_export_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_translation_utils.py
  python/mxnet/contrib/text/vocab.py
  python/mxnet/gluon/trainer.py
  python/mxnet/gluon/utils.py
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  python/mxnet/model.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/test_utils.py
Labels: pr-awaiting-review

#15106 NER example: fix metrics computation
  example/named_entity_recognition/src/metrics.py
  example/named_entity_recognition/src/ner.py
  example/named_entity_recognition/src/preprocess.py
Labels: Example, Python, pr-awaiting-review

#15584 Add omp parallel optimization for _contrib_BilinearReisze2D
  src/operator/contrib/bilinear_resize.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#15137 1.5.0 news
  NEWS.md
Labels: Doc, pr-awaiting-review

#15620 fix LinearRegressionOutput with empty label
  cpp-package/example/CMakeLists.txt
  cpp-package/example/test_regress_label.cpp
  cpp-package/tests/ci_test.sh
  src/operator/regression_output-inl.h
Labels: Backend, Operator

#15072 bump up version from 1.5.0 to 1.6.0 on master
  R-package/DESCRIPTION
  contrib/clojure-package/README.md
  contrib/clojure-package/examples/bert/project.clj
  contrib/clojure-package/examples/captcha/project.clj
  contrib/clojure-package/examples/cnn-text-classification/project.clj
  contrib/clojure-package/examples/gan/project.clj
  contrib/clojure-package/examples/imclassification/project.clj
  contrib/clojure-package/examples/infer/imageclassifier/project.clj
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/predictor/project.clj
  contrib/clojure-package/examples/module/project.clj
  contrib/clojure-package/examples/multi-label/project.clj
  contrib/clojure-package/examples/neural-style/project.clj
  contrib/clojure-package/examples/pre-trained-models/project.clj
  contrib/clojure-package/examples/profiler/project.clj
  contrib/clojure-package/examples/rnn/project.clj
  contrib/clojure-package/examples/tutorial/project.clj
  contrib/clojure-package/examples/visualization/project.clj
  contrib/clojure-package/project.clj
  contrib/clojure-package/scripts/update_versions.sh
  docs/tutorials/scala/mxnet_scala_on_intellij.md
  julia/NEWS.md
  python/mxnet/libinfo.py
  scala-package/README.md
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArrayCollector.scala
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/java-demo/pom.xml
  scala-package/mxnet-demo/scala-demo/pom.xml
  scala-package/packageTest/README.md
  snapcraft.yaml
Labels: pr-awaiting-review, pr-work-in-progress

#15549 [Doc] add squeeze to Array change shape
  docs/api/python/ndarray/ndarray.md
Labels: Doc, pr-awaiting-review

#15606 [Opperf] Add array rearrange operators to opperf
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/array_rearrange.py
  benchmark/opperf/nd_operations/binary_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
  benchmark/opperf/utils/profiler_utils.py
Labels: Operator, Performance, pr-awaiting-review

#15518 [MKLDNN] Enable subgraph backend mkldnn by default.
  cpp-package/example/inference/README.md
  docs/faq/env_var.md
  docs/tutorials/c++/subgraphAPI.md
  docs/tutorials/mkldnn/MKLDNN_README.md
  example/quantization/README.md
  example/ssd/README.md
  scala-package/core/src/test/scala/org/apache/mxnet/OperatorSuite.scala
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/executor/graph_executor.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/default_subgraph_property.cc
  src/operator/subgraph/default_subgraph_property_v2.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  src/operator/subgraph/subgraph_property.h
  src/operator/subgraph/tensorrt/tensorrt.cc
  tests/python/mkl/test_quantization_mkldnn.py
  tests/python/unittest/test_operator.py
Labels: Backend, MKLDNN, pr-awaiting-review

#15631 [Flaky test] Skip test_operator_gpu.test_convolution_independent_gradients
  tests/python/unittest/test_operator.py
Labels: Flaky, Test

#15580 update profiler tutorial
  docs/tutorials/python/profiler.md
Labels: Doc, pr-awaiting-review

#15660 Bump Scala version to 1.6
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArrayCollector.scala
  scala-package/pom.xml
Labels: Scala

#15645 handle fix_gamma in tensorrt subgraph conversion correctly
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
  src/operator/subgraph/tensorrt/tensorrt.cc
  tests/python/tensorrt/test_tensorrt_batchnorm.py
Labels: pr-awaiting-review

#15641 update website for 1.5.0
  docs/_static/js/options.js
  docs/_static/mxnet-theme/index.html
  docs/install/download.md
  docs/install/index.md
Labels: Website

#14053 in-place reshape ops
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_ndarray.py
Labels: NDArray, pr-awaiting-merge

#15661 [OpPerf] PDF Random ops fix
  benchmark/opperf/README.md
  benchmark/opperf/rules/default_params.py
Labels: Performance, pr-awaiting-review

#15522 [Opperf] Add optimizer update operator benchmarks to opperf
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/nn_optimizer_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: Benchmark, Operator

#15617 Remove myself from CODEOWNERS
  CODEOWNERS
Labels: pr-awaiting-review

#15253 [MXNET-978] Add higher order gradient support `tan`, `tanh`
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Autograd, Operator, pr-awaiting-review

#15691 Fix USE_BLAS == openblas check
  Makefile
Labels: Bug, Build

#15498 Add -DMXNET_USE_OPENMP to Makefiles so runtime info gets updated accordingly
  Makefile
Labels: Bug, Installation, Makefile, pr-awaiting-review

#15651 update previous flaky naive engine test
  tests/python/unittest/test_profiler.py
Labels: Flaky, Test

#15609 update julia install doc
  docs/install/index.md
Labels: Backport 1.5, Doc, Julia

#15707 Add missing default axis value to symbol.squeeze op
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_symbol.py
Labels: Symbol, pr-awaiting-review

#15666 add deconv in TRT subgraph
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  tests/python/tensorrt/test_tensorrt_deconv.py
Labels: Backend, pr-awaiting-review

#15687 Fix Scala Symbolic API some/Some typo
  docs/api/scala/symbol.md
Labels: Scala, pr-awaiting-merge
