Repository apache/mxnet, pull requests merged in 2019-05, with the labels that each got.

#14807 Upgrade Pylint version to 2.3.1
  Makefile
  ci/docker/install/ubuntu_publish.sh
  ci/docker/install/ubuntu_python.sh
  cpp-package/tests/travis/setup.sh
  docs/install/requirements.txt
  python/mxnet/base.py
  python/mxnet/contrib/onnx/mx2onnx/_export_helper.py
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_translation_utils.py
  python/mxnet/contrib/quantization.py
  python/mxnet/contrib/text/vocab.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/trainer.py
  python/mxnet/gluon/utils.py
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  python/mxnet/io/io.py
  python/mxnet/model.py
  python/mxnet/module/base_module.py
  python/mxnet/module/python_module.py
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/ndarray_doc.py
  python/mxnet/operator.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/recordio.py
  python/mxnet/rnn/rnn_cell.py
  python/mxnet/symbol/symbol.py
  python/mxnet/test_utils.py
  tools/caffe_converter/compare_layers.py
  tools/caffe_converter/test_converter.py
Labels: CI, Python, pr-awaiting-merge

#14815 Print reproduction command on CI failure
  ci/build.py
Labels: CI, pr-awaiting-merge

#14692 Fix cmake installation failed (Fix #13578)
  CMakeLists.txt
Labels: Build, CMake, pr-awaiting-merge

#14813 [Clojure] Remove unneeded test files
  contrib/clojure-package/.gitignore
  contrib/clojure-package/test/test-ndarray-random-api.clj
  contrib/clojure-package/test/test-symbol-random-api.clj
Labels: Clojure, Test

#14849 [Fit API] update estimator
  python/mxnet/gluon/contrib/estimator/estimator.py
  tests/python/unittest/test_gluon_estimator.py
Labels: pr-awaiting-review

#14865 Update lstm_crf.py
  example/gluon/lstm_crf/lstm_crf.py
Labels: pr-awaiting-merge

#14824 Refactor ImageRecordIter
  docs/architecture/note_data_loading.md
  example/quantization/README.md
  example/quantization/imagenet_inference.py
  src/io/image_iter_common.h
  src/io/iter_image_recordio_2.cc
  tests/python/train/test_dtype.py
Labels: Data-loading

#14433 Prevent crashes for opencv exception and std::exception
  include/mxnet/c_api_error.h
  src/engine/threaded_engine.h
  tests/python/unittest/test_exc_handling.py
Labels: pr-awaiting-merge

#13226 [MXNet-1211] Factor and "Like" modes in BilinearResize2D operator
  CONTRIBUTORS.md
  python/mxnet/visualization.py
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/bilinear_resize.cc
  src/operator/contrib/bilinear_resize.cu
  tests/python/gpu/test_gluon_transforms.py
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#14870 [Bugfix] Fix layer norm for large input shape
  src/operator/nn/layer_norm-inl.h
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-review

#14837 [Dependency Update] Upgrade openssl to 1.1.1b
  tools/dependencies/openssl.sh
  tools/staticbuild/build_lib.sh
Labels: pr-awaiting-merge

#14884 [Dependency Update] Upgrade cuDNN & NCCL
  tools/setup_gpu_build_tools.sh
Labels: pr-awaiting-review

#14897 [numpy] Enable np op compat check with name prefix
  src/c_api/c_api_common.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
Labels: Numpy

#14889 fix add_n bug: when input mem overlap with output mem, results is wrong
  src/ndarray/ndarray_function.cc
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#14856 Fix the return type of sparse.clip operator
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_sparse_ndarray.py
Labels: pr-awaiting-merge

#14208 Add support for fast variable-length LSTM
  cpp-package/example/charRNN.cpp
  python/mxnet/gluon/rnn/rnn_layer.py
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/operator/rnn.cu
  tests/python/gpu/test_gluon_gpu.py
Labels: Backend, Gluon, RNN, pr-work-in-progress

#14910 Revert "[Dependency Update] Upgrade cuDNN & NCCL (#14884)"
  tools/setup_gpu_build_tools.sh
Labels: Build, pr-awaiting-review

#14908 [v1.4.x] Backport flaky test layer bidirectional fix
  tests/python/unittest/test_gluon_rnn.py
Labels: Flaky, Test, pr-awaiting-review

#14909 Adds additional CUDA build environments
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu80
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/install/ubuntu_cudnn.sh
  ci/jenkins/Jenkins_steps.groovy
Labels: CI, pr-awaiting-review

#14831 [numpy] Numpy dot
  python/mxnet/test_utils.py
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_dot.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, Operator

#14797 [MXNET-1400]adding large tensor support tests for depth_to_space and space_to_depth
  CONTRIBUTORS.md
  tests/nightly/test_large_array.py
Labels: pr-awaiting-merge, pr-awaiting-review

#14620 [Dependency Update] Upgrade the libpng to 1.6.35
  tools/dependencies/libpng.sh
Labels: Build, pr-awaiting-review

#14788 Improve dev_menu virtualenv handling
  dev_menu.py
Labels: Build, pr-awaiting-review

#14920 [1.4.x] Adds additional build envs
  Jenkinsfile
  ci/build.py
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu80
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu91
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/Dockerfile.publish.ubuntu1404_cpu
  ci/docker/install/ubuntu_cudnn.sh
  ci/docker/install/ubuntu_publish.sh
  ci/jenkins/Jenkins_steps.groovy
  dev_menu.py
Labels: CI, pr-awaiting-review

#14859 [numpy] Numpy-compatible Mean
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#14919 Add API documentation for upsampling operator with examples
  src/operator/nn/upsampling.cc
Labels: Doc, pr-awaiting-review

#14780 Deprecate NDArrayCollector and instead use ResourceScope
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArrayCollector.scala
  scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/io/NDArrayIter.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/benchmark/ScalaInferenceBenchmark.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/cnntextclassification/CNNTextClassification.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/customop/ExampleCustomOp.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/gan/GanMnist.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/infer/objectdetector/SSDClassifierExample.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/multitask/ExampleMultiTask.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyle.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/BoostInference.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/neuralstyle/end2end/BoostTrain.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/LstmBucketing.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TestCharRnn.scala
  scala-package/examples/src/main/scala/org/apache/mxnetexamples/rnn/TrainCharRnn.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/cnntextclassification/CNNClassifierExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/gan/GanExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/rnn/ExampleRNNSuite.scala
Labels: Scala, pr-awaiting-review

#12328 [MXNET-857] Add initial NVTX profiler implementation
  CMakeLists.txt
  Makefile
  amalgamation/amalgamation.py
  cmake/Modules/FindNVTX.cmake
  docs/api/python/profiler/profiler.md
  docs/tutorials/python/profiler.md
  docs/tutorials/python/profiler_nvprof.png
  docs/tutorials/python/profiler_nvprof_zoomed.png
  docs/tutorials/python/profiler_winograd.png
  make/config.mk
  src/profiler/nvtx.cc
  src/profiler/nvtx.h
  src/profiler/profiler.h
  tests/python/profiling/simple_forward.py
  tests/python/profiling/test_nvtx.py
Labels: CUDA, Profiler, pr-awaiting-review

#14621 [Dependency Update] Update libjpeg-turbo to 2.0.2
  tools/dependencies/libturbojpeg.sh
Labels: Build, pr-awaiting-review

#14923 Updates to cudnn package installation
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/install/centos7_cudnn.sh
Labels: CI, pr-awaiting-review

#14393 [MXNET-1352] Allow dynamic shape in while_loop and if conditionals
  include/mxnet/ndarray.h
  python/mxnet/executor.py
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/nnvm/plan_memory.cc
  src/operator/control_flow.cc
  tests/python/unittest/test_contrib_control_flow.py
Labels: Operator, pr-awaiting-review, pr-work-in-progress

#14927 Add numpy linspace
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  src/operator/tensor/init_op.cc
  src/operator/tensor/init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_ndarray.py
Labels: Numpy

#14903 Fix reshape to add in-place back
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/mkl/test_mkldnn.py
Labels: MKLDNN, pr-awaiting-review

#14926 use mx.context.num_gpus instead of mx.test_utils.list_gpus in MF reco…
  example/recommenders/demo1-MF.ipynb
Labels: Example, pr-awaiting-review

#14885 [Fit-API] Adress PR comments
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: pr-awaiting-review

#14931 Re-enable static cached_op optimization
  src/executor/attach_op_execs_pass.cc
  src/executor/exec_pass.h
  src/imperative/cached_op.cc
  src/imperative/imperative_utils.h
Labels: pr-awaiting-review

#14867 Improve order of execution of install scripts.
  ci/docker/Dockerfile.build.ubuntu_base_cpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
Labels: CI, pr-awaiting-review

#14914 Add primitive cache for MKL-DNN sum(elemwise_add operator
  src/operator/nn/mkldnn/mkldnn_sum.cc
  src/operator/tensor/elemwise_binary_op_basic.cc
Labels: MKLDNN, pr-awaiting-review

#14818 Support 3D input for MKL-DNN softmax operator
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Labels: MKLDNN, Operator

#14819 [MKLDNN] Enable more convolution + activation fusion
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/ssd/quantization.py
  python/mxnet/gluon/parameter.py
  python/mxnet/test_utils.py
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/mkldnn/mkldnn_conv-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  src/operator/subgraph/subgraph_property.h
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN

#14748 Sync Horovod distributed training examples with latest changes
  example/distributed_training-horovod/README.md
  example/distributed_training-horovod/gluon_mnist.py
  example/distributed_training-horovod/module_mnist.py
  example/distributed_training-horovod/resnet50_imagenet.py
Labels: Distributed, pr-awaiting-merge

#14830 Use env var to enforce safe accumulation in ReduceAxesCompute
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  docs/faq/env_var.md
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_operator.py
Labels: Backend, Operator, pr-work-in-progress

#14666 [MXNET-1287] Fix test memory with ResourceScope
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/customop/CustomOpExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/imclassification/IMClassificationExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/infer/imageclassifier/ImageClassifierExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/infer/predictor/PredictorExampleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/multitask/MultiTaskSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/neuralstyle/NeuralStyleSuite.scala
  scala-package/examples/src/test/scala/org/apache/mxnetexamples/rnn/ExampleRNNSuite.scala
  scala-package/mxnet-demo/scala-demo/src/main/scala/sample/ImageClassificationExample.scala
Labels: Scala, pr-awaiting-review

#14891 [Doc] Add MKL-DNN operator list
  docs/faq/env_var.md
  docs/faq/perf.md
  docs/install/index.md
  docs/tutorials/mkldnn/MKLDNN_README.md
  docs/tutorials/mkldnn/operator_list.md
  tests/tutorials/test_sanity_tutorials.py
Labels: pr-awaiting-review

#14629 [MXNET-1333] Estimator and Fit API
  ci/docker/runtime_functions.sh
  python/mxnet/gluon/contrib/estimator/__init__.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  python/mxnet/gluon/trainer.py
  tests/nightly/JenkinsfileForBinaries
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: Gluon, pr-awaiting-review

#14966 add ctx argument for rand_ndarray and rand_sparse_ndarray test util funcs
  python/mxnet/test_utils.py
Labels: Python, pr-awaiting-review

#14842 Implementation for equivalence of tf.moments
  src/operator/nn/moments-inl.h
  src/operator/nn/moments.cc
  src/operator/nn/moments.cu
  tests/python/unittest/test_operator.py
Labels: Operator

#14683 Adding loss operator of a Hawkes self-exciting process
  CONTRIBUTORS.md
  src/operator/contrib/hawkes_ll-inl.h
  src/operator/contrib/hawkes_ll.cc
  src/operator/contrib/hawkes_ll.cu
  tests/python/unittest/test_contrib_hawkesll.py
Labels: Operator, pr-awaiting-review

#14949 [MXNET-1402] MXNet docs change for 1.4.1 release
  NEWS.md
  README.md
  docs/_static/js/options.js
  docs/_static/mxnet-theme/index.html
  docs/install/download.md
  docs/install/index.md
Labels: Doc, pr-awaiting-response

#14988 [Dependency Update] Upgrade cuDNN & NCCL
  tools/setup_gpu_build_tools.sh
Labels: CI, pr-awaiting-merge

#14990 Fix test randint
  tests/nightly/test_large_array.py
Labels: pr-awaiting-merge

#14935 [OP] Accelerate GPU version of LayerNorm(axis=-1)
  src/operator/nn/layer_norm-inl.h
  src/operator/nn/layer_norm.cc
  src/operator/nn/layer_norm.cu
Labels: Operator, pr-awaiting-review

#14887 [Dependency Update] CUDA10.1 Support
  make/pip/pip_linux_cu101.mk
  make/pip/pip_linux_cu101mkl.mk
  tools/setup_gpu_build_tools.sh
Labels: pr-awaiting-review

#15006 [Flaky Test] Disables flaky test_l2_normalization
  tests/python/unittest/test_operator.py
Labels: CI, pr-awaiting-review

#15003 [Flaky Test] Disables flaky test_droupout
  tests/python/unittest/test_operator.py
Labels: CI, pr-awaiting-review

#14995 [MKLDNN] Remove repeat parts in MKLDNN.md
  docs/tutorials/mkldnn/MKLDNN_README.md
Labels: MKLDNN, pr-awaiting-review

#14896 Add STL checks via -D_GLIBCXX_ASSERTIONS in debug mode
  CMakeLists.txt
  Makefile
  src/operator/random/shuffle_op.cc
Labels: Build, CMake, pr-awaiting-review

#14869 Fix infer shape partial after unknown shape changed to -1
  src/operator/instance_norm-inl.h
  src/operator/l2_normalization-inl.h
  src/operator/l2_normalization.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/pooling.cc
  src/operator/pooling_v1-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/control_flow_op.h
  src/operator/tensor/dot-inl.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/indexing_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_infer_shape.py
Labels: pr-awaiting-review

#15016 [MXNET-1406] [BUG] Fix DLManagedTensor deleter
  include/mxnet/c_api.h
  include/mxnet/ndarray.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api.cc
  src/ndarray/ndarray.cc
Labels: C API, NDArray

#14944 [MXNET-1401] adding more operators to test support for Large Tensor
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review, pr-work-in-progress

#15002 Safe LayerNorm
  src/operator/nn/layer_norm-inl.h
  src/operator/nn/layer_norm.cu
  tests/python/unittest/test_operator.py
Labels: Operator, pr-work-in-progress

#15019 [Flaky Test] Disables flaky test_random_size_crop
  tests/python/unittest/test_image.py
Labels: Python, Test, pr-awaiting-merge

#14893 Integrating the MKL VML functions to MXNET to speed-up the (element-wised) mathematic computation
  src/operator/mkl_functions-inl.h
  src/operator/nn/layer_norm-inl.h
  src/operator/nn/layer_norm.cc
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/gpu/test_operator_gpu.py
Labels: pr-awaiting-review

#14900 Fix warning / static function in header.
  src/operator/nn/dropout-inl.h
  src/operator/nn/dropout.cc
Labels: Operator, pr-awaiting-review

#15041 Fix crash in random.shuffle operator
  src/operator/random/shuffle_op.cc
  tests/python/unittest/test_random.py
Labels: Operator, pr-awaiting-merge

#14879 Add cpu implementation for Deformable Convolution
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/deformable_convolution.cc
  src/operator/contrib/nn/deformable_im2col.cuh
  src/operator/contrib/nn/deformable_im2col.h
  tests/python/gpu/test_operator_gpu.py
Labels: pr-awaiting-review

#15014 [Flaky Test] Fixes flaky TensorRT Test
  tests/python/tensorrt/test_tensorrt_lenet5.py
Labels: Python, Test, pr-awaiting-review

#15038 [C++] fix type inconsistent issue when loading quantized parameters
  cpp-package/example/test_ndarray_copy.cpp
  cpp-package/include/mxnet-cpp/ndarray.h
  cpp-package/include/mxnet-cpp/ndarray.hpp
  cpp-package/tests/ci_test.sh
Labels: C++, NDArray, pr-awaiting-response

#14886 Add cpu implementation for Deformable PSROIPooling
  src/operator/contrib/deformable_psroi_pooling-inl.h
  src/operator/contrib/deformable_psroi_pooling.cc
  src/operator/contrib/deformable_psroi_pooling.cu
  tests/python/gpu/test_operator_gpu.py
Labels: pr-awaiting-review

#10951 [MXNET-545] Fix broken cython build
  CMakeLists.txt
  Makefile
  ci/Jenkinsfile_utils.groovy
  ci/docker/install/ubuntu_python.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  cmake/BuildCythonModules.cmake
  docs/faq/env_var.md
  docs/install/index.md
  make/config.mk
  python/mxnet/cython/base.pyi
  python/mxnet/cython/ndarray.pyx
  python/setup.py
Labels: pr-awaiting-review

#14713 MKLDNN RNN Inference Integration(fp32 LSTM and vRNN with tanh and relu)
  src/operator/nn/mkldnn/mkldnn_rnn_impl.h
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/operator/rnn_impl.h
Labels: pr-work-in-progress

#14252 Allow clearing gpu cache
  include/mxnet/c_api.h
  include/mxnet/storage.h
  python/mxnet/context.py
  src/c_api/c_api.cc
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
  src/storage/storage_manager.h
Labels: pr-work-in-progress

#14998 Revert the change on broadcast_to param shape
  src/operator/tensor/broadcast_reduce_op.h
  tests/python/unittest/test_operator.py
Labels: Bug

#15056 GPU RNN to use TempSpace resource for workspace.
  src/operator/rnn-inl.h
  src/operator/rnn.cc
Labels: Operator, RNN, pr-awaiting-review

#14638 [MXNET-1382] Add the index_array operator
  CONTRIBUTORS.md
  docs/api/python/ndarray/contrib.md
  docs/api/python/symbol/contrib.md
  python/mxnet/contrib/amp/lists/symbol.py
  src/operator/contrib/index_array-inl.h
  src/operator/contrib/index_array.cc
  src/operator/contrib/index_array.cu
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#15063 Rename np_compat to np_shape
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
  scala-package/core/src/main/scala/org/apache/mxnet/LibInfo.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NumpyScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NumpyScopeSuite.scala
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.cc
  scala-package/native/src/main/native/org_apache_mxnet_native_c_api.h
  src/c_api/c_api.cc
  src/c_api/c_api_executor.cc
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_symbolic.cc
  src/executor/infer_graph_attr_pass.cc
  src/imperative/imperative.cc
  src/imperative/imperative_utils.h
  src/ndarray/ndarray.cc
  src/operator/tensor/init_op.h
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_infer_shape.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Labels: Numpy, pr-awaiting-review

#15058 Fix typo in amalgamation README.md (TREAD->THREAD)
  amalgamation/README.md
Labels: Doc, pr-awaiting-review

#15033 Improve FC perf when no_bias=False
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_operator.py
Labels: C++, Operator, pr-awaiting-review

#15055 [numpy] Refactor np module (example runs through)
  example/numpy/demo.ipynb
  include/mxnet/tuple.h
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/utils.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
  src/operator/numpy/np_dot.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15068 NER example: fix divisions by zero
  example/named_entity_recognition/src/metrics.py
Labels: Example, Python, pr-awaiting-review

#14992 [MXNET-978] Support higher order gradient for `log`.
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Operator, pr-awaiting-review

#15065 [MXNET] Updated http://data.dmlc.ml/ links to http://data.mxnet.io/
  docs/model_zoo/index.md
  example/rcnn/README.md
Labels: Doc, pr-awaiting-response

#14946 Change mx.test_utils.list_gpus to mx.context.num_gpus where possible
  docs/tutorials/gluon/datasets.md
  docs/tutorials/gluon/info_gan.md
  docs/tutorials/gluon/learning_rate_finder.md
  docs/tutorials/gluon/learning_rate_schedules.md
  docs/tutorials/gluon/save_load_params.md
  docs/tutorials/nlp/cnn.md
  docs/tutorials/python/kvstore.md
  docs/tutorials/python/mnist.md
  docs/tutorials/python/profiler.md
  docs/tutorials/unsupervised_learning/gan.md
  example/adversary/adversary_generation.ipynb
  example/autoencoder/convolutional_autoencoder.ipynb
  example/bi-lstm-sort/bi-lstm-sort.ipynb
  example/distributed_training-horovod/gluon_mnist.py
  example/distributed_training-horovod/module_mnist.py
  example/image-classification/test_score.py
  example/multi-task/multi-task-learning.ipynb
  example/recommenders/demo2-dssm.ipynb
  example/svm_mnist/svm_mnist.py
  python/mxnet/gluon/contrib/nn/basic_layers.py
  tests/python/gpu/test_nccl.py
  tests/python/profiling/test_nvtx.py
  tools/caffe_converter/test_converter.py
Labels: pr-awaiting-merge

#15094 Fix the condition check in LayerNorm
  src/operator/nn/layer_norm.cc
Labels: Backend, Operator, pr-awaiting-review

#14568 NAG Optimizer with multi-precision support
  python/mxnet/optimizer/optimizer.py
  src/operator/optimizer_op-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  tests/python/unittest/test_optimizer.py
Labels: pr-awaiting-merge

#15081 fix gluon bi-rnn cell single step unroll
  python/mxnet/gluon/rnn/rnn_cell.py
  tests/python/unittest/test_gluon_rnn.py
Labels: Gluon, RNN

#15085 move amp test and change op support to warning
  tests/python/unittest/test_contrib_amp.py
Labels: Test

#15098 Add epsilon for tolerance level to fix flaky test random_resize_crop
  tests/python/unittest/test_image.py
Labels: Flaky, Python, Test

#15087 Fix R installation instructions (windows / mac)
  docs/install/index.md
  docs/install/osx_setup.md
  docs/install/windows_setup.md
Labels: Doc, R

#15027 Numpy-compatible stack
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/imperative/imperative.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy
