Repository apache/mxnet, pull requests merged in 2019-09, with the labels that each got.

#16066 Getting rid of excessive repetitions in test_pick
  tests/python/unittest/test_operator.py
Labels: CI, Test

#15865 [fix] Support nullop in `transpose`
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_symbol.py
Labels: Operator

#16014 NumPy-compatible Mean, Std and Var
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16074 Fix quantized_conv flaky test
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#15886 Graph Partition API
  include/mxnet/c_api.h
  python/mxnet/symbol/symbol.py
  src/c_api/c_api_symbolic.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/subgraph_property.h
  tests/python/unittest/test_subgraph_op.py
Labels: pr-awaiting-merge

#16077 Add fluent methods mean, std, var for ndarray
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16067 Reduce time cost of test_operator.test_norm, test_operator. test_laop_5 and test_sparse_operator.test_elemwise_binary_ops
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_sparse_operator.py
Labels: CI, Test

#15887 new 'raise' mode for nd.take and fix for backward of 'wrap' mode
  3rdparty/mshadow/mshadow/cuda/tensor_gpu-inl.cuh
  3rdparty/mshadow/mshadow/tensor.h
  3rdparty/mshadow/mshadow/tensor_cpu-inl.h
  3rdparty/mshadow/mshadow/tensor_gpu-inl.h
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Labels: Bug, Operator

#15899 Typedef cleanup
  include/mxnet/c_api.h
  include/mxnet/c_api_test.h
  include/mxnet/c_predict_api.h
  include/mxnet/imperative.h
  src/c_api/c_api.cc
  src/c_api/c_api_common.h
  src/c_api/c_api_executor.cc
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/c_api/c_predict_api.cc
  src/imperative/imperative.cc
Labels: pr-awaiting-review, pr-work-in-progress

#15878 numpy multinomial op
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  src/operator/numpy/random/np_multinomial_op.cc
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#16071 MKL-DNN RNN checks NDArray version
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/unittest/test_operator.py
Labels: MKLDNN

#16080 [Numpy] add numpy operator remainder
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Labels: Numpy

#15941 Add Large tensor vector test cases
  src/operator/sequence_last-inl.h
  src/operator/sequence_reverse-inl.h
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: Operator

#16094 typo in docs
  docs/install/build_from_source.md
Labels: pr-awaiting-merge

#15889 Enable tvm_op for ci
  CMakeLists.txt
  Makefile
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/install/ubuntu_python.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/src/main/scala/org/apache/mxnet/util/NativeLibraryLoader.scala
  src/operator/contrib/tvmop/ufunc.cc
  tests/python/unittest/test_tvm_op.py
Labels: CI

#16079 Test large vector mean operator and fix a few bugs
  src/common/tensor_inspector.h
  src/operator/mshadow_op.h
  src/operator/tensor/broadcast_reduce-inl.h
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-merge

#15768 Fix gradient tensor mutate in `{adam/ftrl/rmprop/rmspropalex}_update`.
  src/operator/optimizer_op-inl.h
  tests/python/unittest/test_ndarray.py
Labels: Operator

#16069 Speed up group executor
  python/mxnet/module/executor_group.py
Labels: Performance, Python, pr-awaiting-review

#15869 [DOC] Fix doc for nn.Embedding, nn.Dense and nd.Embedding
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/tensor/indexing_op.cc
Labels: pr-awaiting-review

#15531 [MXNET-978] Higher Order Gradient Support `arctan`, `arctanh`, `radians`.
  src/nnvm/node_op_util.h
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Operator, pr-awaiting-review

#16040 Revert accidental change to CMakelists
  CMakeLists.txt
Labels: CMake, pr-awaiting-merge, pr-awaiting-review

#15474 [MXNET-978] Higher Order Gradient Support `sqrt`, `cbrt`.
  src/operator/tensor/elemwise_unary_op_pow.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Backend, Operator, pr-awaiting-review

#15746 [MXNET-978] Higher Order Gradient Support `clip`, `dropout`.
  src/operator/nn/dropout.cc
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Operator

#14251 Fix unary operator ceil/floor/trunc when data type is integer
  src/operator/math_functions-inl.h
  tests/python/unittest/test_ndarray.py
Labels: pr-awaiting-review

#15568 julia: rename build env var `MXNET_HOME` to `MXNET_ROOT`
  ci/docker/runtime_functions.sh
  ci/windows/test_jl07_cpu.ps1
  ci/windows/test_jl10_cpu.ps1
  julia/NEWS.md
  julia/deps/build.jl
  julia/docs/src/user-guide/install.md
  julia/src/base.jl
Labels: Build, Julia

#16041 [DOC] Consistent capitalization: mxnet -> MXNet, scala -> Scala
  CONTRIBUTORS.md
Labels: Doc, pr-awaiting-review

#16117 Clojure: Support MKLDNN subgraph backend in tests
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
Labels: Clojure, MKLDNN

#16064 [mkldnn-v1.0] Enable base code with new APIs.
  include/mxnet/base.h
  include/mxnet/ndarray.h
  mkldnn.mk
  src/ndarray/ndarray.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_sum.cc
Labels: MKLDNN

#16136 Reducing memory footprint of one_hot for Large Array Testing
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-review

#15412 [MXNET-978] Higher Order Gradient Support `sinh`, `cosh`.
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: pr-awaiting-review

#16147 Revert "julia: rename build env var `MXNET_HOME` to `MXNET_ROOT` (#15…
  ci/docker/runtime_functions.sh
  ci/windows/test_jl07_cpu.ps1
  ci/windows/test_jl10_cpu.ps1
  julia/NEWS.md
  julia/deps/build.jl
  julia/docs/src/user-guide/install.md
  julia/src/base.jl
Labels: CI, Julia, Website

#15837 Numpy add numpy op indices
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16157 Fix remaining errors reported by D2L
  python/mxnet/_numpy_op_doc.py
  python/mxnet/gluon/loss.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15851 [Numpy] Numpy copysign
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16016 [numpy] operator ravel, derive from reshape
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, Operator, pr-awaiting-review

#16141 [mkldnn-v1.0] Add MKL-DNN Convolution
  include/mxnet/ndarray.h
  src/common/exec_utils.h
  src/executor/attach_op_execs_pass.cc
  src/imperative/imperative_utils.h
  src/ndarray/ndarray.cc
  src/operator/nn/convolution.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/operator_common.h
  src/operator/tensor/cast_storage-inl.h
Labels: MKLDNN

#15839 Add register_op_hook for gluon
  include/mxnet/c_api.h
  python/mxnet/_ctypes/ndarray.py
  python/mxnet/cython/base.pyi
  python/mxnet/cython/ndarray.pyx
  python/mxnet/gluon/block.py
  src/c_api/c_api_ndarray.cc
  src/common/utils.cc
  src/common/utils.h
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
  tests/python/unittest/test_gluon.py
Labels: pr-awaiting-review

#16183 Fix README Build Status
  README.md
Labels: Doc

#16204 [Numpy] Fix multinomial bug on gpu
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#15853 Float64 fallback for mkldnn subgraph and rnn op
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/rnn.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/subgraph/subgraph_property.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/mkl/test_subgraph.py
  tests/python/unittest/test_operator.py
Labels: MKLDNN

#15795 [Numpy] Differentiable svd
  python/mxnet/_numpy_op_doc.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/numpy/linalg/np_gesvd-inl.h
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/linalg/np_gesvd.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16211 [Numpy] Fix numerical error in multinomial's pvalue check
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_multinomial_op.h
Labels: Numpy

#16195 [mkldnn-v1.0] Add MKL-DNN activation
  src/operator/nn/activation.cc
  src/operator/nn/mkldnn/mkldnn_act-inl.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
Labels: MKLDNN

#15144 Relax Visual Studio version constraint in the specialization of `dmlc::type_name_helper<DT>` for `DT=mxnet::Tuple<T>`
  include/mxnet/tuple.h
Labels: Backend, pr-awaiting-review

#16226 [MXNET-1422] Fix wrong results of min([inf, inf]) and max([-inf,-inf])
  3rdparty/mshadow/mshadow/base.h
  tests/python/unittest/test_operator.py
Labels: Backend, Bug, Operator

#16203 removing 64 bit un-used APIs MXNDArrayLoadFromBuffer64 and MXNDArrayLoad64
  include/mxnet/c_api.h
Labels: pr-awaiting-review

#15850 [Numpy] Numpy vstack
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16219 Faster Scala NDArray to BufferedImage function
  scala-package/core/src/main/scala/org/apache/mxnet/Image.scala
Labels: Performance, Scala

#15902 Numpy add numpy op roll
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16008 [Numpy] Trace
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_trace_op-inl.h
  src/operator/numpy/np_trace_op.cc
  src/operator/numpy/np_trace_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy, pr-awaiting-review

#15815 Numpy add numpy op hanning, hamming, blackman
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_window_op.cc
  src/operator/numpy/np_window_op.cu
  src/operator/numpy/np_window_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16236 [MXNET-1427] julia: implement `context.num_gpus`
  julia/src/MXNet.jl
  julia/src/context.jl
  julia/test/unittest/context.jl
  python/mxnet/context.py
Labels: Julia

#16235 julia: add `AbstractMXError` as parent type
  julia/NEWS.md
  julia/src/MXNet.jl
  julia/src/base.jl
  julia/src/exceptions.jl
  julia/test/unittest/exceptions.jl
Labels: Julia

#15819 [Numpy]flip
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16126 [numpy] operator around
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op.h
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15890 [Numpy] operator arctan2
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/math_functions-inl.h
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15838 [numpy] nonzero
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_nonzero_op-inl.h
  src/operator/numpy/np_nonzero_op.cc
  src/operator/numpy/np_nonzero_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15901 [Numpy] operator hypot
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16015 [numpy][tvm] rad2deg && deg2rad
  contrib/tvmop/basic/ufunc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/contrib/tvmop/ufunc.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16199 [mkldnn-v1.0] Add MKL-DNN BN
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Labels: MKLDNN

#16223 [mkldnn-v1.0] Add MKL-DNN LRN
  src/operator/nn/lrn.cc
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
Labels: MKLDNN

#16075 Integrate MKL-DNN leakyrelu
  src/operator/leaky_relu-inl.h
  src/operator/leaky_relu.cc
  src/operator/leaky_relu.cu
  src/operator/nn/mkldnn/mkldnn_act-inl.h
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv-inl.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  tests/python/mkl/test_subgraph.py
  tests/python/unittest/test_gluon.py
Labels: MKLDNN

#15845 [Numpy] Implements ldexp operator
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15846 Numpy Operators: Inner, Outer, vdot
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16039 FullyConnected Bias performance improvement on GPU
  src/common/cuda_utils.h
  src/operator/mxnet_op.h
  src/operator/nn/fully_connected-inl.h
Labels: CUDA, Operator, pr-awaiting-review

#15813 Fix lack of dylib support in Makefile when use lapack
  Makefile
Labels: Makefile

#16250 [mkldnn-v1.0] Add MKL-DNN Transpose
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_transpose.cc
  src/operator/tensor/matrix_op.cc
Labels: MKLDNN

#15861 Numpy det and slogdet operator
  python/mxnet/_numpy_op_doc.py
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.cu
  src/operator/tensor/la_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16255 fix broken links in README and website
  README.md
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/pages/api/cpp/index.md
  docs/static_site/src/pages/get_started/index.html
  docs/static_site/src/pages/get_started/windows_setup.md
Labels: Website

#16289 Fix MXNDArrayGetData for MKLDNN
  src/c_api/c_api.cc
Labels: MKLDNN

#16271 add google-analytics config
  docs/static_site/src/_config_prod.yml
Labels: Website

#16197 Factorize CUDA_KERNEL_LOOP used in CUDA kernels
  src/operator/contrib/count_sketch.cu
  src/operator/contrib/deformable_psroi_pooling.cu
  src/operator/contrib/psroi_pooling.cu
  src/operator/contrib/roi_align.cu
  src/operator/correlation.cu
Labels: pr-awaiting-merge

#15611 [MXNET-978] n-th order gradient test support.
  tests/python/unittest/test_higher_order_grad.py
Labels: pr-awaiting-review

#16299 Minor fix in ToTensor documentation.
  python/mxnet/gluon/data/vision/transforms.py
Labels: pr-awaiting-merge

#16246 [mkldnn-v1.0] Add MKL-DNN softmax
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Labels: MKLDNN

#16221 [mkldnn-v1.0] Add MKL-DNN FC
  src/imperative/imperative_utils.h
  src/operator/nn/fully_connected.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
Labels: MKLDNN

#16305 [numpy] Cosmetic improvement on mxnet.numpy builtin op signature in documentation
  python/mxnet/__init__.py
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/numpy_op_signature.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#14779 [MXNET-978] Fully connected, higher order grad
  include/mxnet/tensor_blob.h
  src/operator/linalg.h
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Autograd, Backend, pr-awaiting-merge

#15530 [MXNET-978] Higher Order Gradient Support `arcsinh`, `arccosh`.
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Operator, pr-awaiting-review
