Repository apache/mxnet, pull requests merged in 2019-08, with the labels that each got.

#15692 Add MKLDNN 4c layout to fix gluoncv se_resnext101_64x4d
  src/operator/nn/mkldnn/mkldnn_base.cc
Labels: MKLDNN, pr-awaiting-merge

#15637 Fix _copy_to on MKLDNN backend
  src/imperative/imperative_utils.h
Labels: MKLDNN

#15109 [DOC] refine autograd docs
  docs/api/python/autograd/autograd.md
  python/mxnet/autograd.py
  python/mxnet/ndarray/ndarray.py
Labels: Doc, pr-awaiting-merge

#15693 Fix quantized concat when inputs are mixed int8 and uint8
  src/operator/quantization/mkldnn/mkldnn_quantized_concat.cc
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN, Quantization

#15448 [MKLDNN]Enhance Quantization APIs and Tutorial
  docs/tutorials/index.md
  docs/tutorials/mkldnn/mkldnn_quantization.md
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym_mkldnn.py
  python/mxnet/contrib/quantization.py
  tests/tutorials/test_tutorials.py
Labels: Doc, MKLDNN

#15713 make TransposeShape infer shape form both sides
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_operator.py
Labels: Backend, Operator, pr-awaiting-review

#15353 [MXNET-1358]Fit api tutorial
  docs/api/python/gluon/contrib.md
  docs/tutorials/gluon/fit_api_tutorial.md
  docs/tutorials/index.md
  python/mxnet/gluon/contrib/__init__.py
  python/mxnet/gluon/contrib/estimator/__init__.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
  tests/tutorials/test_tutorials.py
Labels: pr-awaiting-review

#15680 Add magic method `abs` to NDArray and Symbol.
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_symbol.py
Labels: NDArray, pr-awaiting-merge

#15731 Fix contrib.boolean_mask for 0-size output
  include/mxnet/ndarray.h
  src/imperative/imperative.cc
  src/ndarray/ndarray.cc
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/boolean_mask.cu
  tests/python/unittest/test_operator.py
Labels: Bug, pr-awaiting-review

#14898 prevent TRT_Logger to be destroyed before TRT engine
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  src/operator/subgraph/tensorrt/tensorrt.cc
Labels: pr-awaiting-review

#15697 Fix dropout mask output when built with MKL
  src/operator/nn/dropout-inl.h
  src/operator/nn/dropout.cc
Labels: MKLDNN, Operator, pr-awaiting-review

#15714 Fix broadcast op param
  benchmark/opperf/rules/default_params.py
Labels: Operator, Performance

#15489 Dynamic Library Loading Support
  CMakeLists.txt
  Makefile
  example/lib_api/Makefile
  example/lib_api/libtest.cc
  example/lib_api/mylib.cc
  example/lib_api/test.py
  include/mxnet/c_api.h
  include/mxnet/lib_api.h
  python/mxnet/__init__.py
  python/mxnet/base.py
  python/mxnet/library.py
  src/c_api/c_api.cc
  src/common/library.cc
  src/common/library.h
  src/engine/naive_engine.cc
  src/engine/threaded_engine.h
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_library_loading.py
Labels: Backend, C API

#15708 DMLC link removal
  docs/api/julia/index.md
  docs/faq/bucketing.md
  docs/install/osx_setup.md
  docs/install/ubuntu_setup.md
  docs/install/windows_setup.md
  docs/tutorials/scala/char_lstm.md
  docs/tutorials/tensorrt/inference_with_trt.md
  example/neural-style/end_to_end/README.md
  tools/coreml/README.md
  tools/coreml/test/test_mxnet_models.py
Labels: Doc

#15689 Add Gather_nd Scatter_nd to NDArray API category doc
  docs/api/python/ndarray/ndarray.md
Labels: Doc

#15045 [Dependency Update] Dependency update doc
  tools/dependencies/README.md
Labels: Doc, pr-awaiting-review

#15754 Add quantization support for GluonCV
  python/mxnet/contrib/quantization.py
  tests/python/mkl/test_quantization_mkldnn.py
  tests/python/quantization/test_quantization.py
Labels: MKLDNN, Quantization

#15007 Add matrix determinant operator in linalg
  docs/api/python/symbol/linalg.md
  python/mxnet/contrib/amp/lists/symbol.py
  src/operator/linalg.h
  src/operator/linalg_impl.h
  src/operator/tensor/la_op-inl.h
  src/operator/tensor/la_op.cc
  src/operator/tensor/la_op.cu
  src/operator/tensor/la_op.h
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#15751 Fix the bug of `MXEnginePushAsyncND` and `MXEnginePushSyncND`
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  tests/cpp/engine/threaded_engine_test.cc
Labels: API change, Bug, pr-awaiting-merge

#15792 [Backport][v1.5.x] Fix the bug of `MXEnginePushAsyncND` and `MXEnginePushSyncND`
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  tests/cpp/engine/threaded_engine_test.cc
Labels: pr-awaiting-merge

#15664 add int8 bn mkldnn implementation and test
  cpp-package/scripts/OpWrapperGenerator.py
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_batch_norm.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_batch_norm.cc
  tests/python/quantization/test_quantization.py
Labels: Backend, MKLDNN, pr-awaiting-review

#13143 [MXNET-1206] Support NDArray indexing with None and Ellipsis
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/test_utils.py
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_dgl_graph.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_operator.py
Labels: NDArray, pr-awaiting-testing

#15810 Numpy-compatible Sum
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15762 Refactor LibraryInitializer so it's thread safe. Fixes random sporadical concurrency crashes.
  CMakeLists.txt
  docs/faq/env_var.md
  src/c_api/c_api.cc
  src/common/library.cc
  src/common/library.h
  src/common/utils.h
  src/engine/threaded_engine_perdevice.cc
  src/initialize.cc
  src/initialize.h
  src/profiler/profiler.h
Labels: pr-awaiting-review

#15688 Fix backward_clip num inputs and type of clip params
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_operator.py
Labels: Backend, Operator, pr-awaiting-review

#15798 [Numpy] Numpy compatible slicing
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Labels: Numpy

#15835 Making Features as a singleton for improved caching
  python/mxnet/runtime.py
  tests/python/unittest/test_runtime.py
Labels: pr-awaiting-merge, pr-awaiting-review

#15820 Numpy Tensordot and Dot Operator
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_dot-inl.h
  src/operator/numpy/np_dot.cc
  src/operator/numpy/np_dot.cu
  src/operator/numpy/np_tensordot_op-inl.h
  src/operator/numpy/np_tensordot_op.cc
  src/operator/numpy/np_tensordot_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15868 fixing problem with existing Singleton Caching
  python/mxnet/runtime.py
Labels: pr-awaiting-merge, pr-awaiting-review

#15852 numpy linspace
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/init_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15593 Large Index Support for Slice
  include/mxnet/c_api.h
  include/mxnet/c_predict_api.h
  python/mxnet/base.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  src/c_api/c_api.cc
  src/c_api/c_api_common.h
  src/c_api/c_api_executor.cc
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_profile.cc
  src/c_api/c_api_symbolic.cc
  src/imperative/imperative.cc
  src/imperative/imperative_utils.h
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/slice-inl.h
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-merge, pr-awaiting-review, pr-work-in-progress

#15854 Enhance tvm infra for op attrs
  contrib/tvmop/compile.py
  contrib/tvmop/opdef.py
Labels: Numpy

#15841 Numpy-compatible split upstream
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15903 [Numpy] Random.randn() implemented.
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15541 [Opperf] Filter out deprecated ops
  benchmark/opperf/utils/op_registry_utils.py
Labels: Benchmark, Operator

#15926 Add disable attr to subgraph property
  docs/tutorials/c++/subgraphAPI.md
  src/c_api/c_api_symbolic.cc
  src/executor/graph_executor.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/subgraph_property.h
Labels: MKLDNN

#15842 Numpy-compatible stack upstream
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15777 Re-enable flaky test_prelu
  tests/python/unittest/test_operator.py
Labels: Flaky, Test, pr-awaiting-merge

#15736 [OpPerf] Take care of 4d param
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: Performance, pr-awaiting-review

#15944 removing unnecessary int64 C apis
  include/mxnet/c_api.h
Labels: pr-awaiting-review

#15939 Discard needless test cases in `test_convolution_independent_gradients`
  tests/python/unittest/test_operator.py
Labels: Test

#15900 Reduce memory footprint in Large array nightly tests
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review, pr-work-in-progress

#15769 Benchmark doc fix
  benchmark/opperf/README.md
Labels: Doc

#15895 Adding tests and C APIs for Large Tensors
  include/mxnet/c_api.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api.cc
  src/operator/tensor/dot-inl.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review, pr-work-in-progress

#15574 fix naive engine for multi-threaded inference
  src/engine/naive_engine.cc
Labels: Thread Safety

#15910 [Quantization]support exclude operators while quantization
  docs/tutorials/mkldnn/mkldnn_quantization.md
  example/quantization/imagenet_gen_qsym.py
  include/mxnet/c_api.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/quantization/quantize_graph_pass.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#15858 [Numpy] Numpy behavior random.uniform()
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/dist_common.h
  src/operator/numpy/random/np_uniform_op.cc
  src/operator/numpy/random/np_uniform_op.cu
  src/operator/numpy/random/np_uniform_op.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#15896 [Dependency Update] [Doc] move the general prerequisite software to the top
  tools/dependencies/README.md
Labels: Doc

#15950 [MKLDNN]Support fullyconnected and element-wise ops fusion
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc-inl.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN

#15938 Tvm broadcast backward
  contrib/tvmop/__init__.py
  contrib/tvmop/basic/ufunc.py
  contrib/tvmop/utils.py
  src/operator/contrib/tvmop/ufunc.cc
  tests/python/unittest/test_tvm_op.py
Labels: Numpy

#15870 update support MKLDNN BN conditions
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  tests/python/unittest/test_operator.py
Labels: MKLDNN

#15831 Numpy-compatible element-wise unary operators upstream
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15560 Add fp16 support for topk
  src/operator/tensor/ordering_op-inl.h
  src/operator/tensor/sort_op-inl.cuh
  tests/python/unittest/test_operator.py
Labels: FP16, Operator, pr-awaiting-review

#15772 Add symbol api for randn and fix shape issue for randn ndarray and symbol api
  docs/api/python/symbol/symbol.md
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  tests/python/unittest/test_random.py
Labels: Bug, Doc, Operator

#15930 Fix dtype inference in arange_like operator
  src/operator/tensor/init_op.cc
  src/operator/tensor/init_op.h
  tests/python/gpu/test_operator_gpu.py
Labels: Operator

#16000 [MKLDNN] Fix out of bound access of req vector
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Labels: MKLDNN

#16003 add uint8 bn mkldnn implementation
  example/quantization/imagenet_gen_qsym_mkldnn.py
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#15956 [Numpy] random.randint() implemented
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/random/sample_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16026 [v1.5.x] remove Julia cat image for license issue (#15964)
  julia/examples/imagenet/ijulia-pretrained-predict/Prediction with Pre-trained Model.ipynb
  julia/examples/imagenet/ijulia-pretrained-predict/cat.png
Labels: Example, Julia, pr-awaiting-review

#16013 Windows cmake flags cleanup
  ci/build_windows.py
  cmake/cmake_options.yml
Labels: Build

#15715 Improve diagnose.py to display environment variables
  tools/diagnose.py
Labels: pr-awaiting-merge

#15961 Improve quantization flow
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym.py
  example/quantization/imagenet_gen_qsym_mkldnn.py
  example/ssd/quantization.py
  include/mxnet/c_api.h
  include/mxnet/op_attr_types.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/common/utils.h
  src/executor/graph_executor.cc
  src/operator/nn/mkldnn/mkldnn_flatten-inl.h
  src/operator/nn/mkldnn/mkldnn_flatten.cc
  src/operator/quantization/calibrate-inl.h
  src/operator/quantization/calibrate.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/quantization/quantization_utils.h
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_batch_norm.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
  tests/python/unittest/test_operator.py
Labels: MKLDNN

#16018 Port ops from np branch
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/numpy_extension/random.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/np_broadcast_reduce_op_index.cc
  src/operator/numpy/np_broadcast_reduce_op_index.cu
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_extended.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#14874 [MXNET-1399] multiclass-mcc metric enhancements
  python/mxnet/metric.py
  tests/python/unittest/test_metric.py
Labels: pr-awaiting-review

#13627 [MXNET-895] ONNX import/export: TopK
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_import_helper.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
Labels: ONNX, pr-awaiting-merge

#15924 Numpy-compatible cumsum upstream
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_cumsum-inl.h
  src/operator/numpy/np_cumsum.cc
  src/operator/numpy/np_cumsum.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16035 Update README.md
  README.md
Labels: Doc, pr-awaiting-merge

#16017 Add RROIAlign
  src/operator/contrib/rroi_align-inl.h
  src/operator/contrib/rroi_align.cc
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-merge

#15803 [v1.5.x] Fix _copy_to on MKLDNN backend (#15637)
  src/imperative/imperative_utils.h
Labels: pr-awaiting-review

#16024 NumPy-compatible infrastructure on Gluon
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/gluon/data/vision/datasets.py
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/model_zoo/vision/resnet.py
  python/mxnet/gluon/nn/activations.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/gluon/utils.py
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  python/mxnet/initializer.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16034 [MKLDNN] fix uint8 batch norm memory misuse
  example/quantization/README.md
  example/quantization/imagenet_gen_qsym_mkldnn.py
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_batch_norm.cc
Labels: MKLDNN

#15981 Disable test coverage of C++ codebase on CI
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_clang
  include/mxnet/tuple.h
Labels: pr-awaiting-merge, pr-awaiting-review

#16047 Support range as advanced index for ndarrays
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#15960 Added more tests for Large Indices
  src/ndarray/ndarray_function.cc
  src/operator/tensor/indexing_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-merge, pr-awaiting-review

#16046 Numpy compatible max min
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16043 [v1.5.x] add deconv in TRT subgraph (#15666)
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  tests/python/tensorrt/test_tensorrt_deconv.py
Labels: C++, Operator
