Repository apache/mxnet, pull requests merged in 2019-02, with the labels that each got.

#14032 re-enable flaky test
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#14033 update the scala installation tutorial on intellij
  docs/tutorials/scala/mxnet_scala_on_intellij.md
Labels: pr-awaiting-merge

#13837 Image ToTensor operator - GPU support, 3D/4D inputs
  python/mxnet/gluon/data/vision/transforms.py
  src/operator/image/image_random-inl.h
  src/operator/image/image_random.cc
  src/operator/image/image_random.cu
  tests/python/gpu/test_gluon_transforms.py
  tests/python/unittest/test_gluon_data_vision.py
Labels: Gluon, Operator, pr-awaiting-review

#14065 Fix website scala doc
  docs/mxdoc.py
Labels: Doc, Scala, pr-awaiting-review

#14043 Update NOTICE
  NOTICE
Labels: pr-awaiting-merge

#14041 modifying SyncBN doc for FP16 use case
  python/mxnet/gluon/contrib/nn/basic_layers.py
Labels: Doc, pr-awaiting-merge

#14039 add new cloud providers to install page
  docs/install/index.md
Labels: Website, pr-awaiting-review

#13896 Cudnn dropout
  docs/faq/env_var.md
  include/mxnet/resource.h
  python/mxnet/gluon/nn/basic_layers.py
  src/executor/attach_op_resource_pass.cc
  src/imperative/imperative_utils.h
  src/operator/cudnn_rnn-inl.h
  src/operator/nn/dropout-inl.h
  src/operator/nn/dropout.cc
  src/operator/nn/dropout.cu
  src/resource.cc
  tests/cpp/include/test_core_op.h
  tests/cpp/include/test_legacy_op.h
  tests/python/unittest/test_operator.py
Labels: Operator

#14016 fix test_depthwise_convoltuion for occasional CI failures
  tests/python/unittest/test_operator.py
Labels: Flaky, Test, pr-awaiting-merge

#13981 ONNX export: broadcast_to, tile ops
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/test_node.py
Labels: ONNX, pr-awaiting-review

#13609 [MXNET-1258]fix unittest for ROIAlign Operator
  tests/python/unittest/test_operator.py
Labels: Test, pr-awaiting-merge

#14055 Fix performance regression in normalize operator
  src/operator/image/image_random-inl.h
  tests/python/gpu/test_gluon_transforms.py
Labels: Operator, pr-awaiting-review

#13702 Add maven wrapper to scala project.
  scala-package/.mvn/wrapper/.gitignore
  scala-package/.mvn/wrapper/MavenWrapperDownloader.java
  scala-package/.mvn/wrapper/maven-wrapper.properties
  scala-package/mvnw
  scala-package/mvnw.cmd
Labels: Scala, pr-awaiting-merge

#14067 Increase perfomance of BulkAppend and BulkFlush
  src/engine/threaded_engine.h
Labels: Performance, pr-awaiting-merge

#14070 [MXNET-1178] updating scala docs
  scala-package/core/src/main/scala/org/apache/mxnet/Context.scala
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ObjectDetector.scala
Labels: Doc, Scala, pr-awaiting-review

#14076 update the scala nightly version name
  scala-package/README.md
Labels: Scala, pr-awaiting-review

#13680 [MXNET-1121] Example to demonstrate the inference workflow using RNN
  cpp-package/README.md
  cpp-package/cpp-package.mk
  cpp-package/example/README.md
  cpp-package/example/inference/README.md
  cpp-package/example/inference/inference.mk
  cpp-package/example/inference/sentiment_analysis_rnn.cpp
  cpp-package/example/inference/unit_test_inception_inference.sh
  cpp-package/example/inference/unit_test_sentiment_analysis_rnn.sh
  cpp-package/include/mxnet-cpp/executor.hpp
  cpp-package/tests/ci_test.sh
Labels: Example, pr-awaiting-review

#13244 hybridize rnn and add model graph
  example/gluon/word_language_model/README.md
  example/gluon/word_language_model/model-graph.png
  example/gluon/word_language_model/model.py
  example/gluon/word_language_model/train.py
Labels: Gluon, pr-awaiting-review

#14060 Exclude concat layer for gpu quantization
  example/quantization/imagenet_gen_qsym.py
Labels: Quantization, pr-awaiting-review

#14083 Remove inplace support for ToTensor operator
  src/operator/image/image_random.cc
Labels: Operator, pr-awaiting-review

#13815 [MXNET-1291] solve pylint errors in examples with issue no.12205
  example/bayesian-methods/algos.py
  example/bayesian-methods/bdk_demo.py
  example/bayesian-methods/data_loader.py
  example/bayesian-methods/utils.py
  example/caffe/caffe_net.py
  example/caffe/data.py
  example/caffe/train_model.py
  example/capsnet/capsulelayers.py
  example/capsnet/capsulenet.py
  example/cnn_chinese_text_classification/data_helpers.py
  example/cnn_chinese_text_classification/text_cnn.py
  example/cnn_text_classification/data_helpers.py
  example/deep-embedded-clustering/model.py
  example/deep-embedded-clustering/solver.py
Labels: pr-awaiting-merge

#14119 [WIP] increased docker shared memory for nightly test
  tests/nightly/JenkinsfileForBinaries
Labels: Gluon, pr-work-in-progress

#14099 Performance improvement in ToTensor GPU Kernel
  src/operator/image/image_random-inl.h
  src/operator/image/image_random.cu
Labels: Operator, Performance, pr-awaiting-review

#14079 Add libhdf5-dev to ubuntu_core.sh
  ci/docker/install/ubuntu_core.sh
Labels: CI, pr-awaiting-review

#13964 Addresses comments in runtime feature discovery API
  CMakeLists.txt
  include/mxnet/base.h
  include/mxnet/c_api.h
  include/mxnet/libinfo.h
  python/mxnet/mxfeatures.py
  python/mxnet/runtime.py
  src/c_api/c_api.cc
  src/c_api/c_api_profile.cc
  src/libinfo.cc
  tests/cpp/misc/libinfo_test.cc
  tests/python/unittest/test_features.py
  tests/python/unittest/test_runtime.py
Labels: Build, pr-awaiting-response

#14025 Julia: enable integration test
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  julia/src/executor.jl
  julia/test/runtests.jl
Labels: Julia, Symbol, pr-awaiting-review

#14121 ONNX export: Support equal length splits
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/mx2onnx/export_onnx.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
Labels: ONNX, pr-awaiting-review

#14138 add Apache header on all XML
  scala-package/assembly/pom.xml
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/assembly/src/main/assembly/javadoc.xml
  scala-package/assembly/src/main/assembly/source.xml
  scala-package/core/pom.xml
  scala-package/deploy/pom.xml
  scala-package/deploy/src/main/deploy/deploy.xml
  scala-package/examples/pom.xml
  scala-package/infer/pom.xml
  scala-package/init-native/pom.xml
  scala-package/init/pom.xml
  scala-package/macros/pom.xml
  scala-package/mxnet-demo/java-demo/pom.xml
  scala-package/mxnet-demo/scala-demo/pom.xml
  scala-package/native/pom.xml
  scala-package/packageTest/core/pom.xml
  scala-package/packageTest/examples/pom.xml
  scala-package/packageTest/infer/pom.xml
  scala-package/packageTest/pom.xml
  scala-package/pom.xml
  scala-package/spark/pom.xml
  tests/nightly/apache_rat_license_check/rat-excludes
Labels: pr-awaiting-merge

#13699 add mkldnn softmax_output
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax_output.cc
  src/operator/softmax_output-inl.h
  src/operator/softmax_output.cc
  src/operator/softmax_output.cu
Labels: MKLDNN, Operator

#14134 follow up on fix nightly test
  docs/tutorials/gluon/gluon_from_experiment_to_deployment.md
Labels: Test, pr-awaiting-review

#13647 Update lip reading example
  example/gluon/lipnet/.gitignore
  example/gluon/lipnet/BeamSearch.py
  example/gluon/lipnet/README.md
  example/gluon/lipnet/asset/mouth_000.png
  example/gluon/lipnet/asset/mouth_001.png
  example/gluon/lipnet/asset/mouth_074.png
  example/gluon/lipnet/asset/network_structure.png
  example/gluon/lipnet/asset/s2_bbbf7p_000.png
  example/gluon/lipnet/asset/s2_bbbf7p_001.png
  example/gluon/lipnet/asset/s2_bbbf7p_074.png
  example/gluon/lipnet/checkpoint/__init__.py
  example/gluon/lipnet/data_loader.py
  example/gluon/lipnet/infer.py
  example/gluon/lipnet/main.py
  example/gluon/lipnet/models/__init__.py
  example/gluon/lipnet/models/network.py
  example/gluon/lipnet/requirements.txt
  example/gluon/lipnet/tests/test_beamsearch.py
  example/gluon/lipnet/trainer.py
  example/gluon/lipnet/utils/__init__.py
  example/gluon/lipnet/utils/align.py
  example/gluon/lipnet/utils/common.py
  example/gluon/lipnet/utils/download_data.py
  example/gluon/lipnet/utils/multi.py
  example/gluon/lipnet/utils/preprocess_data.py
  example/gluon/lipnet/utils/run_preprocess.ipynb
  example/gluon/lipnet/utils/run_preprocess_single_process.ipynb
Labels: Example, Gluon, pr-awaiting-review

#14136 Add pin_device_id option to Gluon DataLoader
  python/mxnet/gluon/data/dataloader.py
  tests/python/unittest/test_gluon_data.py
Labels: Gluon, pr-awaiting-merge

#14133 [Clojure] upgrade codox to work with lein 2.9.0
  contrib/clojure-package/project.clj
Labels: Clojure, pr-awaiting-review

#13562 Updated dockerfiles to get the dockcross images from mxnetcipinned
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  make/crosscompile.jetson.mk
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-testing

#14160 v1.3.x- backport of v1.4.x Travis CI configuration
  .travis.yml
  ci/travis/install.sh
  tests/travis/is_core_changed.sh
  tests/travis/run_test.sh
  tests/travis/setup.sh
  tests/travis/travis_after_failure.sh
Labels: CI, pr-awaiting-review

#14144 Fixes installation nightly test
  tests/jenkins/run_test_installation_docs.sh
Labels: Test, pr-awaiting-review

#13926 [v1.4.x] Fix gtest build
  tests/cpp/unittest.mk
Labels: pr-awaiting-review

#14097 Relaxing type requirements for slice_like op
  src/operator/tensor/matrix_op.cc
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#14139 Performance improvement in Normalize GPU Kernel
  src/operator/image/image_random-inl.h
  src/operator/image/image_random.cu
Labels: Operator, pr-awaiting-review

#14018 [MXNET-1315] Add checks for dynamic-shaped operators in CachedOp
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative_utils.h
  src/operator/contrib/boolean_mask.cc
  src/operator/subgraph_op_common.cc
  src/operator/subgraph_op_common.h
Labels: Operator, pr-awaiting-review

#13571 Add pixelshuffle layers
  docs/api/python/gluon/contrib.md
  example/gluon/super_resolution/super_resolution.py
  python/mxnet/gluon/contrib/nn/__init__.py
  python/mxnet/gluon/contrib/nn/basic_layers.py
  tests/python/unittest/test_gluon_contrib.py
Labels: Gluon, Operator, pr-awaiting-review

#14145 v1.3.x - backports nightly test fix
  tests/jenkins/run_test_installation_docs.sh
Labels: Test, pr-awaiting-review

#14127 Fixes libjpeg-turbo dependecy under Ubuntu 16.04
  ci/docker/install/ubuntu_core.sh
  ci/docker/runtime_functions.sh
Labels: Build, pr-awaiting-review

#13975 Fix quote on LBSGD docs
  python/mxnet/optimizer/optimizer.py
Labels: Doc, pr-awaiting-merge

#13960 Use In-place operator to prevent memory spikes in optimizer updates
  python/mxnet/optimizer/optimizer.py
Labels: pr-awaiting-merge

#14020 Fix jar path and add missing ones for spark jobs
  scala-package/spark/src/test/scala/org/apache/mxnet/spark/SharedSparkContext.scala
Labels: Scala, pr-awaiting-review

#14170 add preprocessed data and pretrained model info
  example/gluon/lipnet/README.md
Labels: Doc, Example, pr-awaiting-review

#14102 support dot(vector, vector) for fp16 inputs on GPU
  src/operator/tensor/dot-inl.h
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#14068 R-Package Makefile
  Makefile
Labels: R, pr-awaiting-review

#14090 Add GPU version of contrib.boolean_mask
  src/operator/contrib/boolean_mask-inl.h
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/boolean_mask.cu
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#14180 add Qing's Key to master
  KEYS
Labels: pr-awaiting-review

#14168 Fixes spelling
  tests/jenkins/run_test_installation_docs.sh
Labels: pr-awaiting-review

#11948 [MXNET-766] add unroll RNN for HybridBlock
  python/mxnet/gluon/contrib/rnn/rnn_cell.py
  tests/python/unittest/test_gluon_contrib.py
Labels: Gluon, RNN, pr-awaiting-review

#12792 Fix broken amalgamation
  CONTRIBUTORS.md
  amalgamation/amalgamation.py
  amalgamation/dmlc-minimum0.cc
  amalgamation/mxnet_predict0.cc
Labels: Build, pr-awaiting-testing

#14082 Fix nd.pick large array issue
  src/operator/tensor/broadcast_reduce_op.h
  tests/nightly/test_large_array.py
Labels: NDArray, pr-awaiting-review

#13895 Add an inference script providing both accuracy and benchmark result for original wide_n_deep example
  example/sparse/wide_deep/README.md
  example/sparse/wide_deep/config.py
  example/sparse/wide_deep/inference.py
  example/sparse/wide_deep/train.py
Labels: pr-awaiting-review

#14122 Added USE_SIGNAL_HANDLER to other Linux builds which didn't had it
  ci/docker/runtime_functions.sh
Labels: Build, pr-awaiting-review

#14186 Add quantization examples to example/readme
  example/README.md
Labels: Doc, pr-awaiting-merge

#14130 Refine runtime feature discovery python API and add documentation to …
  docs/api/python/index.md
  docs/api/python/libinfo/libinfo.md
  include/mxnet/c_api.h
  python/mxnet/runtime.py
  src/libinfo.cc
  tests/python/unittest/test_runtime.py
Labels: Doc, pr-awaiting-review

#14172 update raspberry pi install instructions
  docs/install/index.md
  docs/install/raspbian_setup.md
Labels: Edge devices, Installation, Website, pr-awaiting-review

#14197 Add tutorial on how to use build from source jar
  scala-package/README.md
Labels: Java, Scala, pr-awaiting-review

#14169 [MXNET-1305] Scala interpreter instructions
  docs/install/scala_setup.md
  docs/tutorials/scala/char_lstm.md
Labels: Scala, pr-awaiting-review

#14179 Fix READMEs for examples
  example/captcha/mxnet_captcha.R
  example/gan/CGAN_mnist_R/README.md
  example/gluon/actor_critic/README.md
  example/gluon/audio/README.md
  example/gluon/house_prices/README.md
  example/gluon/lstm_crf/README.md
  example/gluon/mnist/README.md
  example/gluon/super_resolution/README.md
  example/gluon/super_resolution/data.py
  example/model-parallel/README.md
  example/sparse/README.md
Labels: Example, pr-awaiting-review

#14171 Multi-precision AdamW update op
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  tests/python/unittest/test_contrib_optimizer.py
Labels: Operator, pr-awaiting-review

#14098 softmax for fp16 with fp32 accumulator
  src/operator/mxnet_op.h
  src/operator/nn/softmax-inl.h
  src/operator/nn/softmax.cc
  tests/python/unittest/test_operator.py
Labels: Operator

#13604 onnx broadcast ops fixes
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_translation_utils.py
Labels: ONNX, pr-awaiting-review

#14218 fix update params
  python/mxnet/model.py
  tests/python/unittest/test_module.py
Labels: Module, Optimizer, Python, pr-awaiting-review

#14194 [MXNET-1299] Perl: sync with Python API
  perl-package/AI-MXNet/Changes
  perl-package/AI-MXNet/META.json
  perl-package/AI-MXNet/META.yml
  perl-package/AI-MXNet/Makefile.PL
  perl-package/AI-MXNet/README
  perl-package/AI-MXNet/lib/AI/MXNet.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Context.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/Loss.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/RNN/Cell.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Gluon/RNN/Layer.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Initializer.pm
  perl-package/AI-MXNet/lib/AI/MXNet/NDArray.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Symbol.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Visualization.pm
  perl-package/AI-MXNet/t/test_gluon_rnn.t
  perl-package/AI-MXNet/t/test_loss.t
  perl-package/AI-MXNetCAPI/Changes
  perl-package/AI-MXNetCAPI/META.json
  perl-package/AI-MXNetCAPI/META.yml
  perl-package/AI-MXNetCAPI/README
  perl-package/AI-MXNetCAPI/lib/AI/MXNetCAPI.pm
  perl-package/AI-MXNetCAPI/mxnet_typemaps.i
Labels: Perl

#14214 Add infer_type_partial
  docs/api/python/symbol/symbol.md
  include/mxnet/c_api.h
  python/mxnet/symbol/symbol.py
  src/c_api/c_api_symbolic.cc
  tests/python/unittest/test_symbol.py
Labels: Backend, pr-awaiting-review

#14006 Dual stream cudnn Convolution backward() with MXNET_GPU_WORKER_NSTREAMS=2.
  docs/faq/env_var.md
  include/mxnet/base.h
  include/mxnet/op_attr_types.h
  src/engine/naive_engine.cc
  src/engine/stream_manager.h
  src/engine/threaded_engine_perdevice.cc
  src/imperative/imperative_utils.h
  src/ndarray/ndarray.cc
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  tests/python/gpu/test_operator_gpu.py
Labels: CUDA, Operator

#14193 [MXNET-1325] Make InferShapeAttr a standalone pass
  src/executor/infer_graph_attr_pass.cc
Labels: Backend, pr-awaiting-review

#14221 [op] add back support for scalar type rescale_grad argument for adamw_update/mp_adamw_update
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/contrib.py
  python/mxnet/symbol/register.py
  src/operator/contrib/adamw.cc
  src/operator/contrib/adamw.cu
  tests/python/unittest/test_contrib_optimizer.py
Labels: Operator

#14255 pypi package description
  tools/pip/MANIFEST.in
  tools/pip/doc/CPU_ADDITIONAL.md
  tools/pip/doc/CU100MKL_ADDITIONAL.md
  tools/pip/doc/CU100_ADDITIONAL.md
  tools/pip/doc/CU75MKL_ADDITIONAL.md
  tools/pip/doc/CU75_ADDITIONAL.md
  tools/pip/doc/CU80MKL_ADDITIONAL.md
  tools/pip/doc/CU80_ADDITIONAL.md
  tools/pip/doc/CU90MKL_ADDITIONAL.md
  tools/pip/doc/CU90_ADDITIONAL.md
  tools/pip/doc/CU91MKL_ADDITIONAL.md
  tools/pip/doc/CU91_ADDITIONAL.md
  tools/pip/doc/CU92MKL_ADDITIONAL.md
  tools/pip/doc/CU92_ADDITIONAL.md
  tools/pip/doc/MKL_ADDITIONAL.md
  tools/pip/doc/PYPI_README.md
  tools/pip/setup.py
Labels: pr-awaiting-review

#14250 Pip make config fix
  make/pip/pip_darwin_cpu.mk
  make/pip/pip_darwin_mkl.mk
  make/pip/pip_linux_cpu.mk
  make/pip/pip_linux_cu100.mk
  make/pip/pip_linux_cu100mkl.mk
  make/pip/pip_linux_cu75.mk
  make/pip/pip_linux_cu75mkl.mk
  make/pip/pip_linux_cu80.mk
  make/pip/pip_linux_cu80mkl.mk
  make/pip/pip_linux_cu90.mk
  make/pip/pip_linux_cu90mkl.mk
  make/pip/pip_linux_cu91.mk
  make/pip/pip_linux_cu91mkl.mk
  make/pip/pip_linux_cu92.mk
  make/pip/pip_linux_cu92mkl.mk
  make/pip/pip_linux_mkl.mk
Labels: pr-awaiting-review

#14213 MXNet Java bug fixes and experience improvement
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/NDArray.scala
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/java-demo/bin/java_sample.sh
  scala-package/mxnet-demo/java-demo/bin/run_od.sh
  scala-package/mxnet-demo/java-demo/pom.xml
  scala-package/mxnet-demo/java-demo/src/main/java/mxnet/ImageClassification.java
  scala-package/mxnet-demo/java-demo/src/main/java/mxnet/NDArrayCreation.java
  scala-package/mxnet-demo/java-demo/src/main/java/mxnet/NDArrayOperation.java
  scala-package/mxnet-demo/java-demo/src/main/java/mxnet/ObjectDetection.java
Labels: Java
