Repository apache/mxnet, pull requests merged in 2019-03, with the labels that each got.

#14000 MXNET-1302 Exclude commons-codec and commons-io from assembled JAR
  CONTRIBUTORS.md
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/core/pom.xml
  scala-package/deploy/src/main/deploy/deploy.xml
  scala-package/macros/pom.xml
  scala-package/pom.xml
Labels: Maven, Scala, pr-awaiting-merge

#14274 added mkldnn dependency for plugin compile target
  Makefile
Labels: pr-awaiting-review

#14242 Large array support for randint
  src/operator/random/sampler.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-merge

#14299 [ONNX] reverting broadcasting fixes
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_translation_utils.py
Labels: pr-awaiting-review

#14300 Add MKLDNN header files in include dir
  include/mkldnn
Labels: pr-awaiting-merge

#14273 move choose_element_0index to operator
  src/ndarray/ndarray.cc
  src/operator/tensor/broadcast_reduce_op_index.cc
Labels: Operator, pr-awaiting-merge

#14297 1.4 release
  docs/_static/js/options.js
  docs/_static/mxnet-theme/index.html
  docs/_static/mxnet-theme/navbar.html
  docs/install/build_from_source.md
  docs/install/download.md
  docs/install/index.md
  docs/install/ubuntu_setup.md
Labels: Website

#14287 FIX: flaky test exponential generator
  tests/python/unittest/test_random.py
Labels: pr-awaiting-review

#14322 Add scalaclean to make clean
  Makefile
Labels: Build, Scala

#14123 Add int8 data loader
  docs/api/perl/io.md
  docs/api/python/io/io.md
  example/quantization/imagenet_inference.py
  include/mxnet/c_api.h
  perl-package/AI-MXNet/lib/AI/MXNet/IO.pm
  src/io/iter_image_recordio_2.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/quantize_v2-inl.h
  src/operator/quantization/quantize_v2.cc
  tests/python/train/test_dtype.py
Labels: pr-awaiting-review

#14307 [clojure-package] improve docstrings in `image.clj`
  contrib/clojure-package/src/org/apache/clojure_mxnet/image.clj
Labels: Clojure, pr-awaiting-review

#14290 Optimize NMS
  src/operator/contrib/bounding_box-common.h
  src/operator/contrib/bounding_box-inl.cuh
  src/operator/contrib/bounding_box-inl.h
Labels: pr-awaiting-review

#14238 [DOC] Refine documentation of runtime feature detection
  docs/api/python/libinfo/libinfo.md
  python/mxnet/runtime.py
Labels: Doc, pr-awaiting-review

#14314 support long for mx.random.seed
  python/mxnet/random.py
  tests/python/unittest/test_random.py
Labels: pr-awaiting-merge

#14278 Use cudnn for dropout by default
  src/operator/nn/dropout-inl.h
  tests/cpp/include/test_op.h
Labels: pr-awaiting-review

#14302 fix SoftmaxOutput resource bug
  src/operator/softmax_output-inl.h
  src/operator/softmax_output.cc
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-review

#14324 Fixed some typos in AvgPooling Docs
  python/mxnet/gluon/nn/conv_layers.py
Labels: Doc, pr-awaiting-merge

#14295 [clojure-package] fix docstrings in `normal.clj`
  contrib/clojure-package/src/org/apache/clojure_mxnet/random.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/random_test.clj
Labels: Clojure, pr-awaiting-merge

#14153 Fix shape inference pass
  src/executor/infer_graph_attr_pass.cc
  tests/python/unittest/test_symbol.py
Labels: Python, pr-awaiting-review

#14325 Relaxing type requirements for reshape_like op
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-merge

#14298 Updated news.md with the latest mkldnn submodule version
  NEWS.md
Labels: pr-awaiting-merge

#14094 Enhance gpu quantization
  src/operator/quantization/quantize-inl.h
  src/operator/quantization/quantize_v2-inl.h
  tests/python/quantization/test_quantization.py
  tests/python/unittest/test_operator.py
Labels: Quantization, pr-awaiting-merge

#14338 Bypass ThreadedEngine in test_convolution_multiple_streams.
  tests/python/gpu/test_operator_gpu.py
Labels: Flaky, Test, pr-awaiting-review

#14326 Limit workspace for cudnnGet results
  src/operator/nn/cudnn/cudnn_convolution-inl.h
Labels: Operator, pr-awaiting-review

#14303 [MXNET-1331] Removal of non-MXNET classes from JAR
  scala-package/assembly/src/main/assembly/assembly.xml
  scala-package/deploy/src/main/deploy/deploy.xml
Labels: Maven, Scala, pr-awaiting-review

#14258 fix render issue in NDArray linalg docs
  src/operator/tensor/la_op.cc
Labels: Doc, pr-awaiting-review

#14222 Add more support for mxnet_to_coreml
  tools/coreml/converter/_layers.py
  tools/coreml/converter/_mxnet_converter.py
  tools/coreml/test/test_mxnet_converter.py
Labels: CoreML, pr-awaiting-review

#13816 Add default parameters for Scala NDArray.arange
  CONTRIBUTORS.md
  python/mxnet/ndarray/ndarray.py
  scala-package/core/src/main/scala/org/apache/mxnet/NDArray.scala
  scala-package/core/src/test/scala/org/apache/mxnet/NDArraySuite.scala
Labels: Breaking, Scala, pr-awaiting-review

#14275 Register fake grad to subgraph and quantized operators
  src/executor/graph_executor.cc
  src/operator/quantization/dequantize.cc
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_concat.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/quantized_flatten.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/quantized_pooling.cc
  src/operator/quantization/requantize.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_post_quantize_property.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.cc
  src/operator/subgraph/subgraph_property.h
  tests/python/mkl/test_subgraph.py
Labels: pr-awaiting-review

#14247 corrected a spelling
  example/image-classification/README.md
Labels: pr-awaiting-testing

#14192 [MXNET-1324] Add NaiveRunGraph to imperative utils
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative.cc
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
  tests/python/unittest/test_dynamic_shape.py
Labels: Backend, pr-awaiting-review

#14339 Add MKLDNN headers to pip package
  tools/pip/MANIFEST.in
  tools/pip/setup.py
Labels: pr-awaiting-review

#14313 compatibility with opencv4
  Makefile
  make/config.mk
  make/crosscompile.jetson.mk
  make/maven/maven_darwin_mkl.mk
  make/maven/maven_linux_cu90mkl.mk
  make/maven/maven_linux_cu92mkl.mk
  make/maven/maven_linux_mkl.mk
  make/osx.mk
  make/pip/pip_darwin_cpu.mk
  make/pip/pip_darwin_mkl.mk
  make/pip/pip_linux_cpu.mk
  make/pip/pip_linux_cu100.mk
  make/pip/pip_linux_cu100mkl.mk
  make/pip/pip_linux_cu75.mk
  make/pip/pip_linux_cu75mkl.mk
  make/pip/pip_linux_cu80.mk
  make/pip/pip_linux_cu80mkl.mk
  make/pip/pip_linux_cu90.mk
  make/pip/pip_linux_cu90mkl.mk
  make/pip/pip_linux_cu91.mk
  make/pip/pip_linux_cu91mkl.mk
  make/pip/pip_linux_cu92.mk
  make/pip/pip_linux_cu92mkl.mk
  make/pip/pip_linux_mkl.mk
  make/readthedocs.mk
  src/io/image_aug_default.cc
  src/io/image_det_aug_default.cc
  src/io/image_io.cc
  src/io/opencv_compatibility.h
  tools/im2rec.cc
Labels: pr-awaiting-review

#13848 [MXNET-1291] solve pylint errors in examples with issue no.12205
  CONTRIBUTORS.md
  example/bayesian-methods/bdk_demo.py
  example/caffe/caffe_net.py
  example/caffe/train_model.py
  example/cnn_chinese_text_classification/data_helpers.py
  example/cnn_chinese_text_classification/text_cnn.py
  example/cnn_text_classification/data_helpers.py
  example/cnn_text_classification/text_cnn.py
  example/ctc/captcha_generator.py
  example/ctc/ctc_metrics.py
  example/ctc/hyperparams.py
  example/ctc/lstm_ocr_infer.py
  example/ctc/lstm_ocr_train.py
  example/ctc/multiproc_data.py
  example/ctc/ocr_iter.py
  example/ctc/ocr_predict.py
  example/deep-embedded-clustering/autoencoder.py
  example/deep-embedded-clustering/data.py
  example/deep-embedded-clustering/dec.py
  example/deep-embedded-clustering/model.py
  example/distributed_training/cifar10_dist.py
Labels: pr-awaiting-merge

#14212 #14199: catch subprocess.CalledProcessError in get_gpus()
  benchmark/python/control_flow/rnn.py
  example/image-classification/common/util.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  tools/bandwidth/test_measure.py
Labels: Example, Exception Handling, pr-awaiting-testing

#14318 print error message for mxnet::cpp::Operator::Invoke when failed
  cpp-package/example/alexnet.cpp
  cpp-package/example/inception_bn.cpp
  cpp-package/example/lenet_with_mxdataiter.cpp
  cpp-package/example/resnet.cpp
  cpp-package/include/mxnet-cpp/operator.hpp
Labels: C++, pr-awaiting-review

#14200 Bulked op segments to allow Variable nodes
  docs/faq/env_var.md
  include/mxnet/imperative.h
  src/executor/graph_executor.cc
  src/executor/graph_executor.h
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  tests/python/gpu/test_gluon_gpu.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/common.py
Labels: Backend

#14215 Fixes #14181, validate model output shape for ObjectDetector.
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ImageClassifier.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ObjectDetector.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/Predictor.scala
Labels: Scala, pr-awaiting-review

#14337 Optimizer MXKVStoreUpdater bug fix in serializeState method
  CONTRIBUTORS.md
  scala-package/core/src/main/scala/org/apache/mxnet/Optimizer.scala
Labels: Scala, pr-awaiting-review

#14355 Updates qemu framework to install pip requirements from its own requirements file
  ci/docker/qemu/runtime_functions.py
  ci/docker/qemu/vmcontrol.py
  ci/qemu/README.md
  ci/qemu/test_requirements.txt
  tests/requirements.txt
Labels: CI, pr-awaiting-review

#14352 Optimize NMS part 2
  src/operator/contrib/bounding_box-common.h
  src/operator/contrib/bounding_box-inl.cuh
  src/operator/contrib/bounding_box-inl.h
Labels: Operator, pr-awaiting-review

#14128 MKLDNN based Quantized FullyConnected Operator and its fusion
  example/quantization/imagenet_gen_qsym_mkldnn.py
  python/mxnet/initializer.py
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_ops-inl.h
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_property.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Labels: MKLDNN, pr-awaiting-review

#13612 add pos_weight for SigmoidBinaryCrossEntropyLoss
  CONTRIBUTORS.md
  python/mxnet/gluon/loss.py
  tests/python/unittest/test_loss.py
Labels: pr-awaiting-merge

#14024 Julia: split symbolic-node.jl into several snippets
  julia/src/symbolic-node.jl
  julia/src/symbolic-node/arithmetic.jl
  julia/src/symbolic-node/array.jl
  julia/src/symbolic-node/autodiff.jl
  julia/src/symbolic-node/io.jl
  julia/src/symbolic-node/op.jl
  julia/src/symbolic-node/show.jl
  julia/src/symbolic-node/type.jl
Labels: Julia, Symbol, pr-awaiting-review

#14262 Fix NaN value comparisons in relu, max and min ops
  src/operator/mshadow_op.h
  tests/python/unittest/test_ndarray.py
Labels: pr-awaiting-review

#14308 [clojure-package] add `->nd-vec` function in `ndarray.clj`
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/ndarray_test.clj
Labels: Clojure, pr-work-in-progress

#14356 support leading dimension of -1 in ravel/unravel
  src/operator/tensor/ravel.cc
  src/operator/tensor/ravel.h
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-merge

#14190 [Flaky Test] Python3: MKLDNN-GPU test_kvstore_gpu.test_rsp_push_pull
  tests/python/gpu/test_kvstore_gpu.py
Labels: Flaky, Test, pr-awaiting-review

#14027 Julia: rename `mx.clip` to `clamp` for `NDArray`
  julia/NEWS.md
  julia/src/MXNet.jl
  julia/src/deprecated.jl
  julia/src/ndarray/arithmetic.jl
  julia/src/ndarray/remap.jl
  julia/src/optimizer.jl
  julia/test/unittest/ndarray.jl
Labels: Julia, NDArray, pr-awaiting-review

#14058 add backgroud class in box_nms
  src/operator/contrib/bounding_box-common.h
  src/operator/contrib/bounding_box-inl.cuh
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/bounding_box.cc
  tests/python/unittest/test_contrib_operator.py
Labels: Operator, pr-awaiting-merge

#14336 CI Changes for Codified Windows AMIs
  ci/build_windows.py
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  tests/python/gpu/test_operator_gpu.py
  tests/requirements.txt
Labels: CI, Windows, pr-awaiting-review

#14305 [Clojure] Helper function for n-dim vector to ndarray
  contrib/clojure-package/src/org/apache/clojure_mxnet/ndarray.clj
  contrib/clojure-package/src/org/apache/clojure_mxnet/util.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/ndarray_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/util_test.clj
Labels: Clojure

#14237 [DOC] fix sym.arange doc
  python/mxnet/symbol/symbol.py
Labels: Doc, pr-awaiting-merge

#13992 Julia: add binding for runtime feature detection
  julia/deps/build.jl
  julia/src/MXNet.jl
  julia/src/base.jl
  julia/src/runtime.jl
Labels: Julia

#14392 Enable bulking test on windows
  tests/python/gpu/test_operator_gpu.py
Labels: CI, Test, Windows, pr-work-in-progress

#14219 [MXNET-1327] Allow RNN Layers to be initialized to fp16
  python/mxnet/gluon/rnn/rnn_layer.py
  tests/python/unittest/test_gluon_rnn.py
Labels: FP16, Gluon, RNN

#14310 Cudnn conv dgrad algo filtering
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  src/operator/nn/cudnn/cudnn_deconvolution-inl.h
  tests/python/gpu/test_operator_gpu.py
Labels: pr-awaiting-review

#14395 [MXNET-1226] add Docs update for MXNet Java
  docs/install/index.md
  docs/install/java_setup.md
  docs/tutorials/java/mxnet_java_on_intellij.md
Labels: Doc, Java

#13938 [MXNET-1291] solve pylint errors in examples with issue no.12205
  example/bayesian-methods/bdk_demo.py
  example/capsnet/capsulenet.py
  example/ctc/multiproc_data.py
  example/gluon/dc_gan/dcgan.py
  example/gluon/lstm_crf/lstm_crf.py
Labels: CI, Python, pr-awaiting-review

#14420 v1.4.x: Backport of Windows CI Fixes
  Jenkinsfile
  ci/build_windows.py
  ci/docker/qemu/runtime_functions.py
  ci/docker/qemu/vmcontrol.py
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/qemu/README.md
  ci/qemu/test_requirements.txt
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  tests/requirements.txt
Labels: CI, Windows, pr-awaiting-testing

#14412 Disables flaky TestStochasticTiming_2D test
  tests/cpp/operator/batchnorm_test.cc
Labels: C++, Test, pr-awaiting-review

#14066 Add dtype visualization to plot_network
  python/mxnet/visualization.py
  tests/python/unittest/test_viz.py
Labels: Visualization, pr-awaiting-review

#14363 Support multi-threading for Custom Operator
  docs/faq/env_var.md
  src/operator/custom/custom-inl.h
Labels: Operator, pr-awaiting-review

#14150 Fix entropy for uint8
  python/mxnet/contrib/quantization.py
  tests/python/quantization/test_quantization.py
Labels: Quantization, pr-awaiting-review

#14321 moveaxis operator now accepts negative indices and sequence of ints as well.
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_ndarray.py
Labels: pr-awaiting-merge

#14423 Add repr for SymbolBlock
  python/mxnet/gluon/block.py
  tests/python/unittest/test_gluon.py
Labels: Gluon, pr-awaiting-review

#14409 [Numpy] Change semantics of ndim for operators in `src/operator/contrib`
  src/operator/contrib/adamw-inl.h
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/boolean_mask.cc
  src/operator/contrib/bounding_box-inl.h
  src/operator/contrib/count_sketch-inl.h
  src/operator/contrib/deformable_convolution-inl.h
  src/operator/contrib/dgl_graph.cc
  src/operator/contrib/fft-inl.h
  src/operator/contrib/ifft-inl.h
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/multi_proposal-inl.h
  src/operator/contrib/nnvm_to_onnx.cc
  src/operator/contrib/optimizer_op.cc
  src/operator/contrib/proposal-inl.h
  src/operator/contrib/quadratic_op-inl.h
  src/operator/contrib/sync_batch_norm-inl.h
  src/operator/contrib/transformer-inl.h
Labels: Numpy, Operator, pr-awaiting-review

#14346 [MXNet-1334][Fit API]base class for estimator and eventhandler
  python/mxnet/gluon/estimator/__init__.py
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: Gluon, pr-awaiting-review

#14377 Correct update count with Gluon trainer and update_on_kvstore=False
  python/mxnet/gluon/trainer.py
  python/mxnet/optimizer/optimizer.py
  tests/python/unittest/test_gluon_trainer.py
Labels: Bug, Gluon, Optimizer, pr-awaiting-review

#14359 Speedup _contrib_index_copy
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/index_copy.cc
  src/operator/contrib/index_copy.cu
Labels: Operator, pr-awaiting-review

#14425 Fix crashes on visualization
  python/mxnet/visualization.py
Labels: Visualization, pr-awaiting-review

#14403 Fix slice op issues #13760
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_operator.py
Labels: Operator, pr-awaiting-review

#14365 Fix memory leak for size-zero ndarray
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/storage/pooled_storage_manager.h
Labels: pr-awaiting-merge

#14463 Enforce determinism for backwards compatibility checker
  tests/nightly/model_backwards_compatibility_check/model_backward_compat_checker.sh
  tests/nightly/model_backwards_compatibility_check/train_mxnet_legacy_models.sh
Labels: CI

#14466 [MKL-DNN] Enable s8 support for inner product and 3d input with flatten=false
  src/operator/nn/fully_connected.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/quantized_fully_connected.cu
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/mkl/test_subgraph.py
  tests/python/quantization/test_quantization.py
Labels: MKLDNN, Quantization

#14473 Fixes the test_sgld
  tests/python/unittest/test_optimizer.py
Labels: pr-work-in-progress

#14451 fix custom operation in fork
  docs/tutorials/gluon/customop.md
  src/c_api/c_api.cc
  src/initialize.cc
  src/operator/custom/custom-inl.h
  src/operator/custom/custom.cc
  tests/python/unittest/test_operator.py
Labels: Bug, Operator

#14465 [MXNET-1361] Change 'The Straight Dope' to 'Dive into Deep Learning' on the website
  README.md
  docs/_static/mxnet-theme/navbar.html
  docs/api/perl/index.md
  docs/community/ecosystem.md
  docs/gluon/index.md
  docs/tutorials/gluon/gluon_from_experiment_to_deployment.md
  docs/tutorials/index.md
  perl-package/AI-MXNet/lib/AI/MXNet.pm
Labels: Doc

#14464 Fixed issue where the estimator was printing beyond the dataset size …
  python/mxnet/gluon/estimator/estimator.py
Labels: Gluon, pr-awaiting-merge

#14475 Fixes test_operator_gpu.test_multinomial_generator
  tests/python/unittest/test_random.py
Labels: Test, pr-awaiting-merge

#12542 [MXNET-949] Module API to Gluon API tutorial
  docs/tutorials/index.md
  docs/tutorials/python/module_to_gluon.md
  tests/tutorials/test_tutorials.py
Labels: pr-awaiting-review

#14472 Fixed tutorial warnings
  docs/tutorials/gluon/hybrid.md
  docs/tutorials/gluon/save_load_params.md
  docs/tutorials/index.md
  docs/tutorials/onnx/fine_tuning_gluon.md
  docs/tutorials/onnx/inference_on_onnx_model.md
  docs/tutorials/python/matrix_factorization.md
  tests/tutorials/test_tutorials.py
Labels: pr-work-in-progress

#14487 [numpy] Fix unit tests after introducing numpy compatible shapes
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  include/mxnet/tuple.h
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/__init__.py
  python/mxnet/operator.py
  python/mxnet/symbol/symbol.py
  src/c_api/c_api.cc
  src/c_api/c_api_common.h
  src/c_api/c_api_executor.cc
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_symbolic.cc
  src/common/utils.h
  src/executor/infer_graph_attr_pass.cc
  src/imperative/imperative.cc
  src/imperative/imperative_utils.h
  src/operator/batch_norm_v1-inl.h
  src/operator/contrib/multi_proposal-inl.h
  src/operator/control_flow.cc
  src/operator/convolution_v1-inl.h
  src/operator/custom/custom.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/concat.cc
  src/operator/nn/convolution.cc
  src/operator/nn/cudnn/cudnn_batch_norm.cc
  src/operator/nn/dropout.cc
  src/operator/nn/fully_connected.cc
  src/operator/nn/layer_norm.cc
  src/operator/nn/pooling.cc
  src/operator/operator_common.h
  src/operator/pooling_v1-inl.h
  src/operator/quantization/quantized_concat.cc
  src/operator/random/unique_sample_op.h
  src/operator/rnn-inl.h
  src/operator/slice_channel-inl.h
  src/operator/softmax_output-inl.h
  src/operator/softmax_output.cc
  src/operator/svm_output-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/diag_op-inl.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/init_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_operator.py
Labels: Numpy

#14286 Add examples of running MXNet with Horovod
  example/distributed_training-horovod/README.md
  example/distributed_training-horovod/gluon_mnist.py
  example/distributed_training-horovod/module_mnist.py
  example/distributed_training-horovod/resnet50_imagenet.py
Labels: pr-awaiting-review

#14442 [MXNet-1349][Fit API]Add validation support and unit tests for fit() API
  python/mxnet/gluon/estimator/estimator.py
  python/mxnet/gluon/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Labels: Gluon, Test

#14504 Fixes for CI downloads
  R-package/tests/testthat/get_data.R
  R-package/vignettes/CatsDogsFinetune.Rmd
  R-package/vignettes/classifyRealImageWithPretrainedModel.Rmd
  cpp-package/example/feature_extract/run.sh
  cpp-package/example/get_data.sh
  cpp-package/example/inference/unit_test_inception_inference.sh
  julia/models/Inception/get.sh
  matlab/get_inception_model.sh
  tools/dependencies/README.md
  tools/dependencies/curl.sh
  tools/dependencies/eigen.sh
  tools/dependencies/libpng.sh
  tools/dependencies/libtiff.sh
  tools/dependencies/libturbojpeg.sh
  tools/dependencies/libz.sh
  tools/dependencies/lz4.sh
  tools/dependencies/make_shared_dependencies.sh
  tools/dependencies/openblas.sh
  tools/dependencies/opencv.sh
  tools/dependencies/openssl.sh
  tools/dependencies/protobuf.sh
  tools/dependencies/zmq.sh
Labels: CI, pr-awaiting-response

#14277 Enhance PartitionGraph
  docs/tutorials/c++/subgraphAPI.md
  docs/tutorials/mkldnn/MKLDNN_README.md
  example/quantization/imagenet_gen_qsym_mkldnn.py
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/executor/graph_executor.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  src/operator/subgraph/partition_graph.cc
  src/operator/subgraph/subgraph_property.h
  tests/python/mkl/test_subgraph.py
Labels: pr-awaiting-review

#14525 Fixes for CI downloads (v1.3.x)
  R-package/tests/testthat/get_data.R
  R-package/vignettes/CatsDogsFinetune.Rmd
  R-package/vignettes/classifyRealImageWithPretrainedModel.Rmd
  cpp-package/example/feature_extract/run.sh
  cpp-package/example/get_data.sh
  matlab/get_inception_model.sh
Labels: CI, pr-awaiting-review

#14474 [MXNET-1285] Draw bounding box with Scala/Java Image API
  scala-package/.gitignore
  scala-package/core/src/main/scala/org/apache/mxnet/Image.scala
  scala-package/core/src/main/scala/org/apache/mxnet/javaapi/Image.scala
  scala-package/core/src/test/java/org/apache/mxnet/javaapi/ImageTest.java
  scala-package/core/src/test/scala/org/apache/mxnet/ImageSuite.scala
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/README.md
  scala-package/examples/src/main/java/org/apache/mxnetexamples/javaapi/infer/objectdetector/SSDClassifierExample.java
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/ObjectDetector.scala
  scala-package/infer/src/main/scala/org/apache/mxnet/infer/javaapi/ObjectDetectorOutput.scala
  scala-package/infer/src/test/java/org/apache/mxnet/infer/javaapi/ObjectDetectorOutputTest.java
Labels: Java, Scala, pr-awaiting-merge

#14538 [numpy] Fix test_dynamic_shape.test_dynamic_shape
  src/c_api/c_api_common.h
  src/imperative/imperative_utils.cc
Labels: Numpy

#14483 Reenable the test_kvstore_gpu.test_rsp_push_pull
  tests/python/gpu/test_kvstore_gpu.py
Labels: Test, pr-awaiting-merge

#14519 Fix script retrieval
  docs/tutorials/java/mxnet_java_on_intellij.md
Labels: Doc, Java, pr-awaiting-merge

#14532 Nightly test fix: add filter to warnings
  docs/tutorials/gluon/hybrid.md
  docs/tutorials/gluon/save_load_params.md
  docs/tutorials/onnx/fine_tuning_gluon.md
  docs/tutorials/onnx/inference_on_onnx_model.md
  docs/tutorials/python/module_to_gluon.md
Labels: Test, pr-awaiting-merge, pr-awaiting-review

#14529 [GPU] Fix test_gluon_gpu:test_lstmp
  tests/python/gpu/test_gluon_gpu.py
Labels: CI, Test

#14528 Performance improving for MKL-DNN Quantized FullyConnected
  src/operator/nn/fully_connected-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_fully_connected.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Labels: MKLDNN, Performance, pr-awaiting-testing

#14537 [numpy] Fix numpy import in python2
  python/mxnet/ndarray/_internal.py
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/_internal.py
  python/mxnet/symbol/register.py
  src/common/utils.h
  src/operator/leaky_relu-inl.h
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_ndarray.py
Labels: Numpy

#14445 Speedup SequenceMask on GPU
  src/operator/sequence_mask-inl.h
  src/operator/sequence_mask.cc
  src/operator/sequence_mask.cu
Labels: CUDA, Operator, Performance, pr-awaiting-review

#14480 Tidy up storage allocation and deallocation
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/resource.cc
  src/storage/cpu_device_storage.h
  src/storage/cpu_shared_storage_manager.h
  src/storage/gpu_device_storage.h
  src/storage/naive_storage_manager.h
  src/storage/pinned_memory_storage.h
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
  src/storage/storage_manager.h
  tests/cpp/include/test_util.h
  tests/cpp/storage/storage_test.cc
Labels: pr-awaiting-merge

#14372 Memory fixes. Resolves #10867, and resolves #14080
  scala-package/core/src/main/scala/org/apache/mxnet/Executor.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Optimizer.scala
  scala-package/core/src/main/scala/org/apache/mxnet/ResourceScope.scala
  scala-package/core/src/main/scala/org/apache/mxnet/Symbol.scala
  scala-package/core/src/main/scala/org/apache/mxnet/module/DataParallelExecutorGroup.scala
  scala-package/core/src/main/scala/org/apache/mxnet/optimizer/Adam.scala
  scala-package/core/src/test/scala/org/apache/mxnet/ResourceScopeSuite.scala
Labels: Memory, Scala, pr-awaiting-review

#14543 Remove unnecessary "also" in README.md
  README.md
Labels: Doc

#14549 [numpy] Fix concat and slice operator
  src/operator/nn/mkldnn/mkldnn_concat.cc
  src/operator/nn/mkldnn/mkldnn_slice.cc
Labels: Numpy

#14553 [clojure]: add comp-metric based on CompositeEvalMetric
  contrib/clojure-package/src/org/apache/clojure_mxnet/eval_metric.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/eval_metric_test.clj
Labels: Clojure

#14531 Chouffe/clojure fix tests
  contrib/clojure-package/src/org/apache/clojure_mxnet/util.clj
  contrib/clojure-package/test/dev/generator_test.clj
  contrib/clojure-package/test/good-test-ndarray.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/executor_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/infer/imageclassifier_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/module_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/ndarray_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/operator_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/symbol_test.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/util_test.clj
Labels: Clojure, Test, pr-awaiting-review

#14533 [clojure][image] add draw-bounding-box interop
  contrib/clojure-package/src/org/apache/clojure_mxnet/image.clj
Labels: Clojure, pr-awaiting-review

#14565 [Clojure] follow up pr 14531 to fix tests
  contrib/clojure-package/test/dev/generator_test.clj
  contrib/clojure-package/test/good-test-ndarray.clj
  contrib/clojure-package/test/org/apache/clojure_mxnet/module_test.clj
Labels: Clojure, Test

#14113 Enhance subgraph API
  include/mxnet/c_api_test.h
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/executor/graph_executor.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/default_subgraph_property_v2.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  src/operator/subgraph/subgraph_property.h
  tests/python/mkl/test_subgraph.py
  tests/python/unittest/test_subgraph_op.py
Labels: Operator, pr-awaiting-review

#14550 Do not touch GPU 0 during ReleaseAll
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
Labels: Backend, pr-awaiting-merge
