Repository apache/mxnet, pull requests merged in 2019-12, with the labels that each got.

#16934 [R package] Make R package compilation support opencv 4.0
  R-package/src/im2rec.h
Labels: R

#16895 Fix ndarray indexing bug
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy, R1.6.0

#15921 dynamic custom operator support
  CMakeLists.txt
  Makefile
  example/extensions/lib_api/Makefile
  example/extensions/lib_api/init_lib.cc
  example/extensions/lib_api/libtest.cc
  example/extensions/lib_api/test_loading.py
  example/extensions/lib_custom_op/Makefile
  example/extensions/lib_custom_op/gemm_lib.cc
  example/extensions/lib_custom_op/subgraph_lib.cc
  example/extensions/lib_custom_op/test_gemm.py
  example/extensions/lib_custom_op/test_subgraph.py
  include/mxnet/lib_api.h
  python/mxnet/__init__.py
  python/mxnet/library.py
  src/c_api/c_api.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_extensions.py
Labels: Operator, pr-awaiting-merge

#16921 [NumPy][Typo][Doc] Fix typos and docs in MXNet NumPy symbolic interface
  python/mxnet/symbol/numpy/_symbol.py
Labels: Numpy

#16859 Mixed-type mx.np.power
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/operator_tune.cc
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16903 changing data type of 't' to int in lamb_update_phase1
  src/operator/optimizer_op-inl.h
Labels: pr-awaiting-review

#16922 Update LoggingHandler to support logging per interval
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: API change, R1.6.0

#16886 boolean_mask_assign with start_axis
  src/common/utils.h
  src/operator/numpy/np_boolean_mask_assign.cc
  src/operator/numpy/np_boolean_mask_assign.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16949 Support NumPy-compatible argsort
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/ordering_op-inl.h
  src/operator/tensor/ordering_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16941 Fix crashing on Windows in ObjectPool ~ctor
  src/common/object_pool.h
Labels: Bug, Windows, pr-awaiting-review

#16992 Fix desired precision for test_ndarray.py:test_reduce
  tests/python/unittest/test_ndarray.py
Labels: Test, pr-awaiting-review

#16878 add micro to pearsonr
  python/mxnet/metric.py
  tests/python/unittest/test_metric.py
Labels: R1.6.0

#16953 large tensor faq doc fix
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Labels: pr-awaiting-merge, pr-awaiting-review

#16804 add numpy op full_like, c++ impl, fix zeros_like, ones_like type infe…
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16913 [numpy] add op linalg solve
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/numpy/linalg/np_solve-inl.h
  src/operator/numpy/linalg/np_solve.cc
  src/operator/numpy/linalg/np_solve.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16720 [Numpy] Implement numpy operator 'average'
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17016 [Numpy] Fix axis=-1 bug in max
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16931 [MKL-DNN] Enable and Optimization for s8 eltwise_add
  src/operator/operator_common.h
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_add.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#16691 Quantized Embedding
  src/operator/quantization/quantized_indexing_op.cc
  src/operator/tensor/indexing_op.h
  tests/python/quantization/test_quantization.py
Labels: MKLDNN, Quantization

#16979 [Bugfix] [Numpy] Add `kAddTo` and kNullOp to Transpose
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/operator/tensor/pseudo2DTranspose_op-inl.cuh
  tests/python/unittest/test_numpy_op.py
Labels: R1.6.0

#17025 [Numpy]Modify absolute error and relative error in solve op
  python/mxnet/symbol/numpy/linalg.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16900 introduce gradient update handler to the base estimator
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/python/unittest/test_gluon_estimator.py
Labels: R1.6.0

#16885 Multi Precision Lamb Update operator
  python/mxnet/optimizer/optimizer.py
  src/operator/optimizer_op-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_optimizer.py
Labels: pr-awaiting-merge, pr-awaiting-review

#16989 Op_Diagonal [Numpy]
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17027 Merge make/pip and make/maven configurations
  ci/docker/runtime_functions.sh
  ci/publish/python/build.sh
  ci/publish/scala/build.sh
  make/maven/maven_darwin_mkl.mk
  make/maven/maven_linux_cu90mkl.mk
  make/maven/maven_linux_cu92mkl.mk
  make/maven/maven_linux_mkl.mk
  make/staticbuild/darwin_cpu.mk
  make/staticbuild/darwin_mkl.mk
  make/staticbuild/linux_cpu.mk
  make/staticbuild/linux_cu100.mk
  make/staticbuild/linux_cu100mkl.mk
  make/staticbuild/linux_cu101.mk
  make/staticbuild/linux_cu101mkl.mk
  make/staticbuild/linux_cu75.mk
  make/staticbuild/linux_cu75mkl.mk
  make/staticbuild/linux_cu80.mk
  make/staticbuild/linux_cu80mkl.mk
  make/staticbuild/linux_cu90.mk
  make/staticbuild/linux_cu90mkl.mk
  make/staticbuild/linux_cu91.mk
  make/staticbuild/linux_cu91mkl.mk
  make/staticbuild/linux_cu92.mk
  make/staticbuild/linux_cu92mkl.mk
  make/staticbuild/linux_mkl.mk
  tools/dependencies/README.md
  tools/staticbuild/README.md
  tools/staticbuild/build.sh
  tools/staticbuild/build_lib.sh
Labels: Maven

#17028 Workaround problem with fusion in CUDA 9
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Labels: R1.6.0

#16957 Include eval_net the validation model in the estimator api
  python/mxnet/gluon/contrib/estimator/estimator.py
  tests/python/unittest/test_gluon_estimator.py
Labels: R1.6.0

#17029 Backport #16895, #16922, #16878, #16979 and #16900 to 1.6
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  python/mxnet/metric.py
  python/mxnet/ndarray/ndarray.py
  src/ndarray/ndarray.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
  src/operator/tensor/pseudo2DTranspose_op-inl.cuh
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
  tests/python/unittest/test_metric.py
  tests/python/unittest/test_ndarray.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Labels: R1.6.0

#17018 Replace mxnet_option macro with standard CMAKE_DEPENDENT_OPTION
  CMakeLists.txt
  cmake/Modules/FindMKL.cmake
  cmake/Utils.cmake
Labels: pr-awaiting-merge

#17035 Backport #17028 to 1.6
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
Labels: R1.6.0

#17042 Fix CI bugs
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
Labels: R1.6.0

#17048 Backport Gluon estimator changes to 1.6
  python/mxnet/gluon/contrib/estimator/__init__.py
  python/mxnet/gluon/contrib/estimator/batch_processor.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/unittest/test_gluon_batch_processor.py
  tests/python/unittest/test_gluon_estimator.py
  tests/python/unittest/test_gluon_event_handler.py
Labels: R1.6.0

#17032 OP Array_split [Numpy]
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15416 [MXNET-978] Higher Order Gradient Support `logp1`, `expm1`, `square`.
  src/operator/tensor/elemwise_unary_op_logexp.cc
  src/operator/tensor/elemwise_unary_op_pow.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: pr-awaiting-review

#16981 [Numpy] add op tensorinv
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_tensorinv-inl.h
  src/operator/numpy/linalg/np_tensorinv.cc
  src/operator/numpy/linalg/np_tensorinv.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17075 [MKLDNN] mkldnn RNN operator enhancement
  docs/static_site/src/pages/api/faq/env_var.md
  src/common/utils.h
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/rnn.cc
  tests/python/unittest/test_operator.py
Labels: MKLDNN

#16860 [MKLDNN] enable MaxPooling with full pooling convention
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling.cc
Labels: MKLDNN

#16142 backport Julia patches to v1.5.x
  docs/install/index.md
  julia/REQUIRE
  julia/deps/build.jl
  julia/docs/src/api/ndarray.md
  julia/docs/src/api/symbolic-node.md
  julia/src/executor.jl
  julia/test/unittest/bind.jl
Labels: Julia

#15515 [MXNET-978] Higher Order Gradient Support `arcsin`, `arccos`.
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Operator, pr-awaiting-review

#17094 Add silent option to quantization script
  example/quantization/imagenet_gen_qsym_mkldnn.py
  python/mxnet/contrib/quantization.py
  src/operator/quantization/quantize_graph_pass.cc
Labels: MKLDNN, Quantization

#16965 Op_bincount [Numpy]
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_bincount_op-inl.h
  src/operator/numpy/np_bincount_op.cc
  src/operator/numpy/np_bincount_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16947 [numpy] add op bitwise_not
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17137 Backport #17002, #17068 and #17114 to 1.6 branch
  python/mxnet/gluon/trainer.py
  src/executor/simple_partition_pass.h
  src/imperative/cached_op.cc
  src/operator/contrib/multi_sum_sq-inl.h
  src/operator/contrib/multi_sum_sq.cc
  src/operator/contrib/multi_sum_sq.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_gluon_trainer.py
Labels: R1.6.0

#17133 [Numpy ]Modify np.random.shuffle to enable inplace by default
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/random/shuffle_op.cc
Labels: Numpy

#17098 Disable OpenMP offloading support for 3rdparty/openmp
  CMakeLists.txt
  ci/build_windows.py
  ci/docker/Dockerfile.build.android_armv7
  ci/docker/Dockerfile.build.android_armv8
  ci/docker/Dockerfile.build.armv6
  ci/docker/Dockerfile.build.armv7
  ci/docker/Dockerfile.build.armv8
  ci/docker/Dockerfile.build.jetson
  ci/docker/install/ubuntu_core.sh
  ci/util.py
Labels: pr-awaiting-review

#17142 [MXNET-1440] julia: porting `current_context`
  julia/src/MXNet.jl
  julia/src/context.jl
  julia/src/ndarray/array.jl
  julia/src/ndarray/type.jl
  julia/test/unittest/context.jl
  julia/test/unittest/ndarray.jl
Labels: Julia

#17155 Fix reshape interoperability test
  ci/docker/install/requirements
  tests/python/unittest/test_metric.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#17149 Fix norm sparse fallback regression
  src/operator/tensor/broadcast_reduce_norm_value.cc
  src/operator/tensor/broadcast_reduce_norm_value.cu
  src/operator/tensor/broadcast_reduce_op.h
Labels: Bug, R1.6.0, Sparse

#17141 [Numpy] Backport np.random.randn to master
  python/mxnet/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17150 [numpy] fix argsort typo
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Labels: Numpy

#17130 [Doc] Fix broken link
  example/quantization/README.md
Labels: Doc

#17175 [numpy] add op round
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17147 Quantized Elemwise Mul Operator
  src/operator/quantization/quantized_elemwise_mul-inl.h
  src/operator/quantization/quantized_elemwise_mul.cc
  src/operator/subgraph/mkldnn/mkldnn_elemwisemul_post_quantize_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  tests/python/quantization/test_quantization.py
Labels: Quantization

#17148 Further optimization for NCF model
  example/neural_collaborative_filtering/README.md
  example/neural_collaborative_filtering/benchmark.sh
  example/neural_collaborative_filtering/convert.py
  example/neural_collaborative_filtering/core/model.py
  example/neural_collaborative_filtering/model_optimizer.py
  example/neural_collaborative_filtering/ncf.py
  example/neural_collaborative_filtering/train.py
Labels: Example

#17161 [MKL-DNN] Enhance Quantization Method
  python/mxnet/contrib/quantization.py
Labels: MKLDNN, Quantization

#17153 fix py27 quantization
  python/mxnet/contrib/quantization.py
Labels: MKLDNN, Quantization

#17087 OP All/Any [Numpy]
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_boolean.cc
  src/operator/numpy/np_broadcast_reduce_op_boolean.cu
  src/operator/operator_tune.cc
  src/operator/tensor/broadcast_reduce-inl.cuh
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17100 [Numpy] add op np.linalg.tensorsolve
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/np_tensorsolve-inl.h
  src/operator/numpy/linalg/np_tensorsolve.cc
  src/operator/numpy/linalg/np_tensorsolve.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17176 Op amax [Numpy]
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#17023 [numpy]Add op delete
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_delete_op-inl.h
  src/operator/numpy/np_delete_op.cc
  src/operator/numpy/np_delete_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17172 [MXNET-1441] julia: porting `context.empty_cache`
  julia/src/MXNet.jl
  julia/src/context.jl
Labels: Julia

#17166 [MKLDNN] fix int8 elemwise add ut
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#17031 Use CMake standard library to handle CUDA
  3rdparty/mshadow/cmake/Cuda.cmake
  3rdparty/mshadow/cmake/Utils.cmake
  3rdparty/mshadow/cmake/mshadow.cmake
  3rdparty/mshadow/cmake/mshadowUtils.cmake
  CMakeLists.txt
  ci/build_windows.py
  ci/docker/install/ubuntu_core.sh
  ci/docker/runtime_functions.sh
  cmake/BuildTVM.cmake
  cmake/FirstClassLangCuda.cmake
  cmake/Modules/FindCUDAToolkit.cmake
  contrib/tvmop/compile.py
Labels: CMake, pr-awaiting-review

#17169 [Numpy] op empty_like, add nan_to_num to dispatch
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/numpy_op_fallback.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17192 [numpy] add op flipud, fliplr
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy
