Repository apache/mxnet, pull requests merged in 2020-03, with the labels that each got.

#17737 [Numpy] Fix zero size issue (Sum)
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17672 [Numpy] more support for boolean indexing/assign and change on implementation
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_nonzero_op.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#17657 Add numpy_fallback decorator
  python/mxnet/ndarray/ndarray.py
  python/mxnet/util.py
  tests/python/gpu/test_numpy_fallback.py
Labels: Numpy

#17675 [Large Tensor] Fix multi_lars op
  src/operator/contrib/multi_lars-inl.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17673 change error tolerance for bf16 bn test
  tests/python/mkl/test_bf16_operator.py
Labels: MKLDNN

#17632 [Large Tensor] Fixed RNN op
  src/operator/rnn-inl.h
  src/operator/rnn_impl.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17772 add flow for getting executor data when batch size is missing
  python/mxnet/module/executor_group.py
Labels: Backport 1.x

#17777 Add alias for np.__version__ and np.dtype
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#17597 [CI] Remove print stacktrace (due to security concerns)
  ci/Jenkinsfile_utils.groovy
Labels: pr-awaiting-merge, pr-awaiting-review

#17707 [MKLDNN] Remove overhead of sg_mkldnn_fullyconnected op
  src/operator/subgraph/mkldnn/mkldnn_common.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Labels: MKLDNN

#17735 Fix OpPerf in Master
  benchmark/opperf/rules/default_params.py
Labels: pr-awaiting-merge

#17738 [Numpy] ffi invocation: expand_dims, tril, diff, broadcast_to
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_broadcast_reduce_op_value.cc
  src/api/operator/numpy/np_diff_op.cc
  src/api/operator/numpy/np_matrix_op.cc
  src/api/operator/numpy/np_tril_op.cc
  src/operator/numpy/np_diff-inl.h
  src/operator/numpy/np_tril_op-inl.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/matrix_op-inl.h
Labels: Numpy

#17780 [Numpy] Benchmark for new ffi
  benchmark/python/ffi/benchmark_ffi.py
Labels: Numpy

#17487 [OpPerf] Consolidate array manipulation related operators
  benchmark/opperf/README.md
  benchmark/opperf/nd_operations/README.md
  benchmark/opperf/nd_operations/array_manipulation_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
  benchmark/opperf/utils/profiler_utils.py
Labels: pr-awaiting-review

#17717 [Numpy] FFI: Bincount, Percentile/Quantile, All/Any
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_bincount_op.cc
  src/api/operator/numpy/np_broadcast_reduce_op_boolean.cc
  src/api/operator/numpy/np_percentile_op.cc
  src/api/operator/op_utils.cc
  src/api/operator/op_utils.h
  src/operator/numpy/np_bincount_op-inl.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_boolean.cc
  src/operator/numpy/np_broadcast_reduce_op_boolean.cu
  src/operator/numpy/np_percentile_op-inl.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17586 [numpy] add op random.f
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17788 [Numpy] Fix np.clip in scalar case
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17807 [numpy] add magic methods for symbol bitwise ops
  python/mxnet/symbol/numpy/_symbol.py
Labels: Numpy

#17825 [Numpy] Fix np.random.chisquare
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/symbol/numpy/random.py
Labels: Numpy

#17316 [NumPy] add op random.laplace
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/api/operator/numpy/random/np_laplace_op.cc
  src/operator/numpy/random/np_laplace_op.cc
  src/operator/numpy/random/np_laplace_op.cu
  src/operator/numpy/random/np_laplace_op.h
  tests/nightly/test_np_random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17805 fixing batch_norm and layer_norm for large tensor nightly test
  src/operator/nn/batch_norm.cc
  src/operator/nn/layer_norm.cc
Labels: pr-awaiting-merge

#17817 [Numpy] FFI for np_where
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_memory_op.cc
  src/api/operator/numpy/np_where_op.cc
  src/operator/numpy/np_where_op-inl.h
Labels: Numpy

#17832 ffi: polyval, ediff1d, nan_to_num
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_ediff1d_op.cc
  src/api/operator/numpy/np_nan_to_num_op.cc
  src/api/operator/numpy/np_polynomial_op.cc
  src/operator/numpy/np_ediff1d_op-inl.h
  src/operator/tensor/elemwise_unary_op.h
Labels: Numpy

#17830 Test clang10 -WError build on CI
  3rdparty/mshadow/CMakeLists.txt
  CMakeLists.txt
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu102
  ci/docker/Dockerfile.build.ubuntu_gpu_cu80
  ci/docker/Dockerfile.build.ubuntu_gpu_cu90
  ci/docker/Dockerfile.build.ubuntu_gpu_cu92
  ci/docker/install/ubuntu_binutils.sh
  ci/docker/install/ubuntu_clang.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_clang
  ci/jenkins/Jenkinsfile_miscellaneous
  cpp-package/scripts/OpWrapperGenerator.py
  example/image-classification/predict-cpp/image-classification-predict.cc
  src/executor/eliminate_common_expr_pass.cc
  src/executor/infer_graph_attr_pass.cc
  src/imperative/cached_op.h
  src/imperative/cached_op_threadsafe.cc
  src/nnvm/legacy_json_util.cc
  src/operator/contrib/amp_graph_pass.cc
  src/operator/contrib/fft-inl.h
  src/operator/contrib/ifft-inl.h
  src/operator/cross_device_copy.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/operator_tune-inl.h
  src/operator/operator_tune.h
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_elemwise_mul.cc
  src/operator/random/shuffle_op.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/mkldnn/mkldnn_post_quantize_align_scale_property.h
  src/operator/subgraph/subgraph_property.h
  src/profiler/storage_profiler.cc
  src/storage/pooled_storage_manager.h
  tests/cpp/include/test_core_op.h
  tests/cpp/include/test_op.h
  tests/cpp/include/test_util.h
  tests/cpp/misc/libinfo_test.cc
  tests/cpp/storage/storage_test.cc
Labels: pr-awaiting-review

#17797 Skip test_multi_worker_dataloader_release_pool
  tests/python/unittest/test_gluon_data.py
Labels: CI

#17861 [Numpy] FFI: roll/rot90
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
Labels: Numpy

#17843 [Numpy] FFI for argmax, argmin, indices
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_broadcast_reduce_op_index.cc
  src/api/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.h
  src/operator/tensor/broadcast_reduce_op.h
Labels: Numpy

#17835 Fix broken ImageNet Inference: GPU nighlty test
  CMakeLists.txt
  cpp-package/CMakeLists.txt
  cpp-package/example/CMakeLists.txt
  cpp-package/example/charRNN.cpp
  cpp-package/example/inference/CMakeLists.txt
Labels: pr-awaiting-review

#17623 Dynamic subgraph compile support
  example/extensions/lib_subgraph/README.md
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  include/mxnet/c_api.h
  include/mxnet/lib_api.h
  perl-package/AI-MXNetCAPI/mxnet.i
  python/mxnet/gluon/block.py
  python/mxnet/symbol/symbol.py
  src/c_api/c_api.cc
  src/c_api/c_api_symbolic.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
  src/operator/subgraph/subgraph_property.h
  tests/python/unittest/test_extensions.py
  tests/python/unittest/test_subgraph_op.py
Labels: pr-awaiting-merge

#17569 Adding sparse support to MXTensor for custom operators
  example/extensions/lib_custom_op/Makefile
  example/extensions/lib_custom_op/test_transposecsr.py
  example/extensions/lib_custom_op/test_transposerowsp.py
  example/extensions/lib_custom_op/transposecsr_lib.cc
  example/extensions/lib_custom_op/transposerowsp_lib.cc
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Labels: pr-awaiting-merge

#17567 [Numpy] Add op fmax, fmin, fmod
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_elemwise_broadcast_op_extended_sec.cc
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended_sec.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_sec.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17323 [Numpy] Kron operator
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_kron.cc
  src/operator/numpy/np_kron-inl.h
  src/operator/numpy/np_kron.cc
  src/operator/numpy/np_kron.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17789 [Numpy] FFI: diag/diagonal/diag_indices_from
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
Labels: Numpy

#17869 [Numpy] FFI for einsum, dstack, unique
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_einsum_op.cc
  src/api/operator/numpy/np_matrix_op.cc
  src/api/operator/numpy/np_unique_op.cc
  src/operator/nn/concat-inl.h
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_unique_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy
