Repository apache/mxnet, pull requests merged in 2020-04, with the labels that each got.

#17956 [Website 2.0] Nightly Build for v1.x
  ci/jenkins/Jenkinsfile_website_nightly
Labels: pr-awaiting-review

#17795 [Numpy] FFI for linalg ops
  Makefile
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/api/operator/numpy/linalg/np_eigvals.cc
  src/api/operator/numpy/linalg/np_inv.cc
  src/api/operator/numpy/linalg/np_pinv.cc
  src/api/operator/numpy/linalg/np_potrf.cc
  src/api/operator/numpy/linalg/np_solve.cc
  src/api/operator/numpy/linalg/np_tensorinv.cc
  src/api/operator/numpy/linalg/np_tensorsolve.cc
  src/api/operator/ufunc_helper.cc
  src/api/operator/utils.cc
  src/api/operator/utils.h
  src/operator/numpy/linalg/np_eigvals-inl.h
  src/operator/numpy/linalg/np_pinv-inl.h
  src/operator/numpy/linalg/np_potrf.cc
  src/operator/numpy/linalg/np_tensorinv-inl.h
  src/operator/numpy/linalg/np_tensorsolve-inl.h
  src/operator/tensor/la_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17950 [Numpy] Add op linalg.lstsq
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/numpy/linalg/np_lstsq-inl.h
  src/operator/numpy/linalg/np_lstsq.cc
  src/operator/numpy/linalg/np_lstsq.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17873 [Numpy] FFI: array_split, v/h/dsplit
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op.cc
Labels: Numpy

#17897 [Numpy] FFI: atleast_1/2/3d
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
Labels: Numpy

#17762 Custom Operator Random Number Generator Support
  CMakeLists.txt
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/test_relu.py
  include/mxnet/lib_api.h
  include/mxnet/random_generator.h
  src/c_api/c_api.cc
  src/common/random_generator.cu
  tests/python/gpu/test_extensions_gpu.py
Labels: pr-awaiting-merge

#17902 [mkldnn] optimize for mkldnn batchnorm backward
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Labels: MKLDNN

#17921 [Numpy] allow mix integer dtypes for power/add/multiply
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17793 [Numpy] OP_interp
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_interp_op.cc
  src/operator/numpy/np_interp_op-inl.h
  src/operator/numpy/np_interp_op.cc
  src/operator/numpy/np_interp_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17812 [numpy] FFI binary bitwise ops
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
Labels: Numpy

#17884 [MKL-DNN] Integrate Conv3d and Pool3d/1d
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_base.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/quantized_pooling.cc
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_conv_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  tests/python/mkl/test_mkldnn.py
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#17851 [Numpy] np.linalg.qr forward implementation
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/numpy/linalg/np_qr-inl.h
  src/operator/numpy/linalg/np_qr.cc
  src/operator/numpy/linalg/np_qr.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17973 Improve activation backward
  src/operator/nn/mkldnn/mkldnn_act.cc
Labels: MKLDNN

#17880 [NumPy] Fix np flip when axis input contains negative number
  src/operator/numpy/np_matrix_op-inl.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17759 [numpy] FFI for insert \ delete \ matmul etc.
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  src/api/operator/numpy/np_broadcast_reduce_op_value.cc
  src/api/operator/numpy/np_delete_op.cc
  src/api/operator/numpy/np_init_op.cc
  src/api/operator/numpy/np_insert_op.cc
  src/api/operator/numpy/np_matmul_op.cc
  src/api/operator/numpy/np_matrix_op.cc
  src/api/operator/numpy/np_window_op.cc
  src/api/operator/random/np_gamma_op.cc
  src/api/operator/random/np_normal_op.cc
  src/api/operator/random/np_uniform_op.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_delete_op-inl.h
  src/operator/numpy/np_init_op.h
  src/operator/numpy/np_insert_op-inl.h
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_window_op.h
  src/operator/numpy/random/np_gamma_op.h
  src/operator/numpy/random/np_normal_op.h
  src/operator/numpy/random/np_uniform_op.h
  src/operator/tensor/init_op.h
Labels: Numpy

#17865 [Numpy] add: numpy op rollaxis
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17904 [Numpy] add: numpy op trilindices
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17900 [MKLDNN] support using any format in pooling backward
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Labels: MKLDNN

#17899 [Numpy][Bug Fix] Fix Wrong Result in Numpy Operator `where`
  src/operator/numpy/np_where_op-inl.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17879 [Numpy] FFI for linalg.eig/eigh/det/slogdet
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/linalg.py
  src/api/operator/numpy/linalg/np_det.cc
  src/api/operator/numpy/linalg/np_eig.cc
  src/api/operator/numpy/linalg/np_slogdet.cc
  src/operator/numpy/linalg/np_eig-inl.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17993 [R][v1.6.x] Fix blocked pipelines [windows,unix-cpu,unix-gpu] on v1.6.x
  Makefile
  R-package/R/callback.R
  R-package/R/zzz.R
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
  ci/docker/install/ubuntu_publish.sh
  tests/python/quantization/test_quantization.py
Labels: pr-awaiting-review

#17957 [Website 2.0] Nightly Build for v2.x (master)
  ci/jenkins/Jenkinsfile_website_nightly
Labels: pr-awaiting-review

#17927 update ruby & jekyll, remove incompatible plugins
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
  docs/static_site/src/Gemfile
  docs/static_site/src/Gemfile.lock
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
Labels: Website

#18016 [Website 2.0] Fix RVM version to satisfy Jekyll build in v1.x
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
Labels: Website, pr-awaiting-review, v1.x

#17995 Fix ElemwiseSum for more than 4 inputs
  src/operator/tensor/elemwise_sum.h
  tests/python/unittest/test_operator.py
Labels: v1.x

#18021 fix nightly imagenet_inference
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Labels: pr-awaiting-merge

#17779 [Numpy] FFI Invocation for Unary Ops
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/numpy/np_elemwise_unary_op_basic.cc
  src/api/operator/ufunc_helper.cc
  src/api/operator/ufunc_helper.h
Labels: Numpy

#17748 [Bug Fix] support multiple-dim input for unravel_index
  src/operator/tensor/ravel.cc
  src/operator/tensor/ravel.h
  tests/python/unittest/test_operator.py
Labels: pr-awaiting-merge

#17937 Fix for handling negative indices in the fusion of slice
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
  tests/python/gpu/test_fusion.py
Labels: v1.x

#18018 Fix gnu_tls handshake error on Ubuntu 14.04 Nvidia Docker
  ci/docker/install/ubuntu_publish.sh
Labels: Build

#17872 Fix issue of zeros gradients w.r.t. RNN bias when num_layers > 1
  python/mxnet/gluon/rnn/rnn_layer.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  tests/python/unittest/test_gluon_rnn.py
Labels: MKLDNN

#17679 [MKL-DNN] BatchNormRelu Fusion
  python/mxnet/gluon/contrib/nn/basic_layers.py
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  tests/python/mkl/test_mkldnn.py
Labels: MKLDNN

#18028 [MKLDNN] Support quantized rnn towards v1.6.x
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/op_attr_types.h
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize-inl.h
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#18020 [Numpy] Add op linalg.matrix_rank
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/api/operator/numpy/linalg/np_matrix_rank.cc
  src/operator/numpy/linalg/np_matrix_rank-inl.h
  src/operator/numpy/linalg/np_matrix_rank.cc
  src/operator/numpy/linalg/np_matrix_rank.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18040 [Numpy] FFI for linalg.lstsq/qr
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/api/operator/numpy/linalg/np_lstsq.cc
  src/api/operator/numpy/linalg/np_qr.cc
  src/operator/numpy/linalg/np_lstsq-inl.h
Labels: Numpy

#18051 [numpy] FFI random.exponential, logistic, gumbel, rayleigh, weibull, power, pareto
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/api/operator/numpy/random/np_exponential_op.cc
  src/api/operator/numpy/random/np_location_scale_op.cc
  src/api/operator/numpy/random/np_pareto_op.cc
  src/api/operator/numpy/random/np_power_op.cc
  src/api/operator/numpy/random/np_rayleigh_op.cc
  src/api/operator/numpy/random/np_weibull_op.cc
  src/operator/numpy/random/np_exponential_op.h
  src/operator/numpy/random/np_location_scale_op.h
  src/operator/numpy/random/np_pareto_op.h
  src/operator/numpy/random/np_power_op.h
  src/operator/numpy/random/np_rayleigh_op.h
  src/operator/numpy/random/np_weibull_op.h
Labels: Numpy

#18044 Cherrypick #18018
  ci/docker/install/ubuntu_publish.sh
Labels: v1.x

#17614 [NumPy] Add NumPy support for triu
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_triu_op.cc
  src/operator/numpy/np_triu_op-inl.h
  src/operator/numpy/np_triu_op.cc
  src/operator/numpy/np_triu_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18038 [v1.x] Backport #17702 and #17872 to v1.x branch
  python/mxnet/gluon/rnn/rnn_layer.py
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  src/operator/rnn_impl.h
  tests/python/unittest/test_gluon_rnn.py
Labels: MKLDNN

#18009 [mkldnn]Mkldnn bn opt backport from master to 1.7x
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Labels: v1.x

#18045 [v1.x] backport Optimize AddTakeGrad Tensor Sum (#17906) to v1.x
  3rdparty/mshadow/mshadow/tensor_cpu-inl.h
Labels: MKLDNN, v1.x

#18023 GPU gemms true fp16 (#17466)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/contrib/transformer.cu
  src/operator/linalg_impl.h
  tests/python/gpu/test_gluon_gpu.py
Labels: v1.x

#18076 [Numpy Extension] Add stop_gradient to npx
  src/operator/tensor/elemwise_unary_op_basic.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17866 [Numpy] Add ffi for np.sum, np.std, np.var and np.average
  benchmark/python/ffi/benchmark_ffi.py
  include/mxnet/runtime/ffi_helper.h
  include/mxnet/runtime/object.h
  python/mxnet/_ffi/_cython/convert.pxi
  python/mxnet/_ffi/node_generic.py
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/linalg.py
  src/api/_api_internal/_api_internal.cc
  src/api/operator/numpy/np_bincount_op.cc
  src/api/operator/numpy/np_broadcast_reduce_op_value.cc
  src/api/operator/numpy/np_cumsum.cc
  src/api/operator/numpy/np_histogram_op.cc
  src/api/operator/numpy/np_moments_op.cc
  src/api/operator/numpy/np_tensordot_op.cc
  src/api/operator/utils.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/tensor/histogram-inl.h
Labels: Numpy

#18050 [Numpy] Add linalg.qr backward
  src/operator/numpy/linalg/np_qr-inl.h
  src/operator/numpy/linalg/np_qr.cc
  src/operator/numpy/linalg/np_qr.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18080 Add zero grad for npi_unique
  src/operator/numpy/np_unique_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18066 [Numpy] add new ffi for np.linalg.norm
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/linalg.py
  src/api/operator/numpy/linalg/np_norm.cc
  src/operator/numpy/linalg/np_norm-inl.h
Labels: Numpy

#18017 [Numpy] New FFIs for Operator: tile, trace, transpose
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_matrix_op.cc
  src/api/operator/numpy/np_trace_op.cc
  src/api/operator/tensor/matrix_op.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/numpy/np_trace_op-inl.h
  src/operator/numpy/np_trace_op.cc
  src/operator/numpy/np_trace_op.cu
  src/operator/tensor/matrix_op-inl.h
Labels: Numpy

#18039 [MKLDNN] Backport #17707 "Remove overhead of sg_mkldnn_fullyconnected op" to v1.x
  src/operator/subgraph/mkldnn/mkldnn_common.h
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Labels: MKLDNN, v1.x

#17637 [Numpy] Add cross product backward
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_cross.cc
  src/operator/numpy/np_cross-inl.h
  src/operator/numpy/np_cross.cc
  src/operator/numpy/np_cross.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_optimizer.py
Labels: Numpy

#18041 Cherry-pick of #17995 and #17937 to 1.x branch
  src/operator/fusion/fused_op-inl.h
  src/operator/fusion/fused_op.cu
  src/operator/tensor/elemwise_sum.h
  tests/python/gpu/test_fusion.py
  tests/python/unittest/test_operator.py
Labels: v1.x

#17896 [Numpy] FFI: random.shuffle, equal, not_equal, less_equal, greater_equal, less, maximum and minimum
  benchmark/python/ffi/benchmark_ffi.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  src/api/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/api/operator/random/shuffle_op.cc
  src/api/operator/tensor/elemwise_binary_broadcast_op_extended.cc
Labels: Numpy

#18095 Fix and optimize handling of vectorized memory accesses (#17767)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/half2.h
  src/common/cuda_vectorization.cuh
  src/operator/mshadow_op.h
  src/operator/tensor/elemwise_binary_op.cuh
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op.cuh
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_basic.cu
  src/operator/tensor/elemwise_binary_scalar_op_extended.cu
  src/operator/tensor/elemwise_sum.cu
  src/operator/tensor/elemwise_sum.h
  src/operator/tensor/elemwise_unary_op.cuh
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_unary_op_pow.cu
  src/operator/tensor/elemwise_unary_op_trig.cu
  tests/python/unittest/test_operator.py
Labels: v1.x

#17534 [numpy] add logical op
  benchmark/python/ffi/benchmark_ffi.py
  contrib/tvmop/core/umath.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18111 [v1.x] Backport master #17673 to v1.x branch : change error tolerance for bf16 bn
  tests/python/mkl/test_bf16_operator.py
Labels: MKLDNN, v1.x

#18115 CI: Consolidate Dockerfiles
  cd/mxnet_lib/mxnet_lib_pipeline.groovy
  cd/python/docker/Jenkins_pipeline.groovy
  cd/python/pypi/Jenkins_pipeline.groovy
  ci/Jenkinsfile_utils.groovy
  ci/build.py
  ci/docker/Dockerfile.build.centos7
  ci/docker/Dockerfile.build.centos7_cpu
  ci/docker/Dockerfile.build.centos7_gpu
  ci/docker/Dockerfile.publish.centos7_cpu
  ci/docker/Dockerfile.publish.centos7_gpu_cu100
  ci/docker/Dockerfile.publish.centos7_gpu_cu101
  ci/docker/Dockerfile.publish.centos7_gpu_cu102
  ci/docker/Dockerfile.publish.centos7_gpu_cu92
  ci/docker/docker-compose.yml
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/centos7_ccache.sh
  ci/docker/install/centos7_core.sh
  ci/docker/install/centos7_cudnn.sh
  ci/docker/install/centos7_nccl.sh
  ci/docker/install/centos7_python.sh
  ci/docker/install/centos7_scala.sh
  ci/docker/runtime_functions.sh
  ci/docker_cache.py
  ci/jenkins/Jenkins_steps.groovy
  ci/publish/Jenkinsfile
  config/distribution/linux_cu92.cmake
Labels: pr-awaiting-review

#18122 [v1.7.x] Backport #17772
  python/mxnet/module/executor_group.py
Labels: pr-awaiting-merge

#17254 [numpy] change unary infer type
  src/common/utils.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18129 Fix convenient method for np.sum
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18155 [MKL-DNN] Add bnrelu bf16 into amp list
  python/mxnet/contrib/amp/lists/symbol_bf16.py
Labels: MKLDNN

#18049 [numpy] add numpy op fill_diagonal
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/api/operator/numpy/np_fill_diagonal_op.cc
  src/operator/numpy/np_fill_diagonal_op-inl.h
  src/operator/numpy/np_fill_diagonal_op.cc
  src/operator/numpy/np_fill_diagonal_op.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18148 [Numpy] Implement digamma and its backward
  src/operator/mshadow_op.h
  src/operator/operator_tune.cc
  src/operator/special_functions-inl.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_basic.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18075 [1.x] Backport #17772
  python/mxnet/module/executor_group.py
Labels: pr-awaiting-merge

#18157 [numpy] Fix core dump for tril, triu
  include/mxnet/runtime/packed_func.h
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18182 Fixed Install page history broken
  docs/static_site/src/_sass/minima/_getting_started.scss
  docs/static_site/src/assets/js/options.js
Labels: Website, pr-awaiting-review

#17283 [NumPy]Set numpy default dtype
  benchmark/python/einsum/benchmark_einsum.py
  benchmark/python/ffi/benchmark_ffi.py
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/__init__.py
  python/mxnet/gluon/data/dataloader.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy_extension/__init__.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
  python/mxnet/symbol/numpy_extension/random.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  src/api/operator/numpy/np_broadcast_reduce_op_value.cc
  src/api/operator/numpy/np_init_op.cc
  src/api/operator/numpy/np_window_op.cc
  src/api/operator/random/np_gamma_op.cc
  src/api/operator/random/np_normal_op.cc
  src/api/operator/random/np_uniform_op.cc
  src/c_api/c_api_ndarray.cc
  src/common/utils.h
  src/operator/numpy/linalg/np_gesvd.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/numpy/np_window_op.cc
  src/operator/numpy/np_window_op.h
  src/operator/numpy/random/np_bernoulli_op.h
  src/operator/numpy/random/np_gamma_op.cc
  src/operator/numpy/random/np_gamma_op.h
  src/operator/numpy/random/np_laplace_op.h
  src/operator/numpy/random/np_normal_op.h
  src/operator/numpy/random/np_uniform_op.h
  src/operator/random/sample_op.h
  src/operator/tensor/init_op.cc
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_default_dtype.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#18178 Fix nightly large_vector test caused by incorrect with_seed path
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/unittest/common.py
Labels: pr-awaiting-merge

#18174 Restore missing FAQ tutorial from website migration
  CONTRIBUTORS.md
  docs/static_site/src/pages/api/faq/add_op_in_backend.md
  docs/static_site/src/pages/api/faq/tensor_inspector_tutorial.md
Labels: pr-awaiting-merge

#17462 Updated PartialSortSmallK for LT support
  CONTRIBUTORS.md
  src/operator/tensor/ordering_op-inl.h
Labels: pr-awaiting-review
