Repository apache/mxnet, pull requests merged in 2020-02, with the labels that each got.

#16654 Multithreaded Inference Support
  CMakeLists.txt
  Makefile
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
  cpp-package/include/mxnet-cpp/ndarray.hpp
  cpp-package/include/mxnet-cpp/symbol.h
  cpp-package/include/mxnet-cpp/symbol.hpp
  docs/static_site/src/pages/api/cpp/docs/tutorials/multi_threaded_inference.md
  example/multi_threaded_inference/Makefile
  example/multi_threaded_inference/README.md
  example/multi_threaded_inference/get_model.py
  example/multi_threaded_inference/multi_threaded_inference.cc
  include/mxnet/c_api.h
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/cached_op_threadsafe.cc
  src/imperative/cached_op_threadsafe.h
  tests/CMakeLists.txt
  tests/cpp/engine/thread_local_test.cc
  tests/cpp/include/test_util.h
  tests/cpp/operator/mkldnn_operator_test.cc
  tests/cpp/test_main.cc
  tests/cpp/thread_safety/thread_safety_test.cc
  tests/cpp/unittest.mk
Labels: pr-awaiting-review

#15124 [MXNET-1294] Priority-based parameter propagation for improved data parallel training throughput
  ci/docker/runtime_functions.sh
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/c_api.h
  include/mxnet/kvstore.h
  python/mxnet/error.py
  python/mxnet/gluon/trainer.py
  python/mxnet/kvstore/base.py
  python/mxnet/kvstore/kvstore.py
  python/mxnet/model.py
  src/c_api/c_api.cc
  src/kvstore/kvstore.cc
  src/kvstore/kvstore_dist.h
  src/kvstore/kvstore_local.h
  src/kvstore/p3store_dist.h
  tests/nightly/dist_device_sync_kvstore.py
  tests/nightly/dist_device_sync_kvstore_custom.py
  tools/launch.py
Labels: Backend, pr-awaiting-review

#15990 Remove python2 from CI
  CMakeLists.txt
  Makefile
  ci/docker/install/centos7_python.sh
  ci/docker/install/requirements
  ci/docker/install/tensorrt.sh
  ci/docker/install/ubuntu_arm.sh
  ci/docker/install/ubuntu_caffe.sh
  ci/docker/install/ubuntu_core.sh
  ci/docker/install/ubuntu_nightly_tests.sh
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/docker/install/ubuntu_python.sh
  ci/docker/install/ubuntu_tutorials.sh
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  ci/jenkins/Jenkinsfile_unix_gpu
  ci/jenkins/Jenkinsfile_windows_cpu
  ci/jenkins/Jenkinsfile_windows_gpu
  ci/windows/test_py2_cpu.ps1
  ci/windows/test_py2_gpu.ps1
  example/image-classification/__init__.py
  example/image-classification/benchmark.py
  example/image-classification/benchmark_score.py
  example/image-classification/fine-tune.py
  example/image-classification/score.py
  example/image-classification/test_score.py
  example/image-classification/train_cifar10.py
  example/image-classification/train_imagenet.py
  example/image-classification/train_mnist.py
  julia/docs/Makefile
  tests/nightly/test_kvstore.py
  tests/python-pytest/onnx/backend_test.py
  tests/python/tensorrt/lenet5_train.py
  tests/python/unittest/test_numpy_ndarray.py
  tools/caffe_converter/test_converter.py
  tools/staticbuild/build_wheel.sh
Labels: CI, pr-awaiting-merge

#17415 [numpy]add op random.lognormal
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17188 [Numpy] Add linalg.eig/eigh/eigvals/eigvalsh op
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  python/mxnet/test_utils.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/numpy/linalg/np_eig-inl.h
  src/operator/numpy/linalg/np_eig.cc
  src/operator/numpy/linalg/np_eig.cu
  src/operator/numpy/linalg/np_eigvals-inl.h
  src/operator/numpy/linalg/np_eigvals.cc
  src/operator/numpy/linalg/np_eigvals.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17508 [OpPerf] Fixes the issue when you pass NDArray to run_perf_test
  benchmark/opperf/utils/ndarray_utils.py
Labels: pr-awaiting-review

#17505 [numpy]Add numpy.random.weibull operator
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_weibull_op.cc
  src/operator/numpy/random/np_weibull_op.cu
  src/operator/numpy/random/np_weibull_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17325 Fix Flaky Test Higher Order Grad
  python/mxnet/test_utils.py
  src/nnvm/node_op_util.h
  src/operator/tensor/elemwise_unary_op_logexp.cc
  src/operator/tensor/elemwise_unary_op_trig.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Flaky, Test

#17494 [OpPerf] Fix markdown for native profile and add profile param in function desc
  benchmark/opperf/nd_operations/array_rearrange.py
  benchmark/opperf/nd_operations/binary_operators.py
  benchmark/opperf/nd_operations/gemm_operators.py
  benchmark/opperf/nd_operations/nn_optimizer_operators.py
  benchmark/opperf/nd_operations/random_sampling_operators.py
  benchmark/opperf/nd_operations/reduction_operators.py
  benchmark/opperf/nd_operations/sorting_searching_operators.py
  benchmark/opperf/nd_operations/unary_operators.py
  benchmark/opperf/utils/common_utils.py
Labels: pr-awaiting-merge

#17450 skipping tests that cannot fit in nightly CI machine
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-merge

#16253 [OpPerf] Add Indexing ops
  benchmark/opperf/nd_operations/indexing_routines.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/ndarray_utils.py
  benchmark/opperf/utils/op_registry_utils.py
  src/operator/tensor/broadcast_reduce_op_index.cc
Labels: pr-awaiting-review

#17391 fix issue #17389: Indexing ndarray should give empty array output
  python/mxnet/ndarray/ndarray.py
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#17407 Implemented final two binary ops, added default params for functionality
  benchmark/opperf/nd_operations/binary_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: pr-awaiting-review

#16164 Re-Enabling Large Tensor and Vector Nightly on GPU
  tests/nightly/JenkinsfileForBinaries
Labels: pr-awaiting-merge

#17517 [numpy] Add np.random.pareto and np.random.power
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_pareto_op.cc
  src/operator/numpy/random/np_pareto_op.cu
  src/operator/numpy/random/np_pareto_op.h
  src/operator/numpy/random/np_power_op.cc
  src/operator/numpy/random/np_power_op.cu
  src/operator/numpy/random/np_power_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15969 Partitioning Gluon HybridBlocks
  python/mxnet/gluon/block.py
  tests/python/unittest/test_subgraph_op.py
Labels: pr-awaiting-review

#17502 [OpPerf] Implement remaining random sampling ops
  benchmark/opperf/nd_operations/random_sampling_operators.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: pr-awaiting-review

#17538 add np.amin op
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#17499 skip flaky test_convolution_multiple_streams
  tests/python/gpu/test_operator_gpu.py
Labels: Flaky, Test

#17501 [OpPerf] Implement remaining GEMM ops
  benchmark/opperf/nd_operations/gemm_operators.py
Labels: pr-awaiting-review

#17549 Pin Markdown version to 3.1 in Julia doc build
  julia/docs/Makefile
Labels: CI, Doc, Julia, Website, pr-awaiting-merge

#17170 add mkldnn softmax backward
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Labels: MKLDNN

#17535 add op isnan isinf
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17546 enabling build stage gpu_int64 to enable large tensor nightly runs
  tests/nightly/JenkinsfileForBinaries
Labels: pr-awaiting-merge

#17393 [Numpy] Add sort op
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/ordering_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17444 [Large Tensor] Add LT support for NN optimizers and 1 activation function
  src/operator/optimizer_op-inl.h
  src/operator/tensor/elemwise_unary_op.h
Labels: pr-awaiting-review

#17401 [numpy]implement exponential backward
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_exponential_op.cc
  src/operator/numpy/random/np_exponential_op.cu
  src/operator/numpy/random/np_exponential_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17528 [OpPerf] Implement all linalg ops
  benchmark/opperf/nd_operations/linalg_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: pr-awaiting-merge, pr-awaiting-review

#16794 Random rotation
  python/mxnet/gluon/data/vision/transforms.py
  python/mxnet/image/image.py
  tests/python/unittest/test_gluon_data_vision.py
  tests/python/unittest/test_image.py
Labels: pr-awaiting-merge

#17553 Operator diag_indices_from [Numpy]
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17396 refactor: handle mshadow as cmake target
  3rdparty/mshadow/CMakeLists.txt
  3rdparty/mshadow/cmake/AutoDetectF16C.cmake
  CMakeLists.txt
Labels: CMake, pr-awaiting-review

#17249 [Numpy] Where operator scalar version
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_where_op-inl.h
  src/operator/numpy/np_where_op.cc
  src/operator/numpy/np_where_op.cu
Labels: Numpy

#17561 pin Sphinx due to autodocsumm issue with v2.4.0
  docs/python_docs/environment.yml
Labels: pr-awaiting-merge

#17475 Implement remaining nn_activation ops in opperf
  benchmark/opperf/nd_operations/nn_activation_operators.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: pr-awaiting-review

#17571 [OpPerf] Fixed native output ordering, added warmup & runs command line args
  benchmark/opperf/opperf.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/common_utils.py
  benchmark/opperf/utils/profiler_utils.py
Labels: pr-awaiting-review

#17524 add np.random.chisquare
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17542 [OpPerf] Add norm, cast ops, remaining optimizer ops
  benchmark/opperf/nd_operations/nn_optimizer_operators.py
  benchmark/opperf/nd_operations/unary_operators.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/ndarray_utils.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: pr-awaiting-review

#16990 [numpy] add op matmul
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matmul_op-inl.h
  src/operator/numpy/np_matmul_op.cc
  src/operator/numpy/np_matmul_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17416 [Numpy] add polynomial polyval
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_polynomial_op-inl.h
  src/operator/numpy/np_polynomial_op.cc
  src/operator/numpy/np_polynomial_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17302 [numpy]add op random.logistic, random.gumbel
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_location_scale_op.cc
  src/operator/numpy/random/np_location_scale_op.cu
  src/operator/numpy/random/np_location_scale_op.h
  tests/nightly/test_np_random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17521 cmake: don't build PTX and 3.5 arch if cuda arch detection fails
  CMakeLists.txt
  LICENSE
  cmake/upstream/FindCUDAToolkit.cmake
  cmake/upstream/select_compute_arch.cmake
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/license_header.py
Labels: CMake

#17511 Implement all miscellaneous ops
  benchmark/opperf/nd_operations/misc_operators.py
  benchmark/opperf/opperf.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/op_registry_utils.py
  benchmark/opperf/utils/profiler_utils.py
Labels: pr-awaiting-review

#17563 [Numpy] add isposinf isneginf isfinite
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17572 [Numpy] Quantile/Percentile-scalar support
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_percentile_op-inl.h
  src/operator/numpy/np_percentile_op.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17131 Support broadcast assign for `npi_boolean_mask_assign_tensor`
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_boolean_mask_assign.cc
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16865 [numpy][Do Not Review]add op insert
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_insert_op-inl.h
  src/operator/numpy/np_insert_op_scalar-inl.h
  src/operator/numpy/np_insert_op_scalar.cc
  src/operator/numpy/np_insert_op_scalar.cu
  src/operator/numpy/np_insert_op_slice-inl.h
  src/operator/numpy/np_insert_op_slice.cc
  src/operator/numpy/np_insert_op_slice.cu
  src/operator/numpy/np_insert_op_tensor-inl.h
  src/operator/numpy/np_insert_op_tensor.cc
  src/operator/numpy/np_insert_op_tensor.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17590 [numpy] Implement Weibull backward
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_weibull_op.cc
  src/operator/numpy/random/np_weibull_op.cu
  src/operator/numpy/random/np_weibull_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16899 Enable MKL-DNN in pip packages
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
  cd/README.md
  cd/mxnet_lib/dynamic/Jenkins_pipeline.groovy
  cd/mxnet_lib/mxnet_lib_pipeline.groovy
  cd/mxnet_lib/static/Jenkins_pipeline.groovy
  cd/python/docker/test_python_image.sh
  cd/python/pypi/pypi_package.sh
  cd/utils/artifact_repository.md
  cd/utils/artifact_repository.py
  cd/utils/docker_tag.sh
  cd/utils/mxnet_base_image.sh
  cd/utils/test_artifact_repository.py
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  make/staticbuild/darwin_cpu.mk
  make/staticbuild/linux_cpu.mk
  make/staticbuild/linux_cu100.mk
  make/staticbuild/linux_cu100mkl.mk
  make/staticbuild/linux_cu101.mk
  make/staticbuild/linux_cu101mkl.mk
  make/staticbuild/linux_cu102.mk
  make/staticbuild/linux_cu102mkl.mk
  make/staticbuild/linux_cu75.mk
  make/staticbuild/linux_cu75mkl.mk
  make/staticbuild/linux_cu80.mk
  make/staticbuild/linux_cu80mkl.mk
  make/staticbuild/linux_cu90.mk
  make/staticbuild/linux_cu90mkl.mk
  make/staticbuild/linux_cu91.mk
  make/staticbuild/linux_cu91mkl.mk
  make/staticbuild/linux_cu92.mk
  make/staticbuild/linux_cu92mkl.mk
  make/staticbuild/linux_native.mk
  tools/staticbuild/README.md
  tools/staticbuild/build_lib.sh
Labels: MKLDNN

#17486 Update CustomOp doc with changes for GPU support
  example/extensions/lib_custom_op/README.md
Labels: pr-awaiting-merge

#16948 update symbol to json
  python/mxnet/symbol/symbol.py
Labels: pr-awaiting-merge

#17230 Additional fix for vector access.
  3rdparty/mshadow/mshadow/dot_engine-inl.h
Labels: pr-awaiting-review

#17604 Doc fix for np.argmax and np.argmin
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Labels: Doc, Numpy

#17478 Add np.dsplit op
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17594 upgrade sphinx and autodocsumm
  docs/python_docs/environment.yml
Labels: Doc

#17609 [numpy] add fallback ops
  include/mxnet/tensor_blob.h
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#17456 Implement remaining nn_basic ops in opperf
  CONTRIBUTORS.md
  benchmark/opperf/nd_operations/nn_basic_operators.py
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/op_registry_utils.py
Labels: pr-awaiting-review

#17634 [Large Tensor] Fixed SoftmaxActivation op
  src/operator/nn/softmax_activation-inl.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17585 Dynamic subgraph property doc
  example/extensions/lib_subgraph/README.md
  example/extensions/lib_subgraph/subgraph_lib.cc
  example/extensions/lib_subgraph/test_subgraph.py
  include/mxnet/lib_api.h
  python/mxnet/gluon/block.py
  src/c_api/c_api.cc
  src/operator/subgraph/partitioner/custom_subgraph_property.h
  tests/python/gpu/test_extensions_gpu.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_extensions.py
Labels: pr-awaiting-review

#17328 [numpy] add op pad
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  scala-package/macros/src/main/scala/org/apache/mxnet/utils/CToScalaUtils.scala
  src/operator/numpy/np_pad_op-inl.h
  src/operator/numpy/np_pad_op.cc
  src/operator/numpy/np_pad_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17489 Add np.product
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy

#17620 Fix flaky - test_operator_gpu.test_np_insert
  src/operator/numpy/np_insert_op_slice-inl.h
  src/operator/numpy/np_insert_op_tensor-inl.h
  tests/python/unittest/test_numpy_op.py
Labels: CI, Flaky, Numpy, Test

#14942 ONNX export: Slice op - Handle None value for ends
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  python/mxnet/contrib/onnx/onnx2mx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
Labels: ONNX, pr-awaiting-merge

#17626 Use relative path for extension unit tests
  tests/python/gpu/test_extensions_gpu.py
  tests/python/unittest/test_extensions.py
Labels: Test

#17611 [Numpy] Modify Quantile/Percentile Testcases
  src/operator/numpy/np_bincount_op.cc
  src/operator/numpy/np_percentile_op.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17607 Implement np.random.pareto backward
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_pareto_op.cc
  src/operator/numpy/random/np_pareto_op.cu
  src/operator/numpy/random/np_pareto_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17622 [Large Tensor] Fixed col2im op
  src/operator/nn/im2col.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17619 [numpy] add op fabs, sometrue, round_
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_boolean.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17647 cmake: copy dnnl headers to include/mkldnn
  CMakeLists.txt
Labels: MKLDNN

#17650 [numpy] add magic methods for bitwise ops
  python/mxnet/numpy/multiarray.py
Labels: Numpy

#17599 [Large Tensor] Fixed Embedding op
  src/operator/tensor/indexing_op.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17617 [Large Tensor] Fixed Spatial Transformer op
  src/operator/spatial_transformer.cc
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17293 [Build] Add a reasonable default for CMAKE_CUDA_COMPILER in *nix
  CMakeLists.txt
Labels: Breaking, Build, pr-awaiting-review

#17668 fix full and full_like when input is boolean
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/tensor/init_op.h
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17624 [Numpy] add ediff1d
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_diff.cc
  src/operator/numpy/np_ediff1d_op-inl.h
  src/operator/numpy/np_ediff1d_op.cc
  src/operator/numpy/np_ediff1d_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17642 [OpPerf] Fixed Python profiler bug
  benchmark/opperf/utils/profiler_utils.py
Labels: pr-awaiting-review

#17644 [Large Tensor] Fix ravel_multi_index op
  src/operator/tensor/ravel.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17523 remove -mf16c flag for andriod build(Tiny change)
  3rdparty/mshadow/cmake/AutoDetectF16C.cmake
Labels: CMake

#17697 Add warning message for fallback operators
  python/mxnet/numpy/multiarray.py
Labels: Numpy

#17677 [Large Tensor] Fix cumsum op
  src/operator/numpy/np_cumsum-inl.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17689 [MKLDNN] apply MKLDNNRun to quantized_act/transpose
  src/operator/quantization/mkldnn/mkldnn_quantized_act.cc
  src/operator/tensor/matrix_op.cc
Labels: MKLDNN
