Repository apache/mxnet, pull requests merged in 2020-01, with the labels that each got.

#17198 [MKLDNN] Improve profiling doc
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_readme.md
  docs/python_docs/python/tutorials/performance/backend/profiler.md
Labels: Doc, MKLDNN

#17173 [MKLDNN] Fix _copyto
  src/imperative/imperative_utils.h
  tests/python/quantization/test_quantization.py
Labels: MKLDNN

#16980 change windows build system
  CMakeLists.txt
  tools/windowsbuild/README.md
  tools/windowsbuild/gen_warp.cpp
  tools/windowsbuild/warp_dll.cpp
Labels: Build, CMake, pr-awaiting-review

#17009 [Numpy] support boolean indexing
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  src/operator/tensor/matrix_op-inl.h
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#15995 ONNX export: Gather
  python/mxnet/contrib/onnx/mx2onnx/_op_translations.py
  tests/python-pytest/onnx/test_cases.py
Labels: ONNX, pr-awaiting-review

#17194 Enhancements for custom subgraph op
  example/extensions/lib_custom_op/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Labels: pr-awaiting-merge

#17152 Softmax primitive cache and in-place computation
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax-inl.h
Labels: MKLDNN

#17202 Backport PR 17149 to 1.6.x
  src/operator/tensor/broadcast_reduce_norm_value.cc
  src/operator/tensor/broadcast_reduce_norm_value.cu
  src/operator/tensor/broadcast_reduce_op.h
Labels: R1.6.0

#17187 [MKLDNN] Support channel wise quantization for FullyConnected
  include/mxnet/c_api.h
  include/mxnet/op_attr_types.h
  python/mxnet/contrib/quantization.py
  src/c_api/c_api_symbolic.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_batch_norm.cc
  src/operator/quantization/quantized_indexing_op.cc
  src/operator/subgraph/mkldnn/mkldnn_common.h
  src/operator/subgraph/mkldnn/mkldnn_conv.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  tests/python/mkl/test_subgraph.py
Labels: MKLDNN

#17099 [Numpy] Implement atleast_1d/2d/3d
  python/mxnet/_numpy_op_doc.py
  python/mxnet/numpy_dispatch_protocol.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17138 Interleaved MHA for CPU path
  src/operator/contrib/transformer.cc
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_operator.py
Labels: MKLDNN, R1.6.0

#17183 [MKL-DNN] MKL-DNN RNN backward path enhancement
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/operator_common.h
  src/operator/rnn.cc
  tests/python/unittest/test_gluon_rnn.py
Labels: MKLDNN, R1.6.0

#17123 refactor gluon.utils.split_data() following np.array_split()
  python/mxnet/gluon/utils.py
  tests/python/unittest/test_gluon.py
Labels: Gluon, Numpy

#17229 Fix and clean up Ubuntu build from source instructions
  docs/static_site/src/pages/get_started/ubuntu_setup.md
Labels: Doc, Installation, pr-awaiting-review

#17233 [Numpy] Add broadcast_to scalar case
  python/mxnet/_numpy_op_doc.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17204 Enhancements for MXTensor for custom operators
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
Labels: pr-awaiting-merge

#16152 [Numpy] Random.gamma() implemented
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_gamma_op.cc
  src/operator/numpy/random/np_gamma_op.cu
  src/operator/numpy/random/np_gamma_op.h
  tests/nightly/test_np_random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17171 [Numpy] add row_stack (=vstack)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Labels: Numpy

#17189 Minor fix, use RAII for TensorRT builder and network object
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
Labels: pr-awaiting-merge

#17208 gather_nd: check bound and wrap negative indices
  include/mxnet/c_api_error.h
  python/mxnet/error.py
  src/c_api/c_api_error.cc
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_operator.py
Labels: Numpy

#17276 Bump atol in backward test for softmax with length only for fp16
  tests/python/unittest/test_operator.py
Labels: Flaky, Test

#17272 [Numpy] Add infra for performing constraint check
  python/mxnet/_numpy_op_doc.py
  src/operator/numpy/np_constraint_check.cc
  src/operator/numpy/np_constraint_check.cu
  src/operator/numpy/np_constraint_check.h
  tests/python/unittest/test_numpy_op.py
Labels: Operator

#17030 [Numpy] Porting numpy-compatible hstack
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/nn/concat-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17120 Fix Several Issues In the HMM Model
  python/mxnet/numpy/utils.py
  src/operator/tensor/broadcast_reduce_op.h
Labels: Numpy

#17245 Handle extra cases for np.full
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#15476 [MXNET-978] Higher Order Gradient Support `rsqrt`, `rcbrt`.
  src/operator/tensor/elemwise_unary_op_pow.cc
  tests/python/unittest/test_higher_order_grad.py
Labels: Backend, Operator, pr-awaiting-review

#17228 Support R-package with cmake build and fix installation instructions
  Makefile
  R-package/Makefile
  R-package/R/callback.R
  R-package/R/zzz.R
  R-package/src/Makevars
  R-package/src/Makevars.win
  ci/docker/runtime_functions.sh
  docs/static_site/src/_includes/get_started/linux/r/cpu.md
  docs/static_site/src/_includes/get_started/linux/r/gpu.md
  docs/static_site/src/pages/get_started/osx_setup.md
  docs/static_site/src/pages/get_started/ubuntu_setup.md
  setup-utils/install-mxnet-ubuntu-r.sh
Labels: Doc, Installation, R

#17290 Fixing gather op in large vector and array
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-review

#17314 all/any_fix [Numpy]
  python/mxnet/numpy/multiarray.py
Labels: Numpy

#17321 Fixes #17304 Flaky Test -> test_higher_order_grad.test_tanh
  tests/python/unittest/test_higher_order_grad.py
Labels: Flaky, Test

#17305 grouping large array tests based on type and updating nightly CI funtion
  ci/docker/runtime_functions.sh
  tests/nightly/test_large_array.py
Labels: pr-awaiting-review

#17306 grouping large vector tests based on their type and adding their nightly test function
  ci/docker/runtime_functions.sh
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-review

#16976 Build.py improvement
  ci/build.py
  ci/safe_docker_run.py
  ci/util.py
Labels: pr-awaiting-merge

#17296 fix errors for partition given a backend
  include/mxnet/c_api_test.h
  src/c_api/c_api_test.cc
  tests/python/unittest/test_subgraph_op.py
Labels: pr-awaiting-merge

#17361 Backport: Don't relicense FindCUDAToolkit.cmake
  LICENSE
  cmake/Modules/FindCUDAToolkit.cmake
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/license_header.py
Labels: R1.6.0

#17279 [Numpy] Add linalg.pinv op
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/c_lapack_api.cc
  src/operator/c_lapack_api.h
  src/operator/numpy/linalg/np_pinv-inl.h
  src/operator/numpy/linalg/np_pinv.cc
  src/operator/numpy/linalg/np_pinv.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#16923 [WIP] Fallback mechanism for mx.np operators
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/fallback_linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
  tests/python/unittest/test_numpy_interoperability.py
Labels: Numpy, Operator

#17309 adding docs for 64bit C APIs of large tensor and removing not required int64 C APIs
  include/mxnet/c_api.h
Labels: pr-awaiting-review

#17365 update license
  LICENSE
Labels: Licenses

#17280 [numpy] add op random.exponential
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  src/operator/numpy/random/np_exponential_op.cc
  src/operator/numpy/random/np_exponential_op.cu
  src/operator/numpy/random/np_exponential_op.h
  tests/nightly/test_np_random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17324 USE_JEMALLOC=OFF by default
  CMakeLists.txt
  make/config.mk
Labels: pr-awaiting-review

#17388 skipping randint flaky test for large vector and reordering op execution
  ci/docker/runtime_functions.sh
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-review

#17222 fix flaky test: boolean index and fix bugs
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17326 Fix IOT Devices section of Get Started page
  docs/static_site/src/assets/js/options.js
Labels: pr-awaiting-review

#17297 Fix NCCL Cmake autodetect issue
  cmake/Modules/FindNCCL.cmake
Labels: pr-awaiting-review

#16617 Add API docs to INT64 APIs
  src/c_api/c_api_symbolic.cc
Labels: pr-awaiting-merge

#17392 fix all/any [Numpy]
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_boolean.cc
  src/operator/numpy/np_broadcast_reduce_op_boolean.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17360 add random.multivariate_normal, fix empty_like dtype problem, fix gat…
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy/utils.py
  python/mxnet/numpy_op_fallback.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Labels: Numpy

#16898 Sparse int64 Large tensor support
  python/mxnet/ndarray/sparse.py
  src/c_api/c_api.cc
  src/operator/tensor/cast_storage-inl.h
  tests/nightly/test_large_array.py
Labels: pr-awaiting-merge

#17410 skipping flaky tests randint,log_softmax for large tensor. Added python gc to teardown.
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
Labels: pr-awaiting-review

#17234 Op Quantile/Percentile [Numpy]
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/numpy/np_percentile_op-inl.h
  src/operator/numpy/np_percentile_op.cc
  src/operator/numpy/np_percentile_op.cu
  src/operator/tensor/ordering_op-inl.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17358 np.broadcast_to extension
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17405 remove unnecessary nvtx set
  cmake/Modules/FindNVTX.cmake
Labels: CMake

#17406 fix template param as ndim is internally int
  src/c_api/c_api.cc
Labels: pr-awaiting-merge, pr-awaiting-review

#17014 [NumPy] Add NumPy support for norm
  3rdparty/mshadow/mshadow/base.h
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/symbol/numpy/linalg.py
  src/operator/numpy/linalg/broadcast_reduce_customized-inl.cuh
  src/operator/numpy/linalg/broadcast_reduce_customized-inl.h
  src/operator/numpy/linalg/broadcast_reduce_op_customized.h
  src/operator/numpy/linalg/np_gesvd-inl.h
  src/operator/numpy/linalg/np_norm-inl.h
  src/operator/numpy/linalg/np_norm.cc
  src/operator/numpy/linalg/np_norm_backward.cc
  src/operator/numpy/linalg/np_norm_backward.cu
  src/operator/numpy/linalg/np_norm_forward.cc
  src/operator/numpy/linalg/np_norm_forward.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17386 fixed seed for mkldnn test
  tests/python/mkl/test_mkldnn.py
Labels: MKLDNN

#17355 [Scripts] Update MKL to 2020.0
  ci/docker/install/ubuntu_mkl.sh
Labels: MKL

#17399 safe load for yaml
  dev_menu.py
Labels: pr-awaiting-review

#17428 add disclaimer
  DISCLAIMER
  DISCLAIMER-WIP
  ci/docker/runtime_functions.sh
  tests/nightly/apache_rat_license_check/rat-excludes
  tools/pip/MANIFEST.in
  tools/staticbuild/build.sh
Labels: Licenses

#17413 cmake: remove outdated comments
  CMakeLists.txt
Labels: CMake, pr-awaiting-review

#17465 correctly printing stacktrace instead of printing array object
  ci/Jenkinsfile_utils.groovy
Labels: pr-awaiting-merge

#17241 Add CustomOp tutorial doc
  example/extensions/lib_custom_op/README.md
Labels: pr-awaiting-merge

#17452 Add test cases for indexing ndarrays with zero-dim array
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_op_signature.py
  tests/python/unittest/test_numpy_ndarray.py
Labels: Numpy

#16861 Support NumPy-compatible bitwise_and
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  python/mxnet/symbol/numpy/_symbol.py
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended.cu
  src/operator/operator_tune.cc
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17476 Fix np.argmax/argmin output data type
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_index.cc
  src/operator/numpy/np_broadcast_reduce_op_index.cu
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17390 [Numpy]add op random.beta
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/numpy/random.py
  python/mxnet/symbol/numpy/random.py
  tests/python/unittest/test_numpy_op.py
Labels: Numpy

#17270 Dynamic custom operator GPU support
  CMakeLists.txt
  Makefile
  ci/jenkins/Jenkins_steps.groovy
  example/extensions/lib_custom_op/Makefile
  example/extensions/lib_custom_op/gemm_lib.cc
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/test_relu.py
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/lib_api.h
  src/c_api/c_api.cc
  tests/python/unittest/test_extensions.py
Labels: pr-awaiting-merge
