Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

delete unnecessary newline
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

add newlines
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

remove whitespace
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

remove whitespace
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Revert "update asarray"
  .github/workflows/os_x_staticbuild.yml
  ci/docker/runtime_functions.sh
  python/mxnet/numpy/multiarray.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

fix precision
  .github/workflows/os_x_staticbuild.yml
  ci/docker/runtime_functions.sh
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

fix precision
  python/mxnet/util.py
Owners: @szha, @pllarroy

fix
  python/mxnet/util.py
Owners: @szha, @pllarroy

fix bugs
  ci/docker/runtime_functions.sh
  python/mxnet/numpy/multiarray.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

fix bugs
  ci/docker/runtime_functions.sh
  docs/python_docs/python/tutorials/packages/gluon/training/normalization/index.md
  python/mxnet/numpy/multiarray.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

update test_einsum
  tests/python/gpu/test_numpy_einsum.py
Owners: @apache/mxnet-committers

fix floating point exception
  src/operator/mshadow_op.h
Owners: @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix bugs
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/test_utils.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

small sanity fix
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  src/operator/random/sample_multinomial_op.h
Owners: @szha, @pllarroy

fix floor_divide
  src/operator/mshadow_op.h
Owners: @pllarroy

xfail einsum tests
  ci/docker/install/requirements
  tests/python/gpu/test_numpy_einsum.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

fix dtype_from_number
  python/mxnet/util.py
Owners: @szha, @pllarroy

fix asarray
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix asarray docstring
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

merge data type functions
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/type_functions.py
  python/mxnet/numpy/utils.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

add un-func standard tests
  python/mxnet/numpy/utils.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix python unit tests
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

Small fix
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
Owners: @pllarroy

[FEATURE] add oneDNN support for numpy transpose (#20419)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_transpose-inl.h
  src/operator/nn/dnnl/dnnl_transpose.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Add oneDNN support for stack
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset12.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset13.py
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_concat-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_stack.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/matrix_op.cc
Owners: @szha, @pllarroy

review changes
  src/operator/nn/dnnl/dnnl_concat-inl.h
  src/operator/nn/dnnl/dnnl_stack.cc
Owners: @pllarroy

review
  src/operator/nn/dnnl/dnnl_stack.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

add comments to false statement in macro
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

feat: added onednn adaptive pooling to master
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/dnnl/dnnl_quantized_pooling.cc
Owners: @pllarroy

support multiple dtypes in gpu copy
  src/ndarray/ndarray_function.cu
Owners: @pllarroy

fix bugs
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Owners: @szha, @pllarroy

add type_result tests
  python/mxnet/numpy/type_functions.py
  python/mxnet/numpy/utils.py
  src/common/utils.cc
  src/common/utils.h
  src/ndarray/ndarray_function-inl.h
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

add binary tests
  src/operator/numpy/np_elemwise_broadcast_op_lae.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

fix lint
  src/common/utils.h
Owners: @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

update
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

fix build
  src/operator/nn/layer_norm.cc
  src/operator/nn/layer_norm_cpu.h
Owners: @pllarroy
