Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

fix license header
  src/operator/nn/pool.cuh
Owners: @pllarroy

add pool.cuh into rat-excludes
  rat-excludes
Owners: @apache/mxnet-committers

update rtol, atol
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

fix transpose test
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

Use newer cuDNN version in CI
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix default heuristics mode logic and document env var
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/cudnn_ops.cc
Owners: @szha, @pllarroy, @aaronmarkham

Disable fprop eng:5 to fix test failure on M60
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

Clear sticky cudaErrorMemoryAllocation errors
  src/storage/gpu_device_storage.h
  src/storage/pooled_storage_manager.h
Owners: @pllarroy

Address review comments
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/storage.h
  src/common/cudnn_cxx.cc
  src/common/cudnn_cxx.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  src/operator/nn/convolution.cu
  src/operator/nn/cudnn/cudnn_batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm.h
  src/operator/nn/deconvolution.cu
  src/storage/cpu_device_storage.h
  src/storage/gpu_device_storage.h
  src/storage/storage_manager.h
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin

Fix cpplint after clang-format
  src/operator/cudnn_ops.cc
Owners: @pllarroy

Make Conv and Deconv cuDNN implementation use v8 API
  CMakeLists.txt
  src/common/cuda/utils.h
  src/common/cudnn_cxx.cc
  src/common/cudnn_cxx.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  src/operator/nn/convolution.cu
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  src/operator/nn/deconvolution.cu
Owners: @szha, @pllarroy, @leezu

Pamper clang-format
  src/operator/cudnn_ops.cc
Owners: @pllarroy

Relax cuDNN version to 8.0.2
  src/common/cudnn_cxx.cc
  src/common/cudnn_cxx.h
  src/operator/cudnn_ops.cc
Owners: @pllarroy

Downstandard some C++17 code to C++14 to accommodate CUDA 10
  CMakeLists.txt
  src/common/cuda/utils.h
  src/common/cudnn_cxx.cc
  src/common/cudnn_cxx.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  src/operator/nn/convolution.cu
  src/operator/nn/deconvolution.cu
Owners: @szha, @pllarroy, @leezu

Add doc for MXNET_CUDNN_ALGO_VERBOSE_LEVEL
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/cudnn_ops.cc
Owners: @szha, @pllarroy, @aaronmarkham

More review comments
  src/common/cuda/cudnn_cxx.cc
  src/common/cuda/cudnn_cxx.h
  src/operator/cudnn_ops.h
  src/operator/nn/cudnn/cudnn_deconvolution-inl.h
Owners: @pllarroy

Dont's verify cmake.org certificate
  ci/docker/Dockerfile.build.centos7
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Disable mobilenet inference test
  tests/python/gpu/test_gluon_model_zoo_gpu.py
Owners: @apache/mxnet-committers

Re-format with the new clang-format config
  src/common/cuda/utils.h
  src/common/cudnn_cxx.cc
  src/common/cudnn_cxx.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  src/operator/nn/convolution.cu
  src/operator/nn/deconvolution.cu
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
Owners: @pllarroy

Conv autotune workspaces released via DirectFree()
  src/operator/cudnn_ops.cc
Owners: @pllarroy

Add failsafe flag to StorageManager Alloc()
  include/mxnet/storage.h
  src/storage/cpu_device_storage.h
  src/storage/cpu_shared_storage_manager.h
  src/storage/gpu_device_storage.h
  src/storage/naive_storage_manager.h
  src/storage/pinned_memory_storage.h
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
  src/storage/storage_manager.h
Owners: @pllarroy, @eric-haibin-lin

fix test_reshape_transpose_6d
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

Add tests for error messages
  python/mxnet/dlpack.py
  src/c_api/c_api.cc
  tests/python/array-api/test_data_interchange.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

test mkl workflow
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

update rtc types
  src/common/cuda/rtc/util-inl.h
Owners: @pllarroy

fix floor,ceil,trunc
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @pllarroy

Baseline commit to trigger CI
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove intel repo after oneapi install
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix test_reshape_transpose_6d
  docs/python_docs/python/tutorials/packages/gluon/blocks/save_load_params.md
Owners: @szha, @pllarroy, @aaronmarkham

fix vecdot
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

update docker
  .github/workflows/os_x_mklbuild.yml
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

fix bugs change tile change swapaxes
  python/mxnet/numpy/multiarray.py
  tests/python/onnx/test_operators.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

change transpose in docs
  docs/python_docs/python/tutorials/getting-started/crash-course/6-train-nn.md
  docs/python_docs/python/tutorials/packages/gluon/image/info_gan.md
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
Owners: @szha, @pllarroy, @aaronmarkham

Add debug output to oneapi install
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Rewievs
  NEWS.md
  tools/dependencies/README.md
Owners: @apache/mxnet-committers, @szha, @pllarroy

Add hash info to debug output
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix: changed SupportDNNLPooling condition to SupportDNNL in adaptive_avg_pooling.cc
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

clang fix
  src/operator/contrib/adaptive_avg_pooling-inl.h
Owners: @pllarroy

changed typo in comment
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Port convolutions to cuDNN v8 API (#20635)
  ci/docker/Dockerfile.build.centos7
  ci/docker/Dockerfile.build.ubuntu
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/storage.h
  src/common/cuda/cudnn_cxx.cc
  src/common/cuda/cudnn_cxx.h
  src/common/cuda/utils.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  src/operator/nn/convolution.cu
  src/operator/nn/cudnn/cudnn_batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm.h
  src/operator/nn/cudnn/cudnn_convolution-inl.h
  src/operator/nn/cudnn/cudnn_deconvolution-inl.h
  src/operator/nn/deconvolution.cu
  src/storage/cpu_device_storage.h
  src/storage/cpu_shared_storage_manager.h
  src/storage/gpu_device_storage.h
  src/storage/naive_storage_manager.h
  src/storage/pinned_memory_storage.h
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
  src/storage/storage_manager.h
  tests/python/gpu/test_gluon_model_zoo_gpu.py
  tests/python/unittest/test_gluon.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha, @eric-haibin-lin, @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
