Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Update install selector page.
  docs/static_site/src/_includes/get_started/get_started.html
Owners: @szha, @pllarroy, @aaronmarkham

Update README to include new release, new URL to jenkins server and ensure it's clear this is an Apache project.
  README.md
Owners: @apache/mxnet-committers

Move ASF links to main nav in python docs.
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
Owners: @szha, @pllarroy, @aaronmarkham

Move ASF links to main nav on MXNet site.
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/header.html
Owners: @szha, @pllarroy, @aaronmarkham

Make it clear this is an Apache project.
  docs/static_site/src/_layouts/home.html
Owners: @szha, @pllarroy, @aaronmarkham

Fix tests in test_fc_subgraph.py
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

Fix merge
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

Skip flakey test test_quantization_mkldnn.test_quantized_rnn: tracked in #21061
  tests/python/quantization/test_quantization.py
Owners: @apache/mxnet-committers

[v1.9.x] Website updates to address ASF website check tool results (#21055)
  README.md
  ci/docker/Dockerfile.build.jetson
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  docs/python_docs/_static/matomo_analytics.js
  docs/python_docs/python/api/index.rst
  docs/python_docs/python/scripts/conf.py
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/Makefile
  docs/static_site/src/.gitignore
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/google-analytics.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_includes/matomo-analytics.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/assets/img/medium_black.svg
  docs/static_site/src/assets/img/pip-packages-1.9.1.png
  docs/static_site/src/assets/img/reddit_blue.svg
  docs/static_site/src/assets/img/twitter.svg
  docs/static_site/src/assets/img/youtube_red.svg
  docs/static_site/src/pages/api/api.html
  docs/static_site/src/pages/api/architecture/exception_handling.md
  docs/static_site/src/pages/api/architecture/overview.md
  docs/static_site/src/pages/api/architecture/program_model.md
  docs/static_site/src/pages/api/python/index.md
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/community/contribute.md
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/download.md
  docs/static_site/src/pages/get_started/index.html
  docs/static_site/src/pages/trusted_by.html
  tests/python/quantization/test_quantization.py
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @szha

[v1.9.x] Website updates to address ASF website check tool results (#21055)
  README.md
  ci/docker/Dockerfile.build.jetson
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  docs/python_docs/_static/matomo_analytics.js
  docs/python_docs/python/api/index.rst
  docs/python_docs/python/scripts/conf.py
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/Makefile
  docs/static_site/src/.gitignore
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/google-analytics.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_includes/matomo-analytics.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/assets/img/medium_black.svg
  docs/static_site/src/assets/img/pip-packages-1.9.1.png
  docs/static_site/src/assets/img/reddit_blue.svg
  docs/static_site/src/assets/img/twitter.svg
  docs/static_site/src/assets/img/youtube_red.svg
  docs/static_site/src/pages/api/api.html
  docs/static_site/src/pages/api/architecture/exception_handling.md
  docs/static_site/src/pages/api/architecture/overview.md
  docs/static_site/src/pages/api/architecture/program_model.md
  docs/static_site/src/pages/api/python/index.md
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/community/contribute.md
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/download.md
  docs/static_site/src/pages/get_started/index.html
  docs/static_site/src/pages/trusted_by.html
  tests/python/quantization/test_quantization.py
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @szha

Remove skip of flakey test.
  tests/python/quantization/test_quantization.py
Owners: @apache/mxnet-committers

pass arg to dockerfile
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

fix LD path for cuda files
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

change cuda version arg name
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

update gpu base image in ci
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu102
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update base image in Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_build_cuda
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix linkcheck
  docs/python_docs/python/tutorials/packages/gluon/blocks/activations/activations.md
Owners: @szha, @pllarroy, @aaronmarkham

check shape size in reshape
  src/operator/tensor/matrix_op-inl.h
Owners: @pllarroy

Fix typo
  src/c_api/c_api_symbolic.cc
Owners: @pllarroy

Fix test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @apache/mxnet-committers

Fix test_amp_concat
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @apache/mxnet-committers

update readme for mx1.9.1 (#21050)
  README.md
Owners: @apache/mxnet-committers

formatting
  src/operator/tensor/matrix_op-inl.h
Owners: @pllarroy

add newline in error msg
  src/operator/tensor/matrix_op-inl.h
Owners: @pllarroy

fix linkcheck (#21057)
  docs/python_docs/python/tutorials/packages/gluon/blocks/activations/activations.md
Owners: @szha, @pllarroy, @aaronmarkham

Update oneDNN quantization tutorial (#21060)
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

fix rnn weights reorder
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

Fix callibration and scales
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Fix pip package description
  tools/pip/setup.py
Owners: @szha, @pllarroy

fix sanity
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Owners: @pllarroy

fix sanity
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Owners: @pllarroy

Use requested mem in dot op to reduce memory usage
  src/operator/nn/dnnl/dnnl_dot-inl.h
  src/operator/nn/dnnl/dnnl_dot.cc
Owners: @pllarroy

Add tests for full path of quantization of add operators
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @apache/mxnet-committers

fix windows build
  src/operator/nn/mkldnn/mkldnn_rnn.cc
Owners: @pllarroy

Fix oneDNN still allocating the memory
  src/operator/nn/dnnl/dnnl_dot.cc
Owners: @pllarroy

Merge #21055 from v1.9.x - website changes.
  README.md
  docs/python_docs/_static/matomo_analytics.js
  docs/python_docs/python/api/index.rst
  docs/python_docs/python/scripts/conf.py
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/Makefile
  docs/static_site/src/.gitignore
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/google-analytics.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_includes/matomo-analytics.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/assets/img/medium_black.svg
  docs/static_site/src/assets/img/pip-packages-1.9.1.png
  docs/static_site/src/assets/img/reddit_blue.svg
  docs/static_site/src/assets/img/twitter.svg
  docs/static_site/src/assets/img/youtube_red.svg
  docs/static_site/src/pages/api/api.html
  docs/static_site/src/pages/api/architecture/exception_handling.md
  docs/static_site/src/pages/api/architecture/overview.md
  docs/static_site/src/pages/api/architecture/program_model.md
  docs/static_site/src/pages/api/python/index.md
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/download.md
  docs/static_site/src/pages/get_started/index.html
  docs/static_site/src/pages/trusted_by.html
Owners: @apache/mxnet-committers, @szha, @pllarroy, @aaronmarkham

Disable clang format for javascript files.
  .clang-format
Owners: @apache/mxnet-committers

Merge #21055 from v1.9.x - website changes. (#21068)
  .clang-format
  README.md
  docs/python_docs/_static/matomo_analytics.js
  docs/python_docs/python/api/index.rst
  docs/python_docs/python/scripts/conf.py
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/Makefile
  docs/static_site/src/.gitignore
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/google-analytics.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_includes/matomo-analytics.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/assets/img/medium_black.svg
  docs/static_site/src/assets/img/pip-packages-1.9.1.png
  docs/static_site/src/assets/img/reddit_blue.svg
  docs/static_site/src/assets/img/twitter.svg
  docs/static_site/src/assets/img/youtube_red.svg
  docs/static_site/src/pages/api/api.html
  docs/static_site/src/pages/api/architecture/exception_handling.md
  docs/static_site/src/pages/api/architecture/overview.md
  docs/static_site/src/pages/api/architecture/program_model.md
  docs/static_site/src/pages/api/python/index.md
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/download.md
  docs/static_site/src/pages/get_started/index.html
  docs/static_site/src/pages/trusted_by.html
Owners: @apache/mxnet-committers, @szha, @pllarroy, @aaronmarkham

Fix pip package description (#21064)
  tools/pip/setup.py
Owners: @szha, @pllarroy

Assign pointer to a variable for simplification
  src/operator/nn/dnnl/dnnl_dot.cc
Owners: @pllarroy
