Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Unifying NVTX support files
  src/common/nvtx.h
  src/profiler/nvtx.cc
  src/profiler/nvtx.h
  src/profiler/profiler.h
Owners: @pllarroy

Add C API
  include/mxnet/c_api.h
  python/mxnet/cuda_utils.py
  src/c_api/c_api.cc
Owners: @pllarroy, @eric-haibin-lin, @szha

NVTX around ops in the engine
  src/common/nvtx.h
  src/engine/threaded_engine_perdevice.cc
  src/imperative/imperative_utils.h
Owners: @pllarroy

Moving nvtx.h to common/cuda
  src/c_api/c_api.cc
  src/common/cuda/nvtx.h
  src/engine/threaded_engine_perdevice.cc
  src/profiler/profiler.h
Owners: @pllarroy

split np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op.h
  src/operator/numpy/np_elemwise_broadcast_logic_op_and.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_and.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_less.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_less.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_less_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_less_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_not_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_not_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_or.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_or.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_xor.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_xor.cu
Owners: @pllarroy

fix lint
  src/operator/numpy/np_elemwise_broadcast_logic_op.h
Owners: @pllarroy

split np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_add.cc
  src/operator/numpy/np_elemwise_broadcast_op_add.cu
  src/operator/numpy/np_elemwise_broadcast_op_mod.cc
  src/operator/numpy/np_elemwise_broadcast_op_mod.cu
  src/operator/numpy/np_elemwise_broadcast_op_mul.cc
  src/operator/numpy/np_elemwise_broadcast_op_mul.cu
  src/operator/numpy/np_elemwise_broadcast_op_pow.cc
  src/operator/numpy/np_elemwise_broadcast_op_pow.cu
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cc
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cu
Owners: @pllarroy

fix lint
  src/operator/numpy/np_elemwise_broadcast_op.h
Owners: @pllarroy

The size of a stack needs to be greather than 4; by default is 8
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

Error message is shifted
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

add _npi_subtract
  src/operator/numpy/np_elemwise_broadcast_op_sub.cc
  src/operator/numpy/np_elemwise_broadcast_op_sub.cu
Owners: @pllarroy

skip signature standardization
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.h
Owners: @szha, @pllarroy

fix lint
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

[Website] Fix website publish (#20573)
  ci/docker/runtime_functions.sh
  docs/static_site/src/.asf.yaml
  docs/static_site/src/_config_prod.yml
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

update
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Owners: @szha, @pllarroy

add bitwise_left/right_shift
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cu
Owners: @szha, @pllarroy

add more methods
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

add mshadow_op.h
  src/operator/mshadow_op.h
Owners: @pllarroy

fix
  src/operator/mshadow_op.h
Owners: @pllarroy

[FEATURE] MXIndexedRecordIO: avoid re-build index (#20549)
  python/mxnet/recordio.py
Owners: @szha, @pllarroy

Bump NumPy to >= 1.21.0
  ci/docker/install/requirements
  python/setup.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

update exec_pass.h
  src/imperative/exec_pass.h
Owners: @pllarroy

[v1.x][Feature] Add flag for disabling oneDNN BRGEMM implementation of FC (#20450)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Owners: @szha, @pllarroy, @aaronmarkham

[v1.x] Enabling BRGEMM FullyConnected based on shapes (#20533)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Owners: @szha, @pllarroy, @aaronmarkham

Remove next_impl calls
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

Catch ValueError type
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

[v1.9.x][submodule] Upgrade oneDNN to v2.2.4
  LICENSE
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers, @pllarroy

change linalg & statical funcs
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Owners: @szha, @pllarroy

add vecdot
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[FEATURE] Add oneDNN support for npx.reshape and np.reshape (#20563)
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Making NVTX ranges more pythonic
  python/mxnet/cuda/__init__.py
  python/mxnet/cuda/nvtx.py
  src/common/cuda/nvtx.h
Owners: @szha, @pllarroy

Bump Python to >= 3.8, NumPy to >= 1.21.0
  .github/workflows/link_check.yml
  .github/workflows/os_x_staticbuild.yml
  cd/python/docker/Dockerfile
  ci/docker/Dockerfile.build.centos7
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  python/setup.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

fix lint & add tests
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cu
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

rm test_contants
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix
  src/operator/mshadow_op.h
Owners: @pllarroy

Split np_elemwise_broadcast_logic_op.cc (#20580)
  src/operator/numpy/np_elemwise_broadcast_logic_op.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op.h
  src/operator/numpy/np_elemwise_broadcast_logic_op_and.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_and.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_greater_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_less.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_less.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_less_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_less_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_not_equal.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_not_equal.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_or.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_or.cu
  src/operator/numpy/np_elemwise_broadcast_logic_op_xor.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op_xor.cu
  src/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op.cu
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_add.cc
  src/operator/numpy/np_elemwise_broadcast_op_add.cu
  src/operator/numpy/np_elemwise_broadcast_op_mod.cc
  src/operator/numpy/np_elemwise_broadcast_op_mod.cu
  src/operator/numpy/np_elemwise_broadcast_op_mul.cc
  src/operator/numpy/np_elemwise_broadcast_op_mul.cu
  src/operator/numpy/np_elemwise_broadcast_op_pow.cc
  src/operator/numpy/np_elemwise_broadcast_op_pow.cu
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cc
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cu
  src/operator/numpy/np_elemwise_broadcast_op_sub.cc
  src/operator/numpy/np_elemwise_broadcast_op_sub.cu
Owners: @pllarroy

update operator_tune.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/operator_tune.cc
Owners: @pllarroy

update amp list
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

remove pillow in requirements
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove ASF2.0 license and properly list under 3-clause BSD files in LICENSE for np_einsum files.
  LICENSE
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_path_op-inl.h
Owners: @apache/mxnet-committers, @pllarroy
