Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Update cudnn version passed to builds.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Consolidate installation of packages for efficiency.
  ci/docker/install/centos7_base.sh
  ci/docker/install/centos7_core.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove unused containers from docker-compose config.
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix pylint.
  python/mxnet/contrib/text/utils.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/optimizer/optimizer.py
Owners: @szha, @pllarroy, @eric-haibin-lin

Set LD_LIBRARY_PATH on ubuntu_gpu images to find libcuda.so.
  ci/docker/Dockerfile.build.ubuntu_gpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Set CUB_IGNORE_DEPRECATED_CPP_DIALECT to prevent build failures with gcc-4.8 + Cuda 11.7.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Install sqlite headers/library before building python on ubuntu.
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Revert "Remove unused containers from docker-compose config."
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Revert "Set CUB_IGNORE_DEPRECATED_CPP_DIALECT to prevent build failures with gcc-4.8 + Cuda 11.7."
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Allow building CUB with c++11 to prevent failures on newer cuda versions.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Set variable only on gpu make builds.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Use docker-compose to also build ubuntu_cpu image.
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

We no longer need to enable python3.8 on aarch64 since we are building from source now.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add Cuda 11.1 and 11.3 centos7 images which is used by CD testing phase.
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Don't install python-opencv, we are installing the module via pip instead.
  ci/docker/install/ubuntu_tutorials.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Change Makefile to set CUB_IGNORE_DEPRECATED_CPP_DIALECT when using Cuda, not only for < 11.0.
  Makefile
  ci/docker/runtime_functions.sh
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham

Don't pin down h5py (old versions do not work on aarch64.)
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Conditionally install different versions of h5py dependending on architecture.
  ci/docker/install/requirements
  ci/docker/install/requirements_aarch64
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix value for platform_machine.
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Don't install h5py on aarch64 at all.
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Set USE_LAPATH_PATH to correct path on ubuntu 18.04.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Rearrange dockerfiles to build more efficiently when small changes occur. Split python install into 2 steps: building python and install requirements.
  ci/docker/Dockerfile.build.centos7
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
  ci/docker/Dockerfile.build.centos7_cd
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_python
  ci/docker/Dockerfile.build.ubuntu_cpu_scala
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  ci/docker/Dockerfile.build.ubuntu_nightly_cpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/docker-compose.yml
  ci/docker/install/centos7_python.sh
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Since we are not using multi-stage builds, do not specify target to ensure docker cache works as expected.
  ci/docker/Dockerfile.build.centos7
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

When building docker-compose based containers, pull the latest version for caching before building.
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

When pulling docker-compose images, pass quiet option to squell CI logs.
  ci/build.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

When pulling docker-compose images, pass quiet option to squell CI logs.
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Clean up docker cache build code.
  ci/build.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix SelectInput(), input names and Forward()
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_common.h
Owners: @pllarroy

Fix fused resnet low accuracy (#21122)
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_batch_norm.cc
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
  tests/python/dnnl/op_cfg.py
  tests/python/dnnl/test_dnnl.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Create Dockerfile for ubuntu CD, add ccache, install cuda repos in base container instead of adding dynamically and requiring more sudo permissions.
  ci/docker/Dockerfile.build.ubuntu_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Prevent hanging for user input on package installation.
  ci/docker/install/ubuntu_base.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update build configs for cuda 10.0, 10.1 and 10.2 to work with centos7 CD.
  config/distribution/linux_cu100.cmake
  config/distribution/linux_cu101.cmake
  config/distribution/linux_cu102.cmake
Owners: @apache/mxnet-committers

Update links to other versions to include all supported cuda releases.
  tools/pip/doc/CPU_ADDITIONAL.md
  tools/pip/doc/CU100_ADDITIONAL.md
  tools/pip/doc/CU101_ADDITIONAL.md
  tools/pip/doc/CU102_ADDITIONAL.md
  tools/pip/doc/CU110_ADDITIONAL.md
  tools/pip/doc/CU111_ADDITIONAL.md
  tools/pip/doc/CU112_ADDITIONAL.md
  tools/pip/doc/CU113_ADDITIONAL.md
  tools/pip/doc/CU114_ADDITIONAL.md
  tools/pip/doc/CU115_ADDITIONAL.md
  tools/pip/doc/CU116_ADDITIONAL.md
  tools/pip/doc/CU117_ADDITIONAL.md
Owners: @szha, @pllarroy

Update supported cuda version list.
  tools/staticbuild/README.md
Owners: @szha, @pllarroy

Add back support for cuda 10.x, change installation design to require cuda repos to be already setup and accessible in the base containers for simplicity.
  tools/setup_gpu_build_tools.sh
Owners: @szha, @pllarroy

Use correct script name for installing ccache.
  ci/docker/Dockerfile.build.ubuntu_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

No need to use non-exact matches for variants.
  cd/utils/mxnet_base_image.sh
Owners: @szha

Standardize name for ccache installation script.
  ci/docker/Dockerfile.build.ubuntu_cd
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_c
  ci/docker/Dockerfile.build.ubuntu_cpu_lite
  ci/docker/Dockerfile.build.ubuntu_cpu_python
  ci/docker/Dockerfile.build.ubuntu_cpu_r
  ci/docker/Dockerfile.build.ubuntu_cpu_scala
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  ci/docker/Dockerfile.build.ubuntu_nightly_cpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/ubuntu_ccache.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update ccache version and clean up install scripts.
  ci/docker/install/centos7_ccache.sh
  ci/docker/install/ubuntu_ccache.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add tutotrial about improving accuracy of quantization with oneDNN
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/index.rst
  example/quantization_inc/resnet50v2_mse.yaml
  example/quantization_inc/resnet_measurment.py
  example/quantization_inc/resnet_mse.py
  example/quantization_inc/resnet_tuning.py
Owners: @szha, @pllarroy, @aaronmarkham
