Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

fix some tests
  docs/python_docs/requirements
  tests/python/dnnl/test_dnnl.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

fix conflict
  tests/python/gpu/test_gluon_gpu.py
Owners: @apache/mxnet-committers

rm context in doc
  docs/python_docs/python/api/context/index.rst
Owners: @szha, @pllarroy, @aaronmarkham

add comma
  python/mxnet/numpy_dispatch_protocol.py
Owners: @szha, @pllarroy

[v1.x] Port #20648, #20676, #19236 to v1.x (#20677)
  ci/build_windows.py
  ci/docker/install/requirements
  ci/docker/install/ubuntu_binutils.sh
  ci/docker_cache.py
  ci/jenkins/Jenkins_steps.groovy
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  python/mxnet/base.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

[2.0] Bump Python to >= 3.8 (#20593)
  .github/workflows/link_check.yml
  .github/workflows/os_x_mklbuild.yml
  .github/workflows/os_x_staticbuild.yml
  cd/python/docker/Dockerfile
  ci/docker/Dockerfile.build.centos7
  ci/docker/runtime_functions.sh
  docs/python_docs/requirements
  tests/python/dnnl/test_dnnl.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

change ""
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

implemented adaptive pooling operator in pooling operator
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_adaptive_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_adaptive_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
Owners: @pllarroy

change ""
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

An option to clorize output during build
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Align assignement
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @apache/mxnet-committers

[Flake8] This pull-request contains pre-commit hook. There is used flake8 tool to perform additional formatting and semantic checking of code.
  .flake8
  requirements-flake8.txt
  tools/git-pre-commit
  tools/lint/flake8_hook.py
Owners: @apache/mxnet-committers, @szha, @pllarroy

Python executor -m has been added to run flake8
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Change flake8 runner name
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

FLake8 hook python licence
  tools/lint/flake8_hook.py
Owners: @szha, @pllarroy

Flake8: version
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Flake8 file create in PR space
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Flake8 - CI runner
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Print a list of pip3 packages
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Print a list of pip3 packages
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Added licence to .flake8 and git-pre-commit files
  .flake8
Owners: @apache/mxnet-committers

Remove exit 0 to avoid stop CIs
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Return instead of exit 0, to avoid exit code
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Exit 1 is keet
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[WIP][2.0] Bump NumPy to >= 1.20.0
  ci/docker/install/requirements
  python/setup.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

add int16 support
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
Owners: @pllarroy

fix numpy op test
  tests/python/gpu/test_numpy_einsum.py
Owners: @apache/mxnet-committers

Julia and more no longer supported
  README.md
Owners: @apache/mxnet-committers

add MXNET_INT_TYPE_SWITCH_EXT
  src/operator/mxnet_op.h
Owners: @pllarroy

[API] Add positive (#20667)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix lint
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cc
Owners: @pllarroy

fix build
  src/operator/mshadow_op.h
Owners: @pllarroy

[v2.0] RNN: use rnn_params (#20384)
  ci/docker/docker-compose.yml
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/rnn/rnn_layer.py
  python/mxnet/gluon/utils.py
  python/mxnet/initializer.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_rnn.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha, @apache/mxnet-committers

fix: fixed issues from the review
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
Owners: @pllarroy

fix: changes with_workspace var to const
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Owners: @pllarroy

fix include
  src/operator/numpy/np_floor_divide.cu
Owners: @pllarroy

[master][bugfix] Remove exit 0 to avoid blocking in CI pipeline (#20683)
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add mT, permute_dims
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix lint
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy
