Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

update block.py
  python/mxnet/gluon/block.py
Owners: @szha, @pllarroy

Expand NVTX usage (#18683)
  include/mxnet/c_api.h
  python/mxnet/cuda/__init__.py
  python/mxnet/cuda/nvtx.py
  src/c_api/c_api.cc
  src/common/cuda/nvtx.h
  src/engine/threaded_engine_perdevice.cc
  src/imperative/imperative_utils.h
  src/profiler/nvtx.cc
  src/profiler/nvtx.h
  src/profiler/profiler.h
Owners: @pllarroy, @eric-haibin-lin, @szha

split np_kron
  src/operator/numpy/np_kron_backward.cc
  src/operator/numpy/np_kron_backward.cu
  src/operator/numpy/np_kron_forward.cc
  src/operator/numpy/np_kron_forward.cu
Owners: @pllarroy

[FEATURE] Add feature of retain_grad (#20500)
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/multiarray.py
  src/c_api/c_api_ndarray.cc
  src/imperative/exec_pass.h
  src/imperative/imperative.cc
  src/nnvm/gradient.cc
  tests/python/unittest/test_autograd.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

refactor more
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/numpy/np_broadcast_reduce_op_value_broadcast_to.cc
  src/operator/numpy/np_broadcast_reduce_op_value_broadcast_to.cu
  src/operator/numpy/np_broadcast_reduce_op_value_max.cc
  src/operator/numpy/np_broadcast_reduce_op_value_max.cu
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cc
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cu
  src/operator/numpy/np_broadcast_reduce_op_value_min.cc
  src/operator/numpy/np_broadcast_reduce_op_value_min.cu
  src/operator/numpy/np_broadcast_reduce_op_value_prod.cc
  src/operator/numpy/np_broadcast_reduce_op_value_prod.cu
  src/operator/numpy/np_broadcast_reduce_op_value_std.cc
  src/operator/numpy/np_broadcast_reduce_op_value_std.cu
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cu
  src/operator/numpy/np_broadcast_reduce_op_value_var.cc
  src/operator/numpy/np_broadcast_reduce_op_value_var.cu
  src/operator/numpy/np_dot_backward.cc
  src/operator/numpy/np_dot_backward.cu
  src/operator/numpy/np_dot_forward.cc
  src/operator/numpy/np_dot_forward.cu
  src/operator/numpy/np_where_backward_op.cc
  src/operator/numpy/np_where_backward_op.cu
  src/operator/numpy/np_where_forward_op.cc
  src/operator/numpy/np_where_forward_op.cu
Owners: @pllarroy

fix sanity
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cu
  src/operator/numpy/np_broadcast_reduce_op_value_std.cc
  src/operator/numpy/np_broadcast_reduce_op_value_var.cc
  src/operator/numpy/np_broadcast_reduce_op_value_var.cu
  src/operator/numpy/np_moments_op.cu
Owners: @pllarroy

fix
  src/operator/numpy/np_broadcast_reduce_op_value_min.cc
Owners: @pllarroy

fix param
  src/operator/numpy/np_broadcast_reduce_op_value.h
Owners: @pllarroy

fix np_where
  src/operator/numpy/np_where_backward_op.cc
  src/operator/numpy/np_where_backward_op.cu
  src/operator/numpy/np_where_forward_op.cc
  src/operator/numpy/np_where_forward_op.cu
Owners: @pllarroy

Port #20495
  cmake/Modules/FindJeMalloc.cmake
  rat-excludes
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  tools/license_header.py
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

changes made
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

changes made
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

delete test vecdot
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

fix
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/numpy/np_broadcast_reduce_op_value_broadcast_to.cc
  src/operator/numpy/np_broadcast_reduce_op_value_broadcast_to.cu
  src/operator/numpy/np_broadcast_reduce_op_value_max.cc
  src/operator/numpy/np_broadcast_reduce_op_value_max.cu
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cc
  src/operator/numpy/np_broadcast_reduce_op_value_min.cc
  src/operator/numpy/np_broadcast_reduce_op_value_min.cu
  src/operator/numpy/np_broadcast_reduce_op_value_prod.cc
  src/operator/numpy/np_broadcast_reduce_op_value_prod.cu
  src/operator/numpy/np_broadcast_reduce_op_value_std.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cu
Owners: @pllarroy

update
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_where_backward_op.cc
  src/operator/numpy/np_where_backward_op.cu
  src/operator/numpy/np_where_forward_op.cc
  src/operator/numpy/np_where_forward_op.cu
Owners: @pllarroy

update stes_op.cc
  src/operator/contrib/stes_op.cc
Owners: @pllarroy

Port #20520
  LICENSE
  rat-excludes
  src/operator/contrib/deformable_psroi_pooling-inl.h
  src/operator/contrib/deformable_psroi_pooling.cc
  src/operator/contrib/deformable_psroi_pooling.cu
  src/operator/contrib/multi_proposal-inl.h
  src/operator/contrib/multi_proposal.cc
  src/operator/contrib/multi_proposal.cu
  src/operator/contrib/psroi_pooling.cc
  src/operator/contrib/psroi_pooling.cu
  src/operator/deformable_convolution-inl.h
  src/operator/deformable_convolution.cc
  src/operator/deformable_convolution.cu
  src/operator/modulated_deformable_convolution-inl.h
  src/operator/modulated_deformable_convolution.cc
  src/operator/modulated_deformable_convolution.cu
  tools/license_header.py
Owners: @apache/mxnet-committers, @pllarroy, @szha

Port #20496
  3rdparty/mshadow/README.md
  NEWS.md
  README.md
  docker/Dockerfiles/Dockerfile.in.lib.cpu
  docker/Dockerfiles/Dockerfile.in.lib.gpu
  docs/static_site/src/pages/api/faq/cloud.md
  docs/static_site/src/pages/api/faq/new_op.md
  docs/static_site/src/pages/api/faq/perf.md
  docs/static_site/src/pages/api/faq/recordio.md
  docs/static_site/src/pages/api/faq/s3_integration.md
  docs/static_site/src/pages/api/r/docs/tutorials/custom_iterator.md
  example/README.md
  src/engine/naive_engine.cc
  src/engine/threaded_engine.h
  src/operator/svm_output.cc
Owners: @apache/mxnet-committers, @marcoabreu, @szha, @pllarroy, @aaronmarkham

v1.x -> master
  docs/static_site/src/pages/api/faq/cloud.md
  docs/static_site/src/pages/api/faq/new_op.md
  docs/static_site/src/pages/api/faq/perf.md
  docs/static_site/src/pages/api/faq/recordio.md
  docs/static_site/src/pages/api/faq/s3_integration.md
  docs/static_site/src/pages/api/r/docs/tutorials/custom_iterator.md
  example/README.md
Owners: @szha, @pllarroy, @aaronmarkham

fix indent
  python/mxnet/gluon/contrib/estimator/batch_processor.py
Owners: @szha, @pllarroy

[v2.0] Split Large Source Files (#20604)
  src/operator/numpy/np_broadcast_reduce_op_value.cc
  src/operator/numpy/np_broadcast_reduce_op_value.cu
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/numpy/np_broadcast_reduce_op_value_broadcast_to.cc
  src/operator/numpy/np_broadcast_reduce_op_value_broadcast_to.cu
  src/operator/numpy/np_broadcast_reduce_op_value_max.cc
  src/operator/numpy/np_broadcast_reduce_op_value_max.cu
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cc
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cu
  src/operator/numpy/np_broadcast_reduce_op_value_min.cc
  src/operator/numpy/np_broadcast_reduce_op_value_min.cu
  src/operator/numpy/np_broadcast_reduce_op_value_prod.cc
  src/operator/numpy/np_broadcast_reduce_op_value_prod.cu
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cu
  src/operator/numpy/np_dot_backward.cc
  src/operator/numpy/np_dot_backward.cu
  src/operator/numpy/np_dot_forward.cc
  src/operator/numpy/np_dot_forward.cu
  src/operator/numpy/np_kron_backward.cc
  src/operator/numpy/np_kron_backward.cu
  src/operator/numpy/np_kron_forward.cc
  src/operator/numpy/np_kron_forward.cu
  src/operator/numpy/np_moments_op.cu
  src/operator/numpy/np_where_backward_op.cc
  src/operator/numpy/np_where_backward_op.cu
  src/operator/numpy/np_where_forward_op.cc
  src/operator/numpy/np_where_forward_op.cu
Owners: @pllarroy

fix
  src/operator/numpy/linalg/np_norm_backward.cu
Owners: @pllarroy

FIX: skip signal handler registration when building java package
  CMakeLists.txt
  ci/docker/runtime_functions.sh
  src/initialize.cc
Owners: @szha, @pllarroy, @leezu, @marcoabreu, @aaronmarkham

Backport: requiments and ubuntu_onnx to get the same checksum like other container has
  ci/docker/install/requirements
  ci/docker/install/ubuntu_onnx.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Clang-format description on a wiki
  docs/static_site/src/pages/community/clang_format_guide.md
  docs/static_site/src/pages/community/index.md
Owners: @szha, @pllarroy, @aaronmarkham

Added ::GCD and ::LCM: <numeric> [c++17] contains gcd and lcm implementation
  src/operator/mshadow_op.h
Owners: @pllarroy

Add Code Signing Key
  KEYS
Owners: @apache/mxnet-committers

Revert "Add Code Signing Key"
  KEYS
Owners: @apache/mxnet-committers

Add Code Signing Key
  KEYS
Owners: @apache/mxnet-committers

Remove extra line.
  LICENSE
Owners: @apache/mxnet-committers

Add numpy einsum files (licensed under bsd 3-clause) to rat-excludes.
  rat-excludes
Owners: @apache/mxnet-committers

[BUGFIX] Fix NightlyTestForBinary in master branch (#20601)
  python/mxnet/gluon/contrib/estimator/batch_processor.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/nightly/test_kvstore.py
  tests/nightly/test_np_large_array.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Port #20495 (#20607)
  cmake/Modules/FindJeMalloc.cmake
  rat-excludes
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  tools/license_header.py
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

[v2.0][LICENSE] Port #20496 (#20610)
  3rdparty/mshadow/README.md
  NEWS.md
  README.md
  docker/Dockerfiles/Dockerfile.in.lib.cpu
  docker/Dockerfiles/Dockerfile.in.lib.gpu
  docs/static_site/src/pages/api/faq/cloud.md
  docs/static_site/src/pages/api/faq/new_op.md
  docs/static_site/src/pages/api/faq/perf.md
  docs/static_site/src/pages/api/faq/recordio.md
  docs/static_site/src/pages/api/faq/s3_integration.md
  docs/static_site/src/pages/api/r/docs/tutorials/custom_iterator.md
  example/README.md
  src/engine/naive_engine.cc
  src/engine/threaded_engine.h
  src/operator/svm_output.cc
Owners: @apache/mxnet-committers, @marcoabreu, @szha, @pllarroy, @aaronmarkham

Add Code Signing Key (#20614)
  KEYS
Owners: @apache/mxnet-committers

Mention include/nnvm in LICENSE file.
  LICENSE
Owners: @apache/mxnet-committers

Fast cuDNN NHWC kernels support
  src/operator/nn/batch_norm.cc
  src/operator/nn/batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  src/operator/nn/cudnn/cudnn_batch_norm.cc
  src/operator/nn/cudnn/cudnn_batch_norm.h
Owners: @pllarroy

Fix lint errors
  src/operator/nn/cudnn/cudnn_batch_norm.cc
  src/operator/nn/cudnn/cudnn_batch_norm.h
Owners: @pllarroy

Get rid of a warning
  src/operator/nn/cudnn/cudnn_batch_norm.cu
Owners: @pllarroy

Remove files from LICENSE with clear ASF-2.0 license headers, added by accident based on skywalking-eyes faulty results.
  LICENSE
Owners: @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
