Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

add reduce operation
  src/c_api/c_api.cc
Owners: @pllarroy

reverse operation
  src/operator/contrib/nn/reduce_op.cu
Owners: @pllarroy

add reduce into graph
  example/extensions/lib_pass/pass_lib.cc
Owners: @szha, @pllarroy, @aaronmarkham

add new dir
  example/extensions/lib_reduce_gradient/Makefile
  example/extensions/lib_reduce_gradient/README.md
  example/extensions/lib_reduce_gradient/add_reduce_op.cc
  example/extensions/lib_reduce_gradient/pos_trainer.py
  example/extensions/lib_reduce_gradient/test_reduce.py
Owners: @szha, @pllarroy, @aaronmarkham

Update README.md
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

reverse operation
  src/operator/contrib/nn/reduce_op.cc
Owners: @pllarroy

add example
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

add nccl reduce inside mxnet
  include/mxnet/c_api.h
  include/mxnet/resource.h
  python/mxnet/gluon/contrib/__init__.py
  src/c_api/c_api.cc
  src/imperative/attach_op_resource_pass.cc
  src/operator/contrib/nn/reduce_op.cc
  src/operator/contrib/nn/reduce_op.cu
Owners: @pllarroy, @eric-haibin-lin, @szha

return to intial version
  example/extensions/lib_pass/pass_lib.cc
Owners: @szha, @pllarroy, @aaronmarkham

reverse operation
  src/operator/contrib/nn/reduce_op-inl.h
Owners: @pllarroy

add annotations
  example/extensions/lib_reduce_gradient/pos_trainer.py
Owners: @szha, @pllarroy, @aaronmarkham

add backward option
  example/extensions/lib_pass/test_pass.py
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op.cc
  src/imperative/imperative.cc
  src/imperative/imperative_utils.cc
Owners: @szha, @pllarroy, @aaronmarkham

Update README.md
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

add picture
  example/extensions/lib_reduce_gradient/addreduce.png
Owners: @szha, @pllarroy, @aaronmarkham

return to intial version
  example/extensions/lib_pass/test_pass.py
Owners: @szha, @pllarroy, @aaronmarkham

print version
  cpp-package/include/mxnet-cpp/executor.h
  example/extensions/lib_pass/pass_lib.cc
  example/extensions/lib_pass/test_pass.py
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative.cc
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
  src/imperative/naive_cached_op.h
  src/operator/subgraph_op_common.cc
Owners: @nswamy, @pllarroy, @szha, @aaronmarkham, @eric-haibin-lin

add picture
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix dtype comparison, standardize dtype operations
  python/mxnet/amp/amp.py
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/nn/basic_layers.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/random.py
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/ndarray/register.py
  python/mxnet/symbol/register.py
  python/mxnet/symbol/symbol.py
  python/mxnet/test_utils.py
Owners: @szha, @pllarroy

Remove cleanup on side threads (#19378)
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Update Jinja2 (port #20903 from master.)
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @aaronmarkham

Improve FC + add fusing
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_sum_fuse.h
Owners: @pllarroy

Fix compiler warnings
  src/operator/nn/masked_softmax.cc
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/tensor/index_update-inl.h
Owners: @pllarroy

Sanity check fix
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Restructured test to work without numpy
  tests/python/mkl/test_mkldnn.py
Owners: @apache/mxnet-committers

Added adaptive backward pooling to v1.x
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
  tests/python/mkl/test_mkldnn.py
Owners: @pllarroy, @apache/mxnet-committers

Sanity check fix
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Changed PoolingParamParser to template, so it works for standard and adaptive pooling
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/quantized_pooling.cc
Owners: @pllarroy

Mark AMP tests to use np semantics
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
Owners: @apache/mxnet-committers

Remove redundant const
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy

Remove cleanup on side threads (#19378)
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Port #20903 from master.
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @aaronmarkham

Fix DropoutOp.dropout_passthrough_ handling for CUDA Graphs
  src/operator/nn/dropout-inl.h
Owners: @pllarroy

add tests
  src/operator/quantization/quantized_transpose.cc
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

remove inplace quantized transpose
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

fix formatting
  src/operator/numpy/np_matrix_op-inl.h
Owners: @pllarroy

check support, fix warnings
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

review fixes
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
  src/operator/quantization/quantized_transpose.cc
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

add operators to amp lists
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

add fallbacks for NP and ND
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

update np transpose test
  tests/python/quantization/test_quantization.py
Owners: @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
