Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

update year in notice (#21021)
  NOTICE
Owners: @apache/mxnet-committers

add debug lines
  cd/python/docker/Dockerfile
Owners: @szha

remove collect_test_results_unix and collect_test_results_windows in ci
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

remove collect_test_results_unix and collect_test_results_windows in ci
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

change cuda version arg name
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

[master] Enabled tests using the whole batch for calibration (#21008)
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

Fix conv activation fuse, disable masked_softmax bf16 support
  python/mxnet/amp/lists/symbol_bf16.py
  src/operator/subgraph/dnnl/dnnl_conv.cc
  tests/python/dnnl/op_cfg.py
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Removed missed comment
  src/operator/nn/dnnl/dnnl_deconvolution-inl.h
Owners: @pllarroy

Moved DNNLSum function from dnnl_sum files to dnnl_base and renamed it to DNNLMemorySum
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_copy.cc
  src/operator/nn/dnnl/dnnl_sum-inl.h
  src/operator/nn/dnnl/dnnl_sum.cc
  tests/cpp/operator/dnnl_test.cc
Owners: @pllarroy, @apache/mxnet-committers

Fix sanity, add softmax test cases
  src/operator/subgraph/dnnl/dnnl_conv.cc
  tests/python/dnnl/op_cfg.py
Owners: @pllarroy, @apache/mxnet-committers

[website][v1.9.x] Update website for 1.9.1 release (#21033)
  ci/jenkins/Jenkins_steps.groovy
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/pages/get_started/download.md
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

[website][v1.9.x] Update website for 1.9.1 release (#21033)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

[website][v1.9.x] Update website for 1.9.1 release (#21033)
  ci/jenkins/Jenkins_steps.groovy
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/pages/get_started/download.md
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

set default to 1.9.1
  docs/static_site/src/.htaccess
Owners: @szha, @pllarroy, @aaronmarkham

[website] Update website for mxnet 1.9.1 (#21038)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/.htaccess
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

[website][v1.9.x] Update website for 1.9.1 release (#21033) (#21039)
  ci/jenkins/Jenkins_steps.groovy
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/pages/get_started/download.md
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

[FEATURE] Add quantization for npi_add with oneDNN
  benchmark/python/dnnl/fc_add.py
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_add-inl.h
  src/operator/quantization/quantized_elemwise_add.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/quantization/test_quantization.py
Owners: @apache/mxnet-committers, @pllarroy

FixSupportDNNL for quantized reshape
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_reshape.cc
  src/operator/quantization/dnnl/dnnl_quantized_reshape.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Let SymbolBlock copy `lr_mult` `wd_mult` `init` attributes from symbol
  python/mxnet/gluon/block.py
Owners: @szha, @pllarroy

add test
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

fix tests
  python/mxnet/gluon/block.py
Owners: @szha, @pllarroy

use current_device() on test
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

device -> ctx for legacy ndarray
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

[master] Fix issue with fc_eltwise fusing (#20958)
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Fix linkcheck
  docs/python_docs/python/tutorials/packages/gluon/image/mnist.md
Owners: @szha, @pllarroy, @aaronmarkham

Added node elimination graph pass
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/operator/subgraph/eliminate_common_nodes_pass.cc
Owners: @pllarroy

Compare bf16 outputs with fp32 reference
  src/operator/nn/dnnl/dnnl_base-inl.h
  tests/python/dnnl/op_cfg.py
  tests/python/dnnl/test_amp.py
Owners: @pllarroy, @apache/mxnet-committers

Fixed typo
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
Owners: @pllarroy

Fix description of SwapAxis
  src/operator/swapaxis.cc
Owners: @pllarroy

Add checks for the amount of inputs and outputs
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Fix CI
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

[FEATURE] Add property removing duplicate Cast operations to 'ONEDNN' subgraph backend
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

Fix sanity
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Fix review
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Fix next_impl in deconvolution (#20750)
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

pass arg to dockerfile
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

fix LD path for cuda files
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

change cuda version arg name
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

Revert "Fix next_impl in deconvolution (#20750)"
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

pass arg to dockerfile
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
