Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

fix lint
  src/operator/numpy/np_true_divide.cc
Owners: @pllarroy

update
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

fix
  python/mxnet/numpy/utils.py
  src/operator/tensor/broadcast_reduce_op.h
Owners: @szha, @pllarroy

update dlpack test
  tests/python/array-api/test_data_interchange.py
Owners: @apache/mxnet-committers

fix remainder
  src/operator/mshadow_op.h
Owners: @pllarroy

revert
  src/operator/mshadow_op.h
Owners: @pllarroy

update remainder
  src/operator/mshadow_op.h
Owners: @pllarroy

fix lint
  src/operator/mshadow_op.h
Owners: @pllarroy

Licence header
  src/operator/nn/dnnl/dnnl_base-inl.h
  tools/license_header.py
Owners: @pllarroy, @szha

Updated licence and added parallel_hashmap
  .licenserc.yaml
  include/parallel_hashmap
Owners: @apache/mxnet-committers, @pllarroy, @eric-haibin-lin

Move c++ header
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

Move c++ header
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

fix bugs
  ci/docker/runtime_functions.sh
  python/mxnet/numpy/multiarray.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

change npx_categorical to npx_multinomial
  src/operator/random/sample_multinomial_op.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

Paralle HashMap new link
  include/parallel_hashmap
Owners: @pllarroy, @eric-haibin-lin

fix dlpack
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

switch to no tvmop
  ci/jenkins/Jenkinsfile_unix_cpu
  src/operator/mshadow_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[NumPy] Wrap unravel_index backend implementation instead of fallback
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/tensor/unravel.cc
  src/operator/tensor/ravel.cc
  src/operator/tensor/ravel.h
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix tests
  ci/jenkins/Jenkins_steps.groovy
  tests/python/unittest/test_numpy_ndarray.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

fix lint
  src/api/operator/tensor/unravel.cc
  src/operator/tensor/ravel.h
Owners: @pllarroy

fix lint
  src/api/operator/tensor/unravel.cc
Owners: @pllarroy

fix lint
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @pllarroy

fix cpp-header
  src/operator/tensor/ravel.h
Owners: @pllarroy

[DOC] Fix migration guide document (#20716)
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

fix elemwise binary
  src/operator/tensor/elemwise_binary_broadcast_op.h
Owners: @pllarroy

move include transpose
  src/operator/nn/dnnl/dnnl_transpose-inl.h
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

merge upstream
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

unify param templates
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_transpose-inl.h
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

fix bugs
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/gluon/contrib/data/vision/transforms/bbox/bbox.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix bugs
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon_rnn.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix bugs
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @pllarroy

format, rename funcs
  src/operator/nn/dnnl/dnnl_transpose-inl.h
  src/operator/nn/dnnl/dnnl_transpose.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

feat: started working on integrating adaptive pooling merge to master
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

fix bugs
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

switch include order
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

dont sort includes for transpose
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

remove clang off section
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

update asarray
  .github/workflows/os_x_staticbuild.yml
  ci/docker/runtime_functions.sh
  python/mxnet/numpy/multiarray.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

[2.0] Fix devices issues
  python/mxnet/context.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy
