Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Update PDL package before installing PDL::CCS to prevent dependency issue.
  ci/docker/install/ubuntu_perl.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fixed lint add radd rand ror rxor
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed lint error
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed lint error
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed problems
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Owners: @szha, @pllarroy

add docstring changes
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

changed arcsinh
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

delete 'vecdot' in __all__
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix lint
  src/operator/mshadow_op.h
Owners: @pllarroy

fix array-api-test version
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

freeze array-api-test version
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[CI] Freeze array-api-test
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fixed docstring in manipulating funcs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed docstring in searching funcs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed docstring in setting funcs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed some typo
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed docsting of statistical funs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed docsting of utility funcs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed some bug
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fixed acosh doc
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

[v2.0.0.beta0] License Fix (#20627)
  LICENSE
  ci/docker/runtime_functions.sh
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham

set nproc for build_ubuntu_cpu_openblas
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

set nproc for build_ubuntu_gpu
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Linalg cross operator - initial commit
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Diagonal and outer linalg support
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Tensordot ->_mx_nd_np.tensordot
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Install latest ca-certificates package on aarch64 as well.
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Flake8 checker applied
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

New ops: trace, tensordot
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Linalg tranpose support
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Attempt to fix website build pipeline (#20634)
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fixed tensordot bug add vecdot notes
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Change libtiff download URL to http to prevent let's encrypt CA chain issue.
  tools/dependencies/libtiff.sh
Owners: @szha, @pllarroy

update Dockerfile.build.ubuntu_cpu_jekyll
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update Dockerfile.build.ubuntu_cpu_jekyll
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Use http to download libcurl to avoid let's encrypt intermediate CA cert expiration issue.
  tools/dependencies/curl.sh
Owners: @szha, @pllarroy

Lock down perl PDL version to specific version to prevent test failures.
  ci/docker/install/ubuntu_perl.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

add signatures
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

add line in line 58
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

add line in line 4254
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy
