Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix sanity
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_matmul_post_quantize_property.h
  src/operator/tensor/dot-inl.h
Owners: @pllarroy

Fix names for post quantize fuse
  src/operator/subgraph/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_batch_dot_property.h
  src/operator/subgraph/dnnl/dnnl_matmul_post_quantize_property.h
Owners: @pllarroy

Add quantized batch_dot
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/subgraph/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_batch_dot_property.h
  src/operator/subgraph/dnnl/dnnl_matmul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/tensor/dot-inl.h
  src/operator/tensor/dot.cc
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

update amp list
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

Fixes
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Fix link check
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
Owners: @szha, @pllarroy, @aaronmarkham

remove financial functions
  python/mxnet/numpy/fallback.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix sanity
  src/operator/subgraph/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_batch_dot_property.h
Owners: @pllarroy

fix official numpy docstring
  python/mxnet/numpy/fallback.py
Owners: @szha, @pllarroy

change ""
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Add: break line entry before tenary
  .clang-format
Owners: @apache/mxnet-committers

Roll back full import
  tests/nightly/model_backwards_compatibility_check/__init__.py
  tests/nightly/model_backwards_compatibility_check/model_backwards_compat_inference.py
  tests/nightly/model_backwards_compatibility_check/model_backwards_compat_train.py
Owners: @apache/mxnet-committers

Prospector checker initial commit
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
  ci/other/pylintrc
  prospector.yaml
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

CmakeLint initial commit
  .cmakelintrc
  ci/docker/runtime_functions.sh
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham

support FInplaceIdentity for legacy operators
  include/mxnet/operator.h
  src/nnvm/legacy_op_util.cc
Owners: @pllarroy, @eric-haibin-lin

[master][tests] __init__' file to avoid undefined variables (#20701)
  tests/nightly/model_backwards_compatibility_check/__init__.py
  tests/nightly/model_backwards_compatibility_check/model_backwards_compat_inference.py
  tests/nightly/model_backwards_compatibility_check/model_backwards_compat_train.py
  tests/python/unittest/test_numpy_default_dtype.py
Owners: @apache/mxnet-committers

[API] Add logaddexp (#20673)
  docs/python_docs/python/api/np/routines.math.rst
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/common/cuda/rtc/backward_functions-inl.h
  src/common/cuda/rtc/forward_functions-inl.h
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op_lae.cc
  src/operator/numpy/np_elemwise_broadcast_op_lae.cu
  src/operator/operator_tune.cc
  tests/python/gpu/test_numpy_einsum.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

[BUGFIX] Fix #20293 (#20462)
  python/mxnet/executor.py
  python/mxnet/symbol/symbol.py
  src/imperative/cached_op.cc
  src/imperative/inplace_addto_detect_pass.cc
  tests/python/unittest/test_executor.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[CI] Add timeout and retry to linkcheck
  .github/workflows/link_check.yml
Owners: @szha, @leezu

update
  .github/workflows/link_check.yml
Owners: @szha, @leezu

fix lint
  src/operator/mshadow_op.h
Owners: @pllarroy

mannually add timeout and retry
  .github/workflows/link_check.yml
Owners: @szha, @leezu

update
  .github/workflows/link_check.yml
Owners: @szha, @leezu

fix
  python/mxnet/test_utils.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix tests
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

fix
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

update rtc
  src/common/cuda/rtc/forward_functions-inl.h
Owners: @pllarroy

fix
  .github/workflows/link_check.yml
Owners: @szha, @leezu

remove financial ops
  python/mxnet/numpy/fallback.py
Owners: @szha, @pllarroy

An option to clorize output during build (#20681)
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Sort files under MIT license. Remove references to generic licenses.
  LICENSE
Owners: @apache/mxnet-committers

Remove duplicate file, should only be in BSD 3-clause section.
  LICENSE
Owners: @apache/mxnet-committers

Sort lines in ASF-2.0 licensed list.
  LICENSE
Owners: @apache/mxnet-committers

Remove incorrectly added Apache header on MIT-licensed files.
  src/operator/contrib/modulated_deformable_convolution-inl.h
  src/operator/contrib/modulated_deformable_convolution.cc
  src/operator/contrib/modulated_deformable_convolution.cu
Owners: @pllarroy

Remove 3rdparty/mkldnn/src/common/primitive_hashing.hpp from LICENSE under Boost License section, since it is clearly Apache 2.0 licensed.
  LICENSE
Owners: @apache/mxnet-committers

Update LICENSE with latest from 3rdparty/mkldnn/THIRD-PARTY-PROGRAMS
  LICENSE
Owners: @apache/mxnet-committers

Add license text in licenses/ to fulfill binary distribution requirements.
  licenses/LICENSE.bfloat16.txt
  licenses/LICENSE.blockingconcurrentqueue.txt
  licenses/LICENSE.builtin_fp16.txt
  licenses/LICENSE.clang.txt
  licenses/LICENSE.cma.txt
  licenses/LICENSE.cmakeincludes.txt
  licenses/LICENSE.coco.txt
  licenses/LICENSE.concurrentqueue.txt
  licenses/LICENSE.ctc_include.txt
  licenses/LICENSE.deformable_im2col.txt
  licenses/LICENSE.dlpack.txt
  licenses/LICENSE.erfinv.txt
  licenses/LICENSE.findeigen3.txt
  licenses/LICENSE.findjemalloc.txt
  licenses/LICENSE.findpythonlibsnew.txt
  licenses/LICENSE.gmock_gen.txt
  licenses/LICENSE.googlemock.txt
  licenses/LICENSE.googletest.txt
  licenses/LICENSE.im2col.txt
  licenses/LICENSE.intgemm.txt
  licenses/LICENSE.layernormcpukernel.txt
  licenses/LICENSE.mersenne.txt
  licenses/LICENSE.mkldnn.txt
  licenses/LICENSE.moderngpu.txt
  licenses/LICENSE.modulated_deformable_convolution.txt
  licenses/LICENSE.modulated_deformable_im2col.txt
  licenses/LICENSE.mshadow.txt
  licenses/LICENSE.mx2onnx.txt
  licenses/LICENSE.np_einsum.txt
  licenses/LICENSE.nvidia_cub.txt
  licenses/LICENSE.onnx-tensorrt.txt
  licenses/LICENSE.onnx.txt
  licenses/LICENSE.openmp.txt
  licenses/LICENSE.picojson.txt
  licenses/LICENSE.pool.txt
  licenses/LICENSE.ps-lite.txt
  licenses/LICENSE.rang.txt
  licenses/LICENSE.tree_lstm.txt
  licenses/LICENSE.tvm.txt
Owners: @apache/mxnet-committers

Clarify Caffe license to BSD 2-clause with Caffe extensions.
  LICENSE
Owners: @apache/mxnet-committers

Remove Apache-2.0 license header from ONNX files that were originally BSD 3-clause licensed and properly list then under BSD 3-clause section in LICENSE.
  LICENSE
  python/mxnet/onnx/mx2onnx/LICENSE
  python/mxnet/onnx/mx2onnx/_export_onnx.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset12.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset13.py
Owners: @apache/mxnet-committers, @szha, @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
