Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

remove anchor from link
  python/mxnet/gluon/trainer.py
Owners: @eric-haibin-lin

Add microbenchmark for FC + add fusion (#20780)
  benchmark/python/dnnl/fc_add.py
  benchmark/python/dnnl/run.sh
  benchmark/python/dnnl/run_per_thread.sh
Owners: @apache/mxnet-committers

Fix broken download link, reformat download page to make links more clear.
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix broken download link, reformat download page to make links more clear. (#20794)
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

[WIP]Debug print graph
  src/common/exec_utils.cc
  src/common/exec_utils.h
  src/imperative/cached_op.h
  tools/print_graph.py
Owners: @pllarroy, @szha

Fix broken download link, reformat download page to make links more clear. (#20794)
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix broken download link, reformat download page to make links more clear. (#20794)
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

[KEYS] remove keys on master branch (#20764)
  KEYS
Owners: @apache/mxnet-committers

[KEYS] remove keys on v1.x branch (#20765)
  KEYS
Owners: @apache/mxnet-committers

remove broken links (#20793)
  docs/python_docs/python/tutorials/getting-started/logistic_regression_explained.md
  docs/python_docs/python/tutorials/packages/gluon/image/info_gan.md
  python/mxnet/gluon/trainer.py
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin

Avoid redundant memcpy when reorder not in-place (#20746)
  src/ndarray/ndarray.cc
Owners: @pllarroy

Fix broken download link, reformat download page to make links more clear. (#20794) (#20795)
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix broken download link, reformat download page to make links more clear. (#20794) (#20796)
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

remove test jenkinsfile
  ci/jenkins/Jenkinsfile_website_full_sethman
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Finished adaptive pooling backward kernel. Only need to remove debug lines and tweak BackwardAdaptivePoolingStorageType
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  tests/python/dnnl/test_dnnl.py
Owners: @pllarroy, @apache/mxnet-committers

Run CI again
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

CI run
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Done unifying for requantize, quantize and quantized_fully_connected
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

[website] Move trusted-by section from main page to a new page (#20788)
  ci/docker/runtime_functions.sh
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_home.scss
  docs/static_site/src/pages/trusted_by.html
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

Unified oneDNN implementation calls for FComputeEx
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

[website] Move trusted-by section from main page to a new page (#20788)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_home.scss
  docs/static_site/src/pages/trusted_by.html
Owners: @szha, @pllarroy, @aaronmarkham

[website] Move trusted-by section from main page to a new page (#20788)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_home.scss
  docs/static_site/src/pages/trusted_by.html
Owners: @szha, @pllarroy, @aaronmarkham

Changed 2 template functions for standard ones. Added is_adaptive_pooling field to PoolingParam and added parsing to PoolingParamParser.
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/dnnl/dnnl_quantized_pooling.cc
Owners: @pllarroy

Tests tweaks
  tests/python/dnnl/test_dnnl.py
  tests/python/onnx/test_operators.py
Owners: @apache/mxnet-committers

[website] Move trusted-by section from main page to a new page (#20788) (#20798)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_home.scss
  docs/static_site/src/pages/trusted_by.html
Owners: @szha, @pllarroy, @aaronmarkham

[website] Move trusted-by section from main page to a new page (#20788) (#20797)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_home.scss
  docs/static_site/src/pages/trusted_by.html
Owners: @szha, @pllarroy, @aaronmarkham

Removed unnecessary comments
  src/operator/nn/dnnl/dnnl_pooling.cc
Owners: @pllarroy

Added clang style. Changed unnecessary param field for a member function. Removed unnecessary check for nullptr.
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
Owners: @pllarroy

Removed ceil and floor functions that were used on the integer values
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Added more shapes to test
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

Updated ubuntu cuda version to match container installation
  ci/docker/runtime_functions.sh
  python/mxnet/amp/lists/symbol_fp16.py
  tests/python/gpu/test_gluon_gpu.py
  tests/python/unittest/test_gluon_rnn.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha, @apache/mxnet-committers

[DOC] Add Kubeflow to MXNet ecosystem
  docs/static_site/src/assets/img/kubeflow.png
  docs/static_site/src/pages/ecosystem.html
Owners: @szha, @pllarroy, @aaronmarkham

Reverted default CUDA_ARCH to 5.2, 7.0 for ci
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update libcudnn and libnccl to the same version used in NVidia's docker container for cuda 10.2 and 11.2, and update repo where we pull the packages from.
  tools/setup_gpu_build_tools.sh
Owners: @szha, @pllarroy

Made '_TensorRT' amp symbol list conditional of feature
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

[DOC] Add Kubeflow to MXNet ecosystem (#20804)
  docs/static_site/src/assets/img/kubeflow.png
  docs/static_site/src/pages/ecosystem.html
Owners: @szha, @pllarroy, @aaronmarkham

trigger
  src/operator/nn/concat.cc
  src/operator/nn/dnnl/dnnl_stack.cc
Owners: @pllarroy

Fix oneDNN fallback for concat with scalar
  src/operator/nn/concat.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/log_softmax.cc
  src/operator/nn/softmax.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

apply review comments
  src/operator/subgraph/dnnl/dnnl_identity_property.h
Owners: @pllarroy

Fix identity fuse
  src/operator/subgraph/dnnl/dnnl_identity_property.h
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers
