Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

fix (de)conv assert
  python/mxnet/ndarray/numpy_extension/_op.py
Owners: @szha, @pllarroy

fix comment
  python/mxnet/ndarray/numpy_extension/_op.py
Owners: @szha, @pllarroy

Fix license category for deformable_convolution files.
  LICENSE
Owners: @apache/mxnet-committers

Update list of Apache-2.0 licensed files.
  LICENSE
Owners: @apache/mxnet-committers

Add files to LICENSE that fall under Apache 2.0 license.
  LICENSE
Owners: @apache/mxnet-committers

Add include symlinks and other ASF2 files to LICENSE.
  LICENSE
Owners: @apache/mxnet-committers

Disable fusing FC+add during first quatization pass
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_sum_fuse.h
Owners: @pllarroy

Enable tests for full quantize mode and for MKLDNN backend
  tests/python/mkl/test_subgraph.py
Owners: @apache/mxnet-committers

Add fusing FullyConnected with element-wise add
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_sum_fuse.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
Owners: @pllarroy

Align naming convention with convolution operator
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Owners: @pllarroy

add rtc functions
  src/common/cuda/rtc/backward_functions-inl.h
  src/common/cuda/rtc/forward_functions-inl.h
Owners: @pllarroy

Fixing typo
  python/mxnet/cuda/nvtx.py
Owners: @szha, @pllarroy

Fix lint
  python/mxnet/cuda/__init__.py
  python/mxnet/cuda/nvtx.py
Owners: @szha, @pllarroy

changes made
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

changes made
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

[BUGFIX] Fix (de)conv (#20597)
  python/mxnet/ndarray/numpy_extension/_op.py
Owners: @szha, @pllarroy

Fix test
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Increase default deconv workspace size in python API
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/numpy_extension/_op.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix deconv workspace size
  src/operator/nn/deconvolution-inl.h
Owners: @pllarroy

Disable 3D tests for GPU
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Increase default workspace size to mach convolution
  src/operator/nn/deconvolution-inl.h
Owners: @pllarroy

Add deconv arguments checks
  src/operator/nn/deconvolution-inl.h
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

[v1.x][BUGFIX] Implement oneDNN deconvolution primitives to deconvolution 2D (#20107)
  src/operator/nn/mkldnn/mkldnn_deconvolution-inl.h
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/python/mkl/test_mkldnn.py
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Add native support for 3D deconvolution
  src/operator/deformable_convolution-inl.h
  src/operator/modulated_deformable_convolution-inl.h
  src/operator/nn/convolution-inl.h
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  tests/python/mkl/test_mkldnn.py
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

Remove outdated check
  src/operator/nn/deconvolution.cc
Owners: @pllarroy

Share workspace
  src/operator/nn/convolution-inl.h
  src/operator/nn/deconvolution-inl.h
Owners: @pllarroy

Change tests
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Remove next_impl calls until it is fixed
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

Remove outdated check
  src/operator/nn/convolution-inl.h
Owners: @pllarroy

[v1.x][FEATURE] Add MKLDNN Deconvolution 1D and 3D support (#20137)
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/python/mkl/test_mkldnn.py
Owners: @pllarroy, @apache/mxnet-committers

Use MXNET_USE_ONEDNN
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution-inl.h
Owners: @pllarroy

Add test_deconv_dilation
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

Apply formatter
  src/operator/nn/mkldnn/mkldnn_deconvolution-inl.h
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

Replace math.prod with np.prod
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Check convolution layout only when it has value
  src/operator/nn/convolution-inl.h
Owners: @pllarroy

Fix documentation
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/numpy_extension/_op.py
  src/operator/nn/deconvolution.cc
Owners: @szha, @pllarroy

Fix check
  src/operator/nn/convolution-inl.h
Owners: @pllarroy

Fix include order
  src/operator/nn/deconvolution-inl.h
Owners: @pllarroy

fix NightlyTestForBinary in master branch
  python/mxnet/gluon/contrib/estimator/batch_processor.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/nightly/test_kvstore.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

skip large tensor test_where
  python/mxnet/gluon/contrib/estimator/batch_processor.py
  tests/nightly/test_np_large_array.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
