Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Moving mkl runtime initialization to the function
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

add wrap_data_api_linalg_func in line 1335 & 1205
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Add async GPU depency Engine
  include/mxnet/base.h
  include/mxnet/c_api.h
  include/mxnet/engine.h
  include/mxnet/storage.h
  src/c_api/c_api.cc
  src/common/object_pool.h
  src/engine/engine.cc
  src/engine/naive_engine.cc
  src/engine/stream_manager.h
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/engine/threaded_engine_perdevice.cc
  src/engine/threaded_engine_pooled.cc
  src/imperative/imperative_utils.h
  src/io/batchify.cc
  src/io/dataset.cc
  src/kvstore/comm.h
  src/kvstore/gradient_compression.cc
  src/kvstore/kvstore_dist.h
  src/kvstore/kvstore_dist_server.h
  src/kvstore/kvstore_local.h
  src/kvstore/p3store_dist.h
  src/ndarray/ndarray.cc
  src/operator/custom/ndarray_op.cc
  src/operator/operator_util.cc
  src/resource.cc
  src/storage/gpu_device_storage.h
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
  tests/cpp/engine/threaded_engine_test.cc
  tests/python/gpu/test_gluon_gpu.py
  tests/python/gpu/test_operator_gpu.py
Owners: @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

Temporarely skip byteps test
  ci/jenkins/Jenkinsfile_unix_gpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix typo
  include/mxnet/base.h
Owners: @pllarroy, @eric-haibin-lin

Fix lint
  src/ndarray/ndarray.cc
Owners: @pllarroy

Move Async engine tag to MXNET_ENGINE_TYPE
  src/engine/engine.cc
  src/engine/threaded_engine.cc
  src/ndarray/ndarray.cc
Owners: @pllarroy

Fix bad cast
  include/mxnet/engine.h
Owners: @pllarroy, @eric-haibin-lin

clang-format
  include/mxnet/base.h
  include/mxnet/engine.h
  include/mxnet/storage.h
  src/c_api/c_api.cc
  src/common/object_pool.h
  src/engine/engine.cc
  src/engine/naive_engine.cc
  src/engine/stream_manager.h
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/engine/threaded_engine_perdevice.cc
  src/engine/threaded_engine_pooled.cc
  src/imperative/imperative_utils.h
  src/kvstore/p3store_dist.h
  src/ndarray/ndarray.cc
  src/operator/operator_util.cc
  src/resource.cc
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
  tests/cpp/engine/threaded_engine_test.cc
Owners: @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

Fix linkcheck
  docs/python_docs/python/tutorials/performance/backend/index.rst
Owners: @szha, @pllarroy, @aaronmarkham

Fix sanity
  tools/license_header.py
Owners: @szha, @pllarroy

src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
Owners: @pllarroy

review changes
  README.md
  cpp-package/example/inference/README.md
  docs/python_docs/python/tutorials/index.rst
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/index.rst
  docs/python_docs/python/tutorials/performance/backend/index.rst
  docs/python_docs/python/tutorials/performance/backend/profiler.md
  docs/python_docs/python/tutorials/performance/index.rst
  docs/static_site/src/pages/api/faq/env_var.md
  python/mxnet/contrib/quantization.py
Owners: @apache/mxnet-committers, @nswamy, @pllarroy, @szha, @aaronmarkham

Docs
  CMakeLists.txt
  DNNL_README.md
  README.md
  cd/python/docker/test_python_image.sh
  cd/python/pypi/pypi_package.sh
  ci/docker/runtime_functions.sh
  cpp-package/example/inference/README.md
  docs/python_docs/python/tutorials/index.rst
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/index.rst
  docs/python_docs/python/tutorials/performance/backend/index.rst
  docs/python_docs/python/tutorials/performance/backend/profiler.md
  docs/python_docs/python/tutorials/performance/index.rst
  docs/static_site/src/pages/api/faq/env_var.md
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers, @marcoabreu, @aaronmarkham, @nswamy

Apply clang
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/nn/dnnl/dnnl_deconvolution-inl.h
  src/operator/nn/dnnl/dnnl_deconvolution.cc
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax_output.cc
  src/operator/nn/dnnl/dnnl_sum.cc
  tests/cpp/storage/storage_test.cc
Owners: @pllarroy, @apache/mxnet-committers

mkl_mem -> dnnl_mem
  src/ndarray/ndarray.cc
  src/operator/subgraph/dnnl/dnnl_conv.cc
Owners: @pllarroy

Fix license
  .licenserc.yaml
  LICENSE
Owners: @apache/mxnet-committers

dnnl -> oneDNN/ONEDNN/onednn for functions/variables visible from outside
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
  docs/static_site/src/pages/api/faq/env_var.md
  docs/static_site/src/pages/api/faq/perf.md
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/contrib/quantization.py
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_conv_property.h
  src/operator/subgraph/dnnl/dnnl_elemwisemul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_align_scale_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_valatt_property.h
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

Fix contributors
  CONTRIBUTORS.md
Owners: @apache/mxnet-committers

subgraph
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/contrib/quantization.py
  src/operator/subgraph/dnnl/dnnl-transformer-inl.h
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
  src/operator/subgraph/dnnl/dnnl_common.h
  src/operator/subgraph/dnnl/dnnl_conv-inl.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_conv_property.h
  src/operator/subgraph/dnnl/dnnl_elemwisemul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_fc-inl.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_align_scale_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_base-inl.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_valatt_property.h
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Owners: @szha, @pllarroy

Fix miscellaneous
  src/imperative/imperative_utils.h
Owners: @pllarroy

Other files
  include/mxnet/base.h
  include/mxnet/ndarray.h
  src/c_api/c_api.cc
  src/common/exec_utils.h
  src/common/utils.h
  src/imperative/attach_op_execs_pass.cc
  src/imperative/imperative_utils.h
  src/ndarray/ndarray.cc
  src/operator/contrib/batch_norm_relu.cc
  src/operator/leaky_relu.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/operator_common.h
  src/operator/rnn.cc
  src/operator/softmax_output.cc
  src/serialization/cnpy.cc
  src/storage/cpu_device_storage.h
  src/storage/storage_manager_helpers.h
Owners: @pllarroy, @eric-haibin-lin

Tests directory
  tests/cpp/include/test_dnnl.h
  tests/cpp/operator/dnnl_operator_test.cc
  tests/cpp/operator/dnnl_test.cc
  tests/cpp/storage/storage_test.cc
  tests/nightly/test_large_array.py
  tests/nightly/test_np_large_array.py
  tests/python/dnnl/data/test_dnnl_test_dnnl_model_model1.json
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/dnnl/subgraphs/test_transformer_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/dnnl/test_bf16_operator.py
  tests/python/dnnl/test_dnnl.py
  tests/python/dnnl/test_quantization_dnnl.py
  tests/python/gpu/test_gluon_model_zoo_gpu.py
  tests/python/gpu/test_kvstore_gpu.py
  tests/python/quantization/test_quantization.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_sparse_operator.py
  tests/tutorials/test_sanity_tutorials.py
  tests/tutorials/test_tutorials.py
Owners: @apache/mxnet-committers

src/operator/quantization
  src/operator/quantization/dequantize.cc
  src/operator/quantization/dnnl/dnnl_dequantize-inl.h
  src/operator/quantization/dnnl/dnnl_quantize-inl.h
  src/operator/quantization/dnnl/dnnl_quantize_v2-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_act.cc
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/dnnl/dnnl_quantized_concat.cc
  src/operator/quantization/dnnl/dnnl_quantized_conv.cc
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/quantization/dnnl/dnnl_quantized_flatten.cc
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/quantization/dnnl/dnnl_quantized_ops-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_pooling.cc
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_batch_norm.cc
  src/operator/quantization/quantized_conv.cc
  src/operator/quantization/quantized_elemwise_add.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/quantized_pooling.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

src/operator/tensor
  src/operator/tensor/amp_cast.cc
  src/operator/tensor/cast_storage-inl.h
  src/operator/tensor/dot.cc
  src/operator/tensor/elemwise_binary_op_basic.cc
  src/operator/tensor/elemwise_sum.cc
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op_logexp.cc
  src/operator/tensor/elemwise_unary_op_pow.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

src/operator/nn/mkldnn -> src/operator/nn/dnnl
  src/operator/nn/dnnl/dnnl_act-inl.h
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_concat-inl.h
  src/operator/nn/dnnl/dnnl_concat.cc
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/nn/dnnl/dnnl_convolution.cc
  src/operator/nn/dnnl/dnnl_copy.cc
  src/operator/nn/dnnl/dnnl_deconvolution-inl.h
  src/operator/nn/dnnl/dnnl_deconvolution.cc
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/nn/dnnl/dnnl_layer_norm-inl.h
  src/operator/nn/dnnl/dnnl_layer_norm.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_lrn-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/dnnl/dnnl_reshape-inl.h
  src/operator/nn/dnnl/dnnl_reshape.cc
  src/operator/nn/dnnl/dnnl_rnn-inl.h
  src/operator/nn/dnnl/dnnl_rnn.cc
  src/operator/nn/dnnl/dnnl_slice-inl.h
  src/operator/nn/dnnl/dnnl_slice.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax_output.cc
  src/operator/nn/dnnl/dnnl_sum.cc
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

Remove unnecessary onednn header files
  include/onednn/mkldnn.h
  include/onednn/mkldnn.hpp
  include/onednn/mkldnn_config.h
  include/onednn/mkldnn_debug.h
  include/onednn/mkldnn_dnnl_mangling.h
  include/onednn/mkldnn_types.h
  include/onednn/mkldnn_version.h
Owners: @pllarroy, @eric-haibin-lin

fix quantization.py
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

Apply clang-format
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_convolution.cc
  src/operator/nn/dnnl/dnnl_layer_norm.cc
  src/operator/nn/dnnl/dnnl_rnn-inl.h
  src/operator/nn/dnnl/dnnl_rnn.cc
  src/operator/quantization/dnnl/dnnl_dequantize-inl.h
  src/operator/quantization/dnnl/dnnl_quantize-inl.h
  src/operator/quantization/dnnl/dnnl_quantize_v2-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  tests/cpp/include/test_dnnl.h
  tests/cpp/operator/dnnl_operator_test.cc
  tests/cpp/operator/dnnl_test.cc
Owners: @pllarroy, @apache/mxnet-committers

A clang-format file can be removed from .gitignore
  .gitignore
Owners: @apache/mxnet-committers

Disable debug log to avoid duplications
  ci/docker/runtime_functions.sh
  tools/lint/clang_format_ci.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

[FEATURE] Enable dynamic linking with MKL and compiler based OpenMP (#20474)
  .github/workflows/os_x_mklbuild.yml
  ci/docker/Dockerfile.build.ubuntu
  cmake/ChooseBlas.cmake
  cmake/upstream/FindBLAS.cmake
  config/distribution/darwin_cpu_mkl.cmake
  config/distribution/linux_cpu_mkl.cmake
  src/initialize.cc
  src/initialize.h
  tools/dependencies/make_shared_dependencies.sh
  tools/dependencies/mkl.sh
  tools/dependencies/numpy_mkl.sh
  tools/dependencies/opencv.sh
  tools/staticbuild/build.sh
  tools/staticbuild/build_lib.sh
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Use different mirror to download binutils to avoid expired let's encrypt CA cert.
  ci/docker/install/ubuntu_binutils.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[API] Add positive
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix rebase errors
  src/c_api/c_api.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

ctx => device
  python/mxnet/device.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  python/mxnet/test_utils.py
  python/mxnet/util.py
  src/operator/numpy/np_elemwise_broadcast_logic_op.h
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
Owners: @szha, @pllarroy

[Master] Port #20627 (#20645)
  LICENSE
Owners: @apache/mxnet-committers

[API Standardization]Standardize MXNet NumPy Statistical & Linalg Functions (#20592)
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix TODO change keep_dims from Optional[bool] to bool
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Update python/mxnet/numpy/linalg.py
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy
