Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Sanity check fix
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Restructured test to work without numpy
  tests/python/mkl/test_mkldnn.py
Owners: @apache/mxnet-committers

Sanity check fix
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Added adaptive backward pooling to v1.x
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
  tests/python/mkl/test_mkldnn.py
Owners: @pllarroy, @apache/mxnet-committers

[FEATURE] Fuse dequantize with convolution (#20816)
  CONTRIBUTORS.md
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @apache/mxnet-committers, @pllarroy

Reduce after quantization memory usage
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

Improve MaskedSoftmax by oneDNN (#20853)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_masked_softmax-inl.h
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/masked_softmax.cc
  src/operator/nn/softmax-inl.h
  src/operator/nn/softmax.cc
Owners: @pllarroy

[1.x][FEATURE] CUDA graphs support (#19142)
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/op_attr_types.h
  src/imperative/attach_op_execs_pass.cc
  src/imperative/cuda_graphs.h
  src/imperative/exec_pass.h
  src/imperative/imperative_utils.h
  src/operator/contrib/adamw.cu
  src/operator/nn/dropout.cu
  src/operator/numpy/linalg/np_eig.cu
  src/operator/numpy/linalg/np_eigvals.cu
  src/operator/numpy/linalg/np_norm_backward.cu
  src/operator/numpy/linalg/np_norm_forward.cu
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_constraint_check.cu
  src/operator/numpy/np_percentile_op.cu
  src/operator/numpy/random/np_bernoulli_op.cu
  src/operator/numpy/random/np_exponential_op.cu
  src/operator/numpy/random/np_gamma_op.cu
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_normal_op.cu
  src/operator/numpy/random/np_pareto_op.cu
  src/operator/numpy/random/np_power_op.cu
  src/operator/numpy/random/np_rayleigh_op.cu
  src/operator/numpy/random/np_weibull_op.cu
  src/operator/tensor/indexing_op.cu
  tests/python/gpu/test_gluon_gpu.py
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @apache/mxnet-committers

Fix compile and test_cuda_graphs
  src/imperative/cuda_graphs.h
  tests/python/gpu/test_gluon_gpu.py
Owners: @pllarroy, @apache/mxnet-committers

Fix lint
  src/imperative/cuda_graphs.h
Owners: @pllarroy

Mark more ops as not CUDA Graphs compatible
  src/imperative/cuda_graphs.h
  src/operator/contrib/index_array.cu
  src/operator/contrib/multi_lamb.cu
  src/operator/numpy/np_matrix_op.cu
  src/operator/numpy/np_nonzero_op.cu
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/matrix_op.cu
Owners: @pllarroy

Mark some linalg ops as not CUDA Graphs compatible
  src/imperative/cuda_graphs.h
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/la_op.cu
Owners: @pllarroy

Marked 2 ops CUDA Graphs incompatible due to cpu->gpu copy
  src/operator/numpy/np_pad_op.cu
  src/operator/tensor/matrix_op.cu
Owners: @pllarroy

Mark cuDNN Dropout as fully CUDA Graphs compatible. Reenable tests.
  src/operator/nn/dropout.cu
  tests/python/gpu/test_gluon_gpu.py
Owners: @pllarroy, @apache/mxnet-committers

Implemented changes suggested in review
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/pooling.cc
Owners: @pllarroy

Formatted diff
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Reformatted diff
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

add Bartłomiej as committer
  CONTRIBUTORS.md
Owners: @apache/mxnet-committers

identity fuse (#20884)
  src/operator/subgraph/mkldnn/mkldnn_identity_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  tests/python/mkl/test_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Update is_TF32_enabled() for SM arch > 80
  python/mxnet/test_utils.py
Owners: @szha, @pllarroy

Remove gpu arch 86 from centos builds on cuda 10
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix test_convolution_{grouping,dilated_impulse_response}, test_np_linalg_qr
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Fix test_convolution_grouping on A100
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Fix test_rnn_unroll_variant_length
  tests/python/unittest/test_gluon_rnn.py
Owners: @apache/mxnet-committers

Fix test_convolution_dilated_impulse_response
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

[FEATURE] Add quantized version of reshape with DNNL reorder primitive. (#20835)
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/nn/dnnl/dnnl_reshape.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_reshape.cc
  src/operator/quantization/quantized_reshape-inl.h
  src/operator/quantization/quantized_reshape.cc
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/quantization/test_quantization.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Updated v1.x to version 1.10 after branching v1.9.x
  R-package/DESCRIPTION
  contrib/clojure-package/examples/bert/project.clj
  contrib/clojure-package/examples/captcha/project.clj
  contrib/clojure-package/examples/cnn-text-classification/project.clj
  contrib/clojure-package/examples/gan/project.clj
  contrib/clojure-package/examples/imclassification/project.clj
  contrib/clojure-package/examples/infer/imageclassifier/project.clj
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/predictor/project.clj
  contrib/clojure-package/examples/module/project.clj
  contrib/clojure-package/examples/multi-label/project.clj
  contrib/clojure-package/examples/neural-style/project.clj
  contrib/clojure-package/examples/pre-trained-models/project.clj
  contrib/clojure-package/examples/profiler/project.clj
  contrib/clojure-package/examples/rnn/project.clj
  contrib/clojure-package/examples/tutorial/project.clj
  contrib/clojure-package/examples/visualization/project.clj
  contrib/clojure-package/project.clj
  docs/static_site/src/pages/api/scala/docs/tutorials/mxnet_scala_on_intellij.md
  include/mxnet/base.h
  julia/NEWS.md
  python/mxnet/libinfo.py
  scala-package/README.md
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/java-demo/pom.xml
  scala-package/mxnet-demo/scala-demo/pom.xml
  scala-package/pom.xml
  snapcraft.yaml
Owners: @thirdwing, @gigasquid, @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @iblis17, @yzhliu, @nswamy, @apache/mxnet-committers

Skip test_np_standard_binary_funcs test of 0-dim array broadcast
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Update docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

[website] Add CPU quantization tutorial (#20856)
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/index.rst
Owners: @szha, @pllarroy, @aaronmarkham

clang-tidy fixes
  src/imperative/attach_op_execs_pass.cc
  src/imperative/cuda_graphs.h
  src/imperative/exec_pass.h
  src/imperative/imperative_utils.h
  src/operator/contrib/adamw.cu
  src/operator/contrib/index_array.cu
  src/operator/contrib/multi_lamb.cu
  src/operator/nn/dropout.cu
  src/operator/numpy/linalg/np_eig.cu
  src/operator/numpy/linalg/np_eigvals.cu
  src/operator/numpy/linalg/np_norm_backward.cu
  src/operator/numpy/linalg/np_norm_forward.cu
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_constraint_check.cu
  src/operator/numpy/np_matrix_op.cu
  src/operator/numpy/np_nonzero_op.cu
  src/operator/numpy/np_pad_op.cu
  src/operator/numpy/np_percentile_op.cu
  src/operator/numpy/random/np_exponential_op.cu
  src/operator/numpy/random/np_gamma_op.cu
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_normal_op.cu
  src/operator/numpy/random/np_pareto_op.cu
  src/operator/numpy/random/np_power_op.cu
  src/operator/numpy/random/np_rayleigh_op.cu
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/la_op.cu
  src/operator/tensor/matrix_op.cu
Owners: @pllarroy

More clang-tidy fixes
  include/mxnet/op_attr_types.h
  src/imperative/attach_op_execs_pass.cc
  src/imperative/cuda_graphs.h
  src/imperative/exec_pass.h
  src/operator/nn/dropout.cu
  src/operator/numpy/random/np_bernoulli_op.cu
  src/operator/numpy/random/np_exponential_op.cu
  src/operator/numpy/random/np_pareto_op.cu
  src/operator/numpy/random/np_weibull_op.cu
Owners: @pllarroy, @eric-haibin-lin

Avoid CUDA_CALL(e): improper macro expansion
  src/imperative/cuda_graphs.h
Owners: @pllarroy

Add compile guard to Dropout's FIsCUDAGraphsCompatible def
  src/operator/nn/dropout.cu
Owners: @pllarroy

Temporarily add '-s' to pytest serial tests
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Temporarily add '-s' to pytest cpu tests
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix amp fuse with branched output, add bf16 support in necessary places
  include/mxnet/runtime/packed_func.h
  python/mxnet/amp/amp.py
  src/nnvm/low_precision_pass.cc
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Do not fuse with quantized nodes
  python/mxnet/amp/lists/symbol_bf16.py
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
Owners: @szha, @pllarroy

Fix offline casting of parameters
  python/mxnet/amp/lists/symbol_bf16.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
  tests/python/mkl/subgraphs/test_amp_subgraph.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix symbol_bf16
  python/mxnet/amp/lists/symbol_bf16.py
Owners: @szha, @pllarroy
