Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Fix os_x_mklbuild.yml
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

Revert "fix TODO"
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

merge upstream
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Update python/mxnet/numpy/linalg.py
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

add line int line 261 in test_numpy_op.py
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

add line in line 59 in multiarray.py add line in line 26 in linalg.py fix TODO in lstsq
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

change signatures
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

add line in line 19 in linalg.py
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Integrate oneDNN support for numpy concatenate operator
  src/api/operator/numpy/np_matrix_op.cc
  src/operator/nn/concat-inl.h
  src/operator/nn/concat.cc
  src/operator/nn/dnnl/dnnl_concat.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/quantization/dnnl/dnnl_quantized_concat.cc
  src/operator/quantization/quantized_concat.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

Fix sanity check errors
  src/operator/quantization/dnnl/dnnl_quantized_concat.cc
Owners: @pllarroy

Fix sanity check
  src/operator/nn/concat.cc
  src/operator/quantization/quantized_concat.cc
Owners: @pllarroy

Remove redundant npi_concatenate nnvm_register_op for gpu
  src/operator/numpy/np_matrix_op.cu
Owners: @pllarroy

put from __future__ import annotations to the front of the file(multiarray.py)
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bug at line39
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Softmax w/ temperature
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/softmax.cc
Owners: @pllarroy

clang-format
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
Owners: @pllarroy

Remove MXNET_SUBGRAPH_BACKEND environment variable
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
  docs/static_site/src/pages/api/cpp/docs/tutorials/subgraphAPI.md
  docs/static_site/src/pages/api/faq/env_var.md
  docs/static_site/src/pages/api/faq/perf.md
  tests/python/dnnl/test_quantization_dnnl.py
  tests/python/unittest/test_subgraph_op.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

Fix os_x_mklbuild.yml (#20668)
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

Fix gpu register op and dmlc::optional problems
  cpp-package/example/charRNN.cpp
  src/operator/nn/concat.cu
Owners: @nswamy, @pllarroy

fix
  python/mxnet/ndarray/numpy/random.py
Owners: @szha, @pllarroy

Improve descriptions in docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md file
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
Owners: @szha, @pllarroy, @aaronmarkham

fix multiarray
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

update ndarray.py
  benchmark/opperf/opperf.py
  python/mxnet/ndarray/ndarray.py
Owners: @apache/mxnet-committers, @szha, @pllarroy

change ones & zero
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

separate transpose error tests
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Add clang link to other files
  docs/static_site/src/pages/community/code_guide.md
  docs/static_site/src/pages/community/index.md
  docs/static_site/src/pages/community/pull_request.md
Owners: @szha, @pllarroy, @aaronmarkham

Tool word is removed from the sentence
  docs/static_site/src/pages/community/code_guide.md
  docs/static_site/src/pages/community/pull_request.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix Windows-GPU build for monolithic arch dll
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Rtol and Atol, less restricted value
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

fix
  python/mxnet/executor.py
  python/mxnet/gluon/parameter.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/symbol/symbol.py
  tests/python/unittest/test_gluon_rnn.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix
  example/gluon/image_classification.py
  example/gluon/super_resolution/super_resolution.py
  python/mxnet/_ctypes/cached_op.py
  python/mxnet/gluon/data/batchify.py
  python/mxnet/gluon/parameter.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/numpy/random.py
  python/mxnet/util.py
  tests/python/unittest/test_executor.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_estimator.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

Added ::GCD and ::LCM: <numeric> [c++17] contains gcd and lcm implementation (#20583)
  src/operator/mshadow_op.h
Owners: @pllarroy

[Master] Clang-format description on a wiki (#20612)
  docs/static_site/src/pages/community/clang_format_guide.md
  docs/static_site/src/pages/community/code_guide.md
  docs/static_site/src/pages/community/pull_request.md
Owners: @szha, @pllarroy, @aaronmarkham

fix tests
  docs/python_docs/python/tutorials/getting-started/gluon_from_experiment_to_deployment.md
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/save_load_params.md
  docs/python_docs/python/tutorials/packages/gluon/image/info_gan.md
  docs/python_docs/python/tutorials/packages/gluon/training/fit_api_tutorial.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_finder.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_schedules.md
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/performance/backend/profiler.md
  example/adversary/adversary_generation.ipynb
  example/bi-lstm-sort/bi-lstm-sort.ipynb
  example/distributed_training-horovod/gluon_mnist.py
  example/distributed_training/cifar10_kvstore_hvd.py
  example/multi-task/multi-task-learning.ipynb
  example/recommenders/demo1-MF.ipynb
  example/recommenders/demo2-dssm.ipynb
  python/mxnet/gluon/contrib/estimator/batch_processor.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/trainer.py
  python/mxnet/test_utils.py
  tests/nightly/dist_device_sync_kvstore_byteps.py
  tests/nightly/dist_device_sync_kvstore_horovod.py
  tests/nightly/estimator/test_estimator_cnn.py
  tests/nightly/estimator/test_sentiment_rnn.py
  tests/python/gpu/test_device.py
  tests/python/gpu/test_fusion.py
  tests/python/gpu/test_nccl.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/profiling/test_nvtx.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_gluon_batch_processor.py
  tests/python/unittest/test_gluon_data.py
  tests/python/unittest/test_operator.py
  tests/python/unittest/test_random.py
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @apache/mxnet-committers

update
  python/mxnet/numpy_extension/random.py
  python/mxnet/test_utils.py
Owners: @szha, @pllarroy

Fix Windows-GPU build for monolithic arch dll (#20466)
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

transpose header dnnl
  src/operator/nn/dnnl/dnnl_transpose-inl.h
Owners: @pllarroy

format files sanity
  src/operator/nn/dnnl/dnnl_transpose-inl.h
  src/operator/nn/dnnl/dnnl_transpose.cc
  src/operator/numpy/np_matrix_op.cc
Owners: @pllarroy

fix tests
  python/mxnet/ndarray/numpy_extension/random.py
  python/mxnet/test_utils.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

update implementation
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/common/cuda/rtc/forward_functions-inl.h
  src/operator/mshadow_op.h
  src/operator/numpy/np_floor_divide-inl.h
  src/operator/numpy/np_floor_divide.cc
  src/operator/numpy/np_floor_divide.cu
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers
