Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

fix LD path for cuda files
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

change cuda version arg name
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

update readme for mx1.9.1
  README.md
Owners: @apache/mxnet-committers

Fix linkcheck (#21045)
  docs/python_docs/python/tutorials/packages/gluon/image/mnist.md
Owners: @szha, @pllarroy, @aaronmarkham

update gpu base image in ci
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu102
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update base image in Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_build_cuda
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update gpu base image in ci
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu102
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update base image in Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_build_cuda
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] Fix CD pipeline for python docker (#21049)
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu102
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham

Fix next_impl in deconvolution (#20750)
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

Fc with sum type fix
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Fix review
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Fix next_impl in deconvolution (#20750) (#21051)
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

update readme for 1.9.1
  README.md
Owners: @apache/mxnet-committers

Switch from using Google Analytics to ASF Matmomo on MXNet website.
  docs/python_docs/_static/google_analytics.js
  docs/python_docs/_static/matomo_analytics.js
  docs/python_docs/python/scripts/conf.py
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/google-analytics.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/matomo-analytics.html
Owners: @szha, @pllarroy, @aaronmarkham

Add link to ASF privacy policy to MXNet website.
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/static_site/src/_includes/footer.html
Owners: @szha, @pllarroy, @aaronmarkham

Remove live Medium blog integration and blog page and replace with link to blog in footer.
  docs/static_site/Makefile
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/pages/blog.html
Owners: @szha, @pllarroy, @aaronmarkham

Add ASF header.
  docs/python_docs/_static/matomo_analytics.js
Owners: @szha, @pllarroy, @aaronmarkham

Add updated nvidia key to container.
  ci/docker/Dockerfile.build.jetson
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add updated nvidia key to container.
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix download link (use https instead of http) for latest version.
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

Change page description to include Apache MXNet.
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
Owners: @szha, @pllarroy, @aaronmarkham

Update project name on trusted by page.
  docs/static_site/src/pages/trusted_by.html
Owners: @szha, @pllarroy, @aaronmarkham

Update project name on features page.
  docs/static_site/src/pages/features.html
Owners: @szha, @pllarroy, @aaronmarkham

Update contribute page.
  docs/static_site/src/pages/community/contribute.md
Owners: @szha, @pllarroy, @aaronmarkham

Update ecosystem page.
  docs/static_site/src/pages/ecosystem.html
Owners: @szha, @pllarroy, @aaronmarkham

Remove duplicate title.
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
Owners: @szha, @pllarroy, @aaronmarkham

Use local copies for js libraries.
  docs/static_site/Makefile
  docs/static_site/src/pages/community/contribute.md
Owners: @szha, @pllarroy, @aaronmarkham

Do not link to dmlc site for graphics, instead store copy locally.
  docs/static_site/src/assets/img/medium_black.svg
  docs/static_site/src/assets/img/reddit_blue.svg
  docs/static_site/src/assets/img/twitter.svg
  docs/static_site/src/assets/img/youtube_red.svg
  docs/static_site/src/pages/community/contribute.md
Owners: @szha, @pllarroy, @aaronmarkham

Ignore temporary files.
  docs/static_site/src/.gitignore
Owners: @szha, @pllarroy, @aaronmarkham

Use local img for pip package list instead of to dmlc website.
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/assets/img/pip-packages-1.9.1.png
Owners: @szha, @pllarroy, @aaronmarkham

Update project name on getting started page.
  docs/static_site/src/pages/get_started/build_from_source.md
  docs/static_site/src/pages/get_started/download.md
  docs/static_site/src/pages/get_started/index.html
Owners: @szha, @pllarroy, @aaronmarkham

Simplify footer links.
  docs/static_site/src/_includes/footer.html
Owners: @szha, @pllarroy, @aaronmarkham

Update homepage
  docs/static_site/src/_layouts/home.html
Owners: @szha, @pllarroy, @aaronmarkham

broadcast_like CPU optimization (#21004)
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

Differentiate default RNG seed
  src/resource.cc
Owners: @pllarroy

Fix clang
  src/resource.cc
Owners: @pllarroy

Update oneDNN quantization tutorial
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Update MXNet to Apache MXNet.
  docs/static_site/src/pages/api/api.html
  docs/static_site/src/pages/api/architecture/exception_handling.md
  docs/static_site/src/pages/api/architecture/overview.md
  docs/static_site/src/pages/api/architecture/program_model.md
  docs/static_site/src/pages/api/python/index.md
Owners: @szha, @pllarroy, @aaronmarkham

Update python docs.
  docs/python_docs/python/api/index.rst
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/pages/get_started/build_from_source.md
Owners: @szha, @pllarroy, @aaronmarkham
