Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix formatter
  src/operator/nn/dnnl/dnnl_reduce.cc
Owners: @pllarroy

Add oneDNN support for reduce operators
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_reduce-inl.h
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_sum_value.cc
Owners: @pllarroy

Fix windows GPU issue
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

fix sanity
  src/operator/nn/dnnl/dnnl_reduce-inl.h
Owners: @pllarroy

Refactor
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_reduce-inl.h
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_sum_value.cc
Owners: @pllarroy

Fix incorrect params
  src/operator/nn/dnnl/dnnl_reduce-inl.h
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

Fix condition
  src/operator/nn/dnnl/dnnl_reduce.cc
Owners: @pllarroy

Review
  src/operator/nn/dnnl/dnnl_reduce-inl.h
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/nn/dnnl/dnnl_transpose-inl.h
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

Reintroduce next_impl in onednn deconvolution (#20663)
  src/operator/nn/dnnl/dnnl_deconvolution.cc
Owners: @pllarroy

fix bugs in test_operators.py
  tests/python/onnx/test_operators.py
Owners: @apache/mxnet-committers

[API TESTS] Standardization and add more array api tests (#20725)
  .github/workflows/os_x_staticbuild.yml
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/type_functions.py
  python/mxnet/numpy/utils.py
  python/mxnet/util.py
  src/common/cuda/rtc/util-inl.h
  src/common/utils.cc
  src/common/utils.h
  src/ndarray/ndarray_function-inl.h
  src/ndarray/ndarray_function.cu
  src/operator/contrib/boolean_mask.cc
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_elemwise_broadcast_op_lae.cc
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_unary_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[master][ci][feature] Static code checker for CMake files (#20706)
  .cmakelintrc
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham

Fix style; files from /src /include
  include/mxnet/executor.h
  include/mxnet/kvstore.h
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/sort_op.h
Owners: @pllarroy, @eric-haibin-lin

Fix next_impl in deconvolution
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

finished adaptive backward pooling on master
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling.cc
Owners: @pllarroy

[submodule] Upgrade oneDNN to v2.3.3
  tools/dependencies/README.md
Owners: @szha, @pllarroy

Embed commit hash and branch into library
  include/mxnet/c_api.h
  src/c_api/c_api.cc
Owners: @pllarroy, @eric-haibin-lin

set git branch and commit from CMake
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Hook up new functions to python
  python/mxnet/base.py
  tools/diagnose.py
Owners: @szha, @pllarroy

Remove old system
  tools/diagnose.py
  tools/pip/MANIFEST.in
  tools/staticbuild/build_wheel.sh
Owners: @szha, @pllarroy

Use GIT_EXECUTABLE
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Improve stack operator performance by oneDNN (#20621)
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset12.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset13.py
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_concat-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_stack.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/tensor/matrix_op.cc
Owners: @szha, @pllarroy

fix sanity
  include/mxnet/c_api.h
Owners: @pllarroy, @eric-haibin-lin

[master] Merge DNNL adaptive pooling with standard pooling (#20741)
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/dnnl/dnnl_quantized_pooling.cc
Owners: @pllarroy

* Unifying post-quantization properties
  src/operator/subgraph/dnnl/dnnl_elemwisemul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_fc_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_matmul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

Review changes
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Small fix
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

[master][style-fix] Clang-format comment style fix (#20744)
  include/mxnet/c_api.h
  include/mxnet/executor.h
  include/mxnet/kvstore.h
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/sort_op.h
Owners: @pllarroy, @eric-haibin-lin

rename previous multinomial implementation to categorical
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  src/operator/random/sample_multinomial_op.cc
  src/operator/random/sample_multinomial_op.cu
  src/operator/random/sample_multinomial_op.h
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_random.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix script formatting
  python/mxnet/base.py
  tools/diagnose.py
Owners: @szha, @pllarroy

Linter fixes
  CMakeLists.txt
  include/mxnet/c_api.h
  src/c_api/c_api.cc
Owners: @szha, @pllarroy, @leezu, @eric-haibin-lin

Fix test_numpy_op tests & lacking asserts
  python/mxnet/ndarray/numpy/_op.py
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

small fix
  tests/python/unittest/test_random.py
Owners: @apache/mxnet-committers

fix bugs in _op.py
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @pllarroy

[submodule] Upgrade oneDNN to v2.3.3 (#20752)
  tools/dependencies/README.md
Owners: @szha, @pllarroy

Unifying oneDNN post-quantization properties (#20724)
  src/operator/subgraph/dnnl/dnnl_elemwisemul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_fc_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_matmul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

Delete unused files
  src/operator/subgraph/dnnl/dnnl_elemwisemul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_fc_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_matmul_post_quantize_property.h
Owners: @pllarroy

fix bugs in _op.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_op_fallback.py
  src/api/operator/numpy/np_tensordot_op.cc
Owners: @szha, @pllarroy

Add oneDNN support for reduce operators (#20669)
  src/operator/nn/dnnl/dnnl_reduce-inl.h
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/nn/dnnl/dnnl_transpose-inl.h
  src/operator/nn/dnnl/dnnl_transpose.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_sum_value.cc
Owners: @pllarroy

fix pylint bug
  tests/python/onnx/test_operators.py
Owners: @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
