Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Move header guards to below license header section, so skywalking-eyes tool recognizes ASF-2.0 header.
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  src/operator/subgraph/tensorrt/tensorrt_int8_calibrator.h
Owners: @pllarroy

Add Simple GitHub-Action Based License Checker
  .github/workflows/license_check.yml
  .licenserc.yaml
Owners: @szha, @leezu, @apache/mxnet-committers

Remove CuDNNBatchNorm from AMP lists
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

Fix formatting with license header.
  src/operator/contrib/krprod.cc
Owners: @pllarroy

Fix license section for FindJeMalloc.cmake, move protoc-gen-mypy.py to Apache-2.0 licensed files.
  LICENSE
Owners: @apache/mxnet-committers

Clearly indicate caffe subdirectory's licensing model in LICENSE.
  LICENSE
Owners: @apache/mxnet-committers

Add skywalking-eyes config to repo.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Add skywalking-eyes config (.licenserv.yaml) to rat-excludes.
  rat-excludes
Owners: @apache/mxnet-committers

Backport: requiments and ubuntu_onnx to get the same checksum like other container has (#20611)
  ci/docker/install/requirements
  ci/docker/install/ubuntu_onnx.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update config file provided from #20598
  .licenserc.yaml
Owners: @apache/mxnet-committers

fix licenses
  .github/workflows/license_check.yml
  .licenserc.yaml
  LICENSE
  rat-excludes
  src/operator/contrib/krprod.cc
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_path_op-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  tests/python/gpu/test_numpy_op.py
Owners: @szha, @leezu, @apache/mxnet-committers, @pllarroy

use log: info mode
  .github/workflows/license_check.yml
Owners: @szha, @leezu

use main
  .github/workflows/license_check.yml
Owners: @szha, @leezu

Port #20520 (#20609)
  LICENSE
  rat-excludes
  src/operator/contrib/deformable_psroi_pooling-inl.h
  src/operator/contrib/deformable_psroi_pooling.cc
  src/operator/contrib/deformable_psroi_pooling.cu
  src/operator/contrib/multi_proposal-inl.h
  src/operator/contrib/multi_proposal.cc
  src/operator/contrib/multi_proposal.cu
  src/operator/contrib/psroi_pooling.cc
  src/operator/contrib/psroi_pooling.cu
  src/operator/deformable_convolution-inl.h
  src/operator/deformable_convolution.cc
  src/operator/deformable_convolution.cu
  src/operator/modulated_deformable_convolution-inl.h
  src/operator/modulated_deformable_convolution.cc
  src/operator/modulated_deformable_convolution.cu
  tools/license_header.py
Owners: @apache/mxnet-committers, @pllarroy, @szha

port all the license updates from #20598
  LICENSE
Owners: @apache/mxnet-committers

Add skywalking-eyes license checker into Github workflow.
  .github/workflows/license_check.yml
Owners: @szha, @leezu

add include/onednn
  LICENSE
Owners: @apache/mxnet-committers

FIX: remove DataType String
  java-package/mxnet-engine/src/main/java/org/apache/mxnet/ndarray/types/DataType.java
  src/initialize.cc
Owners: @apache/mxnet-committers, @pllarroy

[API] Add floor_divide
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/mshadow_op.h
  src/operator/numpy/np_floor_divide-inl.h
  src/operator/numpy/np_floor_divide.cc
  src/operator/numpy/np_floor_divide.cu
Owners: @szha, @pllarroy

Remove caffe subdir from LICENSE and license-check config whitelist, since it is no longer in the repo.
  .licenserc.yaml
  LICENSE
Owners: @apache/mxnet-committers

Remove duplicate entries in LICENSE - leave in Caffe license section.
  LICENSE
Owners: @apache/mxnet-committers

A Commit sha to skip oneDNN files
  .git-blame-ignore-revs
Owners: @apache/mxnet-committers

Add comment in CreateSubgraphNode
  src/operator/subgraph/mkldnn/mkldnn_fc_sum_fuse.h
Owners: @pllarroy

FIX: add license
  java-package/Develop.md
Owners: @apache/mxnet-committers

[FEATURE] Add fusing FullyConnected with element-wise add (#20599)
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_sum_fuse.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  tests/python/mkl/test_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

[BACKPORT][BUGFIX][FEATURE] Add oneDNN 1D and 3D deconvolution support and fix bias (#20292)
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/numpy_extension/_op.py
  src/operator/deformable_convolution-inl.h
  src/operator/modulated_deformable_convolution-inl.h
  src/operator/nn/convolution-inl.h
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution-inl.h
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/python/mkl/test_mkldnn.py
  tests/python/unittest/test_gluon.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[CI] Add Simple GitHub-Action Based License Checker (#20617)
  .github/workflows/license_check.yml
  .licenserc.yaml
  LICENSE
  rat-excludes
  src/operator/contrib/krprod.cc
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_path_op-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  tests/python/gpu/test_numpy_op.py
Owners: @szha, @leezu, @apache/mxnet-committers, @pllarroy

[v1.9.x] license updates (#20598)
  .github/workflows/license_check.yml
  .licenserc.yaml
  LICENSE
  rat-excludes
  src/operator/contrib/krprod.cc
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_path_op-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  src/operator/subgraph/tensorrt/tensorrt_int8_calibrator.h
Owners: @szha, @leezu, @apache/mxnet-committers, @pllarroy

[v1.9.x] license updates (#20598)
  .github/workflows/license_check.yml
  .licenserc.yaml
  LICENSE
  rat-excludes
  src/operator/contrib/krprod.cc
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_path_op-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  src/operator/subgraph/tensorrt/tensorrt_int8_calibrator.h
Owners: @szha, @leezu, @apache/mxnet-committers, @pllarroy

Remove extra characters accidentally added to Apache license header.
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Owners: @pllarroy

Revert "[v1.x][submodule] Downgrade oneDNN to v2.2.4 (#20556)"
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

Remove next_impl calls (#20589)
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

Revert "[v1.x][submodule] Downgrade oneDNN to v2.2.4 (#20556)" (#20623)
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

Fast cuDNN BatchNorm NHWC kernels support (#20615)
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/nn/batch_norm.cc
  src/operator/nn/batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm-inl.h
  src/operator/nn/cudnn/cudnn_batch_norm.cc
  src/operator/nn/cudnn/cudnn_batch_norm.cu
  src/operator/nn/cudnn/cudnn_batch_norm.h
Owners: @szha, @pllarroy

[v1.x] Backport #20598 (#20622)
  .github/workflows/license_check.yml
  .licenserc.yaml
  LICENSE
  rat-excludes
  src/operator/contrib/krprod.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/numpy/np_einsum_op-inl.h
  src/operator/numpy/np_einsum_op.cc
  src/operator/numpy/np_einsum_path_op-inl.h
  src/operator/subgraph/tensorrt/nnvm_to_onnx-inl.h
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  src/operator/subgraph/tensorrt/tensorrt_int8_calibrator.h
Owners: @szha, @leezu, @apache/mxnet-committers, @pllarroy

Update LICENSE to include symlinks in include/dmlc licensed under non-ASF-2.0 licenses.
  LICENSE
Owners: @apache/mxnet-committers

[v2.0.0.beta0] License Fix
  LICENSE
Owners: @apache/mxnet-committers

update
  example/quantization/README.md
  python/mxnet/onnx/README.md
Owners: @szha, @pllarroy, @aaronmarkham

update config
  .licenserc.yaml
Owners: @apache/mxnet-committers

Update ca-certificates package on centos7 due to let's encrypt recent issue (see https://blog.devgenius.io/rhel-centos-7-fix-for-lets-encrypt-change-8af2de587fe4)
  ci/docker/install/centos7_core.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
