Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

FComputeEx for nd min max and structs for mshadow::red do dnnl::algorithm conversion
  src/operator/tensor/broadcast_reduce_minmax_value.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_sum_value.cc
Owners: @pllarroy

Update info about oneDNN version
  src/operator/nn/dnnl/dnnl_reduce.cc
Owners: @pllarroy

Change to bool template, fix comments, shorten test case
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_common.h
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Typo fix
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

Use ldd to find actual path of dynamically linked libraries instead of guessing.
  tools/staticbuild/build_lib.sh
Owners: @szha, @pllarroy

Add additional Cuda versions for CI testing.
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

docs: Fix a few typos (#21094)
  docs/python_docs/python/tutorials/getting-started/crash-course/7-use-gpus.md
  docs/static_site/src/pages/api/cpp/docs/tutorials/multi_threaded_inference.md
  example/README.md
Owners: @szha, @pllarroy, @aaronmarkham

Apply clang formatting
  src/operator/tensor/broadcast_reduce_minmax_value.cc
  src/operator/tensor/broadcast_reduce_sum_value.cc
Owners: @pllarroy

sanity change
  src/operator/nn/dnnl/dnnl_reduce.cc
Owners: @pllarroy

Change comment message
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

Set minimum OSX version to support via C/CXXFLAGS to match what we build MXNet for.
  tools/staticbuild/build.sh
Owners: @szha, @pllarroy

Don't specify minimum OS version when building MXNet for OSX.
  config/distribution/darwin_cpu.cmake
  tools/staticbuild/build.sh
Owners: @apache/mxnet-committers, @szha, @pllarroy

Turns out we can set target OSX version, but recently libtiff introduced zstd support, which doesn't link properly. Disabling support via --disable-zstd works.
  config/distribution/darwin_cpu.cmake
  tools/dependencies/libtiff.sh
Owners: @apache/mxnet-committers, @szha, @pllarroy

Disable zlib, as it was previously.
  tools/dependencies/libtiff.sh
Owners: @szha, @pllarroy

Disable webp support in libtiff (present only in newer version)
  tools/dependencies/libtiff.sh
Owners: @szha, @pllarroy

Fix error
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm_relu.cc
Owners: @szha, @pllarroy

Small fix
  src/operator/quantization/quantized_batch_norm_relu.cc
Owners: @pllarroy

Fix formatting
  src/operator/nn/batch_norm-inl.h
Owners: @pllarroy

oneDNN check
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

Fix lint errors
  src/operator/nn/dnnl/dnnl_batch_norm.cc
Owners: @pllarroy

oneDNN check
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

Added dnnl_sum primitive path to mxnet binary_add when shapes are the same
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
Owners: @pllarroy

added test coverage
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

added operation check
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
Owners: @pllarroy

Random number for tests
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Remove deprecated dockerfiles.
  ci/docker/Dockerfile.build.ubuntu_base_cpu
  ci/docker/Dockerfile.build.ubuntu_base_gpu
  ci/docker/Dockerfile.build.ubuntu_cpu_julia
  ci/docker/Dockerfile.publish.test.centos7_cpu
  ci/docker/Dockerfile.publish.test.centos7_gpu
  ci/docker/Dockerfile.publish.test.ubuntu1404_cpu
  ci/docker/Dockerfile.publish.test.ubuntu1404_gpu
  ci/docker/Dockerfile.publish.test.ubuntu1604_cpu
  ci/docker/Dockerfile.publish.test.ubuntu1604_gpu
  ci/docker/Dockerfile.publish.test.ubuntu1804_cpu
  ci/docker/Dockerfile.publish.test.ubuntu1804_gpu
  ci/docker/Dockerfile.publish.ubuntu1404_cpu
  ci/docker/Dockerfile.publish.ubuntu1404_gpu
  ci/docker/Dockerfile.publish.ubuntu1604_cpu
  ci/docker/Dockerfile.publish.ubuntu1604_gpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update documentation to use different image.
  ci/dev_menu.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Install Scala in centos7 CD container and build tools.
  ci/docker/Dockerfile.build.centos7_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update static scala build to use CD container, change julia container.
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Removed deprecated Jenkins pipeline files, remove old disabled build steps.
  ci/jenkins/Jenkinsfile_unix_gpu_cu110
  ci/publish/Jenkinsfile
  tests/nightly/Jenkinsfile
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add new base Dockerfile for docker-compose.
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Migrate ubuntu cuda containers to docker-compose.
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_cu100
  ci/docker/Dockerfile.build.ubuntu_gpu_cu101
  ci/docker/Dockerfile.build.ubuntu_gpu_cu110
  ci/docker/Dockerfile.build.ubuntu_gpu_cu112
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Build python from source on ubuntu for portability.
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove old dockerfiles, upgrade nightly gpu image to cuda 11.7.
  ci/docker/Dockerfile.build.ubuntu_build_cuda
  ci/docker/Dockerfile.build.ubuntu_build_cuda110
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove Cuda versions from runtime function names to simplify.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update Jenkins pipelines to use newer Cuda containers.
  ci/jenkins/Jenkins_steps.groovy
  tests/nightly/JenkinsfileForBinaries
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Install LLVM before TVM.
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix ubuntu TVM install script (was failing but returning true.)
  ci/docker/install/ubuntu_tvm.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Move cmake install into unified script.
  ci/docker/Dockerfile.build.centos7
  ci/docker/install/centos7_core.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Move cmake install for ubuntu into centralized script.
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_c
  ci/docker/Dockerfile.build.ubuntu_cpu_lite
  ci/docker/Dockerfile.build.ubuntu_cpu_python
  ci/docker/Dockerfile.build.ubuntu_cpu_r
  ci/docker/Dockerfile.build.ubuntu_cpu_scala
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  ci/docker/Dockerfile.build.ubuntu_nightly_cpu
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/ubuntu_core.sh
  ci/docker/install/ubuntu_publish.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham
