Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Clarify Caffe license to BSD 2-clause with Caffe extensions.
  LICENSE
Owners: @apache/mxnet-committers

Remove copyright by contributors line from ASF-licensed file.
  src/operator/special_functions-inl.h
Owners: @pllarroy

Fix rat-excludes and licensecheck exclude list.
  .licenserc.yaml
  rat-excludes
Owners: @apache/mxnet-committers

Fix GPU build
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
  src/operator/subgraph/tensorrt/tensorrt-inl.h
Owners: @szha, @pllarroy

Optimize preparation of selfattn operators
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

skip case
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

fix tensorrt build
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix rtc
  src/common/cuda/rtc/forward_functions-inl.h
  tests/python/unittest/test_numpy_interoperability.py
Owners: @pllarroy, @apache/mxnet-committers

fix
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add: break line entry before tenary (#20705)
  .clang-format
Owners: @apache/mxnet-committers

[CI] Add timeout and retry to linkcheck (#20708)
  .github/workflows/link_check.yml
Owners: @szha, @leezu

[API] Add linalg.svdvals (#20696)
  python/mxnet/numpy/linalg.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Parametrize argmin/argmax test
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Fix wrong imports in Gluon Crash Course
  docs/python_docs/python/tutorials/getting-started/crash-course/4-components.md
Owners: @szha, @pllarroy, @aaronmarkham

fix lint error
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix docs
  python/mxnet/ndarray/ndarray.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/symbol.py
Owners: @szha, @pllarroy

New version of clang-format
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Show clang-format version
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Move clang-version show above error mesage
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

[API] Add floor_divide (#20620)
  docs/python_docs/python/api/np/routines.math.rst
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy_dispatch_protocol.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/common/cuda/rtc/forward_functions-inl.h
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cc
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cu
  src/operator/numpy/np_floor_divide.cc
  src/operator/numpy/np_floor_divide.cu
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

update test_np_argmin_argmax
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

add tests
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_ndarray.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

update tests
  tests/python/unittest/test_numpy_ndarray.py
Owners: @apache/mxnet-committers

[DOC] Fix migration guide document
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

[API STD][SEARCH FUNC] Add keepdims=False to argmax/argmin (#20692)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_broadcast_reduce_op.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[API NEW][METHOD] Add mT, permute_dims (#20688)
  python/mxnet/gluon/probability/distributions/constraint.py
  python/mxnet/gluon/probability/distributions/multivariate_normal.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_gluon_probability_v2.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[FEATURE] Add oneDNN support for numpy concatenate operator (#20652)
  cpp-package/example/charRNN.cpp
  python/mxnet/amp/lists/symbol_fp16.py
  src/api/operator/numpy/np_matrix_op.cc
  src/operator/nn/concat-inl.h
  src/operator/nn/concat.cc
  src/operator/nn/concat.cu
  src/operator/nn/dnnl/dnnl_concat.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/numpy/np_matrix_op.cu
  src/operator/quantization/dnnl/dnnl_quantized_concat.cc
  src/operator/quantization/quantized_concat.cc
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
  src/operator/subgraph/tensorrt/tensorrt-inl.h
  tests/python/unittest/test_numpy_op.py
Owners: @nswamy, @pllarroy, @szha, @apache/mxnet-committers

[master] Make warning message when oneDNN is turned off less confusing (#20700)
  src/common/utils.h
Owners: @pllarroy

Fix csr param description (#20698)
  src/operator/elemwise_op_common.h
Owners: @pllarroy

Prospector checker initial commit (#20684)
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
  ci/other/pylintrc
  prospector.yaml
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Add quantized batch_dot (#20680)
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/subgraph/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_batch_dot_property.h
  src/operator/subgraph/dnnl/dnnl_matmul_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/tensor/dot-inl.h
  src/operator/tensor/dot.cc
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[master] Bring dnnl_readme.md on master up-to-date (#20670)
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
  docs/static_site/src/pages/api/cpp/docs/tutorials/subgraphAPI.md
  docs/static_site/src/pages/api/faq/env_var.md
  docs/static_site/src/pages/api/faq/perf.md
  tests/python/dnnl/test_quantization_dnnl.py
  tests/python/unittest/test_subgraph_op.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

Add async GPU dependency Engine (#20331)
  ci/jenkins/Jenkinsfile_unix_gpu
  include/mxnet/base.h
  include/mxnet/c_api.h
  include/mxnet/engine.h
  include/mxnet/storage.h
  src/c_api/c_api.cc
  src/common/object_pool.h
  src/engine/engine.cc
  src/engine/naive_engine.cc
  src/engine/stream_manager.h
  src/engine/threaded_engine.cc
  src/engine/threaded_engine.h
  src/engine/threaded_engine_perdevice.cc
  src/engine/threaded_engine_pooled.cc
  src/imperative/imperative_utils.h
  src/io/batchify.cc
  src/io/dataset.cc
  src/kvstore/comm.h
  src/kvstore/gradient_compression.cc
  src/kvstore/kvstore_dist.h
  src/kvstore/kvstore_dist_server.h
  src/kvstore/kvstore_local.h
  src/kvstore/p3store_dist.h
  src/ndarray/ndarray.cc
  src/operator/custom/ndarray_op.cc
  src/operator/operator_util.cc
  src/resource.cc
  src/storage/gpu_device_storage.h
  src/storage/pooled_storage_manager.h
  src/storage/storage.cc
  tests/cpp/engine/threaded_engine_test.cc
  tests/python/gpu/test_gluon_gpu.py
  tests/python/gpu/test_operator_gpu.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @eric-haibin-lin, @apache/mxnet-committers

fix sanity check
  src/engine/threaded_engine.cc
Owners: @pllarroy

update tests
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

fix lint
  src/engine/threaded_engine.cc
Owners: @pllarroy

update tests
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

fix
  src/engine/threaded_engine.cc
Owners: @pllarroy

fix lint
  src/engine/threaded_engine.cc
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
