Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

add picture
  example/extensions/lib_reduce_gradient/addreduce.png
Owners: @szha, @pllarroy, @aaronmarkham

add picture
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

Update README.md
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

Update README.md
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

Add BERT example with results, review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
  example/quantization_inc/BERT_MRPC/bert.yaml
  example/quantization_inc/BERT_MRPC/details.py
  example/quantization_inc/BERT_MRPC/main.py
Owners: @szha, @pllarroy, @aaronmarkham

Removed brackets and unnecessary comments
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
Owners: @pllarroy

Fix temporarily logmessage issue
  3rdparty/mshadow/mshadow/logging.h
Owners: @apache/mxnet-committers

Fix the regular expression in RTC code (#20810)
  python/mxnet/rtc.py
Owners: @szha, @pllarroy

Fix the regular expression in RTC code (#20810)
  python/mxnet/rtc.py
Owners: @szha, @pllarroy

Port changes from master to make CPP package properly build when large tensor support is enabled. (#20768)
  cpp-package/scripts/OpWrapperGenerator.py
Owners: @nswamy, @pllarroy

Port changes from master to make CPP package properly build when large tensor support is enabled. (#20768) (#20841)
  cpp-package/scripts/OpWrapperGenerator.py
Owners: @nswamy, @pllarroy

Fix the regular expression in RTC code (#20810) (#20840)
  python/mxnet/rtc.py
Owners: @szha, @pllarroy

[master][submodule] Upgrade oneDNN to v2.5.1 (#20662)
  CMakeLists.txt
  tests/cpp/operator/dnnl_test.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
  tools/dependencies/README.md
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

[submodule] Upgrade oneDNN to v2.5.2
  tools/dependencies/README.md
Owners: @szha, @pllarroy

Restore full functionality to convolution
  src/operator/nn/dnnl/dnnl_convolution.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @pllarroy, @apache/mxnet-committers

Revert "Fix temporarily logmessage issue"
  3rdparty/mshadow/mshadow/logging.h
Owners: @apache/mxnet-committers

Fix issue with LogMessageFatal
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/expr_engine-inl.h
  3rdparty/mshadow/mshadow/logging.h
  3rdparty/mshadow/mshadow/stream_gpu-inl.h
Owners: @apache/mxnet-committers

Fix issue with LogMessageFatal
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/expr_engine-inl.h
  3rdparty/mshadow/mshadow/logging.h
  3rdparty/mshadow/mshadow/stream_gpu-inl.h
Owners: @apache/mxnet-committers

Update src/operator/nn/dnnl/dnnl_convolution.cc
  src/operator/nn/dnnl/dnnl_convolution.cc
Owners: @pllarroy

[v1.x][submodule] Upgrade oneDNN to v2.4.4
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  tests/cpp/operator/mkldnn_test.cc
  tools/dependencies/README.md
Owners: @pllarroy, @apache/mxnet-committers, @szha

Refactor src/operator/subgraph/dnnl/dnnl_conv.cc file
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_identity_property.h
Owners: @pllarroy

Fix sanity
  src/operator/subgraph/dnnl/dnnl_conv.cc
Owners: @pllarroy

[BUGFIX] Fix log message issue (#20838)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/expr_engine-inl.h
  3rdparty/mshadow/mshadow/logging.h
  3rdparty/mshadow/mshadow/stream_gpu-inl.h
Owners: @apache/mxnet-committers

Fix issue with LogMessageFatal (#20848)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/expr_engine-inl.h
  3rdparty/mshadow/mshadow/logging.h
  3rdparty/mshadow/mshadow/stream_gpu-inl.h
Owners: @apache/mxnet-committers

Changing confusing documentation
  config/linux.cmake
Owners: @apache/mxnet-committers

Rewiev suggestion
  config/linux.cmake
Owners: @apache/mxnet-committers

Remove compilation warning
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

Apply clang-format with settings from master
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

Take into account already fused elemwise operation
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

[v1.x] Remove doubled memory descriptor creation (#20823)
  src/operator/nn/mkldnn/mkldnn_base.cc
Owners: @pllarroy

Apply suggestions from code review
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy, @aaronmarkham

Apply review comment
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

Fix the regular expression in RTC code (#20810) (#20839)
  python/mxnet/rtc.py
Owners: @szha, @pllarroy

Add the 1.9 release notice in README (#20806) (#20809)
  README.md
Owners: @apache/mxnet-committers

Refactor src/operator/subgraph/dnnl/dnnl_conv.cc file (#20849)
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_identity_property.h
Owners: @pllarroy

[v1.x][submodule] Upgrade oneDNN to v2.4.4 (#20666)
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  tests/cpp/operator/mkldnn_test.cc
  tools/dependencies/README.md
Owners: @pllarroy, @apache/mxnet-committers, @szha

[FEAUTURE] Fuses FC + elemwise_add operators for oneDNN (#20821)
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

[v1.9.x][submodule] Upgrade oneDNN to v2.4.4
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  tests/cpp/operator/mkldnn_test.cc
  tools/dependencies/README.md
Owners: @pllarroy, @apache/mxnet-committers, @szha

[Perl] Updates mapping between PDL and MX types
  ci/docker/install/ubuntu_perl.sh
  docker/install/perl.sh
  perl-package/AI-MXNet/Changes
  perl-package/AI-MXNet/META.json
  perl-package/AI-MXNet/META.yml
  perl-package/AI-MXNet/Makefile.PL
  perl-package/AI-MXNet/lib/AI/MXNet/Base.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Metric.pm
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @sergeykolychev

[Perl] Release AI-MXNet v1.6
  perl-package/AI-MXNet/Changes
  perl-package/AI-MXNet/META.json
  perl-package/AI-MXNet/META.yml
  perl-package/AI-MXNet/Makefile.PL
  perl-package/AI-MXNet/README
  perl-package/AI-MXNet/lib/AI/MXNet.pm
Owners: @sergeykolychev
