Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Add support for up 12 dims for oneDNN tensors in MXNet (#20913)
  src/ndarray/ndarray.cc
  src/operator/nn/dnnl/dnnl_base.cc
Owners: @pllarroy

Rename SetMKLMem func to SetDNNLMem to avoid confusion (#20948)
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
Owners: @pllarroy, @eric-haibin-lin

Fix SupportDNNLTanh function
  src/operator/nn/dnnl/dnnl_tanh.cc
Owners: @pllarroy

[v1.x][BUGFIX] Fix tests/python/dnnl/subgraphs/test_conv_subgraph.py (#20971)
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

check cudnn version for cd tests
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

delete stream (#20973)
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

revert cleanup stream
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Fix warning message
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy

Revert "check cudnn version for cd tests"
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Temporarily skip because of issue#20978
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

skip flaky tests
  tests/python/unittest/test_gluon_estimator.py
Owners: @apache/mxnet-committers

skip flaky tests
  tests/python/gpu/test_operator_gpu.py
Owners: @apache/mxnet-committers

Fix subgraph tests (#20969)
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

[operator] Integrate oneDNN eltwise_tanh into _npi_tanh operator (#20972)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_tanh-inl.h
  src/operator/nn/dnnl/dnnl_tanh.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy

[operator] Integrate oneDNN matmul primitive to mxnet dot operator (#20911)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_dot-inl.h
  src/operator/nn/dnnl/dnnl_dot.cc
  src/operator/numpy/np_dot_forward.cc
  src/operator/tensor/dot-inl.h
  src/operator/tensor/dot.cc
Owners: @pllarroy

[FEATURE] Add oneDNN support for npi: log, exp, square and sqrt
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_eltwise-inl.h
  src/operator/nn/dnnl/dnnl_eltwise.cc
  src/operator/nn/dnnl/dnnl_tanh-inl.h
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/random/np_exponential_op.cc
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy

change version to 2.0.0beta1
  python/mxnet/libinfo.py
Owners: @szha, @pllarroy

Fix warnings
  src/operator/nn/dnnl/dnnl_eltwise-inl.h
  src/operator/nn/dnnl/dnnl_eltwise.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy

[BUGFIX] Fix tests/python/dnnl/subgraphs/test_conv_subgraph.py (#20970)
  src/operator/nn/dnnl/dnnl_convolution.cc
Owners: @pllarroy

Enable possibility of disabling particular graph pass (#20961)
  src/c_api/c_api_symbolic.cc
Owners: @pllarroy

Review fixes
  src/nnvm/low_precision_pass.cc
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
Owners: @pllarroy, @apache/mxnet-committers

Support bfloat and float mixed input in elemwise broadcast ops (#20932)
  src/common/utils.h
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_true_divide-inl.h
  tests/python/dnnl/test_bf16_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Fix DataDesc handling in quantization
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

fix website
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantized_rnn.cc
Owners: @pllarroy

Add new lines at the EOF
  src/operator/quantization/dnnl/dnnl_quantize_asym-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_rnn-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
Owners: @pllarroy

change link
  src/operator/quantization/dnnl/dnnl_quantized_rnn-inl.h
Owners: @pllarroy

Restore quantized RNN
  include/mxnet/op_attr_types.h
  python/mxnet/contrib/quantization.py
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
  src/operator/nn/dnnl/dnnl_rnn-inl.h
  src/operator/nn/dnnl/dnnl_rnn.cc
  src/operator/quantization/dnnl/dnnl_quantize_asym-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_rnn-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

remove magic number
  src/operator/quantization/dnnl/dnnl_quantized_rnn.cc
Owners: @pllarroy

Add ops to amp lists
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

fix sanity
  src/operator/quantization/quantized_rnn.cc
Owners: @pllarroy

Add tests & disable LSTMP from quantization
  src/operator/quantization/quantized_rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

Remove unused features
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
Owners: @szha, @pllarroy

apply review comments
  src/operator/nn/dnnl/dnnl_rnn-inl.h
  src/operator/nn/dnnl/dnnl_rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

Fix CI
  src/operator/nn/dnnl/dnnl_eltwise.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/numpy/random/np_exponential_op.cc
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy

fix onednn install header location (#20893)
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

[FEATURE] Add oneDNN support for npi: exp, square and sqrt (#20981)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_eltwise-inl.h
  src/operator/nn/dnnl/dnnl_eltwise.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy

[submodule] Upgrade oneDNN to v2.6
  src/operator/nn/dnnl/dnnl_convolution.cc
  tests/cpp/operator/dnnl_test.cc
  tools/dependencies/README.md
Owners: @pllarroy, @apache/mxnet-committers, @szha

Post quantize property improvement (#20929)
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Port BRGEMM (#20910)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Owners: @szha, @pllarroy, @aaronmarkham

AMP improvements + enable bf16 input for quantize_v2
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/ndarray/ndarray.py
  src/nnvm/low_precision_pass.cc
  src/operator/quantization/quantize_v2-inl.h
Owners: @szha, @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
