Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

[submodule] Upgrade oneDNN used on master to v2.5.1
  tests/cpp/operator/dnnl_test.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
  tools/dependencies/README.md
Owners: @apache/mxnet-committers, @szha, @pllarroy

Added num_filter as a parameter in test_adaptive_pooling
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

Fix test cases, add oneDNN runtime flag to dispatch, remove node attrs, rename pointers
  src/operator/nn/dnnl/dnnl_binary-inl.h
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Fix sanity
  src/operator/nn/dnnl/dnnl_binary.cc
Owners: @pllarroy

[v1.9.x] Port #20759 from v1.x (#20815)
  docs/python_docs/environment.yml
  include/mxnet/op_attr_types.h
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @apache/mxnet-committers

Improve split operator by oneDNN reorder primitive (#20757)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_split-inl.h
  src/operator/nn/dnnl/dnnl_split.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Fix elemwise_add post quantization pass
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Fuse FC with elemwise_add
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

Align naming convention with convolution operator
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Add inc to quantization documentation
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Minor fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

fix
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

fix2
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Fixed step variable typo
  python/mxnet/optimizer/radam.py
Owners: @eric-haibin-lin

Finished test_adaptive_pooling with added convolution before pooling
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

Added formatting
  src/operator/nn/dnnl/dnnl_pooling.cc
Owners: @pllarroy

Remove doubled memory descriptor creation
  src/operator/nn/dnnl/dnnl_base.cc
Owners: @pllarroy

[v1.x] Remove doubled memory descriptor creation
  src/operator/nn/mkldnn/mkldnn_base.cc
Owners: @pllarroy

print version
  cpp-package/include/mxnet-cpp/executor.h
  example/extensions/lib_pass/pass_lib.cc
  example/extensions/lib_pass/test_pass.py
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative.cc
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
  src/imperative/naive_cached_op.h
  src/operator/subgraph_op_common.cc
Owners: @nswamy, @pllarroy, @szha, @aaronmarkham, @eric-haibin-lin

add backward option
  example/extensions/lib_pass/test_pass.py
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op.cc
  src/imperative/imperative.cc
  src/imperative/imperative_utils.cc
Owners: @szha, @pllarroy, @aaronmarkham

[TEST] Add functional tests for FC + add operators fusion
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @apache/mxnet-committers

[TESTS] Disable quantization check for not supported cases
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @apache/mxnet-committers

Added additional include
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Fixed path in include
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Fixed wrong conditions with backward storage type
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Update src/operator/tensor/indexing_op.h
  src/operator/tensor/indexing_op.h
Owners: @pllarroy

Fix the regular expression in RTC code (#20810)
  python/mxnet/rtc.py
Owners: @szha, @pllarroy

Remove doubled oneDNN memory descriptor creation (#20822)
  src/operator/nn/dnnl/dnnl_base.cc
Owners: @pllarroy

[FEATURE] Integrate oneDNN support for add, subtract, multiply, divide. (#20713)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_binary-inl.h
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_add.cc
  src/operator/numpy/np_elemwise_broadcast_op_mul.cc
  src/operator/numpy/np_elemwise_broadcast_op_sub.cc
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Changed test_adaptive_pooling to make use of pytest parameters
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

Replace internal link
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

Optimize 'take' operator for CPU (#20745)
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.h
Owners: @pllarroy

revert attempt
  KEYS
  ci/build.py
  ci/docker/install/requirements_aarch64
  ci/docker_cache.py
  cpp-package/example/get_data.sh
  cpp-package/scripts/OpWrapperGenerator.py
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/404.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/default.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_layouts/page.html
  docs/static_site/src/_layouts/page_api.html
  docs/static_site/src/_layouts/page_category.html
  docs/static_site/src/_layouts/page_landing_tutorials.html
  docs/static_site/src/_layouts/post.html
  docs/static_site/src/_sass/minima/_home.scss
  docs/static_site/src/assets/main.scss
  docs/static_site/src/index.html
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
  docs/static_site/src/pages/get_started/download.md
  docs/static_site/src/pages/trusted_by.html
  tools/dependencies/make_shared_dependencies.sh
  tools/pip/setup.py
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @nswamy, @szha

Fix quantisation scales for int32
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

return to intial version
  example/extensions/lib_pass/pass_lib.cc
Owners: @szha, @pllarroy, @aaronmarkham

return to intial version
  example/extensions/lib_pass/test_pass.py
Owners: @szha, @pllarroy, @aaronmarkham

add new dir
  example/extensions/lib_reduce_gradient/Makefile
  example/extensions/lib_reduce_gradient/README.md
  example/extensions/lib_reduce_gradient/add_reduce_op.cc
  example/extensions/lib_reduce_gradient/pos_trainer.py
  example/extensions/lib_reduce_gradient/test_reduce.py
Owners: @szha, @pllarroy, @aaronmarkham

add example
  example/extensions/lib_reduce_gradient/README.md
Owners: @szha, @pllarroy, @aaronmarkham

add annotations
  example/extensions/lib_reduce_gradient/pos_trainer.py
Owners: @szha, @pllarroy, @aaronmarkham
