Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

[BUGFIX] Fix floor divide (#21096)
  CONTRIBUTORS.md
  src/operator/mshadow_op.h
Owners: @apache/mxnet-committers, @pllarroy

Fix comments formating
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/default_subgraph_property.cc
  src/operator/subgraph/default_subgraph_property_v2.cc
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/subgraph/partitioner/custom_subgraph_property.h
  src/operator/subgraph/static_shape_subgraph_property.cc
  src/operator/subgraph/subgraph_property.h
Owners: @pllarroy

Review suggestion
  src/operator/subgraph/partitioner/custom_subgraph_property.h
Owners: @pllarroy

Fix file name
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
Owners: @pllarroy

Reduce overhead in sg_onednn_fully_connected for floats (#21092)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Requantize scale fix (#21100)
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Get rid of warnings (#21099)
  CONTRIBUTORS.md
  src/operator/c_lapack_api.h
  src/operator/quantization/dnnl/dnnl_quantized_rnn.cc
  src/operator/tensor/broadcast_reduce-inl.h
  src/operator/tensor/index_update-inl.h
  tests/cpp/engine/threaded_engine_test.cc
  tests/cpp/include/test_util.h
Owners: @apache/mxnet-committers, @pllarroy

[v1.x] Fix for fc with sum when types are incompatible (#21042)
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Owners: @pllarroy

Fix SupportDNNL for multiple inputs
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

Comments formatting fix (#21101)
  src/operator/subgraph/build_subgraph.cc
  src/operator/subgraph/default_subgraph_property.cc
  src/operator/subgraph/default_subgraph_property_v2.cc
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/subgraph/partitioner/custom_subgraph_property.h
  src/operator/subgraph/static_shape_subgraph_property.cc
  src/operator/subgraph/subgraph_property.h
Owners: @pllarroy

Fix SupportDNNL condition for multiple inputs
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

Reenable fwd conv engine 5 on test_group_conv2d_16c
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

Test conv plan fix devel
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
Owners: @pllarroy

Fix multivariate normal bug
  python/mxnet/numpy_op_fallback.py
Owners: @szha, @pllarroy

[BUGFIX] Fix SupportDNNL for multiple inputs (#21102)
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

Fix clang format
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
Owners: @pllarroy

More clang format fixes
  src/operator/cudnn_ops.cc
Owners: @pllarroy

switch to using std::vector::data()
  src/common/cuda/cudnn_cxx.cc
  src/common/cuda/cudnn_cxx.h
Owners: @pllarroy

Add size threshold for few oneDNN operators
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_slice-inl.h
  src/operator/nn/dnnl/dnnl_slice.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

add const
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
Owners: @pllarroy

Update src/operator/nn/dnnl/dnnl_where.cc
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

Add support for bool data type for condition in where operator
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

Update src/operator/nn/dnnl/dnnl_where.cc
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

Add PR number
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Ensure Flexiblas is used when looking for it.
  CMakeLists.txt
  cmake/ChooseBlas.cmake
Owners: @szha, @pllarroy, @leezu

Trigger CI to show windows-gpu job failures
  tests/python/unittest/test_gluon_event_handler.py
Owners: @apache/mxnet-committers

Apply suggestions from code review
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
Owners: @pllarroy

Fix TemporaryDirectory cleanup issues on Windows
  python/mxnet/gluon/model_zoo/model_store.py
  python/mxnet/gluon/utils.py
  python/mxnet/util.py
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/unittest/common.py
  tests/python/unittest/test_deferred_compute.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix PermissionError handling
  python/mxnet/util.py
Owners: @szha, @pllarroy

Remove temporary comments
  tests/python/unittest/test_gluon_event_handler.py
Owners: @apache/mxnet-committers

Refactor binary op
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
Owners: @pllarroy

Fix TemporaryDirectory() to yield dir.name
  python/mxnet/util.py
Owners: @szha, @pllarroy

Fix multivariate normal bug (#21105)
  python/mxnet/numpy_op_fallback.py
Owners: @szha, @pllarroy

Remove temp dirs even with exceptions
  python/mxnet/util.py
Owners: @szha, @pllarroy

Fix threadsafety and shutdown issues with threaded_engine_perdevice
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Fix lint
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Add MXNET_USE_CUDA compile guards
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Remove unneeded include
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

[WIP] [BUGFIX] Fix flakey TemporaryDirectory() cleanup on Windows (#21107)
  python/mxnet/gluon/model_zoo/model_store.py
  python/mxnet/gluon/utils.py
  python/mxnet/util.py
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/unittest/common.py
  tests/python/unittest/test_deferred_compute.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[BUGFIX] Fix threadsafety and shutdown issues with threaded_engine_perdevice (#21110)
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
