Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

[v1.x] Enabling BRGEMM FullyConnected based on shapes (#20533)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Owners: @szha, @pllarroy, @aaronmarkham

The size of stack is greater
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

Set default value
  src/operator/numpy/random/np_choice_op.h
Owners: @pllarroy

Parametr should not be emptty
  src/api/operator/numpy/random/np_choice_op.cc
Owners: @pllarroy

[REFACTOR] Asymmetric Quantization: deduplicate methods (#20514)
  python/mxnet/contrib/quantization.py
  src/operator/quantization/asymmetric_quantize_graph_pass.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_v2-inl.h
  src/operator/quantization/quantize_v2-inl.h
  tests/python/quantization/test_quantization.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

add test suite
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/utils.py
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

fix sanity
  python/mxnet/numpy/utils.py
Owners: @szha, @pllarroy

Hybrydize is removed
  tests/python/unittest/test_gluon_probability_v2.py
Owners: @apache/mxnet-committers

[v1.x][Feature] Add flag for disabling oneDNN BRGEMM implementation of FC (#20450)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Owners: @szha, @pllarroy, @aaronmarkham

[v1.x] Enabling BRGEMM FullyConnected based on shapes (#20533)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Owners: @szha, @pllarroy, @aaronmarkham

Update flag name
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Owners: @szha, @pllarroy, @aaronmarkham

update test
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Variable mighe be uninitialized - skip the error message
  src/api/operator/numpy/random/np_choice_op.cc
Owners: @pllarroy

Zero initialization
  src/api/operator/numpy/random/np_choice_op.cc
Owners: @pllarroy

UPDATE: remove useless files
  java-package/native/src/main/resources/META-INF/.gitkeep
  java-package/native/src/main/resources/META-INF/backport.txt
Owners: @apache/mxnet-committers

Tuple, the size of a buffer is equal: 20
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

Set: rtol and atol for cholesky test
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

1e-2, atol and rtol error tollerance
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

[Backport] Enabling BRGEMM FullyConnected based on shapes (#20568)
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Owners: @szha, @pllarroy, @aaronmarkham

FIX: licence to apache
  java-package/gradlew.bat
Owners: @apache/mxnet-committers

FIX: sanity check
  src/initialize.cc
Owners: @pllarroy

FIX: sanity check
  java-package/native/src/main/resources/META-INF/.gitkeep
Owners: @apache/mxnet-committers

FIX: sanity check
  src/initialize.cc
Owners: @pllarroy

Update MXNet to TRT8
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
Owners: @pllarroy

update ci
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix
  ci/jenkins/Jenkins_steps.groovy
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[BUGFIX] Fix reuse of primitives for MKLDNN-AArch64. Fixes #20265.
  CMakeLists.txt
  CONTRIBUTORS.md
  src/operator/operator_common.h
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

fix
  src/operator/tvmop/op_module.cc
Owners: @pllarroy

fix Uint32
  src/operator/tvmop/op_module.cc
Owners: @pllarroy

fix macos cmake with TVM_OP ON
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

The size of a stack is being set on 6
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

Add check for MKL version selection (#20562)
  cmake/ChooseBlas.cmake
Owners: @szha, @pllarroy, @leezu

The size of a stack needs to be equal to 8
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

update version
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

extend dtypes support to tvmop
  ci/docker/runtime_functions.sh
  contrib/tvmop/utils.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[BUGFIX] Fix reuse of primitives for MKLDNN-AArch64. Fixes #20265. (#20482)
  CMakeLists.txt
  CONTRIBUTORS.md
  src/operator/operator_common.h
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

standardize mxnet numpy creation functions
  include/mxnet/runtime/c_runtime_api.h
  include/mxnet/runtime/packed_func.h
  python/mxnet/_ffi/_ctypes/function.py
  python/mxnet/_ffi/_ctypes/types.py
  python/mxnet/_ffi/_cython/base.pxi
  python/mxnet/_ffi/_cython/function.pxi
  python/mxnet/base.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  src/api/operator/numpy/np_init_op.cc
  src/api/operator/numpy_extension/npx_convolution_op.cc
  src/api/operator/numpy_extension/npx_deconvolution_op.cc
  src/operator/tensor/init_op.h
Owners: @pllarroy, @eric-haibin-lin, @szha

update to cuda 11.3
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v2.0][DOC] Add migration guide (#20473)
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
  docs/python_docs/python/tutorials/getting-started/index.rst
Owners: @szha, @pllarroy, @aaronmarkham

update
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/api/operator/numpy/np_init_op.cc
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  src/operator/tensor/init_op.h
Owners: @szha, @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
