Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

remove KEYS
  KEYS
Owners: @apache/mxnet-committers

Update exception types
  tools/diagnose.py
Owners: @szha, @pllarroy

remove comments / apply formatter
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn.cc
Owners: @pllarroy

Remove identity operators from oneDNN optimized graph (#20712)
  src/operator/subgraph/dnnl/dnnl_identity_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_base-inl.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Fix test_numpy_op tests & lacking asserts (#20756)
  python/mxnet/ndarray/numpy/_op.py
  src/operator/tensor/indexing_op.h
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Automatic Layout Management (#20718)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/tensor.h
  include/mxnet/c_api.h
  python/mxnet/amp/amp.py
  src/c_api/c_api.cc
  src/common/alm.cc
  src/common/alm.h
  src/imperative/cached_op.h
  src/operator/cudnn_ops.cc
  src/operator/elemwise_op_common.h
  src/operator/leaky_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution-inl.h
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/pooling.cc
  src/operator/operator_common.h
  src/operator/tensor/amp_cast.cc
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/matrix_op.cc
  tests/python/gpu/test_amp_init.py
Owners: @apache/mxnet-committers, @pllarroy, @eric-haibin-lin, @szha

[v1.x] Restore quantized RNN operator from MXNet 1.6 (#20759)
  docs/python_docs/environment.yml
  include/mxnet/op_attr_types.h
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @apache/mxnet-committers

Fix oneDNN fallback for concat with scalar
  src/operator/nn/concat.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/log_softmax.cc
  src/operator/nn/softmax.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

add reduce operation
  include/mxnet/c_api.h
Owners: @pllarroy, @eric-haibin-lin

add reduce operation
  src/c_api/c_api.cc
Owners: @pllarroy

add reduce operation
  src/operator/contrib/nn/reduce_op-inl.h
Owners: @pllarroy

add reduce operation
  src/operator/contrib/nn/reduce_op.cc
Owners: @pllarroy

add reduce operation
  src/operator/contrib/nn/reduce_op.cu
Owners: @pllarroy

Port changes from master to make CPP package properly build when large tensor support is enabled.
  cpp-package/scripts/OpWrapperGenerator.py
Owners: @nswamy, @pllarroy

chmod 755 -> 644
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

chmod 755 -> 644
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
Owners: @szha, @pllarroy

Update variable for CUDA archs in windows make script, so we don't end up building for all.
  ci/build_windows.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix CUDA arch variable used.
  ci/build_windows.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove oneapi repo after installing, to alleviate failures when intel publishes corrupt files.
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Use cuDNN for conv bias and bias grad
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  src/operator/nn/convolution.cu
  src/operator/nn/deconvolution.cu
Owners: @pllarroy

Environment variables to use native add-bias and bias-grad
  src/operator/nn/convolution.cu
  src/operator/nn/deconvolution.cu
Owners: @pllarroy

Add misssed headers
  src/operator/nn/dnnl/dnnl_convolution.cc
  src/operator/nn/dnnl/dnnl_rnn.cc
Owners: @pllarroy

Move header before
  src/operator/nn/dnnl/dnnl_convolution.cc
Owners: @pllarroy

Fix link check
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Remove env vars, used for benchmarking
  src/operator/nn/convolution.cu
  src/operator/nn/deconvolution.cu
Owners: @pllarroy

Handle 3D tensors in cuDNN legacy API
  src/common/cuda/cudnn_cxx.cc
  src/common/cuda/cudnn_cxx.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
Owners: @pllarroy

Fix AMP for ndarray.numpy
  python/mxnet/amp/loss_scaler.py
Owners: @szha, @pllarroy

update
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/api/operator/ufunc_helper.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_add.cc
  src/operator/numpy/np_elemwise_broadcast_op_mod.cc
  src/operator/numpy/np_elemwise_broadcast_op_sub.cc
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  tests/python/unittest/test_array_api_standard.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix sanity
  src/api/operator/ufunc_helper.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
Owners: @pllarroy

fix
  src/operator/numpy/np_elemwise_broadcast_op_mod.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

fix
  src/operator/numpy/np_elemwise_broadcast_op.h
Owners: @pllarroy

fix true_divide
  src/operator/numpy/np_true_divide.cc
Owners: @pllarroy

Been working on solving issue with backward adaptive pooling
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  tests/python/dnnl/test_dnnl.py
  tests/python/onnx/test_operators.py
Owners: @pllarroy, @apache/mxnet-committers

Unified oneDNN pooling implementation calls
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling.cc
  src/operator/quantization/dnnl/dnnl_quantized_pooling.cc
Owners: @pllarroy

Added include for vector
  src/operator/nn/dnnl/dnnl_pooling-inl.h
Owners: @pllarroy

fix tests
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

fix tests
  src/operator/numpy/np_elemwise_broadcast_op.h
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

fix
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

fix tests
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Fix next_impl in deconvolution (#20750)
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
