Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Apply suggestions from code review
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

add quantization tutorial
  docs/python_docs/python/tutorials/performance/backend/dnnl/before_quant.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/fused_f32.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/perf.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/quant_calib.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/quant_calib_fused.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/quant_not_calib.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/sample_net.png
Owners: @szha, @pllarroy, @aaronmarkham

remove image files
  docs/python_docs/python/tutorials/performance/backend/dnnl/before_quant.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/fused_f32.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/index.rst
  docs/python_docs/python/tutorials/performance/backend/dnnl/perf.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/quant_calib.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/quant_calib_fused.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/quant_not_calib.png
  docs/python_docs/python/tutorials/performance/backend/dnnl/sample_net.png
Owners: @szha, @pllarroy, @aaronmarkham

Apply suggestions from code review
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Apply suggestions from code review
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

update images
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

masked softmax
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_masked_softmax-inl.h
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/masked_softmax.cc
  src/operator/nn/softmax-inl.h
  src/operator/nn/softmax.cc
Owners: @pllarroy

apply review
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/masked_softmax.cc
Owners: @pllarroy

code refactor
  src/operator/nn/dnnl/dnnl_masked_softmax-inl.h
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/masked_softmax.cc
Owners: @pllarroy

fix sanity
  src/operator/nn/dnnl/dnnl_masked_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/masked_softmax.cc
Owners: @pllarroy

Review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix QuantizedReshapeNode() function.
  src/operator/quantization/quantized_reshape.cc
Owners: @pllarroy

Split quantized reshape in two ops, improve tests.
  src/operator/quantization/dnnl/dnnl_quantized_reshape.cc
  src/operator/quantization/quantized_reshape-inl.h
  src/operator/quantization/quantized_reshape.cc
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

Add LOG(ERROR) to QuantizedReshapeModeMap.
  src/operator/quantization/quantized_reshape.cc
Owners: @pllarroy

Add quantized reshape version without oneDNN support.
  src/operator/quantization/dnnl/dnnl_quantized_reshape.cc
  src/operator/quantization/quantized_reshape-inl.h
  src/operator/quantization/quantized_reshape.cc
Owners: @pllarroy

Add quantized version of reshape with DNNL reorder primitive.
  src/operator/nn/dnnl/dnnl_reshape.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_reshape-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_reshape.cc
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

Add quantized_reshape op to AMP list.
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

Add include utility
  src/operator/quantization/quantized_reshape.cc
Owners: @pllarroy

Fix amp list.
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

Remove obj variable.
  tests/python/dnnl/test_bf16_operator.py
Owners: @apache/mxnet-committers

Add bfloat to binary broadcast operators.
  src/operator/nn/dnnl/dnnl_binary.cc
  tests/python/dnnl/test_bf16_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Improve bfloat binary broadcast elemwise test
  tests/python/dnnl/test_bf16_operator.py
Owners: @apache/mxnet-committers

Review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

[DOC] Change of confusing Large Tensors documentation (#20831)
  config/linux.cmake
Owners: @apache/mxnet-committers

Review suggestions
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Owners: @szha, @pllarroy, @aaronmarkham

Documentation update
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Owners: @szha, @pllarroy, @aaronmarkham

Rebase and review suggestion
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Owners: @szha, @pllarroy, @aaronmarkham

Added possibility to fuse dequantize with convolution
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @pllarroy, @apache/mxnet-committers

Sanity fix
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Review suggestions
  src/operator/subgraph/dnnl/dnnl_conv.cc
Owners: @pllarroy

Sum post-op fix and tests
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Review change
  src/operator/subgraph/dnnl/dnnl_conv.cc
Owners: @pllarroy

Sanity fix
  CONTRIBUTORS.md
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @apache/mxnet-committers, @pllarroy

Resolving conflicts
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Resolve the conflict with PR#20499 (#20887)
  src/profiler/storage_profiler.cc
Owners: @pllarroy

[Feature] Add bfloat to oneDNN version of binary broadcast operators. (#20846)
  src/operator/nn/dnnl/dnnl_binary.cc
  tests/python/dnnl/test_bf16_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Change variable name
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
Owners: @pllarroy

Apply suggestions from code review
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

[DOC] Large tensors documentation update (#20860)
  docs/static_site/src/pages/api/faq/large_tensor_support.md
Owners: @szha, @pllarroy, @aaronmarkham

fix onednn install header location
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
