Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

fix tensorrt build
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update onnx-tensorrt build
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update rtc type promotion
  src/common/cuda/rtc/util-inl.h
Owners: @pllarroy

fix dlpack.py
  python/mxnet/dlpack.py
Owners: @szha, @pllarroy

fix dlpack
  python/mxnet/dlpack.py
  src/c_api/c_api.cc
  tests/python/array-api/test_data_interchange.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

update tests
  .github/workflows/os_x_staticbuild.yml
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

update tests
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

update
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

Reintroduce next_impl in onednn deconvolution
  src/operator/nn/dnnl/dnnl_deconvolution.cc
Owners: @pllarroy

Fix scale bug in quantized batch_dot (#20735)
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
Owners: @pllarroy

fix bugs in var/std, add __dlpack__(), matrix_transpose, astype. add type_functions.py
  ci/docker/runtime_functions.sh
  docs/python_docs/python/tutorials/getting-started/crash-course/6-train-nn.md
  docs/python_docs/python/tutorials/packages/gluon/image/info_gan.md
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  python/mxnet/dlpack.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/type_functions.py
  python/mxnet/numpy/utils.py
  src/api/operator/numpy/np_moments_op.cc
  src/api/operator/numpy/np_tensordot_op.cc
  src/operator/numpy/np_broadcast_reduce_op.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

fix bugs
  src/api/operator/numpy/np_moments_op.cc
Owners: @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

update mod
  src/operator/mshadow_op.h
Owners: @pllarroy

fix lint
  src/operator/mshadow_op.h
Owners: @pllarroy

fix squeeze bugs
  docs/python_docs/python/tutorials/packages/gluon/training/normalization/index.md
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy, @aaronmarkham

fix squeeze bugs fix cholesky bugs
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_gluon_control_flow.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[TEST] Re-format .cc .h files
  tests/cpp/engine/engine_shutdown_test.cc
  tests/cpp/engine/omp_test.cc
  tests/cpp/engine/thread_local_test.cc
  tests/cpp/engine/threaded_engine_test.cc
  tests/cpp/include/test_core_op.h
  tests/cpp/include/test_legacy_op.h
  tests/cpp/include/test_ndarray_utils.h
  tests/cpp/include/test_op.h
  tests/cpp/include/test_op_runner.h
  tests/cpp/include/test_perf.h
  tests/cpp/include/test_tune.h
  tests/cpp/include/test_util.h
  tests/cpp/kvstore/gpu_topology_test.cc
  tests/cpp/misc/base.cc
  tests/cpp/operator/activation_perf.cc
  tests/cpp/operator/batchnorm_test.cc
  tests/cpp/operator/coreop_perf.cc
  tests/cpp/operator/dnnl_operator_test.cc
  tests/cpp/operator/dropout_perf.cc
  tests/cpp/operator/fully_conn_perf.cc
  tests/cpp/operator/krprod_test.cc
  tests/cpp/operator/runner/core_op_runner_test.cc
  tests/cpp/operator/slice_channel_perf.cc
  tests/cpp/operator/tune/operator_tune_test.cc
  tests/cpp/storage/storage_test.cc
  tests/cpp/test_main.cc
Owners: @apache/mxnet-committers

[INCLUDE] Re-format .cc .h files
  include/mxnet/base.h
  include/mxnet/c_api.h
  include/mxnet/c_api_error.h
  include/mxnet/c_api_test.h
  include/mxnet/engine.h
  include/mxnet/executor.h
  include/mxnet/expr_operator.h
  include/mxnet/imperative.h
  include/mxnet/io.h
  include/mxnet/ir/expr.h
  include/mxnet/kvstore.h
  include/mxnet/lib_api.h
  include/mxnet/libinfo.h
  include/mxnet/node/container.h
  include/mxnet/node/node.h
  include/mxnet/op_attr_types.h
  include/mxnet/operator.h
  include/mxnet/operator_util.h
  include/mxnet/random_generator.h
  include/mxnet/resource.h
  include/mxnet/rtc.h
  include/mxnet/runtime/c_runtime_api.h
  include/mxnet/runtime/container.h
  include/mxnet/runtime/container_ext.h
  include/mxnet/runtime/data_type.h
  include/mxnet/runtime/ffi_helper.h
  include/mxnet/runtime/memory.h
  include/mxnet/runtime/ndarray.h
  include/mxnet/runtime/ndarray_handle.h
  include/mxnet/runtime/object.h
  include/mxnet/runtime/packed_func.h
  include/mxnet/runtime/py_arg.h
  include/mxnet/runtime/registry.h
  include/mxnet/storage.h
  include/mxnet/tensor_blob.h
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

[PLUGIN] Re-format .cc .h files
  plugin/opencv/cv_api.cc
  plugin/opencv/cv_api.h
  plugin/sframe/iter_sframe.cc
  plugin/torch/torch_base.cc
  plugin/torch/torch_base.h
  plugin/torch/torch_criterion-inl.h
  plugin/torch/torch_criterion.cc
  plugin/torch/torch_criterion.cu
  plugin/torch/torch_function.cc
  plugin/torch/torch_function.h
  plugin/torch/torch_module-inl.h
  plugin/torch/torch_module.cc
  plugin/torch/torch_module.cu
  plugin/warpctc/warpctc-inl.h
  plugin/warpctc/warpctc.cc
  plugin/warpctc/warpctc.cu
Owners: @pllarroy

[TOOLS] Re-format .cc .h files
  tools/im2rec.cc
Owners: @szha, @pllarroy

[CPP-PACKAGE] Re-format .cc .h files
  cpp-package/example/inference/multi_threaded_inference/multi_threaded_inference.cc
  cpp-package/example/utils.h
  cpp-package/include/mxnet-cpp/base.h
  cpp-package/include/mxnet-cpp/contrib.h
  cpp-package/include/mxnet-cpp/executor.h
  cpp-package/include/mxnet-cpp/initializer.h
  cpp-package/include/mxnet-cpp/io.h
  cpp-package/include/mxnet-cpp/kvstore.h
  cpp-package/include/mxnet-cpp/lr_scheduler.h
  cpp-package/include/mxnet-cpp/metric.h
  cpp-package/include/mxnet-cpp/model.h
  cpp-package/include/mxnet-cpp/ndarray.h
  cpp-package/include/mxnet-cpp/op_map.h
  cpp-package/include/mxnet-cpp/op_suppl.h
  cpp-package/include/mxnet-cpp/op_util.h
  cpp-package/include/mxnet-cpp/operator.h
  cpp-package/include/mxnet-cpp/optimizer.h
  cpp-package/include/mxnet-cpp/shape.h
  cpp-package/include/mxnet-cpp/symbol.h
Owners: @nswamy, @pllarroy

Clang-format fix
  src/engine/threaded_engine_pooled.cc
  src/kvstore/kvstore_dist.h
  src/operator/contrib/bilinear_resize-inl.h
  src/operator/contrib/bounding_box.cu
  src/operator/contrib/multi_lamb.cc
  src/operator/contrib/multi_lans.cc
  src/operator/nn/batch_norm.cu
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_rnn.cc
  src/operator/nn/softmax-inl.h
  src/operator/optimizer_op.cc
  src/operator/optimizer_op.cu
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
Owners: @pllarroy

Sanity-cpp fix
  cpp-package/include/mxnet-cpp/contrib.h
  cpp-package/include/mxnet-cpp/initializer.h
  include/mxnet/operator.h
  plugin/torch/torch_module-inl.h
  src/operator/contrib/adamw.cu
  src/operator/tensor/square_sum.cc
  src/operator/tensor/square_sum.cu
  tests/cpp/include/test_perf.h
  tests/cpp/include/test_util.h
  tests/cpp/operator/batchnorm_test.cc
Owners: @nswamy, @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

[EXAMPLE] Re-format .cc .h files
  example/extensions/lib_api/libtest.cc
  example/extensions/lib_custom_op/gemm_lib.cc
  example/extensions/lib_custom_op/relu_lib.cc
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/relu_lib.h
  example/extensions/lib_custom_op/transposecsr_lib.cc
  example/extensions/lib_custom_op/transposerowsp_lib.cc
  example/extensions/lib_external_ops/min_ex-inl.h
  example/extensions/lib_external_ops/min_ex.cc
  example/extensions/lib_external_ops/min_ex.cu
  example/extensions/lib_pass/pass_lib.cc
  example/extensions/lib_subgraph/subgraph_lib.cc
Owners: @szha, @pllarroy, @aaronmarkham

Sanity-cpp fix part2
  src/operator/tensor/square_sum.cu
Owners: @pllarroy

fix squeeze bugs
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

Update src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

Update src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/nn/dnnl/dnnl_fully_connected.cc
Owners: @pllarroy

Update tests/nightly/test_np_large_array.py
  tests/nightly/test_np_large_array.py
Owners: @apache/mxnet-committers

Fix sanity
  src/operator/nn/dnnl/dnnl_fully_connected.cc
Owners: @pllarroy

[NumPy] Wrap unravel_index backend implementation instead of fallback (#20730)
  python/mxnet/ndarray/numpy/_op.py
  src/api/operator/tensor/unravel.cc
  src/operator/tensor/ravel.cc
  src/operator/tensor/ravel.h
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[API NEW][LINALG] Add vector_norm, matrix_norm (#20703)
  python/mxnet/numpy/linalg.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

remove result_type from fallback.py
  python/mxnet/numpy/fallback.py
Owners: @szha, @pllarroy

add backward compatibility test
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

add type hint for matrix_norm & vector_norm
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

fix bugs in test_numpy_op.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Clang-format comment style fix
  include/mxnet/c_api.h
Owners: @pllarroy, @eric-haibin-lin

fix bugs in test_numpy_op.py
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Add condition on oneDNN support & fix bugs
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/numpy/np_broadcast_reduce_op_value.h
Owners: @pllarroy
