Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

[master] Add aliases for subgraph operators to be compatible with old models (#20679)
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

implement binomial sampling
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  src/operator/random/multisample_op.cc
  src/operator/random/multisample_op.cu
  src/operator/random/sample_op.cc
  src/operator/random/sample_op.cu
  src/operator/random/sample_op.h
  src/operator/random/sampler.h
  tests/python/unittest/test_random.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix lint
  src/engine/threaded_engine.cc
Owners: @pllarroy

fix lint
  src/engine/threaded_engine.cc
Owners: @pllarroy

fix
  include/mxnet/c_api.h
  include/mxnet/ndarray.h
  src/c_api/c_api.cc
  src/ndarray/ndarray.cc
Owners: @pllarroy, @eric-haibin-lin

fix link
  ci/docker/runtime_functions.sh
  python/mxnet/numpy/fallback.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

fix lint
  python/mxnet/dlpack.py
  python/mxnet/numpy/multiarray.py
  src/c_api/c_api.cc
Owners: @szha, @pllarroy

fix docs
  python/mxnet/gluon/metric.py
  python/mxnet/io/io.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/probability/distributions/binomial.py
  python/mxnet/gluon/probability/distributions/categorical.py
  python/mxnet/gluon/probability/distributions/divergence.py
  python/mxnet/image/image.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_gluon_probability_v2.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

[API] Add bitwise_left/right_shift (#20587)
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/common/cuda/rtc/backward_functions-inl.h
  src/common/cuda/rtc/forward_functions-inl.h
  src/engine/threaded_engine.cc
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cu
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[API] Add array-api broadcasting tests
  ci/docker/runtime_functions.sh
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[API NEW][ARRAY METHOD] Add __Index__() and __array_namespace__() (#20689)
  docs/python_docs/python/api/np/arrays.ndarray.rst
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_ndarray.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

Error out and fail if license_header.py tool detects multiple licenses in a file.
  tools/license_header.py
Owners: @szha, @pllarroy

Move LayerNormCPUKernel function to own file, since it is licensed under MIT. Update LICENSE to reflect this.
  LICENSE
  src/operator/nn/layer_norm.cc
  src/operator/nn/layer_norm_cpu.h
Owners: @apache/mxnet-committers, @pllarroy

Remove LayerNormCPUKernel from layer_norm.cc, it is now in layer_norm_cpu.h.
  src/operator/nn/layer_norm.cc
Owners: @pllarroy

Add header guard, fix first line to pass lint.
  src/operator/nn/layer_norm_cpu.h
Owners: @pllarroy

Update skywalking-eyes config based on current LICENSE, add layer_norm_cpu.h to whitelist.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Rename license file for layer_norm_cpu.h
  licenses/LICENSE.layer_norm_cpu.txt
Owners: @apache/mxnet-committers

link python for onnx build
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix conflict
  src/c_api/c_api.cc
Owners: @pllarroy

fix bugs
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

merge upstream
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix onnx build
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix bugs
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/initializer.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/gluon/probability/distributions/binomial.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/gluon/probability/distributions/binomial.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bugs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Skip upstream, and module dir
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove extra spaces between 'if'
  CMakeLists.txt
  cmake/Utils.cmake
  tests/CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

fix
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix bugs
  python/mxnet/gluon/nn/conv_layers.py
  python/mxnet/gluon/probability/distributions/binomial.py
  python/mxnet/gluon/probability/distributions/multivariate_normal.py
  python/mxnet/gluon/rnn/rnn_cell.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_deferred_compute.py
  tests/python/unittest/test_numpy_gluon_data_vision.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Update mkldnn license text and LICENSE.
  LICENSE
  licenses/LICENSE.mkldnn.txt
Owners: @apache/mxnet-committers

[v1.x] Port #20648, #20676, #19236 to v1.x (#20677)
  ci/build_windows.py
  ci/docker/install/requirements
  ci/jenkins/Jenkins_steps.groovy
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
  python/mxnet/base.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
