Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

[CI] Workaround MKL CI timeout issue
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

pass way
  example/extensions/lib_pass/pass_lib.cc
  example/extensions/lib_pass/test_pass.py
Owners: @szha, @pllarroy, @aaronmarkham

feat: added onednn adaptive pooling to master
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
Owners: @pllarroy

fix: changed SupportDNNLPooling condition to SupportDNNL in adaptive_avg_pooling.cc
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

finished adaptive backward pooling on master
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling.cc
Owners: @pllarroy

Been working on solving issue with backward adaptive pooling
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  tests/python/dnnl/test_dnnl.py
  tests/python/onnx/test_operators.py
Owners: @pllarroy, @apache/mxnet-committers

Add oneDNN info to migration guide
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Add quantization API doc
  docs/python_docs/python/api/contrib/index.rst
  docs/python_docs/python/api/contrib/quantization/index.rst
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy, @aaronmarkham

[CI] Workaround MKL CI timeout issue (#20777)
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

Fix link check (#20773)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Apply suggestions from code review
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Apply review
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Apply suggestions from code review
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Run linter
  cpp-package/example/inference/imagenet_inference.cpp
  cpp-package/include/mxnet-cpp/executor.h
  cpp-package/include/mxnet-cpp/executor.hpp
  cpp-package/include/mxnet-cpp/symbol.h
  cpp-package/include/mxnet-cpp/symbol.hpp
Owners: @nswamy, @pllarroy

First attempt to support TRT8
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
Owners: @pllarroy

Fixed a segfault
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
Owners: @pllarroy

[master] CI/CD updates to be more stable (#20740)
  ci/build_windows.py
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Port changes from master to make CPP package properly build when large tensor support is enabled. (#20768)
  cpp-package/scripts/OpWrapperGenerator.py
Owners: @nswamy, @pllarroy

add nccl reduce inside mxnet
  include/mxnet/c_api.h
  include/mxnet/resource.h
  python/mxnet/gluon/contrib/__init__.py
  src/c_api/c_api.cc
  src/imperative/attach_op_resource_pass.cc
  src/operator/contrib/nn/reduce_op.cc
  src/operator/contrib/nn/reduce_op.cu
Owners: @pllarroy, @eric-haibin-lin, @szha

Updated ci for tensorrt
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
  ci/docker/runtime_functions.sh
  tests/cpp/include/test_op_runner.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Added tensorRT into ci_test.sh
  cpp-package/example/inference/unit_test_imagenet_inference.sh
  cpp-package/tests/ci_test.sh
Owners: @nswamy, @pllarroy

add custom jenkinsfile
  ci/jenkins/Jenkinsfile_website_full_sethman
Owners: @pllarroy, @marcoabreu, @aaronmarkham

move users from home page
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/pages/powered_by.html
Owners: @szha, @pllarroy, @aaronmarkham

Add microbenchmark for FC + add fusion
  benchmark/python/dnnl/fc_add.py
  benchmark/python/dnnl/run.sh
  benchmark/python/dnnl/run_per_thread.sh
Owners: @apache/mxnet-committers

Run clang-format
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
  tests/cpp/include/test_op_runner.h
Owners: @pllarroy, @apache/mxnet-committers

Use cuDNN for conv bias and bias grad (#20771)
  python/mxnet/amp/loss_scaler.py
  src/common/cuda/cudnn_cxx.cc
  src/common/cuda/cudnn_cxx.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  src/operator/nn/convolution.cu
  src/operator/nn/deconvolution.cu
Owners: @szha, @pllarroy

fix docs
  python/mxnet/autograd.py
  python/mxnet/executor.py
  python/mxnet/gluon/data/sampler.py
  python/mxnet/gluon/metric.py
  python/mxnet/gluon/parameter.py
  python/mxnet/initializer.py
  python/mxnet/io/io.py
  python/mxnet/kvstore/base.py
  python/mxnet/kvstore/horovod.py
  python/mxnet/kvstore/kvstore.py
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/random.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/ndarray/utils.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/recordio.py
  python/mxnet/symbol/contrib.py
  python/mxnet/symbol/random.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
Owners: @szha, @pllarroy, @eric-haibin-lin

Revert "fix docs"
  python/mxnet/autograd.py
  python/mxnet/executor.py
  python/mxnet/gluon/data/sampler.py
  python/mxnet/gluon/metric.py
  python/mxnet/gluon/parameter.py
  python/mxnet/initializer.py
  python/mxnet/io/io.py
  python/mxnet/kvstore/base.py
  python/mxnet/kvstore/horovod.py
  python/mxnet/kvstore/kvstore.py
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/random.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/ndarray/utils.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/recordio.py
  python/mxnet/symbol/contrib.py
  python/mxnet/symbol/random.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
Owners: @szha, @pllarroy, @eric-haibin-lin

fix docs
  python/mxnet/autograd.py
  python/mxnet/executor.py
  python/mxnet/gluon/data/sampler.py
  python/mxnet/gluon/metric.py
  python/mxnet/gluon/parameter.py
  python/mxnet/initializer.py
  python/mxnet/io/io.py
  python/mxnet/kvstore/base.py
  python/mxnet/kvstore/horovod.py
  python/mxnet/kvstore/kvstore.py
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/random.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/ndarray/utils.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/random.py
  python/mxnet/numpy/stride_tricks.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/recordio.py
  python/mxnet/symbol/contrib.py
  python/mxnet/symbol/random.py
  python/mxnet/symbol/symbol.py
  python/mxnet/util.py
Owners: @szha, @pllarroy, @eric-haibin-lin

Fixed jenkins targets
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

revert onnx
  docs/python_docs/python/Makefile
Owners: @szha, @pllarroy, @aaronmarkham

revert onnx
  python/mxnet/gluon/data/batchify.py
  python/mxnet/io/io.py
  python/mxnet/ndarray/contrib.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/random.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/ndarray/utils.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Change env variable used to detect whether it's a release build or not. RELEASE_BUILD is already setup in the CD pipeline.
  tools/pip/setup.py
Owners: @szha, @pllarroy

Refine how variable is compared to trigger release builds.
  tools/pip/setup.py
Owners: @szha, @pllarroy

Check for 'true' exclusively, to prevent unwanted release builds.
  tools/pip/setup.py
Owners: @szha, @pllarroy

Make sure we pass any environment variables on the build.py command line to the docker run command.
  ci/build.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] Fix CD for pypi wheel version (#20782)
  ci/build.py
  tools/pip/setup.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

revert onnx
  src/api/operator/numpy/np_matmul_op.cc
Owners: @pllarroy

Add wheel to installed pip packages on aarch64, so we can build the wheel in the CD pipeline.
  ci/docker/install/requirements_aarch64
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Better support for aarch64 docker container cache.
  ci/build.py
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
