Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

solve typo
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

numpy transpose onednn usage
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_transpose.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

remove unnecessary lines
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

remove unnecessary whitespace
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Owners: @pllarroy

whitespace, guard comments
  src/operator/nn/mkldnn/mkldnn_transpose-inl.h
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Owners: @pllarroy

newline at end
  src/operator/nn/mkldnn/mkldnn_transpose-inl.h
Owners: @pllarroy

template convert param
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_transpose-inl.h
  src/operator/nn/mkldnn/mkldnn_transpose.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

formatting
  src/operator/numpy/np_matrix_op.cc
Owners: @pllarroy

formatting changes, cleanup
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
  src/operator/nn/mkldnn/mkldnn_transpose.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

sanity fix
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Owners: @pllarroy

remove unused declarations
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
Owners: @pllarroy

remove unnecessary whitespace
  src/operator/numpy/np_matrix_op-inl.h
Owners: @pllarroy

remove unnecessary param
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Owners: @pllarroy

separate error tests transpose
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

formatting
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
Owners: @pllarroy

Skip clang-format-13 file
  .licenserc.yaml
Owners: @apache/mxnet-committers

Install clang format package
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

add signatures
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

add wrap_data_api_linalg_func in line 1335 & 1205
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Replace context with device & update multiarray.py/_op.py
  python/mxnet/__init__.py
  python/mxnet/context.py
  python/mxnet/device.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
Owners: @szha, @pllarroy

fix bitwise rtc functions & numpy op gpu test overriding issue
  src/common/cuda/rtc/backward_functions-inl.h
  tests/python/gpu/test_numpy_einsum.py
Owners: @pllarroy, @apache/mxnet-committers

clang-format
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cu
Owners: @pllarroy

fix ci
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[DOC] Fix broken links
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_readme.md
Owners: @szha, @pllarroy, @aaronmarkham

[Master][CI][Bugfix] Clang-format-13 file needs to have right license header and install clang-format package. (#20658)
  .licenserc.yaml
  ci/docker/Dockerfile.build.ubuntu
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_readme.md
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @szha

Clean up the apt cache
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix for finding MKL libraries on MacOs by FindBLAS.cmake Turn off SDL for MKL on MacOS as it need fixes.
  cmake/ChooseBlas.cmake
  cmake/upstream/FindBLAS.cmake
  tools/staticbuild/build_lib.sh
Owners: @szha, @pllarroy, @leezu

Fixing some formatting + installing patchelf
  .github/workflows/os_x_mklbuild.yml
  tools/dependencies/make_shared_dependencies.sh
  tools/staticbuild/build_lib.sh
Owners: @szha, @leezu, @pllarroy

Remove forcing rpath and some unnecessary comments
  .github/workflows/os_x_mklbuild.yml
  cmake/upstream/FindBLAS.cmake
  tools/dependencies/mkl.sh
  tools/dependencies/numpy_mkl.sh
  tools/staticbuild/build_lib.sh
Owners: @szha, @leezu, @pllarroy

Run only mkl tests
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

Enable linking MxNET with MKL static libraries on MacOS
  .github/workflows/os_x_mklbuild.yml
  cmake/ChooseBlas.cmake
  config/distribution/darwin_cpu_mkl.cmake
  config/distribution/linux_cpu_mkl.cmake
  src/initialize.cc
  tools/dependencies/make_shared_dependencies.sh
  tools/dependencies/mkl.sh
  tools/dependencies/numpy_mkl.sh
  tools/dependencies/opencv.sh
  tools/staticbuild/build_lib.sh
Owners: @szha, @leezu, @pllarroy, @apache/mxnet-committers

clang format + mkl workflow rename
  .github/workflows/os_x_mklbuild.yml
  src/initialize.cc
  src/initialize.h
  tools/dependencies/mkl.sh
Owners: @szha, @leezu, @pllarroy

[FEATURE] Enable dynamic linking with MKL and compiler based OpenMP
  ci/docker/Dockerfile.build.ubuntu
  cmake/ChooseBlas.cmake
  cmake/upstream/FindBLAS.cmake
  src/initialize.cc
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha, @leezu

Cleaning MKL find_path cmake directories
  cmake/ChooseBlas.cmake
Owners: @szha, @pllarroy, @leezu

Disabling SDL with MKL threading on Windows
  src/initialize.cc
Owners: @pllarroy

Use multi-threading 'on' as the default option
  cmake/ChooseBlas.cmake
Owners: @szha, @pllarroy, @leezu

[WIP] Adding github runner for MAC OS to check MKL specific changes
  .github/workflows/os_x_mklbuild.yml
  config/distribution/darwin_cpu_mkl.cmake
  config/distribution/linux_cpu_mkl.cmake
  src/initialize.cc
  tools/dependencies/make_shared_dependencies.sh
  tools/dependencies/mkl.sh
  tools/dependencies/opencv.sh
  tools/staticbuild/build.sh
  tools/staticbuild/build_lib.sh
Owners: @szha, @leezu, @apache/mxnet-committers, @pllarroy

Excluding MKL bf16 tests as CI MacOs machines seems not to have avx512 support.
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

setting up Mac OS rpath for MKL libraries
  tools/staticbuild/build_lib.sh
Owners: @szha, @pllarroy

Sets the interface layer for Intel oneAPI MKL at runtime
  cmake/ChooseBlas.cmake
  src/initialize.cc
Owners: @szha, @pllarroy, @leezu
