Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix numpy requirement.
  python/setup.py
Owners: @szha, @pllarroy

[v1.9.x] Fix pip installation in containers (#20864) (#20871)
  ci/docker/install/centos7_python.sh
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Test linspace fix from #19844.
  src/operator/tensor/init_op.h
Owners: @pllarroy

Use pip3 to test installing newly generated wheel.
  tools/staticbuild/build_wheel.sh
Owners: @szha, @pllarroy

Fix data-api links (#20867)
  .github/workflows/link_check.yml
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Owners: @szha, @leezu, @pllarroy

[v1.x] Refactor CMakeLists.txt (#20861)
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Add quantization API doc and oneDNN to migration guide (#20813)
  docs/python_docs/python/api/contrib/index.rst
  docs/python_docs/python/api/contrib/quantization/index.rst
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy, @aaronmarkham

Update libcudnn and libnccl to the same version used in NVidia's docker container for cuda 10.2 and 11.2, and update repo where we pull the packages from. (#20808)
  tools/setup_gpu_build_tools.sh
Owners: @szha, @pllarroy

[FEATURE] Add binomial sampling and fix multinomial sampling (#20734)
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  src/operator/random/multisample_op.cc
  src/operator/random/multisample_op.cu
  src/operator/random/sample_multinomial_op.cc
  src/operator/random/sample_multinomial_op.cu
  src/operator/random/sample_multinomial_op.h
  src/operator/random/sample_op.cc
  src/operator/random/sample_op.cu
  src/operator/random/sample_op.h
  src/operator/random/sampler.h
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_random.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

ensure type consistent with legacy nvml api (#20499)
  src/profiler/storage_profiler.cc
Owners: @pllarroy

The size of a stack needs to be greather than 4; by default is 8 (#20581)
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

Add g5 instance to jenkinsfiles where both p3 and g4 are mentioned
  ci/jenkins/Jenkinsfile_unix_gpu
  ci/jenkins/Jenkinsfile_website_beta
  ci/jenkins/Jenkinsfile_website_full
  ci/jenkins/Jenkinsfile_website_version_artifacts
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Revert "Attempt to fix fallback ops tests based on #20685"
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

Revert "Attempt to fix fallback ops tests based on #20685"
  python/mxnet/numpy/fallback.py
Owners: @szha, @pllarroy

Set random seed to have stable fail reproduction
  tests/python/mkl/test_subgraph.py
Owners: @apache/mxnet-committers

Fix data-api links
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Pin numpy to <2.0 to allow older versions to be installed in CD pipeline.
  python/setup.py
Owners: @szha, @pllarroy

Fix fallback.py and test_numpy_interoperability.py (#19457)
  python/mxnet/numpy/fallback.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Remove reference to non-existent restricted-mxnetlinux-gpu-g5
  ci/jenkins/Jenkinsfile_website_beta
  ci/jenkins/Jenkinsfile_website_full
  ci/jenkins/Jenkinsfile_website_version_artifacts
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Skip test cases that fail with upgraded numpy version.
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Fix pylint.
  python/mxnet/numpy/fallback.py
Owners: @szha, @pllarroy

Enable unittest job on g5
  ci/Jenkinsfile_utils.groovy
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
  tests/python/gpu/test_operator_gpu.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Update comment with new issue created to track test case.
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

[BUGFIX] fix numpy op fallback bug when ndarray in kwargs (#20233)
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Merge fallback op changes from #20685.
  python/mxnet/numpy/fallback.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Add warning message for fallback operators (#17697)
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Fix Jenkinsfile_unix_gpu syntax
  ci/jenkins/Jenkinsfile_unix_gpu
  tests/python/gpu/test_operator_gpu.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

identity fuse
  src/operator/subgraph/mkldnn/mkldnn_identity_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  tests/python/mkl/test_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Add results from aws machine (with VNNI instructions)
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Small fix
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix mxnet installation instruction
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

[v1.x] Remove identity operators from oneDNN optimized graph (#20868)
  src/operator/subgraph/mkldnn/mkldnn_identity_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
  tests/python/mkl/test_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Skip None dtype in test_np_get_dtype(), tracked in https://github.com/apache/incubator-mxnet/issues/20886
  tests/python/unittest/test_numpy_ndarray.py
Owners: @apache/mxnet-committers

Resolve the conflict with PR#20499
  src/profiler/storage_profiler.cc
Owners: @pllarroy

Include A10G arch 86 in build for g5
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Increase tolerances for test_np_percentile and test_np_quantile when using float16 and midpoint interpolation.
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Update numpy function list that expects array argument.
  python/mxnet/numpy_dispatch_protocol.py
Owners: @szha, @pllarroy

Fix data-api links (#20879)
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Apply suggestions from code review
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Apply suggestions from code review
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
