Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix test_np_random_{beta,f,chisquare}
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

port #20926 to v1.x (#20950)
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

[PERFORMANCE] Improve shuffle implementation (#20928)
  src/operator/random/shuffle_op.cc
Owners: @pllarroy

Included comments from the review
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/pooling-inl.h
  tests/python/mkl/test_mkldnn.py
Owners: @pllarroy, @apache/mxnet-committers

port #20926 to master (#20949)
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

Enable possibility of disabling particular graph pass
  src/c_api/c_api_symbolic.cc
Owners: @pllarroy

Check of FCreateOpState removed given new check for FStatefulCompute*
  src/imperative/cuda_graphs.h
Owners: @pllarroy

Revert "Temporarily add '-s' to pytest serial tests"
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Review fixes + additional checks during conversion
  python/mxnet/amp/amp.py
  src/nnvm/low_precision_pass.cc
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/serialization/cnpy.cc
Owners: @szha, @pllarroy

Fix mxnet.numpy.eye() handling of extreme k parameter values
  .github/workflows/os_x_staticbuild.yml
  ci/docker/runtime_functions.sh
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

Fix broken web link
  python/mxnet/numpy/random.py
Owners: @szha, @pllarroy

Fix broken web link
  python/mxnet/numpy/random.py
Owners: @szha, @pllarroy

Hybridize only when necessary
  python/mxnet/amp/amp.py
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Roll back ndarray file
  include/mxnet/ndarray.h
Owners: @pllarroy, @eric-haibin-lin

Fix broken web link (#20966)
  python/mxnet/numpy/random.py
Owners: @szha, @pllarroy

Support bfloat and float mixed input in elemwise broadcast ops
  src/common/utils.h
  src/operator/mshadow_op.h
  src/operator/mxnet_op.h
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_true_divide-inl.h
  tests/python/dnnl/test_bf16_operator.py
Owners: @pllarroy, @apache/mxnet-committers

[BUGFIX] Fix mxnet.numpy.eye() handling of extreme k parameter values (#20965)
  .github/workflows/os_x_staticbuild.yml
  ci/docker/runtime_functions.sh
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

[v1.x] Implemented MKLDNN Backward Adaptive Pooling kernel (#20855)
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
  src/operator/quantization/quantized_pooling.cc
  tests/python/mkl/test_mkldnn.py
Owners: @pllarroy, @apache/mxnet-committers

[operator] Integrate oneDNN eltwise_linear primitive to mxnet npi_scalar ops
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_linear_scalar-inl.h
  src/operator/nn/dnnl/dnnl_linear_scalar.cc
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cc
Owners: @pllarroy

Roll Back - fwd namespace declaration
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_convolution.cc
  src/operator/nn/dnnl/dnnl_copy.cc
  src/operator/nn/dnnl/dnnl_deconvolution-inl.h
  src/operator/nn/dnnl/dnnl_deconvolution.cc
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/nn/dnnl/dnnl_layer_norm.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/quantization/dnnl/dnnl_quantize_v2-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/dnnl/dnnl_quantized_conv.cc
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/subgraph/dnnl/dnnl_common.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/tensor/cast_storage-inl.h
  tests/cpp/include/test_dnnl.h
  tests/cpp/operator/dnnl_test.cc
Owners: @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

Clang-format: auto-format
  include/mxnet/ndarray.h
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_convolution.cc
  src/operator/nn/dnnl/dnnl_copy.cc
  src/operator/nn/dnnl/dnnl_deconvolution-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/nn/dnnl/dnnl_layer_norm.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/dnnl/dnnl_where.cc
  src/operator/quantization/dnnl/dnnl_quantized_conv.cc
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/subgraph/dnnl/dnnl_conv.cc
  tests/cpp/operator/dnnl_test.cc
Owners: @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

Sanity fix
  src/operator/nn/dnnl/dnnl_base.cc
Owners: @pllarroy

Conv saity-fix
  src/operator/subgraph/dnnl/dnnl_conv.cc
Owners: @pllarroy

Fix subgraph tests
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

[v1.x] Port #20940 (Upgrade numpy to <1.20.0) from v1.9.x (#20955)
  ci/docker/install/centos7_python.sh
  ci/docker/install/requirements
  ci/docker/install/requirements_aarch64
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/travis/install.sh
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
  tests/requirements.txt
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[v2.0] [BUGFIX] Port #20940 (Upgrade numpy to <1.20.0 ...) from v1.9.x (#20957)
  ci/docker/install/requirements
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[2.0] [BACKPORT] of [1.x][FEATURE] CUDA graphs support (#19142) (#20324)
  docs/static_site/src/pages/api/faq/env_var.md
  include/mxnet/op_attr_types.h
  src/imperative/attach_op_execs_pass.cc
  src/imperative/cuda_graphs.h
  src/imperative/exec_pass.h
  src/imperative/imperative_utils.h
  src/operator/contrib/adamw.cu
  src/operator/contrib/index_array.cu
  src/operator/contrib/multi_lamb.cu
  src/operator/instance_norm.cu
  src/operator/leaky_relu.cu
  src/operator/nn/dropout-inl.h
  src/operator/nn/dropout.cu
  src/operator/numpy/linalg/np_eig.cu
  src/operator/numpy/linalg/np_eigvals.cu
  src/operator/numpy/linalg/np_norm_backward.cu
  src/operator/numpy/linalg/np_norm_forward.cu
  src/operator/numpy/np_boolean_mask_assign.cu
  src/operator/numpy/np_constraint_check.cu
  src/operator/numpy/np_matrix_op.cu
  src/operator/numpy/np_nonzero_op.cu
  src/operator/numpy/np_pad_op.cu
  src/operator/numpy/np_percentile_op.cu
  src/operator/numpy/random/np_bernoulli_op.cu
  src/operator/numpy/random/np_exponential_op.cu
  src/operator/numpy/random/np_gamma_op.cu
  src/operator/numpy/random/np_multinomial_op.cu
  src/operator/numpy/random/np_normal_op.cu
  src/operator/numpy/random/np_pareto_op.cu
  src/operator/numpy/random/np_power_op.cu
  src/operator/numpy/random/np_rayleigh_op.cu
  src/operator/numpy/random/np_weibull_op.cu
  src/operator/tensor/elemwise_unary_op_basic.cu
  src/operator/tensor/indexing_op.cu
  src/operator/tensor/la_op.cu
  src/operator/tensor/matrix_op.cu
  tests/python/gpu/test_gluon_gpu.py
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @apache/mxnet-committers

Review change
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Fix typo
  src/operator/nn/dnnl/dnnl_base.cc
Owners: @pllarroy

Fix tenary
  src/operator/nn/dnnl/dnnl_base.cc
Owners: @pllarroy

Review
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_copy.cc
  src/operator/quantization/dnnl/dnnl_quantize_v2-inl.h
  src/operator/tensor/cast_storage-inl.h
Owners: @pllarroy, @eric-haibin-lin

Review: test file
  tests/cpp/operator/dnnl_test.cc
Owners: @apache/mxnet-committers

Static_cast: removed redundant cast
  src/ndarray/ndarray.cc
Owners: @pllarroy

[BUGFIX] Fix tests/python/dnnl/subgraphs/test_conv_subgraph.py
  src/operator/nn/dnnl/dnnl_convolution.cc
Owners: @pllarroy

Fix sanity
  src/operator/nn/dnnl/dnnl_convolution.cc
Owners: @pllarroy

[v1.x][BUGFIX] Fix tests/python/dnnl/subgraphs/test_conv_subgraph.py
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

Fix sanity
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

Fix reviews
  src/operator/nn/dnnl/dnnl_dot-inl.h
  src/operator/nn/dnnl/dnnl_dot.cc
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/numpy/np_dot_forward.cc
Owners: @pllarroy

[operator] Integrate oneDNN eltwise_tanh into _npi_tanh operator
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_tanh-inl.h
  src/operator/nn/dnnl/dnnl_tanh.cc
  src/operator/numpy/np_elemwise_unary_op_basic.cc
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy

delete stream
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
