Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

AMP improvements + enable bf16 input for quantize_v2 (#20983)
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/amp/amp.py
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/gluon/block.py
  python/mxnet/ndarray/ndarray.py
  src/c_api/c_api_ndarray.cc
  src/c_api/c_api_symbolic.cc
  src/common/utils.h
  src/imperative/imperative.cc
  src/nnvm/low_precision_pass.cc
  src/operator/quantization/quantize_v2-inl.h
  tests/python/amp/common.py
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Rename kData to kOut
  src/operator/swapaxis-inl.h
Owners: @pllarroy

Refactor SwapAxis operator
  src/operator/swapaxis-inl.h
  src/operator/swapaxis.cc
  src/operator/swapaxis.cu
Owners: @pllarroy

Fix quantized_elemwise_add (#21031)
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

Added possibility to rerun test with all batches used for calibration
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

Review suggestions
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

Calibration dataset fix
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

update website for 1.9.1 release
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

fix transformer optimization for gpt-2 (#21007)
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

working without tmp
  src/operator/tensor/broadcast_reduce_op.cc
Owners: @pllarroy

update comment
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

sanity
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

working with tmp
  src/operator/tensor/broadcast_reduce_op.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
Owners: @pllarroy

fix sanity
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

apply review comments
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

refactor
  src/operator/tensor/broadcast_reduce_op.cc
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

refactor
  src/operator/tensor/broadcast_reduce_op.cc
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

condition
  src/operator/tensor/broadcast_reduce_op.cc
Owners: @pllarroy

remove onednn broadcast
  src/operator/tensor/broadcast_reduce_op.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_op_value.cc
Owners: @pllarroy

Fix tests
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

remove temporary memory resource
  src/operator/tensor/broadcast_reduce_op_value.cc
Owners: @pllarroy

Linting
  src/operator/nn/dnnl/dnnl_sum-inl.h
Owners: @pllarroy

Removed unused variables
  src/operator/nn/dnnl/dnnl_sum.cc
Owners: @pllarroy

Refactored DNNLSumFwd class
  src/operator/nn/dnnl/dnnl_sum-inl.h
  src/operator/nn/dnnl/dnnl_sum.cc
Owners: @pllarroy

Formatted new files
  src/operator/nn/dnnl/dnnl_copy-inl.h
  src/operator/nn/dnnl/dnnl_stack-inl.h
  src/operator/nn/dnnl/dnnl_sum-inl.h
Owners: @pllarroy

Applied changes from review
  src/operator/nn/dnnl/dnnl_sum-inl.h
  src/operator/nn/dnnl/dnnl_sum.cc
  src/operator/quantization/dnnl/dnnl_quantized_act.cc
  src/operator/tensor/elemwise_unary_op_basic.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Removed dnnl_ops-inl.h file from tracking
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_power_scalar-inl.h
Owners: @pllarroy

Fix sanity
  src/operator/nn/dnnl/dnnl_softmax_output-inl.h
Owners: @pllarroy

Changed GetConcatForward to GetCache dand placed it in the DNNLConcatFwd classD
  src/operator/nn/dnnl/dnnl_concat-inl.h
  src/operator/nn/dnnl/dnnl_concat.cc
  src/operator/nn/dnnl/dnnl_stack.cc
  src/operator/quantization/dnnl/dnnl_quantized_concat.cc
Owners: @pllarroy

Fixed issue with DNNLSumFwd
  src/operator/nn/dnnl/dnnl_sum.cc
Owners: @pllarroy

Linting
  src/operator/nn/dnnl/dnnl_sum.cc
Owners: @pllarroy

Added missing import
  src/operator/nn/dnnl/dnnl_stack-inl.h
  src/operator/nn/dnnl/dnnl_stack.cc
  src/operator/nn/dnnl/dnnl_sum-inl.h
  src/operator/nn/dnnl/dnnl_sum.cc
Owners: @pllarroy

Fixed oneDNN usage in refactored files
  src/operator/leaky_relu-inl.h
  src/operator/leaky_relu.cc
  src/operator/nn/activation-inl.h
  src/operator/nn/activation.cc
  src/operator/nn/concat-inl.h
  src/operator/nn/concat.cc
  src/operator/nn/convolution-inl.h
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/nn/dnnl/dnnl_act-inl.h
  src/operator/nn/dnnl/dnnl_concat-inl.h
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/nn/dnnl/dnnl_deconvolution-inl.h
  src/operator/nn/dnnl/dnnl_deconvolution.cc
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/nn/dnnl/dnnl_layer_norm-inl.h
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax_output-inl.h
  src/operator/nn/fully_connected-inl.h
  src/operator/nn/fully_connected.cc
  src/operator/nn/layer_norm-inl.h
  src/operator/nn/layer_norm.cc
  src/operator/nn/log_softmax.cc
  src/operator/nn/masked_softmax.cc
  src/operator/nn/softmax-inl.h
  src/operator/nn/softmax.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/quantization/dnnl/dnnl_quantized_act.cc
  src/operator/softmax_output-inl.h
  src/operator/softmax_output.cc
  src/operator/tensor/elemwise_binary_op_basic.cc
  src/operator/tensor/elemwise_sum.cc
Owners: @pllarroy

Fixed linting
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
Owners: @pllarroy

Update src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_act.cc
Owners: @pllarroy

Fixed issue with fc_eltwise
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Disabled exp quantization and improved functions readability
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Enabled exp for test_fc_eltwise
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

fix LD path for cuda files
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

update year in notice (#21023)
  NOTICE
Owners: @apache/mxnet-committers
