Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

add new line
  src/operator/subgraph/dnnl/dnnl_identity_property.h
Owners: @pllarroy

fix
  src/operator/subgraph/dnnl/dnnl_identity_property.h
Owners: @pllarroy

review
  src/operator/tensor/indexing_op.cc
  src/operator/tensor/indexing_op.h
Owners: @pllarroy

Fix build
  src/operator/tensor/indexing_op.cc
Owners: @pllarroy

Add comment
  src/operator/tensor/indexing_op.h
Owners: @pllarroy

remove comment
  src/operator/tensor/indexing_op.cc
Owners: @pllarroy

Improve performance of take operator
  src/operator/tensor/indexing_op.cc
Owners: @pllarroy

fix sanity
  src/operator/tensor/indexing_op.cc
Owners: @pllarroy

Apply suggestions from code review
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Add the 1.9 release notice in README
  README.md
Owners: @apache/mxnet-committers

Add the 1.9 release notice in README (#20806)
  README.md
Owners: @apache/mxnet-committers

Fix oneDNN fallback for concat with scalar (#20772)
  src/operator/nn/concat.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/dnnl/dnnl_stack.cc
  src/operator/nn/log_softmax.cc
  src/operator/nn/softmax.cc
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @apache/mxnet-committers

Add the 1.9 release notice in README (#20806)
  README.md
Owners: @apache/mxnet-committers

Fix identity fuse for oneDNN (#20767)
  src/operator/subgraph/dnnl/dnnl_identity_property.h
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Fix the regular expression in RTC code
  python/mxnet/rtc.py
Owners: @szha, @pllarroy

Fix SupportDNNLBinary function.
  src/operator/nn/dnnl/dnnl_binary.cc
Owners: @pllarroy

Integrate oneDNN support for binary elementwise operators.
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_binary-inl.h
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_add.cc
  src/operator/numpy/np_elemwise_broadcast_op_mul.cc
  src/operator/numpy/np_elemwise_broadcast_op_sub.cc
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Delete template xpu for BinaryOperatorComputeExCPU function
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_add.cc
  src/operator/numpy/np_elemwise_broadcast_op_mul.cc
  src/operator/numpy/np_elemwise_broadcast_op_sub.cc
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
Owners: @pllarroy

Fix binary operators StorageType functio.
  src/operator/tensor/elemwise_binary_broadcast_op.h
Owners: @pllarroy

Fix test_operator, DNNLAlgorithm structure, DNNLData and DNNLBinaryOpForward condition.
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Working on adaptive backward pooling test
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

benchmark.py
  split.py
Owners: @apache/mxnet-committers

fix sanity
  src/operator/nn/dnnl/dnnl_split-inl.h
  src/operator/nn/dnnl/dnnl_split.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

review
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_split-inl.h
  src/operator/nn/dnnl/dnnl_split.cc
Owners: @pllarroy

refactor
  src/operator/nn/dnnl/dnnl_split-inl.h
  src/operator/nn/dnnl/dnnl_split.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Add oneDNN support for array_split operator
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_split-inl.h
  src/operator/nn/dnnl/dnnl_split.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

fix
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

review fixes
  src/operator/nn/dnnl/dnnl_split.cc
Owners: @pllarroy

Apply review comments
  src/operator/nn/dnnl/dnnl_split-inl.h
  src/operator/nn/dnnl/dnnl_split.cc
Owners: @pllarroy

update
  split.py
  src/operator/nn/dnnl/dnnl_split.cc
  src/operator/tensor/matrix_op.cc
Owners: @apache/mxnet-committers, @pllarroy

Changed SupportDNNLAveragePooling function so that calculations are now operating on float
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Added convolution before pooling in test_adaptive_pooling in test_dnnl.py
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

[BUGFIX] Fix #20471
  src/operator/tensor/elemwise_binary_op.cc
  tests/python/gpu/test_operator_gpu.py
Owners: @pllarroy, @apache/mxnet-committers

[v1.x] Restore quantized RNN operator from MXNet 1.6 (#20759)
  docs/python_docs/environment.yml
  include/mxnet/op_attr_types.h
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @apache/mxnet-committers

Added whitespaces in test_adaptive_pooling
  tests/python/dnnl/test_dnnl.py
Owners: @apache/mxnet-committers

CI run
  src/operator/contrib/adaptive_avg_pooling.cc
Owners: @pllarroy

Modified SupportDNNLAveragePooling and UseAdaptivePaddingKernel to operate on integers
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
Owners: @pllarroy

Update link
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

Update call to work with older mkldnn version.
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
Owners: @pllarroy

Change oneDNN build flags names from DNNL_* to ONEDNN_*
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu
