Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix true_divide
  src/operator/numpy/np_true_divide-inl.h
Owners: @pllarroy

Change flag to postop
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

[BUGFIX] Reenable fwd conv engine 5 on test_group_conv2d_16c (#21104)
  src/common/cuda/cudnn_cxx.cc
  src/common/cuda/cudnn_cxx.h
  src/operator/cudnn_ops.cc
  src/operator/cudnn_ops.h
  tests/python/unittest/test_gluon.py
Owners: @pllarroy, @apache/mxnet-committers

Add attributes to batch norm relu node
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
Owners: @pllarroy

Refactor code with batch norm relu op
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
  tests/python/dnnl/op_cfg.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Add size threshold for few oneDNN operators (#21106)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_binary.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_slice-inl.h
  src/operator/nn/dnnl/dnnl_slice.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy

Delete fuse_norm_relu flag
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

Delete fuse_norm_relu flag
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  tests/python/dnnl/test_dnnl.py
Owners: @pllarroy, @apache/mxnet-committers

apply review comment
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

Refactor BN operator
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_batch_norm.cc
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
Owners: @pllarroy

Add query_keys transformer version without split
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_common.h
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_valatt_property.h
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Review suggestions
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/nn/batch_norm.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_batch_norm.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
Owners: @szha, @pllarroy

review changes
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/swapaxis-inl.h
Owners: @pllarroy

Shape check moved to FInferShape
  src/operator/numpy/np_repeat_op-inl.h
Owners: @pllarroy

fixed _npi_repeats_swap bug
  python/mxnet/ndarray/numpy/_op.py
  src/operator/numpy/np_repeat_op-inl.h
Owners: @szha, @pllarroy

Revert "code refactoring"
  src/operator/numpy/np_repeat_op-inl.h
Owners: @pllarroy

Throw error with wrong repeats parameter (mx.np.repeat)
  src/operator/numpy/np_repeat_op-inl.h
Owners: @pllarroy

review_changes_2
  3rdparty/mshadow/guide/neuralnet/convnet.cu
  3rdparty/mshadow/mshadow/extension/swapaxis.h
  src/operator/instance_norm-inl.h
  src/operator/modulated_deformable_convolution-inl.h
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/numpy/np_unique_op.cc
  src/operator/numpy/np_unique_op.cu
  src/operator/swapaxis-inl.h
Owners: @apache/mxnet-committers, @pllarroy

Simplify type size check
  src/operator/numpy/np_repeat_op-inl.h
Owners: @pllarroy

fix for gpu version
  src/operator/numpy/np_repeat_op-inl.h
Owners: @pllarroy

code refactoring
  src/operator/numpy/np_repeat_op-inl.h
Owners: @pllarroy

Revert "review_changes_2"
  3rdparty/mshadow/guide/neuralnet/convnet.cu
  3rdparty/mshadow/mshadow/extension/swapaxis.h
  src/operator/instance_norm-inl.h
  src/operator/modulated_deformable_convolution-inl.h
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/numpy/np_unique_op.cc
  src/operator/numpy/np_unique_op.cu
  src/operator/swapaxis-inl.h
Owners: @apache/mxnet-committers, @pllarroy

review_3
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/swapaxis-inl.h
Owners: @pllarroy

clang formatting
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/swapaxis-inl.h
Owners: @pllarroy

Review suggestions once again
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
Owners: @szha, @pllarroy

Add op to amp, implement different shaped inputs cases
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_common.h
  tests/python/dnnl/op_cfg.py
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix sanity
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

Remove semicolon
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

Fix windows build
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

Fix windows build sanity
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

Add quantized bn relu
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm_relu.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @szha, @pllarroy

Add support for bool data type for condition in where operator (#21103)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

[BUGFIX] _npi_repeats with swap (#21112)
  python/mxnet/ndarray/numpy/_op.py
  src/operator/numpy/np_repeat_op-inl.h
  src/operator/swapaxis-inl.h
Owners: @szha, @pllarroy

Delete fuse_norm_relu flag
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  tests/python/dnnl/test_dnnl.py
Owners: @pllarroy, @apache/mxnet-committers

Add attributes to batch norm relu node
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
Owners: @pllarroy

Change flag to postop
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

Refactor code with batch norm relu op
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
  tests/python/dnnl/op_cfg.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Review suggestions once again
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
Owners: @szha, @pllarroy

Review suggestions
  python/mxnet/gluon/nn/basic_layers.py
  src/operator/nn/batch_norm.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_batch_norm.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
Owners: @szha, @pllarroy

Delete fuse_norm_relu flag
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
