Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Add inc to quantization documentation
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Small fix
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Add BERT example with results, review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
  example/quantization_inc/BERT_MRPC/bert.yaml
  example/quantization_inc/BERT_MRPC/details.py
  example/quantization_inc/BERT_MRPC/main.py
Owners: @szha, @pllarroy, @aaronmarkham

Review fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix mxnet installation instruction
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

fix
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

fix2
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

Add results from aws machine (with VNNI instructions)
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

[v1.x] Reduce after quantization memory usage
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

[master] Fix issue with even number of channels in BatchNorm (#20907)
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

Disable new bf16 tests on macos
  .github/workflows/os_x_mklbuild.yml
Owners: @szha, @leezu

quantized elemwise mul changed out type to float
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

add Bartłomiej as committer (#20896)
  CONTRIBUTORS.md
Owners: @apache/mxnet-committers

Fixed issue with batchnorm on even number of channels
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Owners: @pllarroy

Post quantize property improvement
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Review suggestion
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Improve shuffle implementation
  src/operator/random/shuffle_op.cc
Owners: @pllarroy

Enable bf16 concat test
  tests/python/dnnl/test_bf16_operator.py
Owners: @apache/mxnet-committers

Remove unused pass
  src/nnvm/amp_infer_unknown.cc
Owners: @pllarroy

Use actual node entries for mapping
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy

Get rid of compilation warning treated as an error
  src/operator/random/shuffle_op.cc
Owners: @pllarroy

Apply suggestions from code review
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

fix sanity
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

Remove first_quantization_pass FC property
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
Owners: @pllarroy

Sanity fix
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

Fixed issue with batchnorm on even number of channels
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Owners: @pllarroy

Mark InstanceNorm and LeakyRELU as not CUDA Graphs compatible
  src/operator/instance_norm.cu
  src/operator/leaky_relu.cu
Owners: @pllarroy

Ops calling FStatefulCompute* are not CUDA Graphs compatible by default
  src/imperative/cuda_graphs.h
Owners: @pllarroy

Assign attributes of transformer operators (#20902)
  src/operator/subgraph/mkldnn/mkldnn_transformer_property.h
Owners: @pllarroy

Fix clang-tidy
  src/imperative/cuda_graphs.h
Owners: @pllarroy

Add oneDNN support for "where" operator (#20862)
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_where-inl.h
  src/operator/nn/dnnl/dnnl_where.cc
  src/operator/numpy/np_where_forward_op.cc
Owners: @pllarroy

Remove first_quantization_pass FC property (#20908)
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
Owners: @pllarroy

Fix compilation on Windows
  src/operator/random/shuffle_op.cc
Owners: @pllarroy

Change test_np_delete() to stop testing negative and out-of-bounds indexes since the functionality was changed starting in numpy 1.19.0.
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Test updating numpy to latest version.
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

quantized transpose operator (#20817)
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/nn/dnnl/dnnl_transpose.cc
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
  src/operator/quantization/quantized_transpose.cc
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/quantization/test_quantization.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fixed issue with batchnorm on even number of channels (#20927)
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Owners: @pllarroy

[master] 2022.00 MKL' version, update (#20865)
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
