Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

add line in 5423,9080 in multiarray add line in 260 in test_numpy_op
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

No need to source rvm.sh in environment now that we are using a different container.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update license_header.py tool to trigger error when two licenses are found.
  tools/license_header.py
Owners: @szha, @pllarroy

Remove expired CA cert from ubuntu14.04 containers.
  ci/docker/install/ubuntu_publish.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Revert "Change libtiff download URL to http to prevent let's encrypt CA chain issue."
  tools/dependencies/libtiff.sh
Owners: @szha, @pllarroy

Revert "Use http to download libcurl to avoid let's encrypt intermediate CA cert expiration issue."
  tools/dependencies/curl.sh
Owners: @szha, @pllarroy

Back off retry count for windows builds to reduce cost.
  ci/build_windows.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Split test_hybrid_static_memory_switching() into 3 tests in order to isolate failures.
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

Skip mkldnn test, tracking at https://github.com/apache/incubator-mxnet/issues/20643.
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

Fix lint
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

Attempt to fix windows build parameters with MKLDNN builds - do not use debug builds when linking against MKLDNN.
  ci/build_windows.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Revert "Update ca-certificates package on centos7 due to let's encrypt recent issue (see https://blog.devgenius.io/rhel-centos-7-fix-for-lets-encrypt-change-8af2de587fe4)"
  ci/docker/install/centos7_core.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add back change after revert.
  ci/docker/install/centos7_core.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Revert "Fix lint"
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

Revert "Skip mkldnn test, tracking at https://github.com/apache/incubator-mxnet/issues/20643."
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

Revert "Split test_hybrid_static_memory_switching() into 3 tests in order to isolate failures."
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

Revert changing windows build flags.
  ci/build_windows.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[Master] Ignoring mass reformatting commits with git blame (#20578)
  .git-blame-ignore-revs
Owners: @apache/mxnet-committers

[v1.9.x] LICENSE and CI fixes for 1.9 release (#20626)
  LICENSE
  ci/build_windows.py
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
  ci/docker/install/centos7_core.sh
  ci/docker/install/ubuntu_perl.sh
  ci/docker/install/ubuntu_publish.sh
  ci/docker/runtime_functions.sh
  tools/license_header.py
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @szha

Update openssl package in ubuntu_core.sh (used in ubuntu 16.04 images) to avoid bug triggered by let's encrypt expired ca cert.
  ci/docker/install/ubuntu_core.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] LICENSE and CI fixes for 1.9 release (#20626)
  LICENSE
  ci/build_windows.py
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
  ci/docker/install/centos7_core.sh
  ci/docker/install/ubuntu_perl.sh
  ci/docker/install/ubuntu_publish.sh
  ci/docker/runtime_functions.sh
  tools/license_header.py
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @szha

Update openssl package in ubuntu_core.sh (used in ubuntu 16.04 images) to avoid bug triggered by let's encrypt expired ca cert.
  ci/docker/install/ubuntu_core.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix sanity
  src/operator/mshadow_op.h
  src/operator/numpy/np_floor_divide.cc
Owners: @pllarroy

[v2.0.0.beta0] License Fix (#20627)
  LICENSE
  ci/docker/runtime_functions.sh
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham

Update
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Workaround windows GPU build
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Reduce number of parallel docker builds we run at once to 2, since there are multiple jobs (on different branches) running at the same time.
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix lint probs
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

[v1.x]Backport #20626 from v1.9.x branch (#20644)
  LICENSE
  ci/build_windows.py
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_jekyll
  ci/docker/install/centos7_core.sh
  ci/docker/install/ubuntu_core.sh
  ci/docker/install/ubuntu_perl.sh
  ci/docker/install/ubuntu_publish.sh
  ci/docker/runtime_functions.sh
  tools/license_header.py
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @szha

Use -T version=14.28 option in cmake
  CMakeLists.txt
  ci/build_windows.py
Owners: @szha, @pllarroy, @leezu, @marcoabreu, @aaronmarkham

add space
  ci/build_windows.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

change nd -> np in imagenet_gen_qsym_onedenn.py (#20399)
  example/quantization/imagenet_gen_qsym_onednn.py
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy, @aaronmarkham

Update
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

[API Standardization] Add Linalg kernels: (diagonal, outer, tensordot, cross, trace, matrix_transpose) (#20638)
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

change signatures
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Update python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix bug at line578
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

add signatrues
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

[Feature][Master] Clang-format tool to perform additional formatting and semantic checking of code. (#20433)
  .clang-format
  .github/workflows/greetings.yml
  LICENSE
  ci/docker/runtime_functions.sh
  rat-excludes
  tools/git-pre-commit
  tools/license_header.py
  tools/lint/clang_format_ci.sh
  tools/lint/git-clang-format-13
Owners: @apache/mxnet-committers, @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
