Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

update rand_zipfian
  python/mxnet/ndarray/contrib.py
Owners: @szha, @pllarroy

add logaddexp
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/common/cuda/rtc/backward_functions-inl.h
  src/common/cuda/rtc/forward_functions-inl.h
  src/operator/numpy/np_elemwise_broadcast_op_lae.cc
  src/operator/numpy/np_elemwise_broadcast_op_lae.cu
Owners: @szha, @pllarroy

update
  src/operator/mshadow_op.h
Owners: @pllarroy

fix lint
  src/operator/mshadow_op.h
  src/operator/numpy/np_floor_divide.cc
  src/operator/numpy/np_floor_divide.cu
Owners: @pllarroy

fix lint
  src/api/operator/numpy/np_elemwise_broadcast_op.cc
  src/operator/numpy/np_elemwise_broadcast_op_lae.cc
  src/operator/numpy/np_elemwise_broadcast_op_lae.cu
Owners: @pllarroy

update
  python/mxnet/contrib/quantization.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/data/batchify.py
Owners: @szha, @pllarroy

Permlink changes
  docs/static_site/src/pages/community/clang_format_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Disable debug log to avoid duplications (#20665)
  ci/docker/runtime_functions.sh
  tools/lint/clang_format_ci.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

update operator_tune.cc
  src/operator/operator_tune.cc
Owners: @pllarroy

update operator_tune.cc
  src/operator/operator_tune.cc
Owners: @pllarroy

device => cuda_device in util.py
  python/mxnet/util.py
Owners: @szha, @pllarroy

Permlink changes (#20674)
  docs/static_site/src/pages/community/clang_format_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

[CI] UPgrade windows CI
  ci/build_windows.py
  ci/docker/install/requirements
  ci/jenkins/Jenkins_steps.groovy
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] CI fixes (#20648)
  ci/docker/install/ubuntu_binutils.sh
  ci/docker/install/ubuntu_core.sh
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] CI fixes (#20648)
  ci/docker/install/ubuntu_binutils.sh
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

context.gpu_memory_info => device.gpu_memory_info
  docs/python_docs/python/api/device/index.rst
  docs/python_docs/python/api/index.rst
  tests/python/gpu/test_gluon_gpu.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

[CI] UPgrade windows CI
  ci/build_windows.py
  ci/docker/install/requirements
  ci/jenkins/Jenkins_steps.groovy
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Owners: @pllarroy, @marcoabreu, @aaronmarkham

change Optional[bool] to bool
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

[CI] UPgrade windows CI (#20676)
  ci/build_windows.py
  ci/docker/install/requirements
  ci/jenkins/Jenkins_steps.groovy
  ci/windows/test_py3_cpu.ps1
  ci/windows/test_py3_gpu.ps1
Owners: @pllarroy, @marcoabreu, @aaronmarkham

change ""
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

update python
  .github/workflows/os_x_mklbuild.yml
  ci/docker/install/requirements
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

fix docs
  docs/python_docs/python/api/context/index.rst
  docs/python_docs/python/api/index.rst
  docs/python_docs/python/tutorials/deploy/inference/image_classification_jetson.md
  docs/python_docs/python/tutorials/extend/customop.md
  docs/python_docs/python/tutorials/getting-started/crash-course/1-nparray.md
  docs/python_docs/python/tutorials/getting-started/crash-course/2-create-nn.md
  docs/python_docs/python/tutorials/getting-started/crash-course/4-components.md
  docs/python_docs/python/tutorials/getting-started/crash-course/5-datasets.md
  docs/python_docs/python/tutorials/getting-started/crash-course/6-train-nn.md
  docs/python_docs/python/tutorials/getting-started/crash-course/7-use-gpus.md
  docs/python_docs/python/tutorials/getting-started/gluon_from_experiment_to_deployment.md
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
  docs/python_docs/python/tutorials/getting-started/logistic_regression_explained.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/custom-layer.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/nn.md
  docs/python_docs/python/tutorials/packages/gluon/blocks/save_load_params.md
  docs/python_docs/python/tutorials/packages/gluon/data/datasets.md
  docs/python_docs/python/tutorials/packages/gluon/image/info_gan.md
  docs/python_docs/python/tutorials/packages/gluon/image/mnist.md
  docs/python_docs/python/tutorials/packages/gluon/text/gnmt.rst
  docs/python_docs/python/tutorials/packages/gluon/training/fit_api_tutorial.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_finder.md
  docs/python_docs/python/tutorials/packages/gluon/training/learning_rates/learning_rate_schedules.md
  docs/python_docs/python/tutorials/packages/kvstore/kvstore.md
  docs/python_docs/python/tutorials/packages/np/cheat-sheet.md
  docs/python_docs/python/tutorials/packages/np/np-vs-numpy.md
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/packages/onnx/inference_on_onnx_model.md
  docs/python_docs/python/tutorials/performance/backend/amp.md
  docs/python_docs/python/tutorials/performance/backend/profiler.md
  docs/static_site/src/pages/api/developer_guide/profiling.md
  tests/python/unittest/common.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

examples fixes
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix MKL_VERBOSE description
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
Owners: @szha, @pllarroy, @aaronmarkham

Add aliases
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_post_quantize_property.h
Owners: @szha, @pllarroy

replace wait_to_read with print
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
Owners: @szha, @pllarroy, @aaronmarkham

Apply clang format
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/subgraph/dnnl/dnnl_transformer_post_quantize_property.h
Owners: @pllarroy

Remove unnecessary _sg_mkldnn_*
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_post_quantize_property.h
Owners: @szha, @pllarroy

Fix review
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

A clang-format file can be removed from .gitignore (#20664)
  .gitignore
Owners: @apache/mxnet-committers

[2.0] Update Sparse Feature Related Error Message (#20402)
  python/mxnet/gluon/parameter.py
  python/mxnet/ndarray/numpy_extension/_op.py
Owners: @szha, @pllarroy

support in-place
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix lint
  src/imperative/cached_op.cc
Owners: @pllarroy

Simplify comparison
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
Owners: @pllarroy

fix executor
  python/mxnet/executor.py
Owners: @szha, @pllarroy

[Performance] Add oneDNN support for temperature parameter in Softmax (#20567)
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/softmax.cc
Owners: @pllarroy

add tests
  python/mxnet/amp/lists/symbol_fp16.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix python 3.8 ctypes dll load with windows (#19236)
  python/mxnet/base.py
Owners: @szha, @pllarroy

add tests
  docs/python_docs/python/api/np/routines.math.rst
  python/mxnet/numpy_dispatch_protocol.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

fix
  src/operator/mshadow_op.h
Owners: @pllarroy
