Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Add space
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers

Review fixes Change flag type to unsigned int Add a warning for an incorrect flag attribute value
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/gluon/block.py
  src/c_api/c_api_ndarray.cc
  src/common/utils.h
Owners: @pllarroy, @eric-haibin-lin, @szha

Fix linkcheck
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/packages/onnx/inference_on_onnx_model.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix CI on master branch (#21001)
  docs/python_docs/python/tutorials/packages/onnx/fine_tuning_gluon.md
  docs/python_docs/python/tutorials/packages/onnx/inference_on_onnx_model.md
  tests/python/unittest/test_gluon.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

Extend bf16 support
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/bfloat.h
  src/common/utils.h
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/random/sample_op.h
  src/operator/tensor/elemwise_unary_op.h
Owners: @apache/mxnet-committers, @pllarroy

Combine enable_float_output and amp_out_dtype parameters
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Add bf16 support to _dnnl_batch_dot
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_batch_dot.cc
Owners: @pllarroy

Review fixes # rerun CI Change flag type to unsigned int Add a warning for an incorrect flag attribute value
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/gluon/block.py
  src/c_api/c_api_ndarray.cc
  src/common/utils.h
Owners: @pllarroy, @eric-haibin-lin, @szha

update version to 1.9.1
  R-package/DESCRIPTION
  contrib/clojure-package/examples/bert/project.clj
  contrib/clojure-package/examples/captcha/project.clj
  contrib/clojure-package/examples/cnn-text-classification/project.clj
  contrib/clojure-package/examples/gan/project.clj
  contrib/clojure-package/examples/imclassification/project.clj
  contrib/clojure-package/examples/infer/imageclassifier/project.clj
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/predictor/project.clj
  contrib/clojure-package/examples/module/project.clj
  contrib/clojure-package/examples/multi-label/project.clj
  contrib/clojure-package/examples/neural-style/project.clj
  contrib/clojure-package/examples/pre-trained-models/project.clj
  contrib/clojure-package/examples/profiler/project.clj
  contrib/clojure-package/examples/rnn/project.clj
  contrib/clojure-package/examples/tutorial/project.clj
  contrib/clojure-package/examples/visualization/project.clj
  contrib/clojure-package/project.clj
  docs/static_site/src/pages/api/scala/docs/tutorials/mxnet_scala_on_intellij.md
  example/extensions/lib_api/init_lib.cc
  example/extensions/lib_custom_op/gemm_lib.cc
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/transposecsr_lib.cc
  example/extensions/lib_custom_op/transposerowsp_lib.cc
  example/extensions/lib_pass/pass_lib.cc
  example/extensions/lib_subgraph/subgraph_lib.cc
  include/mxnet/base.h
  python/mxnet/libinfo.py
  scala-package/README.md
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/java-demo/pom.xml
  scala-package/mxnet-demo/scala-demo/pom.xml
  scala-package/pom.xml
  snapcraft.yaml
Owners: @thirdwing, @gigasquid, @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @yzhliu, @nswamy, @apache/mxnet-committers

revert changes in example/extensions
  example/extensions/lib_api/init_lib.cc
  example/extensions/lib_custom_op/gemm_lib.cc
  example/extensions/lib_custom_op/relu_lib.cu
  example/extensions/lib_custom_op/transposecsr_lib.cc
  example/extensions/lib_custom_op/transposerowsp_lib.cc
  example/extensions/lib_pass/pass_lib.cc
  example/extensions/lib_subgraph/subgraph_lib.cc
Owners: @szha, @pllarroy, @aaronmarkham

Fix sanity
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/bfloat.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
Owners: @apache/mxnet-committers, @pllarroy

Add message to static_assert
  src/common/utils.h
Owners: @pllarroy

Cast flag attribute value to int before using
  python/mxnet/amp/amp.py
Owners: @szha, @pllarroy

Test amp node excluding, change names of tests
  tests/python/amp/common.py
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
Owners: @apache/mxnet-committers

[submodule] Upgrade oneDNN to v2.6 (#20982)
  src/operator/nn/dnnl/dnnl_convolution.cc
  tests/cpp/operator/dnnl_test.cc
  tools/dependencies/README.md
Owners: @pllarroy, @apache/mxnet-committers, @szha

scala readme version update
  scala-package/README.md
Owners: @yzhliu, @nswamy, @pllarroy

[1.9.x] Update version for 1.9.1 release (#21003)
  R-package/DESCRIPTION
  contrib/clojure-package/examples/bert/project.clj
  contrib/clojure-package/examples/captcha/project.clj
  contrib/clojure-package/examples/cnn-text-classification/project.clj
  contrib/clojure-package/examples/gan/project.clj
  contrib/clojure-package/examples/imclassification/project.clj
  contrib/clojure-package/examples/infer/imageclassifier/project.clj
  contrib/clojure-package/examples/infer/objectdetector/project.clj
  contrib/clojure-package/examples/infer/predictor/project.clj
  contrib/clojure-package/examples/module/project.clj
  contrib/clojure-package/examples/multi-label/project.clj
  contrib/clojure-package/examples/neural-style/project.clj
  contrib/clojure-package/examples/pre-trained-models/project.clj
  contrib/clojure-package/examples/profiler/project.clj
  contrib/clojure-package/examples/rnn/project.clj
  contrib/clojure-package/examples/tutorial/project.clj
  contrib/clojure-package/examples/visualization/project.clj
  contrib/clojure-package/project.clj
  docs/static_site/src/pages/api/scala/docs/tutorials/mxnet_scala_on_intellij.md
  include/mxnet/base.h
  python/mxnet/libinfo.py
  scala-package/README.md
  scala-package/mxnet-demo/java-demo/README.md
  scala-package/mxnet-demo/java-demo/pom.xml
  scala-package/mxnet-demo/scala-demo/pom.xml
  scala-package/pom.xml
  snapcraft.yaml
Owners: @thirdwing, @gigasquid, @szha, @pllarroy, @aaronmarkham, @eric-haibin-lin, @yzhliu, @nswamy, @apache/mxnet-committers

Fix static_cast type
  src/imperative/imperative.cc
Owners: @pllarroy

Fix sanity
  src/imperative/imperative.cc
Owners: @pllarroy

Fix include files, declaration, SupportDNNL function and OPCHECK macros
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_power_scalar-inl.h
  src/operator/nn/dnnl/dnnl_power_scalar.cc
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Owners: @pllarroy

Support only fp32
  src/operator/nn/dnnl/dnnl_power_scalar.cc
Owners: @pllarroy

Move DNNLPowerForward function to dnnl file
  src/operator/nn/dnnl/dnnl_power-inl.h
  src/operator/nn/dnnl/dnnl_power.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Owners: @pllarroy

Integrate oneDNN support for power() operator from MXNet NumPy and NDArray modules
  src/operator/nn/dnnl/dnnl_power-inl.h
  src/operator/nn/dnnl/dnnl_power.cc
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cc
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Owners: @pllarroy

Fix test_bf16_binary_broadcast_elemwise_mixed_input
  tests/python/dnnl/test_bf16_operator.py
Owners: @apache/mxnet-committers

Fix bitwise_right_shift with uint input
  src/operator/mshadow_op.h
Owners: @pllarroy

[FEATURE] Integrate oneDNN support for scalar power() operator (#20904)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_power_scalar-inl.h
  src/operator/nn/dnnl/dnnl_power_scalar.cc
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cc
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Owners: @pllarroy

[BUGFIX] Fix and cleanup _contrib_quantized_elemwise_add (#20999)
  src/operator/operator_common.h
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_add-inl.h
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

fix transformer optimization for gpt-2
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

[master] Unified oneDNN implementation calls for quantized operators (#20987)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/quantization/dnnl/dnnl_quantize-inl.h
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

Fix bitwise_right_shift with uint input (#20974)
  src/operator/mshadow_op.h
Owners: @pllarroy

Fix medium blog integration.
  docs/static_site/Makefile
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_blog.scss
  docs/static_site/src/pages/blog.html
Owners: @szha, @pllarroy, @aaronmarkham

Add bf16 support to all dnnl ops, add tests
  include/mxnet/imperative.h
  python/mxnet/amp/lists/symbol_bf16.py
  src/imperative/imperative.cc
  src/nnvm/low_precision_pass.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  tests/python/dnnl/op_cfg.py
  tests/python/dnnl/test_amp.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Add license
  tests/python/dnnl/op_cfg.py
Owners: @apache/mxnet-committers

Fix medium blog integration. (#21009)
  docs/static_site/Makefile
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_blog.scss
  docs/static_site/src/pages/blog.html
Owners: @szha, @pllarroy, @aaronmarkham

Fix some typos.
  cd/Jenkinsfile_utils.groovy
  ci/build.py
  cpp-package/example/inference/multi_threaded_inference/multi_threaded_inference.cc
  example/gluon/mnist/mnist.py
  include/mxnet/c_api.h
  include/mxnet/operator_util.h
  licenses/LICENSE.onednn.txt
  tests/nightly/test_large_array.py
  tests/nightly/test_large_vector.py
  tests/python/unittest/test_random.py
  tools/diagnose.py
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham, @nswamy, @eric-haibin-lin, @apache/mxnet-committers

Fix some typos in docs/ and 3rdparty/.
  3rdparty/ctc_include/contrib/moderngpu/include/device/ctasegreduce.cuh
  3rdparty/ctc_include/detail/gpu_ctc_kernels.h
  3rdparty/mshadow/.travis.yml
  3rdparty/mshadow/guide/config.mk
  3rdparty/mshadow/guide/mshadow-ps/README.md
  3rdparty/mshadow/guide/mshadow-ps/config.mk
  3rdparty/mshadow/guide/neuralnet/config.mk
  3rdparty/mshadow/mshadow-ps/ps_local-inl.h
  3rdparty/mshadow/mshadow/cuda/tensor_gpu-inl.cuh
  3rdparty/mshadow/mshadow/extension/spatial_pool.h
  3rdparty/mshadow/mshadow/stream_gpu-inl.h
  3rdparty/mshadow/mshadow/tensor.h
  docs/python_docs/python/tutorials/getting-started/crash-course/5-datasets.md
  docs/python_docs/python/tutorials/getting-started/crash-course/7-use-gpus.md
  docs/python_docs/python/tutorials/getting-started/to-mxnet/pytorch.md
  docs/python_docs/python/tutorials/packages/gluon/data/datasets.md
  docs/static_site/src/pages/api/architecture/exception_handling.md
  docs/static_site/src/pages/api/faq/env_var.md
  docs/static_site/src/pages/api/faq/new_op.md
  docs/static_site/src/pages/api/faq/tensor_inspector_tutorial.md
Owners: @apache/mxnet-committers, @szha, @pllarroy, @aaronmarkham

Fix some typos in src/.
  src/c_api/c_api_common.h
  src/c_api/c_api_symbolic.cc
  src/common/cuda/utils.h
  src/common/exec_utils.h
  src/common/tensor_inspector.h
  src/io/image_iter_common.h
  src/io/iter_image_det_recordio.cc
  src/operator/contrib/count_sketch.cu
  src/operator/contrib/fft-inl.h
  src/operator/contrib/index_copy-inl.h
  src/operator/contrib/roi_align.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/concat-inl.h
  src/operator/nn/dnnl/dnnl_rnn-inl.h
  src/operator/nn/dnnl/dnnl_rnn.cc
  src/operator/nn/dnnl/dnnl_softmax_output.cc
  src/operator/numpy/np_einsum_op.cu
  src/operator/numpy/np_einsum_path_op-inl.h
  src/operator/numpy/np_trace_op.cc
  src/operator/quantization/quantized_rnn.cc
  src/operator/random/unique_sample_op.cc
  src/operator/regression_output-inl.h
  src/operator/regression_output.cc
  src/operator/regression_output.cu
  src/operator/tensor/broadcast_reduce_op_index.cc
  src/operator/tensor/broadcast_reduce_op_value.cc
  src/operator/tensor/matrix_op-inl.h
  src/runtime/c_runtime_api.cc
  src/runtime/registry.cc
Owners: @pllarroy

Fix some typos in python/.
  python/mxnet/contrib/quantization.py
  python/mxnet/error.py
  python/mxnet/gluon/contrib/data/vision/dataloader.py
  python/mxnet/image/detection.py
  python/mxnet/image/image.py
  python/mxnet/io/io.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/numpy_extension/_op.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset12.py
  python/mxnet/test_utils.py
Owners: @szha, @pllarroy

[v1.9.x] Update website footer to include required Apache links (#20993)
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_sass/minima/_layout.scss
Owners: @szha, @pllarroy, @aaronmarkham

[v1.9.x] Fix css for Apache links, add to Python docs. (#20995)
  ci/jenkins/Jenkins_steps.groovy
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/src/scss/footer/_footer.scss
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha
