Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

restore but seg fault
  include/mxnet/op_attr_types.h
  python/mxnet/io/io.py
  python/mxnet/io/utils.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

fix sanity
  python/mxnet/io/utils.py
  src/operator/nn/mkldnn/mkldnn_rnn-inl.h
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
Owners: @szha, @pllarroy

apply formatter
  src/operator/quantization/mkldnn/mkldnn_quantize_asym-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
Owners: @pllarroy

Refactor & seg fault fixed
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
Owners: @pllarroy

fix slice_axis
  python/mxnet/gluon/nn/conv_layers.py
Owners: @szha, @pllarroy

Fix docs build
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @aaronmarkham

review fixes
  src/operator/subgraph/dnnl/dnnl_identity_property.h
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Add new line at EOF
  src/operator/subgraph/dnnl/dnnl_identity_property.h
Owners: @pllarroy

Remove identity operators from inference graph
  src/operator/subgraph/dnnl/dnnl_identity_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_base-inl.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

remove commented fragment
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
Owners: @apache/mxnet-committers

Small refactor & review
  src/operator/subgraph/dnnl/dnnl_identity_property.h
Owners: @pllarroy

Avoid redundant memcpy when reorder not in-place
  src/ndarray/ndarray.cc
Owners: @pllarroy

[2.0] Fix devices issues (#20732)
  python/mxnet/context.py
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[API] Add new dlpack API (#20546)
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
  include/mxnet/c_api.h
  include/mxnet/ndarray.h
  python/mxnet/dlpack.py
  python/mxnet/numpy/multiarray.py
  src/c_api/c_api.cc
  src/ndarray/ndarray.cc
  tests/python/array-api/test_data_interchange.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @eric-haibin-lin, @szha, @apache/mxnet-committers

RAdam optimizer implementation
  python/mxnet/optimizer/radam.py
  tests/python/unittest/test_optimizer.py
Owners: @eric-haibin-lin, @apache/mxnet-committers

Move python functions
  python/mxnet/base.py
  python/mxnet/runtime.py
Owners: @szha, @pllarroy

Switch between old and new system in diagnose.py
  tools/diagnose.py
Owners: @szha, @pllarroy

Fix clang-format in mshadow
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/tensor.h
Owners: @apache/mxnet-committers

Print layout name instead of a number
  src/operator/cudnn_ops.cc
Owners: @pllarroy

Fix clang-format
  include/mxnet/c_api.h
  src/c_api/c_api.cc
  src/common/alm.cc
  src/common/alm.h
  src/operator/elemwise_op_common.h
  src/operator/leaky_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/pooling.cc
  src/operator/tensor/amp_cast.cc
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy, @eric-haibin-lin

Automatic Layout Management
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/tensor.h
  include/mxnet/c_api.h
  python/mxnet/amp/amp.py
  src/c_api/c_api.cc
  src/common/alm.cc
  src/common/alm.h
  src/imperative/cached_op.h
  src/operator/elemwise_op_common.h
  src/operator/leaky_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/convolution.cc
  src/operator/nn/deconvolution.cc
  src/operator/nn/pooling.cc
  src/operator/operator_common.h
  src/operator/tensor/amp_cast.cc
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/matrix_op.cc
Owners: @apache/mxnet-committers, @pllarroy, @eric-haibin-lin, @szha

Generalize NHWC target layout to other dimensions
  src/c_api/c_api.cc
  src/common/alm.cc
  src/common/alm.h
  src/imperative/cached_op.h
Owners: @pllarroy

Change layout optimization API
  include/mxnet/c_api.h
  python/mxnet/amp/amp.py
  src/c_api/c_api.cc
  src/common/alm.h
Owners: @pllarroy, @eric-haibin-lin, @szha

Add NWC layout to ConvolutionParams
  src/operator/nn/convolution-inl.h
Owners: @pllarroy

Generalize tests to 1..3 spatial dims
  tests/python/gpu/test_amp_init.py
Owners: @apache/mxnet-committers

Add layout optimization tests
  tests/python/gpu/test_amp_init.py
Owners: @apache/mxnet-committers

Add backward check to tests
  tests/python/gpu/test_amp_init.py
Owners: @apache/mxnet-committers

Fix sanity CI
  python/mxnet/context.py
Owners: @szha, @pllarroy

fix bug
  python/mxnet/context.py
Owners: @szha, @pllarroy

Enable layout optimization tests only with cuDNN
  tests/python/gpu/test_amp_init.py
Owners: @apache/mxnet-committers

remove duplicated __dlpack__ from multiarray.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

remove duplicated __dlpack__ from multiarray.py
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

add lines in multiarray.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

chmod 755 -> 644
  python/mxnet/numpy_op_fallback.py
Owners: @szha, @pllarroy

anko review
  include/mxnet/op_attr_types.h
  src/operator/quantization/quantize_graph_pass.cc
Owners: @pllarroy, @eric-haibin-lin

Remove copyright by contributors from touched files
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
Owners: @pllarroy

update keys on master branch
  KEYS
Owners: @apache/mxnet-committers

update keys on v1.x branch
  KEYS
Owners: @apache/mxnet-committers

Fix sanity CI (#20763)
  python/mxnet/context.py
Owners: @szha, @pllarroy

remove KEYS
  KEYS
Owners: @apache/mxnet-committers
