Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

update protobuf tag
  ci/docker/install/tensorrt.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update protobuf tag (#21186)
  ci/docker/install/tensorrt.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Don't explicitly release CUDA resources at main Python process exit (#21182)
  src/engine/naive_engine.cc
  src/engine/stream_manager.h
  src/engine/threaded_engine.h
  src/engine/threaded_engine_perdevice.cc
  src/engine/threaded_engine_pooled.cc
Owners: @pllarroy

fix PDL type mismatch
  perl-package/AI-MXNet/lib/AI/MXNet/Base.pm
Owners: @sergeykolychev

Add 'asbytes' method to ndarray
  python/mxnet/ndarray/ndarray.py
Owners: @szha, @pllarroy

Add bytes conversion to NDArray
  python/mxnet/ndarray/ndarray.py
Owners: @szha, @pllarroy

Edit description
  python/mxnet/ndarray/ndarray.py
Owners: @szha, @pllarroy

Add bytes conversion to NDArray
  python/mxnet/ndarray/ndarray.py
Owners: @szha, @pllarroy

Add bytes conversion to NDArray
  python/mxnet/ndarray/ndarray.py
Owners: @szha, @pllarroy

[BUGFIX] Modify the logger to avoid files occupying a long time
  python/mxnet/log.py
Owners: @szha, @pllarroy

add acl support
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
  ci/docker/install/centos7_acl.sh
  config/distribution/linux_aarch64_cpu.cmake
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

copy openblas binary
  tools/staticbuild/build_lib_cmake.sh
Owners: @szha, @pllarroy

package lib arm compute in wheel
  tools/pip/setup.py
  tools/staticbuild/build_lib_cmake.sh
Owners: @szha, @pllarroy

Adding multiboxPrior test based on equivalent in deepjavalibrary/dlj
  tests/cpp/operator/contrib/multibox_prior_test.cc
Owners: @apache/mxnet-committers

Adding multiboxPrior test based on equivalent in deepjavalibrary/dlj
  tests/cpp/operator/contrib/multibox_prior_test.cc
Owners: @apache/mxnet-committers

[Feedback] Add Apache header
  tests/cpp/operator/contrib/multibox_prior_test.cc
Owners: @apache/mxnet-committers

[feedback] ClangFormat
  tests/cpp/operator/contrib/multibox_prior_test.cc
Owners: @apache/mxnet-committers

[feedback] Lint fixes
  tests/cpp/operator/contrib/multibox_prior_test.cc
Owners: @apache/mxnet-committers

[feedback] Lint fixes
  tests/cpp/operator/contrib/multibox_prior_test.cc
Owners: @apache/mxnet-committers

Remove type `onp.bool`.
  python/mxnet/numpy/utils.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

MXNet has graduated
  doap.rdf
Owners: @apache/mxnet-committers

Update cuda versions and remove deprecated versions.
  ci/docker/docker-compose.yml
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Additional updates
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
  cd/utils/mxnet_base_image.sh
  ci/docker/runtime_functions.sh
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham

Disable jetson builds.
  ci/jenkins/Jenkinsfile_edge
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove edge build, update cuda version to build and test with.
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add config file for cuda 11.8
  config/distribution/linux_cu118.cmake
Owners: @apache/mxnet-committers

Remove jetson image
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Only run github actions on master branch.
  .github/workflows/license_check.yml
  .github/workflows/link_check.yml
  .github/workflows/os_x_mklbuild.yml
  .github/workflows/os_x_staticbuild.yml
Owners: @szha, @leezu

Trailing space
  doap.rdf
Owners: @apache/mxnet-committers

Barrier for Horovod KV Store API
  python/mxnet/kvstore/horovod.py
Owners: @szha, @pllarroy

Update requirements
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

utils.py - bool = bool
  python/mxnet/numpy/utils.py
Owners: @szha, @pllarroy

Fix AttributeError: module 'numpy' has no attribute 'bool'. (#21165)
  docs/python_docs/python/tutorials/packages/np/cheat-sheet.md
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/numpy/utils.py
  python/mxnet/symbol/numpy/_symbol.py
  python/mxnet/test_utils.py
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
  tests/python/gpu/test_fusion.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers
