Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

add quantized transpose test
  src/operator/quantization/quantized_transpose.cc
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

add quantized transpose
  src/operator/nn/dnnl/dnnl_transpose.cc
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

add license to new files
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

separate transpose ops
  src/operator/numpy/np_matrix_op-inl.h
  src/operator/numpy/np_matrix_op.cc
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

fix inplace quantized transpose
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

add quantized transpose test
  src/operator/quantization/quantized_transpose.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

review fix
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

fix formatting
  src/operator/numpy/np_matrix_op-inl.h
Owners: @pllarroy

add macro operator creation
  src/operator/quantization/quantized_transpose.cc
Owners: @pllarroy

Adapt test_gluon_gpu.py::test_cuda_graphs for gluon2.0
  tests/python/gpu/test_gluon_gpu.py
Owners: @apache/mxnet-committers

Create CUDA Graph 'dot' files if MXNET_CUDA_GRAPHS_DBG_FILE=<file_prefix>
  docs/static_site/src/pages/api/faq/env_var.md
  src/imperative/cuda_graphs.h
Owners: @szha, @pllarroy, @aaronmarkham

Fix clang-tidy
  src/imperative/cuda_graphs.h
Owners: @pllarroy

Fix more clang-tidy
  src/imperative/cuda_graphs.h
Owners: @pllarroy

Port #20903 from master
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @aaronmarkham

Port #20903 from master. (#20918)
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @aaronmarkham

Port #20903 from master. (#20918)
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @aaronmarkham

Remove cleanup on side threads (#19378) (#20916)
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Review suggestion
  src/operator/subgraph/dnnl/dnnl_conv.cc
Owners: @pllarroy

Dimension type fix
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Port #20903 from master. (#20918) (#20920)
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @aaronmarkham

[BUGFIX] Fix reuse of primitives for MKLDNN-AArch64. Fixes #20265. (#20482)
  CMakeLists.txt
  CONTRIBUTORS.md
  src/operator/operator_common.h
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

Remove cleanup on side threads (#19378)
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Remove cleanup on side threads (#19378) (#20917)
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Skip test_np_standard_binary_funcs test of 0-dim array broadcast
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Improve test_rnn_layers_fp{16,32} invocation
  tests/python/unittest/test_gluon_rnn.py
Owners: @apache/mxnet-committers

Run test_rnn_layers_fp32 only when cuDNN is present
  tests/python/unittest/test_gluon_rnn.py
Owners: @apache/mxnet-committers

Fix potential out-of-bounds write in count_sketch.cu
  src/operator/contrib/count_sketch.cu
Owners: @pllarroy

Port BRGEMM
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
Owners: @szha, @pllarroy, @aaronmarkham

fix sanity
  src/operator/nn/dnnl/dnnl_where-inl.h
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

apply review
  src/operator/nn/dnnl/dnnl_where-inl.h
  src/operator/nn/dnnl/dnnl_where.cc
  src/operator/numpy/np_where_forward_op.cc
Owners: @pllarroy

Remove unused variable
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

Fix get_broadcastable_shape function
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

Apply review
  src/operator/nn/dnnl/dnnl_where-inl.h
  src/operator/nn/dnnl/dnnl_where.cc
Owners: @pllarroy

Where operator enabled in oneDNN
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/nn/dnnl/dnnl_where-inl.h
  src/operator/nn/dnnl/dnnl_where.cc
  src/operator/numpy/np_where_forward_op.cc
Owners: @pllarroy

Fix bug & refactor
  src/operator/nn/dnnl/dnnl_where.cc
  src/operator/numpy/np_where_forward_op.cc
Owners: @pllarroy

remove relative includes
  src/operator/quantization/dnnl/dnnl_quantized_transpose.cc
Owners: @pllarroy

[master] Implemented oneDNN Backward Adaptive Pooling kernel (#20825)
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/dnnl/dnnl_quantized_pooling.cc
  tests/python/dnnl/test_dnnl.py
Owners: @pllarroy, @apache/mxnet-committers

[BUGFIX] Fix reuse of primitives for MKLDNN-AArch64. Fixes #20265. (#20482) (#20921)
  CMakeLists.txt
  CONTRIBUTORS.md
  src/operator/operator_common.h
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

Add temp output to debug centos crash
  tests/python/gpu/test_gluon_gpu.py
Owners: @apache/mxnet-committers

Minor fixes
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
Owners: @szha, @pllarroy, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
