Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Improve FC + add fusing (#20915)
  src/operator/nn/mkldnn/mkldnn_fully_connected-inl.h
  src/operator/subgraph/mkldnn/mkldnn_fc_property.h
  src/operator/subgraph/mkldnn/mkldnn_fc_sum_fuse.h
Owners: @pllarroy

Pin numpy==1.19.1 to demonstrate issues
  ci/docker/install/centos7_python.sh
  ci/docker/install/requirements
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/travis/install.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update close libs to not modify map while iterating over opened libraries, rename loaded_libs to loaded_libs_ to signify it is a private member.
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

Clean up and simplify library close code.
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

Fix clang-format.
  src/initialize.cc
Owners: @pllarroy

Relax min numpy version
  ci/docker/install/centos7_python.sh
  ci/docker/install/requirements
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/travis/install.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Make test_np_array_function_protocol delete() testing work with numpy>=1.19
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

Fix test_np_delete to also work with numpy>=1.19
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Pip install python module 'packaging'
  ci/docker/install/requirements
  ci/docker/install/requirements_aarch64
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[BUGFIX] Type fix for large tensors (#20922)
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Fixed issue with batchnorm on even number of channels (#20895)
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
Owners: @pllarroy

Avoid modifying loaded library map while iterating in lib_close() (#20941)
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

Avoid modifying loaded library map while iterating in lib_close() (#20941)
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

Avoid modifying loaded library map while iterating in lib_close() (#20941)
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

More pip-install 'packaging'
  ci/docker/install/centos7_python.sh
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/travis/install.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update windows requirements.txt
  tests/requirements.txt
Owners: @apache/mxnet-committers

[FEATURE] Add g5 instance to CI (#20876)
  ci/Jenkinsfile_utils.groovy
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_gpu
  python/mxnet/test_utils.py
  src/operator/contrib/count_sketch.cu
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/test_gluon_rnn.py
  tests/python/unittest/test_numpy_op.py
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha, @apache/mxnet-committers

[v1.9.x] Port #20889 from v1.x (#20923)
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
  example/quantization_inc/BERT_MRPC/bert.yaml
  example/quantization_inc/BERT_MRPC/details.py
  example/quantization_inc/BERT_MRPC/main.py
Owners: @szha, @pllarroy, @aaronmarkham

Allow numpy as advanced as 1.19.5
  ci/docker/install/centos7_python.sh
  ci/docker/install/requirements
  ci/docker/install/requirements_aarch64
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/travis/install.sh
  tests/python/unittest/test_numpy_op.py
  tests/requirements.txt
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[operator] Integrate oneDNN matmul primitive to mxnet dot operator
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_dot-inl.h
  src/operator/nn/dnnl/dnnl_dot.cc
  src/operator/nn/dnnl/dnnl_ops-inl.h
  src/operator/numpy/np_dot_forward.cc
  src/operator/tensor/dot-inl.h
  src/operator/tensor/dot.cc
Owners: @pllarroy

Remove extra ops from bf16 amp lists
  python/mxnet/amp/amp.py
  python/mxnet/amp/lists/symbol_bf16.py
  src/nnvm/low_precision_pass.cc
Owners: @szha, @pllarroy

Avoid modifying loaded library map while iterating in lib_close() (#20941) (#20943)
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

Avoid modifying loaded library map while iterating in lib_close() (#20941) (#20944)
  src/initialize.cc
  src/initialize.h
Owners: @pllarroy

Review fixes + comments and cleanup
  include/mxnet/c_api.h
  python/mxnet/amp/amp.py
  src/nnvm/low_precision_pass.cc
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Revert "Add temp output to debug centos crash"
  tests/python/gpu/test_gluon_gpu.py
Owners: @apache/mxnet-committers

Quiet 'unused variable' compilation warning
  src/imperative/cuda_graphs.h
Owners: @pllarroy

[v1.x] Reduce after quantization memory usage (#20925)
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

quantized elemwise mul changed out type to float (#20926)
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

Rename SetMKLMem func to SetDNNLMem to avoid confusion
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
Owners: @pllarroy, @eric-haibin-lin

[master] Add support for up 12 dims for oneDNN tensors in MXNet
  src/ndarray/ndarray.cc
  src/operator/nn/dnnl/dnnl_base.cc
Owners: @pllarroy

move GNUInstallDirs
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

port #20926 to master
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

port #20926 to v1.x
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

Fix numpy dot test
  src/operator/nn/dnnl/dnnl_dot.cc
Owners: @pllarroy

[v1.9.x] [BUGFIX] Upgrade numpy to <1.20.0 to avoid security vulnerabilities affecting numpy<1.19.1 (#20940)
  ci/docker/install/centos7_python.sh
  ci/docker/install/requirements
  ci/docker/install/requirements_aarch64
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/travis/install.sh
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
  tests/requirements.txt
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Review fixes
  include/mxnet/c_api.h
  python/mxnet/amp/amp.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy, @eric-haibin-lin, @szha

[v1.9.x] [BUGFIX] Upgrade numpy to <1.20.0 to avoid security vulnerabilities affecting numpy<1.19.1 (#20940)
  ci/docker/install/centos7_python.sh
  ci/docker/install/requirements
  ci/docker/install/requirements_aarch64
  ci/docker/install/ubuntu_onnx.sh
  ci/docker/install/ubuntu_publish.sh
  ci/travis/install.sh
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
  tests/requirements.txt
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Stop skipping tests mentioned in issue 18600
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Reenable test_np_random_chisquare also
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

[v1.9.x] [BUGFIX] Upgrade numpy to <1.20.0 to avoid security vulnerabilities affecting numpy<1.19.1 (#20940)
  ci/docker/install/requirements
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers
