Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Port to 2.0, add convolution fuse support
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/tensor/amp_cast.h
Owners: @pllarroy

Correct handling amp_cast nodes from the original graph
  src/nnvm/low_precision_pass.cc
  tests/python/dnnl/test_amp.py
Owners: @pllarroy, @apache/mxnet-committers

for review
  python/mxnet/amp/amp.py
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/register.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/mkl/subgraphs/test_amp_subgraph.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Handle mutable inputs for widest_dtype nodes
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy

Add amp_cast fuse
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

Map dtype to name in a switch
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy

Fix amp_out_dtype description
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
Owners: @pllarroy

Fix sanity
  src/nnvm/low_precision_pass.cc
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  tests/python/dnnl/test_amp.py
Owners: @pllarroy, @apache/mxnet-committers

Fix importing of bf16 parameters, minor fixes
  python/mxnet/amp/amp.py
  src/nnvm/low_precision_pass.cc
  src/serialization/cnpy.cc
Owners: @szha, @pllarroy

Add license
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @apache/mxnet-committers

Refactor
  src/nnvm/low_precision_pass.cc
  src/operator/sequence_mask-inl.h
Owners: @pllarroy

Fix InferType functions
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
  src/operator/nn/dropout.cc
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/tensor/amp_cast.h
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

Fix tests
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @apache/mxnet-committers

Simplify AMP python code, unify dtype operations
  python/mxnet/amp/amp.py
  python/mxnet/executor.py
  python/mxnet/gluon/parameter.py
  python/mxnet/ndarray/__init__.py
  python/mxnet/ndarray/ndarray.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/operator.py
  python/mxnet/rtc.py
  python/mxnet/symbol/symbol.py
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/dnnl/test_bf16_operator.py
  tests/python/unittest/test_ndarray.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

WIP compiled
  include/mxnet/c_api.h
  python/mxnet/amp/amp.py
  python/mxnet/gluon/block.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy, @eric-haibin-lin, @szha

Intel Neural Compressor quantization tutorial (#20889)
  docs/python_docs/python/tutorials/performance/backend/mkldnn/mkldnn_quantization.md
  example/quantization_inc/BERT_MRPC/bert.yaml
  example/quantization_inc/BERT_MRPC/details.py
  example/quantization_inc/BERT_MRPC/main.py
Owners: @szha, @pllarroy, @aaronmarkham

Fix issues
  include/mxnet/c_api.h
  python/mxnet/amp/amp.py
  src/c_api/c_api_symbolic.cc
  src/nnvm/low_precision_pass.cc
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Add convolution to amp_cast fuse op list
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
Owners: @pllarroy

Revert "Temporarily add '-s' to pytest cpu tests"
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Improve test_rnn_layers_fp{16,32} invocation
  tests/python/unittest/test_gluon_rnn.py
Owners: @apache/mxnet-committers

Pin MarkupSafe==2.0.1 to avoid soft_unicode import failure
  docs/python_docs/requirements
Owners: @szha, @pllarroy, @aaronmarkham

Reduce after quantization memory usage (#20894)
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

fix python docs ci
  docs/python_docs/requirements
Owners: @szha, @pllarroy, @aaronmarkham

Run test_rnn_layers_fp32 only when cuDNN is present
  tests/python/unittest/test_gluon_rnn.py
Owners: @apache/mxnet-committers

Fix potential out-of-bounds write in count_sketch.cu
  src/operator/contrib/count_sketch.cu
Owners: @pllarroy

Changed PoolingParamParser to template, so it works for standard and adaptive pooling
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/quantized_pooling.cc
Owners: @pllarroy

Fixed issue with batchnorm on even number of channels
  src/operator/contrib/batch_norm_relu.cc
  src/operator/nn/batch_norm.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

Formatted last commit
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

Fix tests
  python/mxnet/amp/amp.py
  python/mxnet/amp/lists/symbol_bf16.py
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Assign attributes of transformer operators
  src/operator/subgraph/mkldnn/mkldnn_transformer_property.h
Owners: @pllarroy

Undo infertype changes in unrelated ops
  src/operator/nn/dropout.cc
  src/operator/sequence_mask-inl.h
Owners: @pllarroy

Fix sanity
  src/nnvm/low_precision_pass.cc
Owners: @pllarroy

Update requirements
  docs/python_docs/requirements
Owners: @szha, @pllarroy, @aaronmarkham

fix python docs ci (#20903)
  docs/python_docs/requirements
Owners: @szha, @pllarroy, @aaronmarkham

Revert "Pin MarkupSafe==2.0.1 to avoid soft_unicode import failure"
  docs/python_docs/requirements
Owners: @szha, @pllarroy, @aaronmarkham

add reduce operation
  src/operator/contrib/nn/reduce_op.cc
Owners: @pllarroy

add reduce operation
  include/mxnet/c_api.h
Owners: @pllarroy, @eric-haibin-lin

add reduce operation
  src/operator/contrib/nn/reduce_op-inl.h
Owners: @pllarroy

pass way
  example/extensions/lib_pass/pass_lib.cc
  example/extensions/lib_pass/test_pass.py
Owners: @szha, @pllarroy, @aaronmarkham

add reduce operation
  src/operator/contrib/nn/reduce_op.cu
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
