Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

[FEATURE] Add property removing duplicate Cast operations (#21020)
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

prepare output for sum
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

make minmax enum anonymous
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

cleanup
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

fix sanity
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

check initialization conditions
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Reorder functions
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Enable BRGEMM
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

create output mem desc
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

FC weight and bias caching
  src/operator/operator_common.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
Owners: @pllarroy

node identificator & env flag
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
Owners: @pllarroy

remove unused variables
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

fix sanity
  src/operator/operator_common.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

PrepareQuantization
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

fix sanity
  src/operator/mshadow_op.h
Owners: @pllarroy

Add gelu tanh activation
  python/mxnet/gluon/nn/activations.py
  src/api/operator/numpy_extension/npx_leaky_relu_op.cc
  src/operator/leaky_relu-inl.h
  src/operator/leaky_relu.cc
  src/operator/mshadow_op.h
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/operator_tune.cc
  src/operator/subgraph/dnnl/dnnl_conv_property.h
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix test_fc_subgraph.py::test_fc_eltwise[exp-True-True
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

Fix test_bf16_binary_broadcast_elemwise_mixed_input (#20986)
  tests/python/dnnl/test_bf16_operator.py
Owners: @apache/mxnet-committers

Diversify default RNG seed (#21058)
  src/resource.cc
Owners: @pllarroy

Fix review
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
Owners: @apache/mxnet-committers

change tolerance
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

apply review
  python/mxnet/gluon/nn/activations.py
  src/operator/leaky_relu.cc
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[FEATURE] Refactor SwapAxis operator. (#21024)
  src/operator/swapaxis-inl.h
  src/operator/swapaxis.cc
  src/operator/swapaxis.cu
Owners: @pllarroy

Update src/operator/nn/dnnl/dnnl_softmax_output.cc
  src/operator/nn/dnnl/dnnl_softmax_output.cc
Owners: @pllarroy

Update src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/nn/dnnl/dnnl_reduce.cc
Owners: @pllarroy

[FEATURE] Add quantization for npi_add with oneDNN (#21041)
  benchmark/python/dnnl/fc_add.py
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_add-inl.h
  src/operator/quantization/quantized_elemwise_add.cc
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/quantization/test_quantization.py
Owners: @apache/mxnet-committers, @pllarroy

Corrected some typos
  docs/python_docs/python/tutorials/getting-started/crash-course/3-autograd.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix DNNL requantize operator overflow error
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
Owners: @pllarroy

Fix sanity
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
Owners: @pllarroy

Refactor fc_sum_fuse
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

change backend function name to gelu_erf
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset12.py
  src/common/cuda/rtc/backward_functions-inl.h
  src/common/cuda/rtc/forward_functions-inl.h
  src/operator/fusion/fused_op-inl.h
  src/operator/leaky_relu-inl.h
  src/operator/mshadow_op.h
  src/operator/operator_tune.cc
Owners: @szha, @pllarroy

define const
  src/operator/mshadow_op.h
Owners: @pllarroy

[BUGFIX] Fix mkldnn segfault in reshape operator (#21056)
  src/operator/tensor/matrix_op-inl.h
Owners: @pllarroy

Use requested mem in dot op to reduce memory usage (#21067)
  src/operator/nn/dnnl/dnnl_dot-inl.h
  src/operator/nn/dnnl/dnnl_dot.cc
Owners: @pllarroy

Update src/operator/quantization/dnnl/dnnl_requantize-inl.h
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
Owners: @pllarroy

Type fix for FullyConnected with sum (#21043)
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

[master] Node elimination graph pass (#21046)
  src/c_api/c_api_symbolic.cc
  src/c_api/c_api_test.cc
  src/operator/subgraph/eliminate_common_nodes_pass.cc
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
Owners: @pllarroy, @apache/mxnet-committers

apply review
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
Owners: @pllarroy

Fix CI
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

Fix CI on MacOS
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
