Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Fix broadcast ops descriptions
  src/operator/tensor/elemwise_binary_broadcast_op_extended.cc
Owners: @pllarroy

Fix broadcast ops descriptions (#21087)
  src/operator/tensor/elemwise_binary_broadcast_op_extended.cc
Owners: @pllarroy

Fix Gluon2.0 guide
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Refactor fc_sum_fuse (#21077)
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @pllarroy

ci test
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

add attach_grad to gluon hybridize block
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  include/mxnet/ndarray.h
  python/mxnet/_ctypes/cached_op.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/parameter.py
  src/api/cached_op_api.cc
  src/c_api/c_api_ndarray.cc
  src/imperative/cached_op.cc
  src/imperative/cached_op.h
  src/imperative/imperative.cc
  src/imperative/imperative_utils.cc
  src/imperative/imperative_utils.h
  src/ndarray/ndarray.cc
  tests/python/unittest/test_autograd.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Revert "ci test"
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Get rid of warnings
  src/operator/quantization/dnnl/dnnl_quantized_rnn.cc
  src/operator/tensor/index_update-inl.h
  tests/cpp/engine/threaded_engine_test.cc
  tests/cpp/include/test_util.h
Owners: @pllarroy, @apache/mxnet-committers

dispatch float fc to simpler function
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

remove unnecesarry variables
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

apply review comments
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

fix sanity
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Include FlexiBLAS as available vendor. Find BLAS libs
  cmake/ChooseBlas.cmake
Owners: @szha, @pllarroy, @leezu

Update docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix NumPy mentions
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Fix review
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Fix clang formatting
  tests/cpp/include/test_util.h
Owners: @apache/mxnet-committers

Fix sanity
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

docs: Fix a few typos
  docs/python_docs/python/tutorials/getting-started/crash-course/7-use-gpus.md
  docs/static_site/src/pages/api/cpp/docs/tutorials/multi_threaded_inference.md
  example/README.md
Owners: @szha, @pllarroy, @aaronmarkham

Fixed floor_divide bug on float16
  src/operator/mshadow_op.h
Owners: @pllarroy

Add benchmarking operator pytest using benchmark_utils
  CONTRIBUTORS.md
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_operators_pytest.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/ndarray_utils.py
Owners: @apache/mxnet-committers

Made separate version for half_t with division made on float
  src/operator/mshadow_op.h
Owners: @pllarroy

Fix problem with redefinition
  src/operator/c_lapack_api.h
Owners: @pllarroy

Unify quote mark use in benchmark
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_operators_pytest.py
Owners: @apache/mxnet-committers

[BUGFIX] Fix Gluon2.0 guide (#21090)
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

[FEATURE] Add pytest with benchmarking operator (#21088)
  CONTRIBUTORS.md
  benchmark/opperf/rules/default_params.py
  benchmark/opperf/utils/benchmark_operators_pytest.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/ndarray_utils.py
Owners: @apache/mxnet-committers

Improve bf16 support (#21002)
  3rdparty/mshadow/mshadow/base.h
  3rdparty/mshadow/mshadow/bfloat.h
  include/mxnet/imperative.h
  python/mxnet/amp/lists/symbol_bf16.py
  src/common/utils.h
  src/imperative/imperative.cc
  src/nnvm/low_precision_pass.cc
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/nn/dnnl/dnnl_convolution-inl.h
  src/operator/nn/dnnl/dnnl_fully_connected-inl.h
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_true_divide-inl.h
  src/operator/random/sample_op.h
  src/operator/subgraph/dnnl/dnnl_batch_dot.cc
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_transformer-inl.h
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/tensor/elemwise_unary_op.h
  tests/python/dnnl/op_cfg.py
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/dnnl/test_amp.py
Owners: @apache/mxnet-committers, @pllarroy, @eric-haibin-lin, @szha

Fix 'uninitialized' warning
  src/operator/tensor/broadcast_reduce-inl.h
Owners: @pllarroy

Update Contributors.md
  CONTRIBUTORS.md
Owners: @apache/mxnet-committers

[BUGFIX] Fix remove Cast fuse (#21086)
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Requantize scale fix and refactor
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Comment fix
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
Owners: @pllarroy

Review suggestions
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Formatting fix
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @apache/mxnet-committers

Fix 'uninitialized' warning
  src/operator/tensor/broadcast_reduce-inl.h
Owners: @pllarroy

Fix clang formatting
  tests/cpp/include/test_util.h
Owners: @apache/mxnet-committers

Get rid of warnings
  src/operator/quantization/dnnl/dnnl_quantized_rnn.cc
  src/operator/tensor/index_update-inl.h
  tests/cpp/engine/threaded_engine_test.cc
  tests/cpp/include/test_util.h
Owners: @pllarroy, @apache/mxnet-committers

Fix problem with redefinition
  src/operator/c_lapack_api.h
Owners: @pllarroy

Update CONTRIBUTORS.md
  CONTRIBUTORS.md
Owners: @apache/mxnet-committers
