Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Only import machine() function from platform module, as platform variable is already widely used.
  ci/build.py
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Only build containers with aarch64 in name on aarch64.
  ci/build.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Make all arch defaults to local machine type.
  ci/build.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] Fix aarch64 cd pipeline (#20783)
  ci/build.py
  ci/docker/install/requirements_aarch64
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Further working on implementing backward propagation to adaptive pooling
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/dnnl/dnnl_pooling-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/pooling.cc
Owners: @pllarroy

[v1.9.x] Fix CD for pypi wheel version (#20782)
  ci/build.py
  tools/pip/setup.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

[v1.9.x] Fix aarch64 cd pipeline (#20783)
  ci/build.py
  ci/docker/install/requirements_aarch64
  ci/docker_cache.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update website for v1.9.x branch.
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

Update website for v1.9.x branch.
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

Update redirect to default to new 1.9.0 version of website docs.
  docs/static_site/src/.htaccess
Owners: @szha, @pllarroy, @aaronmarkham

revert onnx
  docs/python_docs/python/tutorials/deploy/inference/image_classification_jetson.md
Owners: @szha, @pllarroy, @aaronmarkham

Retry getting test data to prevent CI tests from failing - increase connect timeout from 10 to 60sec, increase retry delay from 0 (setting duplicated) to 30, increase retry attempts to 5.
  cpp-package/example/get_data.sh
  tools/dependencies/make_shared_dependencies.sh
Owners: @nswamy, @pllarroy, @szha

Update website for v1.9.x branch. (#20786)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

Update website for v1.9.x branch. (#20786)
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/pages/get_started/download.md
Owners: @szha, @pllarroy, @aaronmarkham

test users page
  docs/static_site/src/.htaccess
  docs/static_site/src/_sass/minima.scss
  docs/static_site/src/_sass/minima/_home.scss
  docs/static_site/src/_sass/minima/_powered_by.scss
  docs/static_site/src/pages/powered_by.html
Owners: @szha, @pllarroy, @aaronmarkham

Retry getting test data to prevent CI tests from failing - increase connect timeout from 10 to 60sec, increase retry delay from 0 (setting duplicated) to 30, increase retry attempts to 5.
  cpp-package/example/get_data.sh
  tools/dependencies/make_shared_dependencies.sh
Owners: @nswamy, @pllarroy, @szha

add reduce into graph
  example/extensions/lib_pass/pass_lib.cc
Owners: @szha, @pllarroy, @aaronmarkham

reverse operation
  src/operator/contrib/nn/reduce_op-inl.h
Owners: @pllarroy

reverse operation
  src/operator/contrib/nn/reduce_op.cc
Owners: @pllarroy

reverse operation
  src/operator/contrib/nn/reduce_op.cu
Owners: @pllarroy

Port #20786 from v1.9.x (#20787)
  cpp-package/example/get_data.sh
  docs/static_site/src/.htaccess
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/pages/get_started/download.md
  tools/dependencies/make_shared_dependencies.sh
Owners: @nswamy, @pllarroy, @szha, @aaronmarkham

Fixed rebuild of cento7-gpu-cu* images
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[FEATURE] Hardcode build-time branch and commit hash into the library (#20755)
  CMakeLists.txt
  include/mxnet/c_api.h
  python/mxnet/runtime.py
  src/c_api/c_api.cc
  tools/diagnose.py
  tools/pip/MANIFEST.in
  tools/staticbuild/build_wheel.sh
Owners: @szha, @pllarroy, @leezu, @eric-haibin-lin

Replace ubuntu_gpu_cu111 with ubuntu_gpu_cu114
  ci/jenkins/Jenkins_steps.groovy
  tests/nightly/JenkinsfileForBinaries
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[website] Fix broken website for master version (#19945)
  docs/static_site/src/404.html
  docs/static_site/src/_layouts/default.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_layouts/page.html
  docs/static_site/src/_layouts/page_api.html
  docs/static_site/src/_layouts/page_category.html
  docs/static_site/src/_layouts/page_landing_tutorials.html
  docs/static_site/src/_layouts/post.html
  docs/static_site/src/assets/main.scss
  docs/static_site/src/index.html
Owners: @szha, @pllarroy, @aaronmarkham

[website] Fix broken website for master version (#19945)
  docs/static_site/src/404.html
  docs/static_site/src/_layouts/default.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_layouts/page.html
  docs/static_site/src/_layouts/page_api.html
  docs/static_site/src/_layouts/page_category.html
  docs/static_site/src/_layouts/page_landing_tutorials.html
  docs/static_site/src/_layouts/post.html
  docs/static_site/src/assets/main.scss
  docs/static_site/src/index.html
Owners: @szha, @pllarroy, @aaronmarkham

[website] Fix broken website for master version (#19945)
  docs/static_site/src/404.html
  docs/static_site/src/_layouts/default.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_layouts/page.html
  docs/static_site/src/_layouts/page_api.html
  docs/static_site/src/_layouts/page_category.html
  docs/static_site/src/_layouts/page_landing_tutorials.html
  docs/static_site/src/_layouts/post.html
  docs/static_site/src/assets/main.scss
  docs/static_site/src/index.html
Owners: @szha, @pllarroy, @aaronmarkham

revert htaccess change
  docs/static_site/src/.htaccess
  docs/static_site/src/pages/powered_by.html
Owners: @szha, @pllarroy, @aaronmarkham

[website] Fix broken website for master version (#19945) (#20789)
  docs/static_site/src/404.html
  docs/static_site/src/_layouts/default.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_layouts/page.html
  docs/static_site/src/_layouts/page_api.html
  docs/static_site/src/_layouts/page_category.html
  docs/static_site/src/_layouts/page_landing_tutorials.html
  docs/static_site/src/_layouts/post.html
  docs/static_site/src/assets/main.scss
  docs/static_site/src/index.html
Owners: @szha, @pllarroy, @aaronmarkham

Fix static website build (#19906)
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
Owners: @szha, @pllarroy, @aaronmarkham

[v1.x] Backport #20782, #20783 and #20786 from v1.9.x branch, #19945 from master (#20785)
  ci/build.py
  ci/docker/install/requirements_aarch64
  ci/docker_cache.py
  cpp-package/example/get_data.sh
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/404.html
  docs/static_site/src/_config.yml
  docs/static_site/src/_config_beta.yml
  docs/static_site/src/_config_prod.yml
  docs/static_site/src/_includes/get_started/get_started.html
  docs/static_site/src/_includes/get_started/linux/python/cpu/pip.md
  docs/static_site/src/_includes/get_started/linux/python/gpu/pip.md
  docs/static_site/src/_includes/get_started/pip_snippet.md
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_layouts/default.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_layouts/page.html
  docs/static_site/src/_layouts/page_api.html
  docs/static_site/src/_layouts/page_category.html
  docs/static_site/src/_layouts/page_landing_tutorials.html
  docs/static_site/src/_layouts/post.html
  docs/static_site/src/assets/main.scss
  docs/static_site/src/index.html
  docs/static_site/src/pages/get_started/download.md
  tools/dependencies/make_shared_dependencies.sh
  tools/pip/setup.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @nswamy, @szha

move trusted-by section from homepage to ecosystem/
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_sass/minima.scss
  docs/static_site/src/_sass/minima/_ecosystem.scss
  docs/static_site/src/_sass/minima/_powered_by.scss
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/powered_by.html
Owners: @szha, @pllarroy, @aaronmarkham

Revert "move trusted-by section from homepage to ecosystem/"
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_sass/minima.scss
  docs/static_site/src/_sass/minima/_powered_by.scss
  docs/static_site/src/pages/powered_by.html
Owners: @szha, @pllarroy, @aaronmarkham

copy powered_by to master/
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix static website build (#19906) (#20791)
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
Owners: @szha, @pllarroy, @aaronmarkham

Fix static website build (#19906) (#20791)
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
Owners: @szha, @pllarroy, @aaronmarkham

Fix static website build (#19906) (#20791) (#20792)
  docs/static_site/src/pages/blog.html
  docs/static_site/src/pages/ecosystem.html
  docs/static_site/src/pages/features.html
Owners: @szha, @pllarroy, @aaronmarkham

ubuntu_tensorrt_cu111 -> ..cu114 in Jenins_steps.groovy
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update trusted-by page
  ci/docker/runtime_functions.sh
  docs/python_docs/themes/mx-theme/mxtheme/header_top.html
  docs/static_site/src/_includes/header.html
  docs/static_site/src/_sass/minima.scss
  docs/static_site/src/_sass/minima/_powered_by.scss
  docs/static_site/src/pages/powered_by.html
  docs/static_site/src/pages/trusted_by.html
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

remove broken links
  docs/python_docs/python/tutorials/getting-started/logistic_regression_explained.md
  docs/python_docs/python/tutorials/packages/gluon/image/info_gan.md
Owners: @szha, @pllarroy, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
