Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix medium blog integration. (#21009)
  docs/static_site/Makefile
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_blog.scss
  docs/static_site/src/pages/blog.html
Owners: @szha, @pllarroy, @aaronmarkham

[v1.9.x] Update website footer to include required Apache links (#20993)
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_sass/minima/_layout.scss
Owners: @szha, @pllarroy, @aaronmarkham

[v1.9.x] Fix css for Apache links, add to Python docs. (#20995)
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/src/scss/footer/_footer.scss
Owners: @szha, @pllarroy, @aaronmarkham

Fix medium blog integration. (#21009)
  docs/static_site/Makefile
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_blog.scss
  docs/static_site/src/pages/blog.html
Owners: @szha, @pllarroy, @aaronmarkham

[v1.x] Port #20993, #20995 and #21009 from v1.9.x (#21014)
  ci/jenkins/Jenkins_steps.groovy
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/src/scss/footer/_footer.scss
  docs/static_site/Makefile
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_blog.scss
  docs/static_site/src/_sass/minima/_layout.scss
  docs/static_site/src/pages/blog.html
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

Added possibility to re-run tests with all batches
  tests/python/mkl/test_subgraph.py
Owners: @apache/mxnet-committers

Fix the nms kernel out of range access issue
  src/operator/contrib/bounding_box.cu
Owners: @pllarroy

update year in notice
  NOTICE
Owners: @apache/mxnet-committers

update year in notice
  NOTICE
Owners: @apache/mxnet-committers

update year in notice
  NOTICE
Owners: @apache/mxnet-committers

check shape size in reshape
  src/operator/tensor/matrix_op-inl.h
Owners: @pllarroy

Update minor versions of nvidia cuda containers to use that have the latest keys pre-installed.
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update the TensorRT pipeline to Cuda 11.2.
  ci/docker/docker-compose.yml
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update TensorRT pipeline to use Cuda 11.4 and update libnvinfer to 8.2.4.
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Allow setting TRT version as argument in docker-compose.yml and update to TRT 8.2.4 for cuda 11.4.
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Use python3 executable when building tensorrt (so we can update to ubuntu 20.04 base) and enable int64 build.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove unneeded line.
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Support TRT 8+.
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
Owners: @pllarroy

Add support for trt >= 8.
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
Owners: @pllarroy

Fix lint
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
Owners: @pllarroy

Remove debug line.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Don't upgrade libcudnn, use what is in the latest container from nvidia.
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Set CUDNN_VERSION inside nvidia containers when NV_CUDNN_VERSION is set instead.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix next_impl in deconvolution (#20750)
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
Owners: @pllarroy

Go back to updating libcudnn8.
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update cudnn version for cu110 build
  tools/setup_gpu_build_tools.sh
Owners: @szha, @pllarroy

update nccl version for cu110 build
  tools/setup_gpu_build_tools.sh
Owners: @szha, @pllarroy

update cuda key for cd docker image build
  cd/python/docker/Dockerfile
Owners: @szha

Add static_assert error message for CalculateGreedyNMSResultsKernel
  src/operator/contrib/bounding_box.cu
Owners: @pllarroy

Fix lint
  src/operator/contrib/bounding_box.cu
Owners: @pllarroy

install gpg2 in cd docker file
  cd/python/docker/Dockerfile
Owners: @szha

fix install gpg
  cd/python/docker/Dockerfile
Owners: @szha

fix key update
  cd/python/docker/Dockerfile
Owners: @szha

put every class in training set
  tools/im2rec.py
Owners: @szha, @pllarroy

Fix CI in master (#21026)
  ci/docker/Dockerfile.build.ubuntu
  ci/docker/docker-compose.yml
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update broken links to fix linkcheck.
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/numpy_extension/_op.py
  src/operator/rnn.cc
Owners: @szha, @pllarroy

update key only for gpu
  cd/python/docker/Dockerfile
Owners: @szha

Port website fixes (#20993, #20995, #21009) from v1.9.x branch (#21015)
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/src/scss/footer/_footer.scss
  docs/static_site/Makefile
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_includes/head.html
  docs/static_site/src/_layouts/home.html
  docs/static_site/src/_sass/minima/_blog.scss
  docs/static_site/src/_sass/minima/_layout.scss
  docs/static_site/src/pages/blog.html
  python/mxnet/ndarray/numpy_extension/_op.py
  python/mxnet/numpy_extension/_op.py
  src/operator/rnn.cc
Owners: @szha, @pllarroy, @aaronmarkham

pass arg to dockerfile
  cd/python/docker/Dockerfile
  cd/python/docker/python_images.sh
Owners: @szha

Fix quantized_elemwise_add results
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
