Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

Fix sanity
  src/operator/quantization/quantize_v2-inl.h
Owners: @pllarroy

Improve tests, AMP conversion interface, fix forwad hooks
  python/mxnet/amp/amp.py
  python/mxnet/gluon/block.py
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
  tests/python/unittest/test_amp.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix tests
  python/mxnet/amp/lists/symbol_bf16.py
  tests/python/amp/common.py
  tests/python/dnnl/test_amp.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[Master] Decouple OneDNN data structures in MXNet C++ API (#20624)
  include/mxnet/ndarray.h
  src/ndarray/ndarray.cc
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_base.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_convolution.cc
  src/operator/nn/dnnl/dnnl_copy.cc
  src/operator/nn/dnnl/dnnl_deconvolution-inl.h
  src/operator/nn/dnnl/dnnl_deconvolution.cc
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/nn/dnnl/dnnl_layer_norm.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/nn/dnnl/dnnl_softmax-inl.h
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/dnnl/dnnl_where.cc
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/dnnl/dnnl_quantized_conv.cc
  src/operator/quantization/dnnl/dnnl_quantized_fully_connected.cc
  src/operator/subgraph/dnnl/dnnl_common.h
  src/operator/subgraph/dnnl/dnnl_conv.cc
  src/operator/subgraph/dnnl/dnnl_fc.cc
  tests/cpp/include/test_dnnl.h
  tests/cpp/operator/dnnl_test.cc
Owners: @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

Fix imports in tests
  tests/python/dnnl/test_amp.py
  tests/python/gpu/test_amp.py
Owners: @apache/mxnet-committers

Use different lp16_fp32 op in test
  tests/python/amp/common.py
Owners: @apache/mxnet-committers

Done unifying for requantize, quantize and quantized_fully_connected
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

Changed dnnl_quantize operator to avoid duplicated reorder
  src/operator/quantization/dnnl/dnnl_quantize-inl.h
Owners: @pllarroy

Unified oneDNN implementation calls for FComputeEx
  src/operator/quantization/quantize.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

Added linting
  src/operator/quantization/quantized_fully_connected.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

[1.x][submodule] Upgrade oneDNN to the top of rls-v2.4 branch
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

Restore quantized RNN to master (#20952)
  include/mxnet/op_attr_types.h
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  python/mxnet/contrib/quantization.py
  python/mxnet/io/io.py
  src/operator/nn/dnnl/dnnl_rnn-inl.h
  src/operator/nn/dnnl/dnnl_rnn.cc
  src/operator/quantization/dnnl/dnnl_quantize_asym-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_rnn-inl.h
  src/operator/quantization/dnnl/dnnl_quantized_rnn.cc
  src/operator/quantization/quantize_asym-inl.h
  src/operator/quantization/quantize_asym.cc
  src/operator/quantization/quantize_graph_pass.cc
  src/operator/quantization/quantize_v2.cc
  src/operator/quantization/quantized_rnn-inl.h
  src/operator/quantization/quantized_rnn.cc
  src/operator/rnn-inl.h
  src/operator/rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Added SupportDNNLQuantize function
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/quantization/quantize.cc
  src/operator/quantization/requantize.cc
Owners: @pllarroy

Fix 'module 'jinja2' has no attribute 'contextfilter''
  julia/docs/Makefile
Owners: @szha

Update Makefile
  julia/docs/Makefile
Owners: @szha

Update Makefile
  julia/docs/Makefile
Owners: @szha

Add amp.disable_amp() context, fix tests
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/amp/__init__.py
  python/mxnet/amp/amp.py
  src/c_api/c_api_ndarray.cc
  src/imperative/imperative.cc
  tests/python/amp/common.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Update footer to include required Apache links, according to https://www.apache.org/foundation/marks/pmcs#navigation
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_sass/minima/_layout.scss
Owners: @szha, @pllarroy, @aaronmarkham

Better layout with col-3 class.
  docs/static_site/src/_includes/footer.html
Owners: @szha, @pllarroy, @aaronmarkham

Fix 'module 'jinja2' has no attribute 'contextfilter''
  julia/docs/Makefile
Owners: @szha

Update Makefile
  julia/docs/Makefile
Owners: @szha

Update Makefile
  julia/docs/Makefile
Owners: @szha

[v1.9.x] Update website footer to include required Apache links (#20993)
  docs/static_site/src/_includes/footer.html
  docs/static_site/src/_sass/minima/_layout.scss
  julia/docs/Makefile
Owners: @szha, @pllarroy, @aaronmarkham

[1.x] Fix 'module 'jinja2' has no attribute 'contextfilter'' (#20990)
  julia/docs/Makefile
Owners: @szha

[v1.9.x][submodule] Upgrade oneDNN to the top of rls-v2.4 branch
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

[1.x][submodule] Upgrade oneDNN to the top of rls-v2.4 branch (#20989)
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

Add tests, generalize optimization disabling
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  python/mxnet/amp/__init__.py
  python/mxnet/amp/amp.py
  python/mxnet/gluon/block.py
  src/c_api/c_api_symbolic.cc
  src/common/utils.h
  src/imperative/imperative.cc
  src/nnvm/low_precision_pass.cc
  tests/python/amp/common.py
  tests/python/dnnl/subgraphs/test_amp_subgraph.py
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

Fix sanity
  src/imperative/imperative.cc
Owners: @pllarroy

Review fixes
  include/mxnet/c_api.h
  include/mxnet/imperative.h
  src/c_api/c_api_ndarray.cc
Owners: @pllarroy, @eric-haibin-lin

Add Apache links to python docs footer, update hostname in CI script.
  ci/jenkins/Jenkins_steps.groovy
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/src/scss/footer/_footer.scss
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

Use is_integral<>::value
  src/common/utils.h
Owners: @pllarroy

Don't use relative_url function.
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
Owners: @szha, @pllarroy, @aaronmarkham

Add link to ASF.
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
Owners: @szha, @pllarroy, @aaronmarkham

[v1.9.x] Fix css for Apache links, add to Python docs. (#20995)
  ci/jenkins/Jenkins_steps.groovy
  docs/python_docs/themes/mx-theme/mxtheme/footer.html
  docs/python_docs/themes/mx-theme/src/scss/footer/_footer.scss
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

Fix and cleanup _contrib_quantized_elemwise_add
  src/operator/operator_common.h
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

revert cleanup stream
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

revert cleanup stream (#20998)
  src/engine/naive_engine.cc
  src/engine/threaded_engine_perdevice.cc
Owners: @pllarroy

Align names according to convention
  src/operator/quantization/dnnl/dnnl_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_add-inl.h
Owners: @pllarroy

[v1.9.x][submodule] Upgrade oneDNN to the top of rls-v2.4 branch (#20994)
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

Dissable test_conv2d_16c for gpu CI
  tests/python/unittest/test_gluon.py
Owners: @apache/mxnet-committers
