Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

[v1.9.x][backport] Consider MXNET_BUILD_SHARED_LIBS flag
  CMakeLists.txt
  example/image-classification/predict-cpp/CMakeLists.txt
  tests/CMakeLists.txt
Owners: @szha, @pllarroy, @leezu, @aaronmarkham

fix im2rec
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

fix ci
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

remove BEGIN_WHOLE_ARCHIVE, END_WHOLE_ARCHIVE and whitespaces
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

[v1.x] Refactor CMakeLists.txt
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Update src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_convolution.cc
Owners: @pllarroy

Remove compilation warning (#20854)
  src/operator/quantization/mkldnn/mkldnn_quantized_elemwise_add.cc
  src/operator/quantization/quantized_elemwise_mul.cc
Owners: @pllarroy

[v1.9.x][submodule] Upgrade oneDNN to v2.4.4 (#20857)
  CMakeLists.txt
  example/image-classification/predict-cpp/CMakeLists.txt
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  tests/CMakeLists.txt
  tests/cpp/operator/mkldnn_test.cc
  tools/dependencies/README.md
Owners: @szha, @pllarroy, @leezu, @aaronmarkham, @apache/mxnet-committers

Test numpy upgrade.
  ci/docker/install/requirements
  tests/requirements.txt
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[Perl] Updates mapping between PDL and MX types (#20852)
  ci/docker/install/ubuntu_perl.sh
  docker/install/perl.sh
  perl-package/AI-MXNet/Changes
  perl-package/AI-MXNet/META.json
  perl-package/AI-MXNet/META.yml
  perl-package/AI-MXNet/Makefile.PL
  perl-package/AI-MXNet/README
  perl-package/AI-MXNet/lib/AI/MXNet.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Base.pm
  perl-package/AI-MXNet/lib/AI/MXNet/Metric.pm
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @sergeykolychev

MKL' version update
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

MKL' version update 2022.1.2
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

MKL' version update 2022.0.2
  ci/docker/Dockerfile.build.ubuntu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Make convolution operator fully work with oneDNN v2.4+ (#20847)
  src/operator/nn/dnnl/dnnl_convolution.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @pllarroy, @apache/mxnet-committers

Make compile/use of nvmlDeviceGetComputeRunningProcesses() adapt to nvml variants
  src/profiler/storage_profiler.cc
Owners: @pllarroy

Fix pip install inside docker.
  ci/docker/install/centos7_python.sh
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[submodule] Upgrade oneDNN to v2.5.2 (#20843)
  tools/dependencies/README.md
Owners: @szha, @pllarroy

Fix data-apis links
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/symbol/numpy/_symbol.py
Owners: @szha, @pllarroy

Force install pando-attributes before pypandoc
  .github/workflows/link_check.yml
Owners: @szha, @leezu

identity fuse
  src/operator/subgraph/mkldnn/mkldnn_identity_property.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_base-inl.h
  src/operator/subgraph/mkldnn/mkldnn_subgraph_property.cc
Owners: @pllarroy

rewrite test
  tests/python/mkl/test_subgraph.py
Owners: @apache/mxnet-committers

fix sanity
  src/operator/subgraph/mkldnn/mkldnn_identity_property.h
Owners: @pllarroy

remove clang warning
  src/operator/subgraph/mkldnn/mkldnn_identity_property.h
Owners: @pllarroy

Update ci/docker/install/centos7_python.sh
  ci/docker/install/centos7_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update ci/docker/install/ubuntu_python.sh
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] Fix pip installation in containers (#20864)
  ci/docker/install/centos7_python.sh
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] Fix pip installation in containers (#20864)
  ci/docker/install/centos7_python.sh
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Test upgrading to Python 3.8 by always building from source, which works in all ubuntu distros.
  ci/docker/install/ubuntu_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Build python from source for both ubuntu and centos, so we can ensure the same version and use the same pip requirements file.
  ci/docker/Dockerfile.build.centos7
  ci/docker/install/centos7_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Unpin scipy, update numpy to >= 1.22.1.
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove numpy from onnx required packages; use what is installed by main pip requirements file.
  ci/docker/install/ubuntu_onnx.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix pylint
  python/mxnet/contrib/text/utils.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/optimizer/optimizer.py
Owners: @szha, @pllarroy, @eric-haibin-lin

Fix pylint.
  python/mxnet/contrib/text/utils.py
Owners: @szha, @pllarroy

Update numpy and scipy versions in tests/requirements.txt (which is used by windows CI pipeline.)
  tests/requirements.txt
Owners: @apache/mxnet-committers

Consolidate python requirements across x86 and aarch64.
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
  ci/docker/install/requirements
  ci/docker/install/requirements_aarch64
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Go back to pinning down scipy due to rand test failures.
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Pin down scipy in tests/requirements.txt
  tests/requirements.txt
Owners: @apache/mxnet-committers

Attempt to fix fallback ops tests based on #20685
  python/mxnet/numpy/fallback.py
Owners: @szha, @pllarroy

Attempt to fix fallback ops tests based on #20685
  tests/python/unittest/test_numpy_interoperability.py
Owners: @apache/mxnet-committers

Update numpy dependency.
  python/setup.py
Owners: @szha, @pllarroy
