Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix review and simplify the implementation
  src/operator/nn/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
Owners: @pllarroy

Add Reset() function
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
Owners: @pllarroy

Fix req
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
Owners: @pllarroy, @apache/mxnet-committers

Add Filter method to property
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
  src/operator/subgraph/subgraph_property.h
Owners: @pllarroy

Add checks for the amount of inputs and outputs
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
Owners: @pllarroy

Fix gpu CI
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

Fix DNNLPowMulScalarType
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

Add '_sg_pow_mul_scalar' to symbol_fp16.py
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

Add generic implementation for sq_pow_mul_scalar operator
  include/mxnet/op_attr_types.h
  include/mxnet/tensor_blob.h
  src/operator/nn/dnnl/dnnl_pow_mul_scalar-inl.h
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/dnnl/subgraphs/test_pow_mul_subgraph.py
Owners: @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

Fix DNNLPowMulScalarType
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

[FEATURE] Add _npi_power_scalar and _npi_multiply_scalar fuse
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/nn/dnnl/dnnl_pow_mul_scalar-inl.h
  src/operator/nn/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/subgraph/common.h
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
  src/operator/subgraph/dnnl/dnnl_conv_property.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
Owners: @szha, @pllarroy

Fix clang
  src/operator/nn/dnnl/dnnl_pow_mul_scalar-inl.h
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

Fix sanity
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
Owners: @pllarroy

Add new line
  tests/python/dnnl/subgraphs/test_pow_mul_subgraph.py
Owners: @apache/mxnet-committers

Fix CI
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
Owners: @pllarroy

Merge _npi_power_scalar implementation with implementation of this fuse
  src/operator/nn/dnnl/dnnl_pow_mul_scalar-inl.h
  src/operator/nn/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/nn/dnnl/dnnl_power_scalar-inl.h
  src/operator/nn/dnnl/dnnl_power_scalar.cc
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Owners: @pllarroy

Fix DNNLPowMulScalarShape and Type functions
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

Fix SupportDNNL*
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
Owners: @pllarroy

Make PowMulScalarCompute more readable
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

Fix PowMulScalarCompute
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

Improve masked_softmax performance with temperature parameter
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
Owners: @pllarroy

Fix building of master website due to removed blog page.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[FEATURE] Add tanh approximation for GeLU activation (#21034)
  python/mxnet/gluon/nn/activations.py
  python/mxnet/onnx/mx2onnx/_op_translations/_op_translations_opset12.py
  src/api/operator/numpy_extension/npx_leaky_relu_op.cc
  src/common/cuda/rtc/backward_functions-inl.h
  src/common/cuda/rtc/forward_functions-inl.h
  src/operator/fusion/fused_op-inl.h
  src/operator/leaky_relu-inl.h
  src/operator/leaky_relu.cc
  src/operator/mshadow_op.h
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/operator_tune.cc
  src/operator/subgraph/dnnl/dnnl_conv_property.h
  tests/python/dnnl/subgraphs/test_conv_subgraph.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/unittest/test_numpy_gluon.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix building of master website due to removed blog page. (#21083)
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Improve masked_softmax performance with temperature parameter (#21082)
  src/operator/nn/dnnl/dnnl_masked_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
Owners: @pllarroy

rename variable
  src/operator/subgraph/dnnl/dnnl_fc.cc
Owners: @pllarroy

Simplify Selector
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
Owners: @pllarroy

Fix oneDNN RNN weights reorder (#21065)
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  tests/python/quantization/test_quantization.py
Owners: @pllarroy, @apache/mxnet-committers

Clang formatting
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Owners: @pllarroy

Type sum fix
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Owners: @pllarroy

Incompatible fc and sum type fix
  src/operator/subgraph/mkldnn/mkldnn_fc.cc
Owners: @pllarroy

Fix memory usage
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

Fix build
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
Owners: @pllarroy

[FEATURE] Add _npi_power_scalar and _npi_multiply_scalar fuse (#20976)
  include/mxnet/op_attr_types.h
  include/mxnet/tensor_blob.h
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_pow_mul_scalar-inl.h
  src/operator/nn/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/nn/dnnl/dnnl_power_scalar-inl.h
  src/operator/subgraph/common.h
  src/operator/subgraph/dnnl/dnnl_bn_relu_property.h
  src/operator/subgraph/dnnl/dnnl_conv_property.h
  src/operator/subgraph/dnnl/dnnl_fc_property.h
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar.cc
  src/operator/subgraph/dnnl/dnnl_pow_mul_scalar_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/subgraph/subgraph_property.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  src/operator/tensor/elemwise_binary_scalar_op_extended.cc
  tests/python/dnnl/subgraphs/subgraph_common.py
  tests/python/dnnl/subgraphs/test_fc_subgraph.py
  tests/python/dnnl/subgraphs/test_pow_mul_subgraph.py
Owners: @pllarroy, @eric-haibin-lin, @szha, @apache/mxnet-committers

[BUGFIX] Fix DNNL requantize operator overflow error (#21079)
  src/operator/quantization/dnnl/dnnl_requantize-inl.h
Owners: @pllarroy

Fix remove Cast fuse
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

Fix Reset()
  src/operator/subgraph/dnnl/dnnl_remove_casts_property.h
Owners: @pllarroy

oneDNN FullyConnected weight caching & refactor (#21047)
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/operator_common.h
  src/operator/subgraph/dnnl/dnnl_fc.cc
  src/operator/subgraph/dnnl/dnnl_fc_property.h
Owners: @pllarroy

Restore ConnectSubgraphOutputs in fc_sum_fuse_property
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
Owners: @pllarroy

Fix node name
  src/operator/subgraph/dnnl/dnnl_fc_sum_fuse_property.h
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
