Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

[FEATURE] Add query_keys transformer version without split (#21115)
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/subgraph/dnnl/dnnl_post_amp_property.h
  src/operator/subgraph/dnnl/dnnl_post_quantize_property.h
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
  src/operator/subgraph/dnnl/dnnl_transformer.cc
  src/operator/subgraph/dnnl/dnnl_transformer_qk_common.h
  src/operator/subgraph/dnnl/dnnl_transformer_qk_property.h
  src/operator/subgraph/dnnl/dnnl_transformer_valatt_property.h
  tests/python/dnnl/op_cfg.py
  tests/python/dnnl/subgraphs/test_matmul_subgraph.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Install libtool in ubuntu CD container.
  ci/docker/Dockerfile.build.ubuntu_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Restore Cuda 10.x builds for CD.
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
Owners: @szha

Dynamically determine which dockerfiles are used by docker-compose (instead of having a hard-coded list) so docker cache refresh will finish successfully.
  ci/build.py
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove debug line.
  tools/setup_gpu_build_tools.sh
Owners: @szha, @pllarroy

Define python executable path for tensorrt build.
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Remove old hacks for changing permissions to /usr/local/bin.
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/ubuntu_adduser.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Install libtool in ubuntu r container.
  ci/docker/install/ubuntu_r.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update permissions to allow CI tasks to run.
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/ubuntu_adduser.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Recursively set permissions on deps directory.
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/ubuntu_adduser.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Fix link to mse strategy description
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
Owners: @szha, @pllarroy, @aaronmarkham

Temporary remove links to files from the example
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
Owners: @szha, @pllarroy, @aaronmarkham

[v1.9.x] Restore Cuda 10.x CD builds (#21128)
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
  cd/utils/mxnet_base_image.sh
  ci/build.py
  ci/docker/Dockerfile.build.centos7_cd
  ci/docker/Dockerfile.build.ubuntu_cd
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_c
  ci/docker/Dockerfile.build.ubuntu_cpu_lite
  ci/docker/Dockerfile.build.ubuntu_cpu_python
  ci/docker/Dockerfile.build.ubuntu_cpu_r
  ci/docker/Dockerfile.build.ubuntu_cpu_scala
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/centos7_ccache.sh
  ci/docker/install/ubuntu_adduser.sh
  ci/docker/install/ubuntu_base.sh
  ci/docker/install/ubuntu_ccache.sh
  ci/docker/install/ubuntu_r.sh
  ci/docker/runtime_functions.sh
  config/distribution/linux_cu100.cmake
  config/distribution/linux_cu101.cmake
  config/distribution/linux_cu102.cmake
  tools/pip/doc/CPU_ADDITIONAL.md
  tools/pip/doc/CU100_ADDITIONAL.md
  tools/pip/doc/CU101_ADDITIONAL.md
  tools/pip/doc/CU102_ADDITIONAL.md
  tools/pip/doc/CU110_ADDITIONAL.md
  tools/pip/doc/CU111_ADDITIONAL.md
  tools/pip/doc/CU112_ADDITIONAL.md
  tools/pip/doc/CU113_ADDITIONAL.md
  tools/pip/doc/CU114_ADDITIONAL.md
  tools/pip/doc/CU115_ADDITIONAL.md
  tools/pip/doc/CU116_ADDITIONAL.md
  tools/pip/doc/CU117_ADDITIONAL.md
  tools/setup_gpu_build_tools.sh
  tools/staticbuild/README.md
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

[v1.9.x] Restore Cuda 10.x CD builds (#21128)
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
  cd/utils/mxnet_base_image.sh
  ci/build.py
  ci/docker/Dockerfile.build.centos7_cd
  ci/docker/Dockerfile.build.ubuntu_cd
  ci/docker/Dockerfile.build.ubuntu_cpu
  ci/docker/Dockerfile.build.ubuntu_cpu_c
  ci/docker/Dockerfile.build.ubuntu_cpu_lite
  ci/docker/Dockerfile.build.ubuntu_cpu_python
  ci/docker/Dockerfile.build.ubuntu_cpu_r
  ci/docker/Dockerfile.build.ubuntu_cpu_scala
  ci/docker/Dockerfile.build.ubuntu_gpu
  ci/docker/Dockerfile.build.ubuntu_gpu_tensorrt
  ci/docker/Dockerfile.build.ubuntu_nightly_gpu
  ci/docker/install/centos7_adduser.sh
  ci/docker/install/centos7_ccache.sh
  ci/docker/install/ubuntu_adduser.sh
  ci/docker/install/ubuntu_base.sh
  ci/docker/install/ubuntu_ccache.sh
  ci/docker/install/ubuntu_r.sh
  ci/docker/runtime_functions.sh
  config/distribution/linux_cu100.cmake
  config/distribution/linux_cu101.cmake
  config/distribution/linux_cu102.cmake
  tools/pip/doc/CPU_ADDITIONAL.md
  tools/pip/doc/CU100_ADDITIONAL.md
  tools/pip/doc/CU101_ADDITIONAL.md
  tools/pip/doc/CU102_ADDITIONAL.md
  tools/pip/doc/CU110_ADDITIONAL.md
  tools/pip/doc/CU111_ADDITIONAL.md
  tools/pip/doc/CU112_ADDITIONAL.md
  tools/pip/doc/CU113_ADDITIONAL.md
  tools/pip/doc/CU114_ADDITIONAL.md
  tools/pip/doc/CU115_ADDITIONAL.md
  tools/pip/doc/CU116_ADDITIONAL.md
  tools/pip/doc/CU117_ADDITIONAL.md
  tools/setup_gpu_build_tools.sh
  tools/staticbuild/README.md
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

delete unnecessary variables
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

review changes
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @apache/mxnet-committers

Apply suggestions from code review
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
  example/quantization_inc/resnet_measurment.py
  example/quantization_inc/resnet_mse.py
  example/quantization_inc/resnet_tuning.py
Owners: @szha, @pllarroy, @aaronmarkham

[DOC] Add tutotrial about improving accuracy of quantization with oneDNN (#21127)
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/index.rst
  example/quantization_inc/resnet50v2_mse.yaml
  example/quantization_inc/resnet_measurment.py
  example/quantization_inc/resnet_mse.py
  example/quantization_inc/resnet_tuning.py
Owners: @szha, @pllarroy, @aaronmarkham

Add proper link to scripts in quantization with INC example
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
Owners: @szha, @pllarroy, @aaronmarkham

Add proper link to scripts in quantization with INC example (#21133)
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
Owners: @szha, @pllarroy, @aaronmarkham

[FEATURE] Dnnl sum primitive path (#21132)
  src/operator/tensor/elemwise_binary_broadcast_op_basic.cc
  tests/python/unittest/test_operator.py
Owners: @pllarroy, @apache/mxnet-committers

[DOC] Add custom strategy script to quantization with INC example
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
  example/quantization_inc/custom_strategy.py
  example/quantization_inc/resnet_tuning.py
Owners: @szha, @pllarroy, @aaronmarkham

Review suggestions
  python/mxnet/_ffi/function.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
Owners: @szha, @pllarroy

Review additional suggestions
  python/mxnet/gluon/data/_internal.py
  python/mxnet/gluon/model_zoo/vision/squeezenet.py
  python/mxnet/io/io.py
  python/mxnet/kvstore/base.py
  python/mxnet/ndarray/sparse.py
  python/mxnet/ndarray_doc.py
  python/mxnet/optimizer/optimizer.py
  python/mxnet/recordio.py
  python/mxnet/symbol/symbol.py
  python/mxnet/symbol_doc.py
  python/mxnet/test_utils.py
  tests/nightly/model_backwards_compatibility_check/model_backwards_compat_inference.py
Owners: @szha, @pllarroy, @eric-haibin-lin, @apache/mxnet-committers

Improve string formatting
  benchmark/opperf/opperf.py
  benchmark/opperf/utils/benchmark_utils.py
  benchmark/opperf/utils/common_utils.py
  benchmark/python/dnnl/fc_add.py
  benchmark/python/einsum/benchmark_einsum.py
  benchmark/python/ffi/benchmark_ffi.py
  conftest.py
Owners: @apache/mxnet-committers

Review suggestion
  python/mxnet/registry.py
Owners: @szha, @pllarroy

Review suggestions once again
  docs/python_docs/python/scripts/conf.py
  python/mxnet/gluon/block.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @aaronmarkham, @apache/mxnet-committers

Minor fixes
  cpp-package/scripts/OpWrapperGenerator.py
  example/gluon/image_classification.py
  example/quantization/imagenet_gen_qsym_onednn.py
  python/mxnet/gluon/contrib/estimator/event_handler.py
  python/mxnet/symbol/register.py
Owners: @nswamy, @pllarroy, @szha, @aaronmarkham

A few more fixes
  python/mxnet/gluon/parameter.py
  tests/python/unittest/test_operator.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Delete fuse_norm_relu flag
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

Refactor BN operator
  src/operator/nn/batch_norm-inl.h
Owners: @pllarroy

Small fix
  src/operator/quantization/quantized_batch_norm_relu.cc
Owners: @pllarroy

Fix error
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm_relu.cc
Owners: @szha, @pllarroy

Change output size
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm_relu.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
Owners: @pllarroy

Fix issues after rebase
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
Owners: @pllarroy

Add quantized bn relu
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm_relu.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @szha, @pllarroy

Fix script name
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
  example/quantization_inc/resnet_measurement.py
Owners: @szha, @pllarroy, @aaronmarkham

Remove f-strings from logging functions
  python/mxnet/model.py
  python/mxnet/onnx/mx2onnx/_export_onnx.py
  tests/nightly/model_backwards_compatibility_check/common.py
  tests/python/gpu/test_operator_gpu.py
  tests/python/unittest/common.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix lack of 'f'
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Remove mention about medium article with custom strategy description
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
Owners: @szha, @pllarroy, @aaronmarkham
