Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Refactor BN operator
  src/operator/nn/batch_norm-inl.h
  src/operator/nn/batch_norm.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_batch_norm.cc
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/subgraph/dnnl/dnnl_bn_relu.cc
Owners: @pllarroy

Update distribution cmake configs, add new configs for newer cuda versions.
  config/distribution/linux_cu111.cmake
  config/distribution/linux_cu112.cmake
  config/distribution/linux_cu113.cmake
  config/distribution/linux_cu114.cmake
  config/distribution/linux_cu115.cmake
  config/distribution/linux_cu116.cmake
  config/distribution/linux_cu117.cmake
Owners: @apache/mxnet-committers

Upgrade to Python 3.8 in CentOS 7 containers.
  ci/docker/Dockerfile.build.centos7
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
  ci/docker/install/centos7_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

WIP to add cuda build versions.
  config/distribution/linux_cu114.cmake
Owners: @apache/mxnet-committers

Refactor Cuda dependency installation to simplify and support newer versions.
  tools/setup_gpu_build_tools.sh
  tools/staticbuild/build_lib_cmake.sh
Owners: @szha, @pllarroy

Update base images for GPU, add new Cuda 11.6 container.
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

WIP to add cuda build versions.
  ci/docker/docker-compose.yml
  ci/docker/install/centos7_adduser.sh
  tools/dependencies/cityhash.sh
  tools/dependencies/curl.sh
  tools/dependencies/eigen.sh
  tools/dependencies/libpng.sh
  tools/dependencies/libtiff.sh
  tools/dependencies/libturbojpeg.sh
  tools/dependencies/libz.sh
  tools/dependencies/lz4.sh
  tools/dependencies/openblas.sh
  tools/dependencies/opencv.sh
  tools/dependencies/openssl.sh
  tools/dependencies/protobuf.sh
  tools/dependencies/zmq.sh
  tools/setup_gpu_build_tools.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

Allow passing of linker flags for Distribution build type.
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Remove sudo install, moved to CD specific dockerfile.
  ci/docker/install/centos7_adduser.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add new Dockerfile for CD builds.
  ci/docker/Dockerfile.build.centos7_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Provide cmake hints in dependency install scripts.
  tools/dependencies/openblas.sh
  tools/dependencies/opencv.sh
Owners: @szha, @pllarroy

Use new CD-specific container for building MXNet static library.
  cd/mxnet_lib/Jenkins_pipeline.groovy
Owners: @szha

Add Cuda verions.
  cd/utils/mxnet_base_image.sh
Owners: @szha

Correctly set LD_LIBRARY_PATH.
  tools/dependencies/make_shared_dependencies.sh
Owners: @szha, @pllarroy

Update cuda versions to build in CD.
  cd/Jenkinsfile_cd_pipeline
  cd/Jenkinsfile_release_job
Owners: @szha

Update base images.
  cd/utils/mxnet_base_image.sh
Owners: @szha

Install requirements only if file exists.
  ci/docker/install/centos7_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Clean up dockerfile
  ci/docker/Dockerfile.build.centos7_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Do not pin Cython, relax scipy version.
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Install all build dependencies.
  ci/docker/install/centos7_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add documentation.
  tools/pip/doc/CU111_ADDITIONAL.md
  tools/pip/doc/CU113_ADDITIONAL.md
  tools/pip/doc/CU114_ADDITIONAL.md
  tools/pip/doc/CU115_ADDITIONAL.md
  tools/pip/doc/CU116_ADDITIONAL.md
  tools/pip/doc/CU117_ADDITIONAL.md
Owners: @szha, @pllarroy

Add documentation.
  tools/pip/doc/CU112_ADDITIONAL.md
Owners: @szha, @pllarroy

Build cmake from source for portability.
  ci/docker/Dockerfile.build.centos7_cd
  ci/docker/install/centos7_cmake.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Set LD_LIBRARY_PATH to include stubs.
  tools/setup_gpu_build_tools.sh
Owners: @szha, @pllarroy

Install hdf5 headers during python install, as it is required for h5py module.
  ci/docker/install/centos7_python.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Install any dependencies via yum for cmake build.
  ci/docker/install/centos7_cmake.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update libtiff to version that builds on aarch64.
  tools/dependencies/libtiff.sh
Owners: @szha, @pllarroy

Change centos7_aarch64_cpu container to install software using common scripts for consistency. Remove installing protobuf and other depedency libraries so we properly statically link to them.
  ci/docker/Dockerfile.build.centos7_aarch64_cpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Build libtiff and protobuf from source so we can statically link mxnet on aarch64.
  tools/dependencies/make_shared_dependencies.sh
Owners: @szha, @pllarroy

Install pre-built cmake packages.
  ci/docker/install/ubuntu_cmake.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Use common method to install cmake.
  ci/docker/Dockerfile.build.jetson
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update pipelines to use supported cuda versions for static build tests.
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Ensure required build tools are installed.
  ci/docker/Dockerfile.build.centos7_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Install required headers for building all R packages.
  ci/docker/install/ubuntu_r.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add/update make configs for newer Cuda versions.
  make/staticbuild/linux_cu110.mk
  make/staticbuild/linux_cu111.mk
  make/staticbuild/linux_cu112.mk
  make/staticbuild/linux_cu113.mk
  make/staticbuild/linux_cu114.mk
  make/staticbuild/linux_cu115.mk
  make/staticbuild/linux_cu116.mk
  make/staticbuild/linux_cu117.mk
Owners: @szha

Install gfortran as build dependency in CD image.
  ci/docker/Dockerfile.build.centos7_cd
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Infer StorageType min max
  src/operator/tensor/broadcast_reduce_minmax_value.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/broadcast_reduce_sum_value.cc
Owners: @pllarroy

FComputeEx for min and max
  src/operator/nn/dnnl/dnnl_reduce.cc
  src/operator/numpy/np_broadcast_reduce_op_value.h
  src/operator/numpy/np_broadcast_reduce_op_value_max.cc
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cc
  src/operator/numpy/np_broadcast_reduce_op_value_min.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cc
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

Changed reducer op
  src/operator/numpy/np_broadcast_reduce_op_value_mean.cc
  src/operator/numpy/np_broadcast_reduce_op_value_sum.cc
  src/operator/tensor/broadcast_reduce_op.h
Owners: @pllarroy

start working
  src/operator/tensor/broadcast_reduce_minmax_value.cc
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
