Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

[API] Add method __index__() and __array_namespace__()
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

update doc
  docs/python_docs/python/api/np/arrays.ndarray.rst
Owners: @szha, @pllarroy, @aaronmarkham

fix lint
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix rtc functions
  src/common/cuda/rtc/forward_functions-inl.h
Owners: @pllarroy

[API] Add data type functions
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/type_functions.py
  python/mxnet/numpy/utils.py
Owners: @szha, @pllarroy

add amp list
  python/mxnet/amp/lists/symbol_fp16.py
Owners: @szha, @pllarroy

fix lint
  python/mxnet/numpy/type_functions.py
Owners: @szha, @pllarroy

[API] Add keepdims=False to argmax/argmin
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/operator/numpy/np_broadcast_reduce_op.cc
  src/operator/numpy/np_broadcast_reduce_op.h
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

add floor_divide in GPU
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cu
Owners: @pllarroy

remove result_type from fallback
  python/mxnet/numpy/fallback.py
Owners: @szha, @pllarroy

fix lint
  src/operator/numpy/np_elemwise_broadcast_op_scalar.cu
Owners: @pllarroy

[API] Add set functions
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/set_functions.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[API] Standardize sort & linalg operators
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  src/api/operator/numpy/np_ordering_op.cc
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @pllarroy

[API] Add linalg.svdvals
  python/mxnet/numpy/linalg.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix linspace
  src/operator/tensor/init_op.h
Owners: @pllarroy

fix docstring
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix lint
  src/operator/tensor/init_op.h
Owners: @pllarroy

fix tests
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

update tensorrt build base image
  ci/docker/docker-compose.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham

refactor: changed const use_adaptive to more informative use_adaptive_pooling
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Owners: @pllarroy

refactor: changed GetMKLDNNPoolAlgo to more descriptive GetMKLDNNPoolingAlgorithm
  src/operator/nn/mkldnn/mkldnn_pooling.cc
Owners: @pllarroy

Fix csr param description
  src/operator/elemwise_op_common.h
Owners: @pllarroy

Make warning message when oneDNN is turned off less confusing
  src/common/utils.h
Owners: @pllarroy

Apply clang-format
  src/common/utils.h
Owners: @pllarroy

fix docstring
  python/mxnet/ndarray/numpy/_op.py
Owners: @szha, @pllarroy

fix link
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

remove deperecated numpy operator
  python/mxnet/numpy/fallback.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

fix lint
  python/mxnet/context.py
  python/mxnet/gluon/block.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy_op_fallback.py
Owners: @szha, @pllarroy

remove npv
  python/mxnet/numpy/fallback.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[API] Add vector_norm, matrix_norm
  python/mxnet/numpy/linalg.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Fix docstring
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

fix lint
  python/mxnet/numpy/linalg.py
Owners: @szha, @pllarroy

Revert "remove npv"
  python/mxnet/numpy/fallback.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

remove npv
  python/mxnet/numpy/fallback.py
  tests/python/unittest/test_numpy_interoperability.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

parametrize percentile & quantile
  tests/python/unittest/test_numpy_op.py
Owners: @apache/mxnet-committers

Fix dnnl_readme.md
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_readme.md
Owners: @szha, @pllarroy, @aaronmarkham

Update utils.h
  src/common/utils.h
Owners: @pllarroy

change ""
  python/mxnet/numpy/multiarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Add full import to avoid undefined varaibles
  tests/nightly/model_backwards_compatibility_check/model_backwards_compat_inference.py
  tests/nightly/model_backwards_compatibility_check/model_backwards_compat_train.py
  tests/python/unittest/test_numpy_default_dtype.py
Owners: @apache/mxnet-committers
