Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu

fix website publish
  ci/docker/runtime_functions.sh
  docs/static_site/src/.asf.yaml
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

update
  docs/static_site/src/.asf.yaml
Owners: @szha, @pllarroy, @aaronmarkham

remove .asf.yaml from version/master
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix linspace
  src/api/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
Owners: @pllarroy

[API] Extend NumPy Array dtypes with int16, uint16, uint32, uint64 (#20478)
  3rdparty/mshadow/mshadow/base.h
  ci/docker/install/requirements
  ci/docker/runtime_functions.sh
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_unix_cpu
  contrib/tvmop/utils.py
  include/mxnet/runtime/packed_func.h
  include/mxnet/tensor_blob.h
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/utils.py
  src/ndarray/ndarray.cc
  src/ndarray/ndarray_function.cc
  src/operator/mxnet_op.h
  src/operator/numpy/np_elemwise_broadcast_logic_op.cc
  src/operator/numpy/np_init_op.h
  src/operator/operator_tune.cc
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
  src/operator/tensor/elemwise_unary_op.h
  src/operator/tensor/init_op.h
  src/operator/tvmop/op_module.cc
Owners: @apache/mxnet-committers, @pllarroy, @marcoabreu, @aaronmarkham, @eric-haibin-lin, @szha

merge & add tests
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix macos cmake with TVM_OP ON (#20570)
  CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

add NumpyLinspaceParam
  src/api/operator/numpy/np_init_op.cc
  src/operator/numpy/np_init_op.h
Owners: @pllarroy

fix lint'
  python/mxnet/_ffi/_ctypes/function.py
  python/mxnet/gluon/loss.py
  python/mxnet/gluon/parameter.py
  python/mxnet/gluon/probability/distributions/categorical.py
  python/mxnet/gluon/probability/distributions/cauchy.py
  python/mxnet/gluon/probability/distributions/divergence.py
  python/mxnet/gluon/probability/distributions/geometric.py
  python/mxnet/gluon/probability/distributions/multivariate_normal.py
  python/mxnet/gluon/probability/distributions/transformed_distribution.py
  python/mxnet/gluon/probability/transformation/transformation.py
  python/mxnet/gluon/utils.py
  python/mxnet/numpy/multiarray.py
Owners: @szha, @pllarroy

Lint: fixes
  src/api/operator/numpy/np_repeat_op.cc
  src/common/cuda/utils.h
  src/imperative/imperative_utils.h
  src/imperative/pointwise_fusion_pass.cc
  src/io/image_io.cc
  src/io/inst_vector.h
  src/operator/contrib/adamw.cu
  src/operator/control_flow.cc
  src/operator/leaky_relu-inl.h
  src/operator/mshadow_op.h
  src/operator/nn/group_norm-inl.h
  src/operator/nn/layer_norm-inl.h
  src/operator/nn/layer_norm.cu
  src/operator/nn/moments-inl.h
  src/operator/nn/softmax-inl.h
  src/operator/npx_control_flow.cc
  src/operator/numpy/linalg/np_norm-inl.h
  src/operator/numpy/np_broadcast_reduce_op.h
  src/operator/numpy/np_cross-inl.h
  src/operator/numpy/random/np_multinomial_op.h
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.h
  src/operator/tensor/broadcast_reduce_op.cc
  src/operator/tensor/broadcast_reduce_op.h
  src/operator/tensor/elemwise_binary_broadcast_op.cc
  src/operator/tensor/elemwise_unary_op.cc
  src/operator/tensor/init_op.h
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/square_sum.cc
  src/operator/tensor/square_sum.cu
  src/serialization/cnpy.cc
  src/storage/pooled_storage_manager.h
Owners: @pllarroy

Lint: fixes: v2
  src/c_api/c_api.cc
  src/operator/c_lapack_api.cc
  src/serialization/cnpy.cc
Owners: @pllarroy

; - special characted, build fail fix
  src/imperative/imperative_utils.h
Owners: @pllarroy

; -semicoln was added
  src/storage/pooled_storage_manager.h
Owners: @pllarroy

fix
  src/operator/tensor/init_op.h
Owners: @pllarroy

add indexing test
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix tests
  python/mxnet/gluon/loss.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  src/operator/numpy/np_init_op.cu
  src/operator/numpy/np_init_op.h
  tests/python/unittest/test_numpy_default_dtype.py
  tests/python/unittest/test_numpy_ndarray.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

test
  python/mxnet/__init__.py
Owners: @szha, @pllarroy

force include .asf.yaml
  docs/static_site/src/_config_prod.yml
Owners: @szha, @pllarroy, @aaronmarkham

fix sanity
  src/operator/numpy/np_init_op.h
Owners: @pllarroy

FIX: remove unused files
  .github/workflows/java_package_ci.yml
Owners: @szha, @leezu

FIX: remove unused files
  java-package/Develop.md
Owners: @apache/mxnet-committers

Fix an array iterator in nnvm_to_onnx
  src/operator/subgraph/tensorrt/nnvm_to_onnx.cc
Owners: @pllarroy

Clang-format file update
  .clang-format
Owners: @apache/mxnet-committers

Disable support if temperature == 0
  src/operator/nn/mkldnn/mkldnn_softmax.cc
Owners: @pllarroy

DOC: add document
  java-package/Develop.md
Owners: @apache/mxnet-committers

FIX: doesn't work on osx
  src/initialize.cc
Owners: @pllarroy

Ignoring mass reformatting commits with git blame - initial commit
  .git-blame-ignore-revs
Owners: @apache/mxnet-committers

Licence header
  .git-blame-ignore-revs
Owners: @apache/mxnet-committers

fix lint
  src/operator/numpy/np_init_op.cu
Owners: @pllarroy

fix tests
  python/mxnet/gluon/loss.py
  python/mxnet/ndarray/numpy/_op.py
  src/operator/numpy/np_init_op.cc
  tests/python/unittest/test_numpy_ndarray.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

disable warning
  src/operator/numpy/np_init_op.h
Owners: @pllarroy

include .htaccess
  docs/static_site/src/_config_prod.yml
Owners: @szha, @pllarroy, @aaronmarkham

FIX: clang static check
  src/initialize.cc
Owners: @pllarroy

add .asf.yaml check in CI
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

FIX: sanity
  src/initialize.cc
Owners: @pllarroy

fix
  python/mxnet/base.py
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  src/operator/numpy/np_init_op.h
  src/operator/tensor/elemwise_binary_scalar_op.h
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_ndarray.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[Website] Fix website publish (#20573)
  ci/docker/runtime_functions.sh
  docs/static_site/src/.asf.yaml
  docs/static_site/src/_config_prod.yml
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

update
  python/mxnet/util.py
Owners: @szha, @pllarroy

Fix SupportMKLDNN function for Convolution and Reshape
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_reshape.cc
Owners: @pllarroy

Add oneDNN support for npx.reshape and np.reshape
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/numpy/np_matrix_op.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_flatten.cc
  src/operator/tensor/matrix_op-inl.h
  src/operator/tensor/matrix_op.cc
Owners: @pllarroy
