Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

Fix rat-excludes.
  rat-excludes
Owners: @apache/mxnet-committers

Update skywalking-eyes config.
  .licenserc.yaml
Owners: @apache/mxnet-committers

[API STD][LINALG] Standardize sort & linalg operators (#20694)
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/ndarray/numpy/linalg.py
  python/mxnet/numpy/linalg.py
  python/mxnet/numpy/multiarray.py
  python/mxnet/util.py
  src/api/operator/numpy/np_ordering_op.cc
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

[API NEW][SET FUNC] Add set functions (#20693)
  python/mxnet/numpy/__init__.py
  python/mxnet/numpy/set_functions.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Remove extra spaces between 'if' (#20721)
  CMakeLists.txt
  cmake/Utils.cmake
  tests/CMakeLists.txt
Owners: @szha, @pllarroy, @leezu

Optimize preparation of selfattn operators (#20682)
  src/operator/subgraph/dnnl/dnnl_transformer.cc
Owners: @pllarroy

[API] Standardize and add more array api tests
  ci/docker/runtime_functions.sh
  python/mxnet/ndarray/numpy/_op.py
  python/mxnet/numpy/multiarray.py
  src/common/utils.h
  src/operator/contrib/boolean_mask.cc
  src/operator/mshadow_op.h
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_elemwise_broadcast_op_lae.cc
  src/operator/numpy/np_true_divide-inl.h
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @szha

fix lint
  .github/workflows/os_x_staticbuild.yml
  src/common/utils.h
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/numpy/np_elemwise_broadcast_op_extended.cc
  src/operator/numpy/np_elemwise_broadcast_op_extended_thi.cc
  src/operator/numpy/np_elemwise_broadcast_op_lae.cc
  src/operator/numpy/np_true_divide-inl.h
Owners: @szha, @leezu, @pllarroy

Rollback
  ci/docker/runtime_functions.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

reverted clang-format
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
Owners: @pllarroy

Memory alignment
  include/mxnet/base.h
Owners: @pllarroy, @eric-haibin-lin

Miss/hit cache: dTLB & iTLB
  src/common/utils.h
Owners: @pllarroy

fix: minor style tweaks
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling.cc
Owners: @pllarroy

__linux__ was removed
  include/mxnet/base.h
Owners: @pllarroy, @eric-haibin-lin

Sanity, __linux__ was added to support only linux, MacOS is disabled
  src/common/utils.h
Owners: @pllarroy

#ifdef only for __linux__ platform, __win__ is skipped
  src/common/utils.h
Owners: @pllarroy

Windows-CI fail, #if-fix, huge page allocator moved into a #if scope
  src/common/utils.h
Owners: @pllarroy

Sanity fix
  include/mxnet/base.h
  src/common/utils.h
Owners: @pllarroy, @eric-haibin-lin

Unordered_map initial commit
  .gitmodules
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_dot.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/nn/mkldnn/mkldnn_log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/nn/mkldnn/mkldnn_slice.cc
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/mkldnn/mkldnn_sum.cc
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Owners: @szha, @pllarroy

Flat map initial commit
  LICENSE
  src/operator/nn/dnnl/dnnl_act.cc
  src/operator/nn/dnnl/dnnl_base-inl.h
  src/operator/nn/dnnl/dnnl_batch_dot.cc
  src/operator/nn/dnnl/dnnl_batch_norm-inl.h
  src/operator/nn/dnnl/dnnl_concat-inl.h
  src/operator/nn/dnnl/dnnl_deconvolution.cc
  src/operator/nn/dnnl/dnnl_fully_connected.cc
  src/operator/nn/dnnl/dnnl_layer_norm.cc
  src/operator/nn/dnnl/dnnl_log_softmax.cc
  src/operator/nn/dnnl/dnnl_lrn-inl.h
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/dnnl/dnnl_reshape.cc
  src/operator/nn/dnnl/dnnl_rnn.cc
  src/operator/nn/dnnl/dnnl_slice.cc
  src/operator/nn/dnnl/dnnl_softmax.cc
  src/operator/nn/dnnl/dnnl_softmax_output.cc
  src/operator/nn/dnnl/dnnl_sum.cc
  src/operator/nn/dnnl/dnnl_transpose.cc
  src/operator/nn/mkldnn/mkldnn_act.cc
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_dot.cc
  src/operator/nn/mkldnn/mkldnn_batch_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_convolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_fully_connected.cc
  src/operator/nn/mkldnn/mkldnn_log_softmax.cc
  src/operator/nn/mkldnn/mkldnn_lrn-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/mkldnn/mkldnn_reshape.cc
  src/operator/nn/mkldnn/mkldnn_rnn.cc
  src/operator/nn/mkldnn/mkldnn_slice.cc
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/mkldnn/mkldnn_sum.cc
  src/operator/nn/mkldnn/mkldnn_transpose.cc
Owners: @apache/mxnet-committers, @pllarroy

Clang-format: fix
  src/operator/nn/dnnl/dnnl_pooling.cc
  src/operator/nn/dnnl/dnnl_softmax_output.cc
  src/operator/nn/dnnl/dnnl_transpose.cc
Owners: @pllarroy

Update dnnl_base
  src/operator/nn/dnnl/dnnl_base-inl.h
Owners: @pllarroy

Unterminated #ifdef, fix
  include/mxnet/base.h
Owners: @pllarroy, @eric-haibin-lin

Add spaces
  src/api/operator/numpy_extension/npx_softmax_op.cc
Owners: @pllarroy

add correct multinomial implementation
  python/mxnet/ndarray/random.py
  python/mxnet/symbol/random.py
  src/operator/random/sample_multinomial_op.cc
  src/operator/random/sample_multinomial_op.cu
  src/operator/random/sample_multinomial_op.h
  tests/python/unittest/test_random.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

small fix in binomial symbol api doc
  python/mxnet/symbol/random.py
Owners: @szha, @pllarroy

Fix, rebase comment
  src/api/operator/numpy/np_init_op.cc
Owners: @pllarroy

[v1.x][FEATURE] Add MKLDNN Deconvolution 1D and 3D support (#20137)
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/python/mkl/test_mkldnn.py
Owners: @pllarroy, @apache/mxnet-committers

fix lint
  src/operator/mxnet_op.h
Owners: @pllarroy

fix
  src/operator/numpy/np_elemwise_broadcast_op.h
Owners: @pllarroy

fix build
  src/operator/numpy/np_elemwise_broadcast_op.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
Owners: @pllarroy

fix lint
  src/operator/numpy/np_elemwise_broadcast_op.h
Owners: @pllarroy

update migration guide
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

ctx->device
  python/mxnet/dlpack.py
  python/mxnet/numpy/multiarray.py
  tests/python/array-api/test_data_interchange.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

update
  ci/docker/runtime_functions.sh
  src/common/utils.h
  src/operator/mshadow_op.h
  src/operator/tensor/elemwise_binary_broadcast_op.h
  src/operator/tensor/elemwise_binary_op.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.x][FEATURE] Add MKLDNN Deconvolution 1D and 3D support (#20137) (#20726)
  src/operator/nn/deconvolution-inl.h
  src/operator/nn/deconvolution.cc
  src/operator/nn/mkldnn/mkldnn_deconvolution.cc
  tests/python/mkl/test_mkldnn.py
Owners: @pllarroy, @apache/mxnet-committers

[v1.x] Merge MKLDNN adaptive pooling with traditional pooling implementation (#20699)
  src/operator/contrib/adaptive_avg_pooling-inl.h
  src/operator/contrib/adaptive_avg_pooling.cc
  src/operator/nn/mkldnn/mkldnn_adaptive_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_adaptive_pooling.cc
  src/operator/nn/mkldnn/mkldnn_pooling-inl.h
  src/operator/nn/mkldnn/mkldnn_pooling.cc
  src/operator/nn/pooling-inl.h
  src/operator/nn/pooling.cc
  src/operator/quantization/mkldnn/mkldnn_quantized_pooling.cc
Owners: @pllarroy

update linspace
  src/operator/numpy/np_init_op.h
Owners: @pllarroy

fix
  ci/docker/runtime_functions.sh
  src/operator/numpy/np_true_divide.cc
  src/operator/tensor/elemwise_unary_op.h
Owners: @pllarroy, @marcoabreu, @aaronmarkham

fix lint
  src/operator/numpy/np_init_op.h
Owners: @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
