Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

[FEATURE] MXIndexedRecordIO: avoid re-build index
  python/mxnet/recordio.py
Owners: @szha, @pllarroy

Fix review
  docs/static_site/src/pages/api/faq/env_var.md
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Owners: @szha, @pllarroy, @aaronmarkham

update
  ci/jenkins/Jenkinsfile_website_full_pr
  ci/jenkins/Jenkinsfile_website_python_docs
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] modify erfinv implementation based on scipy (#20517)
  src/operator/contrib/erfinv-inl.h
Owners: @pllarroy

[v1.9.x] modify erfinv implementation based on scipy (#20517)
  src/operator/contrib/erfinv-inl.h
Owners: @pllarroy

[CI] Add node for website full build and nightly build (#20543)
  ci/jenkins/Jenkins_steps.groovy
  ci/jenkins/Jenkinsfile_website_full_pr
  ci/jenkins/Jenkinsfile_website_python_docs
Owners: @pllarroy, @marcoabreu, @aaronmarkham

update migration guide
  docs/python_docs/python/tutorials/getting-started/gluon_migration_guide.md
Owners: @szha, @pllarroy, @aaronmarkham

Divup is defined but is not used if is defined inside anonymous namespace
  src/common/parallel_for.h
Owners: @pllarroy

use const reference
  src/operator/nn/mkldnn/mkldnn_base-inl.h
Owners: @pllarroy

Conflicts, and CR: changes
  tests/python/unittest/test_gluon_data.py
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Master chanhes
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Align function
  tests/python/unittest/test_operator.py
Owners: @apache/mxnet-committers

Divup need to be visible only for parallel_for
  src/common/parallel_for.h
Owners: @pllarroy

[operator] Integrate oneDNN layer normalization implementation (#19562)
  src/operator/nn/layer_norm-inl.h
  src/operator/nn/layer_norm.cc
  src/operator/nn/layer_norm.cu
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_dot-inl.h
  src/operator/nn/mkldnn/mkldnn_batch_dot.cc
  src/operator/nn/mkldnn/mkldnn_layer_norm-inl.h
  src/operator/nn/mkldnn/mkldnn_layer_norm.cc
  src/operator/nn/mkldnn/mkldnn_ops-inl.h
Owners: @pllarroy

use restricted g4 node
  ci/jenkins/Jenkinsfile_website_beta
  ci/jenkins/Jenkinsfile_website_full
  ci/jenkins/Jenkinsfile_website_nightly
  ci/jenkins/Jenkinsfile_website_version_artifacts
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.9.x] modify erfinv implementation based on scipy (#20517) (#20551)
  src/operator/contrib/erfinv-inl.h
Owners: @pllarroy

Static default_grain_param is reaplced by constexpr local variable
  src/common/parallel_for.h
Owners: @pllarroy

Clang-6 doesnt support lambda
  src/common/parallel_for.h
Owners: @pllarroy

Sanity, white space was removed
  src/common/parallel_for.h
Owners: @pllarroy

[v1.x][submodule] Downgrade oneDNN to v2.2.4
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

Assign attributes of transformer operators
  src/operator/subgraph/mkldnn/mkldnn_transformer_property.h
Owners: @pllarroy

[v1.x][submodule] Downgrade oneDNN to v2.2.4 (#20556)
  tests/cpp/operator/mkldnn_test.cc
Owners: @apache/mxnet-committers

backport changes with ASF license issues (#20544)
  cmake/Modules/FindJeMalloc.cmake
  rat-excludes
  src/operator/nn/mkldnn/mkldnn_base-inl.h
  tools/license_header.py
Owners: @szha, @pllarroy, @leezu, @apache/mxnet-committers

[v1.9.x] modify erfinv implementation based on scipy (#20517) (#20550)
  src/operator/contrib/erfinv-inl.h
Owners: @pllarroy

use restricted g4 node (#20554)
  ci/jenkins/Jenkinsfile_website_beta
  ci/jenkins/Jenkinsfile_website_full
  ci/jenkins/Jenkinsfile_website_nightly
  ci/jenkins/Jenkinsfile_website_version_artifacts
Owners: @pllarroy, @marcoabreu, @aaronmarkham

[v1.x] Common directory: mkldnn benchmarks (#20528)
  benchmark/opperf/mkldnn_benchmarks/adaptive_pooling_micro.py
  benchmark/opperf/mkldnn_benchmarks/fc_sum_micro.py
Owners: @apache/mxnet-committers

Parallel for, #ifdef scope is shifted
  src/common/parallel_for.h
Owners: @pllarroy

Assign attributes of transformer operators (#20555)
  src/operator/subgraph/mkldnn/mkldnn_transformer_property.h
Owners: @pllarroy

add temperature parameter support for onednn softmax
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Owners: @pllarroy

apply formatter
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Owners: @pllarroy

Add tempeerature parameter support for backward propagation
  src/operator/nn/mkldnn/mkldnn_softmax.cc
  src/operator/nn/softmax.cc
Owners: @pllarroy

Refactor forward propagation
  src/operator/nn/mkldnn/mkldnn_softmax-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax.cc
Owners: @pllarroy

Refactor backward propagation operator
  src/operator/nn/mkldnn/mkldnn_softmax-inl.h
  src/operator/nn/mkldnn/mkldnn_softmax.cc
Owners: @pllarroy

Code-review
  python/mxnet/gluon/contrib/estimator/estimator.py
  python/mxnet/operator.py
  python/mxnet/test_utils.py
  tests/python/unittest/test_gluon_data.py
  tests/python/unittest/test_gluon_probability_v2.py
  tests/python/unittest/test_numpy_interoperability.py
  tests/python/unittest/test_numpy_op.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Add check for MKL version selection
  cmake/ChooseBlas.cmake
Owners: @szha, @pllarroy, @leezu

Remove comment
  src/operator/nn/mkldnn/mkldnn_softmax.cc
Owners: @pllarroy

increase ndim condition
  src/operator/nn/mkldnn/mkldnn_softmax.cc
Owners: @pllarroy

review fix by bgawrych, fixes sporadic test failures
  python/mxnet/contrib/quantization.py
Owners: @szha, @pllarroy

FIX: solve problems before merge
  ci/docker/runtime_functions.sh
  docker/dev/docker_run.sh
  java-package/gradle/wrapper/gradle-wrapper.properties
  java-package/gradlew
  java-package/gradlew.bat
  java-package/integration/build.gradle
  java-package/integration/src/main/java/org/apache/mxnet/integration/tests/engine/ModelTest.java
  java-package/integration/src/main/java/org/apache/mxnet/integration/tests/jna/JnaUtilTest.java
  java-package/mxnet-engine/src/main/java/org/apache/mxnet/ndarray/NDArray.java
  java-package/mxnet-engine/src/main/java/org/apache/mxnet/ndarray/types/SparseFormat.java
  java-package/mxnet-engine/src/main/java/org/apache/mxnet/ndarray/types/SparseNDArray.java
  java-package/mxnet-engine/src/main/java/org/apache/mxnet/nn/Parameter.java
  java-package/mxnet-engine/src/main/java/org/apache/mxnet/nn/SymbolBlock.java
  java-package/tools/gradle/cpp-formatter.gradle
  src/initialize.cc
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Tuple.h update
  include/mxnet/tuple.h
Owners: @pllarroy, @eric-haibin-lin

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
