Repository apache/mxnet, changes with the owners that CODEOWNERS names for each.
All owners: @apache/mxnet-committers, @thirdwing, @yzhliu, @nswamy, @pllarroy, @sergeykolychev, @szha, @eric-haibin-lin, @gigasquid, @iblis17, @rahul003, @apeforest, @leezu, @marcoabreu, @aaronmarkham

[DOC] Add custom strategy script to quantization with INC example (#21134)
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
  example/quantization_inc/custom_strategy.py
  example/quantization_inc/resnet_measurement.py
  example/quantization_inc/resnet_tuning.py
Owners: @szha, @pllarroy, @aaronmarkham

Minor fixes
  benchmark/python/sparse/dot.py
  python/mxnet/gluon/contrib/estimator/estimator.py
  tests/nightly/model_backwards_compatibility_check/common.py
Owners: @apache/mxnet-committers, @szha, @pllarroy

Fix lint errors
  tests/nightly/model_backwards_compatibility_check/common.py
Owners: @apache/mxnet-committers

Add quantized batch norm operator fused with ReLU (#21137)
  python/mxnet/amp/lists/symbol_bf16.py
  python/mxnet/amp/lists/symbol_fp16.py
  src/operator/quantization/dnnl/dnnl_quantized_batch_norm.cc
  src/operator/quantization/quantized_batch_norm_relu.cc
  src/operator/subgraph/dnnl/dnnl_subgraph_property.cc
Owners: @szha, @pllarroy

[DOC] Fix the table in Improving accuracy with INC
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
Owners: @szha, @pllarroy, @aaronmarkham

Reject duplicate input names in C Predict API
  src/c_api/c_predict_api.cc
Owners: @pllarroy

[DOC] Fix the table in Improving accuracy with INC (#21140)
  docs/python_docs/python/tutorials/performance/backend/dnnl/dnnl_quantization_inc.md
Owners: @szha, @pllarroy, @aaronmarkham

Fixed a merge error
  src/operator/subgraph/tensorrt/onnx_to_tensorrt.cc
Owners: @pllarroy

[BUGFIX] Fix nms kernel's out of range access issue (#21018)
  src/operator/contrib/bounding_box.cu
Owners: @pllarroy

Update license check configuration.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Update license check configuration.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Update license check configuration.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Update license check configuration.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Update license check configuration.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Add Apache 2.0 license to files without it.
  CMakeLists.txt
  cd/utils/requirements.txt
  ci/requirements.txt
  example/gluon/audio/urban_sounds/requirements.txt
  example/gluon/lipnet/requirements.txt
  tests/CMakeLists.txt
  tests/requirements.txt
Owners: @szha, @pllarroy, @leezu, @marcoabreu, @aaronmarkham, @apache/mxnet-committers

Add Apache 2.0 license to files without it.
  example/image-classification/predict-cpp/CMakeLists.txt
Owners: @szha, @pllarroy, @aaronmarkham

Remove references to DISCLAIMER in build scripts / configs.
  ci/docker/runtime_functions.sh
  rat-excludes
  tools/pip/MANIFEST.in
  tools/staticbuild/build.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham, @apache/mxnet-committers, @szha

Rearrange dependencies for ubuntu_tutorials to prevent pip hangs.
  ci/docker/install/ubuntu_tutorials.sh
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Change node type for Cpp: MKLDNN+GPU builds.
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Update node type
  ci/jenkins/Jenkins_steps.groovy
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Add missing node assign for G4 node type.
  ci/jenkins/Jenkinsfile_centos_gpu
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Adding tarfile member sanitization to extractall()
  python/mxnet/contrib/text/embedding.py
  python/mxnet/gluon/data/vision/datasets.py
  tests/nightly/estimator/test_sentiment_rnn.py
Owners: @szha, @pllarroy, @apache/mxnet-committers

Update ipynb2md.py
  tools/ipynb2md.py
Owners: @szha, @pllarroy

Remove deleted directories from license excluse list.
  .licenserc.yaml
Owners: @apache/mxnet-committers

Fix lint
  cpp-package/include/mxnet-cpp/symbol.hpp
Owners: @nswamy, @pllarroy

Add license header
  example/extensions/lib_external_ops/CMakeLists.txt
Owners: @szha, @pllarroy, @aaronmarkham

Update URL to crash course dataset.
  docs/python_docs/python/tutorials/getting-started/crash-course/6-train-nn.md
Owners: @szha, @pllarroy, @aaronmarkham

Update URL to crash course dataset.
  docs/python_docs/python/tutorials/getting-started/crash-course/6-train-nn.md
Owners: @szha, @pllarroy, @aaronmarkham

Update link_check workflow to work with latest ubuntu.
  .github/workflows/link_check.yml
Owners: @szha, @leezu

Update ipynb2md.py
  tools/ipynb2md.py
Owners: @szha, @pllarroy

Upgrade boto3 to latest version.
  cd/utils/requirements.txt
  ci/docker/install/requirements
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham

Upgrade boto3/awscli in docker containers and build environments.
  cd/utils/requirements.txt
  ci/docker/install/requirements
  ci/docker_cache_requirements
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham

Change link_check workflow to use ubuntu 20.04 instead of latest, until we can upgrade toolchain.
  .github/workflows/link_check.yml
Owners: @szha, @leezu

Remove pinning of requests.
  ci/docker/install/requirements
Owners: @pllarroy, @marcoabreu, @aaronmarkham

Upgrade boto3 to latest version. (#21167)
  .github/workflows/link_check.yml
  cd/utils/requirements.txt
  ci/docker/install/requirements
Owners: @szha, @leezu, @pllarroy, @marcoabreu, @aaronmarkham

Upgrade boto3/awscli in docker containers and build environments. (#21168)
  cd/utils/requirements.txt
  ci/docker/install/requirements
  ci/docker_cache_requirements
  docs/python_docs/environment.yml
Owners: @szha, @pllarroy, @marcoabreu, @aaronmarkham

Update awscli version.
  docs/python_docs/requirements
Owners: @szha, @pllarroy, @aaronmarkham

Don't explicitly release CUDA resources at main Python process exit
  src/engine/naive_engine.cc
  src/engine/stream_manager.h
  src/engine/threaded_engine.h
  src/engine/threaded_engine_perdevice.cc
  src/engine/threaded_engine_pooled.cc
Owners: @pllarroy

Fix saved filename in `save`
  python/mxnet/gluon/block.py
Owners: @szha, @pllarroy

Fix prefix for params file
  python/mxnet/gluon/block.py
Owners: @szha, @pllarroy

CODEOWNERS:

# Watchers and contributors to Apache MXNet repo directories/packages/files
# Please see documentation of use of CODEOWNERS file at
# https://help.github.com/articles/about-codeowners/ and
# https://github.com/blog/2392-introducing-code-owners
#
# Anybody can add themselves or a team as additional watcher or contributor
# to get notified about changes in a specific package.
# See https://help.github.com/articles/about-teams how to setup teams.


# Global owners
*			@apache/mxnet-committers

# Language bindings
/R-package/                       @thirdwing
/scala-package/                   @yzhliu @nswamy @pllarroy
/perl-package/                    @sergeykolychev
/python/                          @szha @pllarroy
/python/mxnet/kvstore.py          @eric-haibin-lin
/python/mxnet/optimizer/          @eric-haibin-lin
/python/mxnet/gluon/trainer.py    @eric-haibin-lin
/contrib/clojure-package/         @gigasquid
/julia/                           @iblis17

# C++ base
/src/kvstore/     @rahul003 @eric-haibin-lin @apeforest
/include/         @pllarroy @eric-haibin-lin
/src/c_api/       @eric-haibin-lin @apeforest
/src/engine/      @eric-haibin-lin @apeforest
/src/executor/    @eric-haibin-lin @apeforest
/src/imperative/  @eric-haibin-lin @apeforest
/src/io/          @eric-haibin-lin @apeforest
/src/ndarray/     @eric-haibin-lin @apeforest
/src/nnvm/        @eric-haibin-lin @apeforest
/src/operator/    @eric-haibin-lin @apeforest
/src/profiler/    @eric-haibin-lin
/src/storage/     @eric-haibin-lin
/cpp-package/     @nswamy @pllarroy
/src/             @pllarroy
/plugin/          @pllarroy

# Build system
CMakeLists.txt    @szha @pllarroy @leezu
/cmake/           @szha @pllarroy @leezu
/make/            @szha

# MXNet CI
dev_menu.py         @pllarroy
/ci/                @pllarroy @marcoabreu @aaronmarkham
/ci/publish/        @szha
/docker/            @marcoabreu
/tests/ci_build/    @marcoabreu
Jenkinsfile         @marcoabreu

# MXNet CD
/cd/                @szha

# Build logic
Makefile          @szha
prepare_mkl.sh    @szha

# Docs
/docs/            @szha @pllarroy @aaronmarkham

# Submodules
.gitmodules       @szha

# Examples
/example/         @szha @pllarroy @aaronmarkham

# Tools
/tools/           @szha @pllarroy

# Github configuration
/.github/         @szha @leezu
